.vc_custom_heading {
  &.text_align_center{
    *:after{
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.text_align_right{
    *:after{
      margin-left: auto;
    }
  }
  &.has_icon{
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6{
      padding-top: 4px;
      margin: 0 !important;
    }
    display: flex;
  }
  mark{
    color: $stm_third_color;
  }
  .icon{
    float: left;
    margin-right: 30px;
    color: $stm_third_color;
  }
  &.icon_pos_top {
    flex-direction: column;
    .icon {
      float: none;
      margin-right: 0;
      margin-bottom: 19px;
      text-align: center;
    }
    &.icon_top_right {
      .icon {
        margin-left: auto;
        margin-right: 0;
      }
    }
    &.icon_top_left {
      .icon {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
  &.icon_pos_bottom {
    flex-direction: column;
    .icon {
      float: none;
      margin: 19px 0;
      text-align: center;
      order: 1;
    }
    &.icon_bottom_right {
      .icon {
        margin-left: auto;
        margin-right: 0;
      }
    }
    &.icon_bottom_left {
      .icon {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
  &.icon_pos_right {
    .icon {
      float: right;
      order: 1;
      margin-right: 0;
      margin-left: auto;
    }
    &.icon_right_text {
      .icon {
        margin-left: 30px;
      }
    }
  }
  .subtitle{
    display: block;
    font-size: 20px;
    line-height: 34px;
    color: #777;
    font-weight: 500;
    letter-spacing: -0.01em;
  }
  h1, .h1 {
    .subtitle {
      padding-top: 2px;
    }
  }
  &.title_no_stripe {
    h1, h2, h3, h4, h5, h6 {
      &:after {
        content: none;
      }
    }
  }
}