.consulting-rev-title{
  font-size: 60px;
  line-height: 60px;
  color: inherit;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  mark {
    color: $stm_secondary_color;
  }
}

.consulting-rev-title-2{
  font-size: 36px !important;
  line-height: 42px !important;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  letter-spacing: 0 !important;

  mark {
    color: $stm_secondary_color;
  }
}

.consulting-rev-title-3{
  font-size: 45px !important;
  line-height: 45px !important;
  color: inherit;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700 !important;
  letter-spacing: 0.02em !important;

  mark {
    font-size: inherit !important;
    padding: 0 !important;
    color: $stm_secondary_color !important;
  }
}

.consulting-rev-title-4{
  padding: 0 10px !important;
  border: 1px solid #fff !important;
  font-size: 45px !important;
  line-height: 67px !important;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  letter-spacing: 0.02em !important;

  mark {
    font-size: inherit !important;
    padding: 0 !important;
    color: $stm_secondary_color !important;
  }
}


.consulting-rev-title-icon{
  font-size: 72px;
  color: $stm_secondary_color;
  padding-left: 1px;
}

.consulting-rev-text{
  font-family: 'Catamaran', sans-serif;
  color: inherit !important;
  line-height: 32px !important;
  font-size: 22px !important;

  mark {
    color: $stm_secondary_color !important;
  }
}

.consulting-rev-text-2{
  color: inherit !important;
  line-height: 22px !important;
  font-size: 15px !important;

  mark {
    color: $stm_secondary_color !important;
  }
}

.tp-caption{
  .button{
    transition: all .3s ease !important;
    margin-right: 16px !important;
    text-transform: uppercase !important;
  }

  &.baseColorOverlay {
    background: rgba( $stm_base_color, .5 ) !important;
  }
}

body .tparrows{
  width: 45px;
  height: 45px;
  background: none;
  border: 3px solid #bac1c6;
  @include transition();
  &:hover{
    background: $stm_secondary_color;
    border-color: $stm_secondary_color;
    &:before{
      color: #fff;
    }
  }
  &.tp-leftarrow{
    &:before{
      content: "\f053";
      padding: 0 3px 0 0;
    }
  }
  &.tp-rightarrow{
    &:before{
      content: "\f054";
      padding: 0 0 0 3px;
    }
  }
  &:before{
    @include fa();
    font-size: 19px;
    line-height: 40px;
    color: #bac1c6;
  }
}

body{
  div.tp-bullets, .tp-bullets.hesperiden{
    .tp-bullet{
      width: 4px !important;
      height: 4px !important;
      background: $stm_secondary_color !important;
      box-sizing: content-box !important;
      margin: 2px !important;
      padding: 0 !important;
      border: none !important;
      border-radius: 50% !important;
      @include border-radius(50%);
      &.selected{
        background: $stm_base_color !important;
        padding: 2px !important;
        margin: 0 !important;
      }
    }
  }
}