<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quang Thái Homestay</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/jquery-ui/jquery-ui.css">

        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/dist/layout.css" rel="stylesheet">        
        <link href="/css/dist/style.css" rel="stylesheet">
            
        <!-- bxslider -->
        <link rel="stylesheet" href="/bxslider/jquery.bxslider.min.css" type="text/css" />
        
        <!-- #bxslider -->

        

      
    </head>
    <body>
        <header id="header">
            <div class="header-top hidden-xs">
                <div class="container">
                    <div id="logo" class="flex-layout flex-justify-center">
                        <a title="logo" href="/"><img src="/images/logo.png" alt="logo" /></a>
                    </div>
                </div>
            </div>
            <div class="header-secondary nomargin-xs relative">
                <div class="container">
                    <div class="header-wrapper __xs pad10-xs relative">
                        <div id="mobile-logo" class="hidden-md hidden-sm">
                            <a title="logo" href="/"><img src="/images/logo.png" alt="logo" /></a>
                        </div>
                        <div id="main-menu">
                            <ul class="flex-layout flex-justify-space-between">
                                <li>
                                    <a title="VỀ CHÚNG TÔI" href="/ve-chung-toi-page.html">VỀ CHÚNG TÔI</a>
                                </li>
                                <li class="has-childrens">
                                    <a title="PHÒNG NGHỈ" href="/phong-nghi-page.html">PHÒNG NGHỈ</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="PREMIER CITY VIEW" href="/phong-nghi-chi-tiet-page.html">PREMIER CITY VIEW</a>
                                        </li>
                                        <li>
                                            <a title="EXECUTIVE" href="/phong-nghi-chi-tiet-page.html">EXECUTIVE</a>
                                        </li>
                                        <li>
                                            <a title="LIBERTY CENTRAL SUITE" href="/phong-nghi-chi-tiet-page.html">LIBERTY CENTRAL SUITE</a>
                                        </li>
                                        <li>
                                            <a title="SIGNATURE CITY VIEW" href="/phong-nghi-chi-tiet-page.html">SIGNATURE CITY VIEW</a>
                                        </li>
                                    </ul>
                                    
                                </li>
        
                                <li >
                                    <a title="NHÀ HÀNG" href="/nha-hang-page.html">NHÀ HÀNG</a>
                                </li>
                                <li class="has-childrens">
                                    <a title="ẨM THỰC" href="/am-thuc-page.html">ẨM THỰC</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="KHAI VỊ" href="/am-thuc-chi-tiet-page.html">KHAI VỊ</a>
                                        </li>
                                        <li>
                                            <a title="HẢI SẢN" href="/am-thuc-chi-tiet-page.html">HẢI SẢN</a>
                                        </li>
                                        <li>
                                            <a title="CÁC MÓN ĐỒNG QUÊ" href="/am-thuc-chi-tiet-page.html">CÁC MÓN ĐỒNG QUÊ</a>
                                        </li>
                                        <li>
                                            <a title="RAU BỐN MÙA" href="/am-thuc-chi-tiet-page.html">RAU BỐN MÙA</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="current-page">
                                    <a title="TIN TỨC" href="/tin-tuc-page.html">TIN TỨC</a>
                                </li>
                                <li class="has-childrens">
                                    <a title="THƯ VIỆN ẢNH" href="/thu-vien-anh-page.html">THƯ VIỆN ẢNH</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="PHÒNG NGHỈ" href="/thu-vien-anh-page.html">PHÒNG NGHỈ</a>
                                        </li>
                                        <li>
                                            <a title="NHÀ HÀNG" href="/thu-vien-anh-page.html">NHÀ HÀNG</a>
                                        </li>
                                        <li>
                                            <a title="ẨM THỰC" href="/thu-vien-anh-page.html">ẨM THỰC</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="LIÊN HỆ" href="/lien-he-page.html">LIÊN HỆ</a>
                                </li>
                            </ul>
                            <nav class="flex-layout flex-justify-center">
                                <button>
                                    <span class="fa fa-navicon"></span>
                                </button>
                                <ul>
                                    <li>
                                        <a title="VỀ CHÚNG TÔI" href="/ve-chung-toi-page.html">VỀ CHÚNG TÔI</a>
                                    </li>
                                    <li>
                                        <a title="PHÒNG NGHỈ" href="/phong-nghi-page.html">PHÒNG NGHỈ</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="PREMIER CITY VIEW" href="/phong-nghi-chi-tiet-page.html">PREMIER CITY VIEW</a>
                                            </li>
                                            <li>
                                                <a title="EXECUTIVE" href="/phong-nghi-chi-tiet-page.html">EXECUTIVE</a>
                                            </li>
                                            <li>
                                                <a title="LIBERTY CENTRAL SUITE" href="/phong-nghi-chi-tiet-page.html">LIBERTY CENTRAL SUITE</a>
                                            </li>
                                            <li>
                                                <a title="SIGNATURE CITY VIEW" href="/phong-nghi-chi-tiet-page.html">SIGNATURE CITY VIEW</a>
                                            </li>
                                        </ul>
                                    </li>
            
                                    <li>
                                        <a title="NHÀ HÀNG" href="/nha-hang-page.html">NHÀ HÀNG</a>
                                    </li>
                                    <li>
                                        <a title="ẨM THỰC" href="/am-thuc-page.html">ẨM THỰC</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="KHAI VỊ" href="/am-thuc-chi-tiet-page.html">KHAI VỊ</a>
                                            </li>
                                            <li>
                                                <a title="HẢI SẢN" href="/am-thuc-chi-tiet-page.html">HẢI SẢN</a>
                                            </li>
                                            <li>
                                                <a title="CÁC MÓN ĐỒNG QUÊ" href="/am-thuc-chi-tiet-page.html">CÁC MÓN ĐỒNG QUÊ</a>
                                            </li>
                                            <li>
                                                <a title="RAU BỐN MÙA" href="/am-thuc-chi-tiet-page.html">RAU BỐN MÙA</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a title="TIN TỨC" href="/tin-tuc-page.html">TIN TỨC</a>
                                    </li>
                                    <li>
                                        <a title="THƯ VIỆN ẢNH" href="/thu-vien-anh-page.html">THƯ VIỆN ẢNH</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="PHÒNG NGHỈ" href="/thu-vien-anh-page.html">PHÒNG NGHỈ</a>
                                            </li>
                                            <li>
                                                <a title="NHÀ HÀNG" href="/thu-vien-anh-page.html">NHÀ HÀNG</a>
                                            </li>
                                            <li>
                                                <a title="ẨM THỰC" href="/thu-vien-anh-page.html">ẨM THỰC</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a title="LIÊN HỆ" href="/lien-he-page.html">LIÊN HỆ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="qt-booking qt-header-booking">
                            <a class="qt-button qt-button-default header-button-booking static-xs" href="#">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="main">
            <div id="pg-banner">
                <img src="/images/single-news-bg.png" alt="phong-nghi-bg" />
            </div>
        
            <div id="pg-main" class="__section-padt70 __section-padb70 __xs-section-padt20 __xs-section-padb20">
                <div class="container">
                    <div class="__section-padb70 __xs-section-padb20">
                        <h1 class="sectionHeadingTitle __primary flex-layout flex-justify-center flex-direction-column flex-align-center">
                            <span class="__dash-heading-middle __primary">6 BÃI BIỂN HẤP DẪN TUYỆT VỜI KHI DU LỊCH THANH HÓA</span>
                        </h1>
                        <div class="metadata metadata-datecreated flex-layout flex-align-center flex-justify-center grid-review-elem-sp"><span class="fa fa-calendar"></span> <span class="padLeft10">Ngày đăng: 23/04/2021</span></div>
                        <div class="pg-contents __section-element-mt grid-paragraphs">
                            <p>
                                Về du lịch Thanh Hóa, du khách sẽ có cơ hội khám phá những biển xanh mênh mông tuyệt đẹp, dạo chơi trên bờ cát phẳng mịn và ngắm những khoảnh khắc thiên nhiên đẹp đến ngỡ ngàng. Du lịch xứ Thanh từ lâu đã nổi tiếng với
                                các bãi biển tuyệt vời, nên thơ được thiên nhiên ưu ái ban tặng. 6 bãi biển dưới đây có thể vừa lạ vừa quen nhưng vô cùng hấp dẫn với du khách muốn tìm hiểu về du lịch biển Thanh Hóa.
                            </p>
            
                            <p><strong>1. Bãi biển Sầm Sơn</strong></p>
                            <p>
                                Biển Sầm Sơn trải dài gần 6 km từ cửa Lạch Hới đến chân núi Trường Lệ, với bờ cát vàng trải dài, thoai thoải, nước trong xanh tuyệt đẹp đã tạo nên bãi tắm lý tưởng hấp dẫn ở Sầm Sơn, du khách có thể ra khá xa bờ vẫn thấy
                                an toàn.
                            </p>
            
                            <p><img class="image-50p" src="/images/single-news1.png" alt="single-news1" /></p>
                            <p>
                                Sầm Sơn không chỉ có bãi biển đẹp, bãi tắm tuyệt vời, mà còn có cả núi đá, đủ các hòn lớn, nhỏ, nằm, ngồi, chồng lên nhau thành muôn hình muôn vẻ, ngay cạnh mép nước biển. Xung quanh còn có rừng cây bóng mát, có đền
                                chùa, di tích với nhiều truyền thuyết cổ tích, dân gian... lý thú như hòn Trống Mái, đền Độc Cước, đền Cô Tiên.
                            </p>
            
                            <p><strong>2. Bãi biển Hải Tiến</strong></p>
                            <p>
                                Trải dài trên gần 2km bờ biển, cách thủ đô Hà Nội khoảng 155km về phía nam và cách trung tâm Thành phố Thanh Hóa 17km về phía bắc. Biển Hải Tiến nằm trên địa phận 5 xã của huyện Hoằng Hóa, tỉnh Thanh Hóa gồm: Xã Hoằng
                                Thanh, Hoằng Tiến, Hoằng Phụ, Hoẳng Hải và Hoằng Trường.
                            </p>
                            <p><img class="image-50p" src="/images/single-news2.png" alt="single-news1" /></p>
                            <p>
                                Bãi biển Hải Tiến ẩn chứa nét hoang sơ, thoải dài nên khá an toàn cho những gia đình có trẻ nhỏ và có thể thoải mái bơi lội ra xa bờ. Xung quanh là rừng phi lao chắn cát, nước biển ở Hải Tiến xanh hiền hòa, người dân
                                thân thiện, tới đây du khách cảm thấy thoải mái, rời xa nơi ồn ào phố thị, giúp bạn có những trải nghiệm thư giãn, giải trí thú vị. Đến Hải Tiến, du khách không chỉ được tắm biển mà với nhiều người, còn được khám phá
                                cuộc sống của người dân nơi đây.
                            </p>
            
                            <p><strong>3. Bãi biển Hải Thanh</strong></p>
                            <p>
                                Biển Hải Thanh thuộc xã Hải Thanh, huyện Tĩnh Gia có chiều dài khoảng 4 km, trải dài từ mũi núi Thổi tới chân núi Du Xuyên. bãi biển Hải Thanh là một trong những bãi tắm mới lạ, mang vẻ đẹp hoang sơ và vô cùng hấp dẫn.
                            </p>
                            <p><img class="image-50p" src="/images/single-news3.png" alt="single-news1" /></p>
                            <p>
                                Biển Hải Thanh nhỏ và sóng vừa phải với những làng chài yên bình. Đến đây du khách sẽ được hòa mình với thiên nhiên, sóng nước mây trời. Xa xa ngoài khơi là Hòn Mê với hơn 10 đảo lớn nhỏ, tạo thành một quần thể của những
                                danh lam thắng cảnh làm say lòng người.
                            </p>
            
                            <p>Đến với biển Hải Thanh, du khách còn còn thể khám phá các di tích lịch sử như Chùa Đót Tiên, Đền Quang Trung và các nhà thờ thuộc giáo xứ Ba Làng có lịch sử khoảng 5 thế kỉ trước..</p>
            
                            <p><strong>4. Bãi biển Hải Hòa</strong></p>
                            <p>
                                Cách thị trấn Tĩnh Gia 2km, biển Hải Hòa mang 1 ko gian yên ổn bình với bãi biển đẹp nguyên sơ, nước biển trong xanh, sóng biển hiền hòa, bãi cát trắng mịn trải dài xen lẫn các rặng phi lao xanh ngắt đầy lãng mạn và nên
                                thơ.
                            </p>
                            <p><img class="image-50p" src="/images/single-news4.png" alt="single-news1" /></p>
                            <p>
                                Từ bờ biển Hải Hoà, vào buổi sáng sớm, phóng tầm mắt ra xa, du khách sẽ được ngắm bình minh trên biển, được chiêm ngưỡng đảo Mê ẩn hiện trong mây trời, hút vào tầm mắt toàn cảnh khu kinh tế Nghi Sơn mang đầy vẻ sôi động,
                                hào hoa của một khu đô thị mới.
                            </p>
            
                            <p><strong>5. Bãi Đông</strong></p>
                            <p>Bãi Đông nằm trong khuôn viên khu sinh thái Nghi Son Eco Island, thuộc bán đảo Nghi Sơn, huyện Tĩnh Gia, cách TP Thanh Hóa khoảng 60 km, là điểm đến mới nổi rất hấp dẫn trong hè này.</p>
                            <p><img class="image-50p" src="/images/single-news5.png" alt="single-news1" /></p>
                            <p>
                                Bãi Đông náu mình trong vụng biển hẹp, tĩnh lặng và tương đối biệt lập, từ trên cao phóng tầm mắt ra xa, dải bờ biển này mang vẻ đẹp hoang dã của những vạt phi lao chắn cát, chắn gió đã giữ cho vùng đất này thoát khỏi vô
                                số cơn thịnh nộ từ biển cả.Biển Bãi Đông không quá rộng và lợi thế lớn nhất của bãi này sự hoang sơ, thế nên đến đây, bạn sẽ không phải lo lắng về việc bãi biển lúc nào cũng đông tấp nập. Lượng khách chưa nhiều cũng đồng
                                nghĩa bãi biển sạch sẽ, ít rác hơn. Dù không thể so với những bãi biển miền Trung, miền Nam với đặc trưng là nước xanh trong thấy đáy nhưng Bãi Đông khá trong và sạch, cát cũng tương đối mịn, dư sức để bạn đắm chìm trong
                                làn nước.
                            </p>
            
                            <p><strong>6. Biển Tiên Trang (Biển Quảng Lợi)</strong></p>
                            <p>
                                Biển Tiên Trang nằm cách thành phố Thanh Hóa 20 km về phía nam, có diện tích hơn 100 ha với đường bờ biển dài 2,5 km thuộc địa phận các xã Quảng Thái, Quảng Lợi và Quảng Thạch. Không chỉ bãi tắm đẹp, nơi đây còn có không
                                gian xanh mát, giúp du khách gần gũi với thiên nhiên. Biển Tiên Trang thu hút du khách thập phương bởi nét thơ mộng, trữ tình với những bãi biển ngập tràn cát trắng. Bên bờ biển, những rặng phi lao thoai thoải xanh mướt
                                quanh năm.
                            </p>
                            <p><img class="image-50p" src="/images/single-news6.png" alt="single-news1" /></p>
                            <p>
                                Và những đâu đó quanh những cồn cát nhỏ là những bông hoa xương rồng bé nhỏ, xinh xinh hay những dây muống biển vươn mình trên cát trắng. Vùng biển này khá hoang sơ, không khí thì cực kỳ trong lành, không có cảnh bán
                                hàng rong, không chèo kéo, ép khách. Mọi hoạt động diễn ra êm đềm trong một không gian vắng lặng, thanh sạch từ đường đi đến bãi cát chạy dài tít tắp. Với bờ biển dài thoai thoải bên rặng phi lao xanh mướt, nước biển
                                trong, cát trắng mịn… khu du lịch biển Tiên Trang (xã Quảng Lợi, huyện Quảng Xương) mang nét đẹp hoang sơ và lãng mạn, đang là điểm du lịch hấp dẫn khách du lịch gần xa.
                            </p>
                        </div>
                        <div class="fbComments __section-element-mt">
                            <div id="fb-root" class="fb_reset">
                                <div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div>
                            </div>
            
                            <div
                                class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop"
                                data-href="http://html-quangthaihomestay.io/am-thuc-chi-tiet-page.html"
                                data-width="100%"
                                data-numposts="5"
                                fb-xfbml-state="rendered"
                                fb-iframe-plugin-query="app_id=2147827908693613&amp;container_width=1215&amp;height=100&amp;href=http%3A%2F%2Fhtml-quangthaihomestay.io%2Fam-thuc-chi-tiet-page.html&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v10.0&amp;width="
                                style="width: 100%;"
                            >
                                <span style="vertical-align: bottom; width: 100%; height: 204px;">
                                    <iframe
                                        name="f270e36b14395b"
                                        width="1000px"
                                        height="100px"
                                        data-testid="fb:comments Facebook Social Plugin"
                                        title="fb:comments Facebook Social Plugin"
                                        frameborder="0"
                                        allowtransparency="true"
                                        allowfullscreen="true"
                                        scrolling="no"
                                        allow="encrypted-media"
                                        src="https://www.facebook.com/v10.0/plugins/comments.php?app_id=2147827908693613&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3e1a881b5fbfdc%26domain%3Dhtml-quangthaihomestay.io%26origin%3Dhttp%253A%252F%252Fhtml-quangthaihomestay.io%252Ff1b56bab3cbc64%26relation%3Dparent.parent&amp;container_width=1215&amp;height=100&amp;href=http%3A%2F%2Fhtml-quangthaihomestay.io%2Fam-thuc-chi-tiet-page.html&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v10.0&amp;width="
                                        style="border: none; visibility: visible; width: 100%; height: 204px;"
                                        class=""
                                    ></iframe>
                                </span>
                            </div>
                        </div>
                        <div class="foodstRelatedBox __section-element-mt">
                            <h2 class="sectionHeadingTitle __primary flex-layout flex-justify-center flex-direction-column flex-align-center">
                                <span class="__dash-heading-middle __primary">TIN TỨC LIÊN QUAN</span>
                            </h2>
                            <div class="grid-three-columns grid-article-crl-layout __section-element-mt">
                                <article class="grid-article-crl-item grid-resp-box element-shadow"
                                        data-element-contents=".grid-article-crl-contents"
                                        data-element-thumbnail=".thumbnail">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a title="6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa" href="/tin-tuc-chi-tiet-page.html">
                                                <img src="/images/article1.png" alt="article" />
                                            </a>
                                        </div>
                                        <div class="contents grid-article-crl-contents">
                                            <h3 class="grid-article-crl-heading">
                                                <a title="6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa" href="/tin-tuc-chi-tiet-page.html">
                                                    6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa
                                                </a>
                                            </h3>
                                            <p class="grid-qt-elem-paragraph grid-article-crl-sp xs-limit-three-lines">Về du lịch Thanh Hóa, du khách sẽ có cơ hội khám phá những biển xanh mênh mông tuyệt đẹp, dạo chơi trên bờ cát phẳng mịn và ngắm những....</p>
                                            <div class="readmore grid-article-crl-sp">
                                                <a href="/tin-tuc-chi-tiet-page.html" title="Xem thêm" class="btnReadmore">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="grid-article-crl-item grid-resp-box element-shadow"
                                        data-element-contents=".grid-article-crl-contents"
                                        data-element-thumbnail=".thumbnail">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a title="6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa" href="/tin-tuc-chi-tiet-page.html">
                                                <img src="/images/article2.png" alt="article" />
                                            </a>
                                        </div>
                                        <div class="contents grid-article-crl-contents">
                                            <h3 class="grid-article-crl-heading">
                                                <a title="6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa" href="/tin-tuc-chi-tiet-page.html">
                                                    6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa
                                                </a>
                                            </h3>
                                            <p class="grid-qt-elem-paragraph grid-article-crl-sp xs-limit-three-lines">Về du lịch Thanh Hóa, du khách sẽ có cơ hội khám phá những biển xanh mênh mông tuyệt đẹp, dạo chơi trên bờ cát phẳng mịn và ngắm những....</p>
                                            <div class="readmore grid-article-crl-sp">
                                                <a title="Xem thêm" href="/tin-tuc-chi-tiet-page.html" class="btnReadmore">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="grid-article-crl-item grid-resp-box element-shadow"
                                        data-element-contents=".grid-article-crl-contents"
                                        data-element-thumbnail=".thumbnail">
                                    <div class="inner">
                                        <div class="thumbnail">
                                            <a title="6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa" href="/tin-tuc-chi-tiet-page.html">
                                                <img src="/images/article3.png" alt="article" />
                                            </a>
                                        </div>
                                        <div class="contents grid-article-crl-contents">
                                            <h3 class="grid-article-crl-heading">
                                                <a title="6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa" href="/tin-tuc-chi-tiet-page.html">
                                                    6 bãi biển hấp dẫn tuyệt vời khu du lịch Thanh Hóa
                                                </a>
                                            </h3>
                                            <p class="grid-qt-elem-paragraph grid-article-crl-sp xs-limit-three-lines">Về du lịch Thanh Hóa, du khách sẽ có cơ hội khám phá những biển xanh mênh mông tuyệt đẹp, dạo chơi trên bờ cát phẳng mịn và ngắm những....</p>
                                            <div class="readmore grid-article-crl-sp">
                                                <a title="Xem thêm" href="/tin-tuc-chi-tiet-page.html" class="btnReadmore">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
           
        </div>
        
        

        <footer id="colon">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="grid-three-columns grid-footer-columns">
                        <div class="footer-column">
                            <h3 class="footerHeading">Liên hệ với chúng tôi</h3>
                            <div class="footerContent __section-element-mt">
                                <div class="footer-addresses">
                                    <div class="address-element-item grid-two-columns">
                                        <div class="icon address-element-icon"><span class="fa fa-map-marker"></span></div>
                                        <div class="contents grid-qt-elem-paragraph address-element-contents">
                                            Thôn 5, xã Quảng Thái, <br />
                                            huyện Quảng Xương, Thanh Hóa
                                        </div>
                                    </div>
                                    <div class="address-element-item grid-two-columns grid-article-crl-sp">
                                        <div class="icon address-element-icon"><span class="fa fa-phone"></span></div>
                                        <div class="contents grid-qt-elem-paragraph address-element-contents"><a class="grid-qt-elem-paragraph" title="082 222 2223" href="tel:0822222223">082 222 2223</a></div>
                                    </div>
                                    <div class="address-element-item grid-two-columns grid-article-crl-sp">
                                        <div class="icon address-element-icon"><span class="fa fa-envelope"></span></div>
                                        <div class="contents grid-qt-elem-paragraph address-element-contents"><a class="grid-qt-elem-paragraph" title="quangthai.investment@gmail.com" href="mailto:quangthai.investment@gmail.com">quangthai.investment@gmail.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column">
                            <h3 class="footerHeading">Fanpage</h3>
                            <div class="footerContent __section-element-mt">

                                <div class="fb-page" 
                                        data-href="https://www.facebook.com/QuangThaiHomestay"
                                        data-width="380" 
                                        data-lazy="true"
                                        data-hide-cover="false"
                                        data-show-facepile="false"></div>  

                            </div>
                        </div>
                        <div class="footer-column">
                            <h3 class="footerHeading">Đăng ký</h3>
                            <div class="footerContent __section-element-mt">
                                <p class="grid-qt-elem-paragraph">ĐĂNG KÝ NHẬN BẢN TIN</p>
                                <form class="subscribe-form grid-article-crl-sp relative" method="post" action="/">
                                    <input class="qt-form-controls" type="email" placeholder="Email" value="" />
                                    <button class="qt-button btnSubscribe" type="submit">Gửi đi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        

        <div class="qt-booking-modal qt-header-booking-modal">
            <div class="inner">
                <div class="modal-wrapper relative">
                    <a href="#" title="close modal" class="button-close"></a>
                    <div class="booking-pressbox booking-datechosen __first">
                        <div class="grid-two-columns grid-booking-presslayout">
                            <div class="element">
                                <h4 class="booking-pressheading text-center">Ngày đến</h4>
                                <div class="element-body booking-field-sp">
                                    <div class="element-jq-datepicker element-jq-fromdate">
                                        <figure class="booking-element-selected element-selected element-jq-selected element-jq-sp-padbottom element-jq-sp-mb text-center relative"
                                                data-jq-datepicker-target="element-jq-datepicker-fromdate">
                                            <h2></h2>
                                            <p class="booking-field-sp">
                                                <span class="date"></span> <br />
                                                Tháng <span class="month"></span>, <span class="year"></span>
                                            </p>
                                            <input type="text" 
                                                class="field-jq-datepicker"
                                                id="element-jq-datepicker-fromdate" />
                                        </figure>                                                       
                                        

                                    </div>
                                </div>
                            </div>

                            <div class="element">
                                <h4 class="booking-pressheading text-center">Ngày đi</h4>
                                <div class="element-body booking-field-sp">
                                    <div class="element-jq-datepicker element-jq-todate">
                                        <figure class="booking-element-selected element-selected element-jq-selected element-jq-sp-padbottom text-center relative"
                                                data-jq-datepicker-target="element-jq-datepicker-todate">
                                            <h2></h2>
                                            <p class="booking-field-sp">
                                                <span class="date"></span> <br />
                                                Tháng <span class="month"></span>, <span class="year"></span>
                                            </p>
                                            <input type="text" class="field-jq-datepicker" id="element-jq-datepicker-todate" />
                                        </figure>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="grid-two-columns">
                            <div class="element flex-layout flex-align-center">
                                <h4 class="booking-pressheading">Người lớn</h4>
                            </div>
                            <div class="element">
                                <a class="booking-spin-button spin-mr" title="minus" href="#">-</a>
                                <input class="booking-form-control text-center" type="number" value="1" min="1" step="1" />
                                <a class="booking-spin-button spin-ml" title="add" href="#">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="grid-two-columns">
                            <div class="element flex-layout flex-align-center">
                                <h4 class="booking-pressheading">Trẻ em</h4>
                            </div>
                            <div class="element">
                                <a class="booking-spin-button spin-mr" title="minus" href="#">-</a>
                                <input class="booking-form-control text-center" type="number" value="1" min="1" step="1" />
                                <a class="booking-spin-button spin-ml" title="add" href="#">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="element">
                            <h4 class="booking-pressheading">Số điện thoại</h4>
                            <div class="booking-field element-jq-sp-mt">
                                <input type="text" placeholder="Nhập số điện thoại" class="booking-form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="element">
                            <h4 class="booking-pressheading">Email</h4>
                            <div class="booking-field element-jq-sp-mt">
                                <input type="text" placeholder="Nhập email" class="booking-form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="element-booking-sm">
                        <div class="element flex-layout flex-justify-center">
                            <a class="qt-button qt-button-primary btnPrimaryBooking"  title="Đặt ngay" href="#">Đặt ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-sd">
            <a class="nsd-phone-contact" title="0822222223" href="tel:0822222223">
            </a>
        </div>

        <div class="navigation-sd chatbox-sd __minimize">
            <h4>Gửi tin nhắn</h4>
            <div class="chatbox-main">
                <p class="text-center">Để lại lời nhắn và chúng tôi sẽ liên hệ với bạn</p>
                <form class="frmChatBox" method="post">
                    <div class="field">
                        <input type="text" class="qt-form-controls chatbox-field" placeholder="Họ và tên" value="" />
                    </div>
                    <div class="field">
                        <input type="text" class="qt-form-controls chatbox-field" placeholder="Số điện thoại" value="" />
                    </div>
                    <div class="field">
                        <input type="text" class="qt-form-controls chatbox-field" placeholder="Email" value="" />
                    </div>
                    <div class="field">
                        <textarea class="qt-form-controls chatbox-field" placeholder="Lời nhắn"></textarea>
                    </div>
                    <div class="field sm">
                        <a href="#" title="Gửi ngay" class="qt-button btnChatSend">
                            Gửi ngay
                        </a>
                    </div>
                </form>
            </div>
        </div>
        

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=2147827908693613&autoLogAppEvents=1" nonce="m0gyWq7n"></script>

        <script type="text/javascript">
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
      
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);      
            
          </script>

          <script type="text/javascript" src="/js/jquery.min.js"></script>  
          <script type="text/javascript" src="/bxslider/jquery.bxslider.min.js"></script>
          <script src="/jquery-ui/jquery-ui.js"></script>
            <script src="/js/jquery.datepicker.nl.vi.js"></script>

            <script type="module" src="/js/jquery.customize.js"></script>
     
    </body>
    
</html>