

@media (min-width: 1340px) {

    .container {
        width: 80%;
    }

}

@media (min-width: 1200px) and (max-width: 1340px) {
    .container {
        width: 90%; 
    }
}

@media (max-width: 1200px) {
    .container {
        width: 100%; 
        padding: 0 10px !important;
    }
}

@media (max-width: 1200px) {

    #header {

        & #menu {
            padding: 0 5% !important;
        }

        .cartsListDropDown {

            &:before {
                right: 0px !important;
            }

        }

    }

}

@media (max-width: 1120px) {

    #header {

        & .search-layout {

            #menu {

                & > nav {
                    display: flex !important;
                }
        
            }
        
            #menu {
        
                & > ul {
                    display: none !important;
                }
        
            }

        }

    }

   
    
}

@media (max-width: 1040px) {

    .grid-contact-layout { 

        grid-template-columns: repeat(1, 1fr) !important;

        & .panel:last-child {
            padding-top: 0 !important;
        }

    }

}

@media (min-width: 768px) and (max-width: 992px) {

    .grid-three-columns,
    .grid-fours-columns {

        grid-template-columns: repeat(2, 1fr) !important;

    }

}

@media (max-width: 940px) {

    #header {

        #menu {

            & > nav {
                display: flex !important;
            }
    
        }
    
        #menu {
    
            & > ul {
                display: none !important;
            }
    
        }
        

    }
    
}

@media (max-width: 500px) {

    .thumbnail {

        max-height: 300px !important;

    }

    .fixed-size {

        & > iframe {

            max-height: 300px !important;

        }
    }

    .grid-contact-layout {

        .panel {

            padding-left: 10px !important;
            padding-right: 10px !important;

        }
    }



}

@media (max-width: 600px) {

    .anfa-slider-item {

        height: auto !important;     
        background-attachment: fixed !important;        

    }

    .anfa-box-timing {

        width: auto !important;
        max-width: 100% !important;   
        padding: 20px !important;     

    }
   
}

@media (max-width: 770px) {
    #popup-marker .modal {
        max-width: calc(100% - 20px) !important;
        max-width: -webkit-calc(100% - 20px) !important;
        max-height: 300px !important;
        background-size: contain !important;
    }
}

@media (max-width: 620px) {
    #mdlOrderSuccess .modal {
        max-width: calc(100% - 20px) !important;
        max-width: -webkit-calc(100% - 20px) !important;
        height: auto !important;
        padding: 20px 10px !important;
        text-align: center !important;
    }
}

@media (min-width: 767px) {
    
    .searchbar {

        &.static {
        
            position: relative;
            top: unset !important;
            left: unset !important;
            right: unset !important;
            opacity: 1;
            max-height: max-content;
            margin-bottom: 20px;
    
        }

    }

    #header {

        & .search-layout {

            & .header-anfa-navigation {

                & > .search {
                    display: none !important;
                }

            }

        }
        
    }

}

@media (max-width: 767px) {   

    #header {

        & .search-layout {

            #menu {

                width: calc(100% - 70px) !important;
                width: -webkit-calc(100% - 70px) !important;


            }

            & .header-anfa-navigation {

                width: 70px !important;

                & > .search {
                    display: block !important;
                }

            }

        }
        
    }

    .grid-two-columns,
    .grid-three-columns,
    .grid-fours-columns {

        grid-template-columns: repeat(1, 1fr) !important;

    }

    .sidebar,
    .main-panel-with-sb {
        width: 100% !important;
    }

    .mtop20-xs {
        margin-top: 20px !important;
    }

    .articlesList {

        & article {

            & .thumbnail {
                width: 100% !important;
            }

            & .contents {

                width: 100% !important;
                padding-left: 0 !important;
                margin-top: 20px !important;
                
            }

        }

    }

    

}