.info_box {
  position: relative;
  margin: 0 0 30px;
  &.align_center{
    text-align: center;
  }
  h4 {
    font-weight: 700;
    font-family: "Muli", sans-serif;
    font-size: 20px;
    letter-spacing: -.04em;
    color: $stm_base_color;
    text-transform: none;
    margin: 0 0 13px;
    &:before {
      display: none;
    }
  }
  p {
    margin: 0 0 14px;
    line-height: 24px;
    color: #243238;
  }
  .read_more {
    text-transform: lowercase;
    font: {
      font-family: "Muli", sans-serif;
      weight: 700;
      size: 13px;
    }
    transition: color 0.2s linear;
    color: $stm_base_color;
    .stm_icon {
      margin: 2px 0 0 9px;
      font-size: 12px;
      vertical-align: middle;
      color: $stm_third_color;
    }
    span {
      vertical-align: middle;
      line-height: 13px;
      letter-spacing: -.2px;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &:hover {
      color: $stm_secondary_color;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      position: relative;
      padding: 0 0 0 20px;
      margin: 0 0 4px;
      &:before{
        content: "\f054";
        position: absolute;
        left: 0;
        top: 5px;
        display: inline-block;
        vertical-align: top;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 10px;
        color: $stm_base_color;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
      }
    }
  }
  &.style_1 {
    border: 1px solid $stm_base_color;
  }
  &.style_2{
    background: rgba(#fff,0.95);
    @include transition(background);
    &:hover{
      background: #fff;
    }

    h4 {
      margin-bottom: 15px;
      letter-spacing: 0;
    }

    p {
      margin-bottom: 18px;
      line-height: 22px;
      color: #777777;
    }

    .read_more {
      color: $stm_base_color;
      .stm_icon {
        color: $stm_third_color;
      }
      &:hover {
        color: $stm_secondary_color;
        .stm_icon {
          color: $stm_secondary_color;
        }
      }
    }
  }
  &.style_3{
    overflow: hidden;
    &:hover{
      .info_box_text{
        padding-top: 38px;
        top: 0;
      }
    }
    .info_box_text{
      position: absolute;
      left: 0;
      top: 163px;
      right: 0;
      bottom: 0;
      background: rgba($stm_base_color, .9);
      padding: 17px 30px 0;
      @include transition();
      .title{
        margin-bottom: 8px;
        text-transform: uppercase;
        @include cleaner();
        .icon{
          color: $stm_third_color;
          font-size: 40px;
          min-width: 54px;
          display: table-cell;
          vertical-align: middle;
          padding: 0 12px 0 0;
        }
        h6{
          color: #fff;
          display: table-cell;
          vertical-align: middle;
          padding-top: 0;
          margin: 0;
          font-weight: 700;
          line-height: 22px;

          span {
            display: block;
            height: 40px;
            overflow: hidden;
          }
        }
      }
      p {
        margin: 0 0 20px;
        color: #fff;
        padding-left: 55px;
        font-size: 13px;
        line-height: 24px;
      }
      .read_more {
        text-transform: lowercase;
        transition: color 0.2s linear;
        color: $stm_third_color;
        padding-left: 55px;
        .stm_icon {
          margin: 2px 0 0 5px;
          font-size: 12px;
          vertical-align: middle;
          color: $stm_third_color;
        }
        span {
          vertical-align: middle;
          line-height: 13px;
        }
        &:hover {
          color: #fff;
          text-decoration: none;
          .stm_icon{
            color: $stm_third_color;
          }
        }
      }
    }
    .info_box_image{
      margin: 0;
    }
  }
  &.style_4 {
    h4 {
      color: #222;
      letter-spacing: 0;
      margin-bottom: 12px;
      line-height: 26px;
      font-size: 24px;
    }

    .info_box_image {
      position: relative;
      margin-bottom: 4px;

      &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba( #000, .2 );
        @include transition(opacity);

      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: $stm_third_color;
        width: 0;
        height: 5px;
        z-index: 2;
        @include transition();
      }

    }

    p {
      color: #888;
      font-size: 13px;
      margin-bottom: 0;
      line-height: 22px;
      @include transition();
    }

    .read_more {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: transparent;
      font: 0/0 sans-serif;
    }

    &:hover {
      .info_box_image {
        &:after {
          width: 100%;
        }
        &:before {
          opacity: 1;

        }
      }

      p {
        color: #222;
      }
    }
  }
  &.style_5 {
    border: 4px solid $stm_secondary_color;
    padding: 30px 40px 30px 47px;
    @include transition(border-color, .4s, ease);

    &:hover {
      border-color: $stm_base_color;
    }

    h3 {
      letter-spacing: -0.04px;
      padding-top: 10px;
      margin-bottom: 27px;
      line-height: 26px;
      font-size: 24px;

      &:after {
        display: none;
        margin-top: 16px;
      }
    }

    p {
      margin-bottom: 34px;
      font-size: 13px;
    }

    .read_more {
      color: $stm_base_color;
      font-weight: 600;
      letter-spacing: 0.04em;

      .stm_icon {
        margin-left: 10px;
      }
    }
  }
}

.info_box {
  &.style_6 {
    background: #fff;
    padding: 80px 40px 50px;
    margin-bottom: 20px;
    @include transition();
    @media only screen and (min-width: 1440px) {
      padding: 80px 90px 50px;
    }
    .info_box_text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .title {
        margin-bottom: 10px;
      }
      .icon {
        width: 55px;
        margin: 0 auto 9px;
        text-align: center;
        i {
          font-size: 36px;
          color: $stm_third_color;
        }
      }
      h5 {
        font-weight: 500;
        padding-top: 0;
        margin-bottom: 11px;
        font-size: 24px;
        letter-spacing: -1px;
        a {
          @include transition();
          color: $stm_base_color;
          &:hover {
            color: $stm_third_color;
            text-decoration: none;
          }
        }
      }

      p {
        font-size: 14px;
        line-height: 22px;
        color: #999999;
        margin-bottom: 19px;
      }

      .read_more {
        text-transform: none;
        font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        color: $stm_secondary_color;

        .stm_icon {
          margin-top: 4px;
          margin-left: 10px;
          transition: all 0.3s;
          font-size: 9px;
          color: $stm_secondary_color;
          &:before {
            content: "\e981";
            @include theme_icons();
          }
        }

        &:hover {
          color: $stm_third_color;
          .stm_icon {
            color: $stm_third_color;
          }
        }
      }
    }

    &:hover {
      box-shadow: 0 10px 10px rgba(#000, 0.1);
    }
  }
}

.info_box_image {
  position: relative;
  margin: 0 0 3px;
  img {
    max-width: 100%;
    height: auto;
  }
}

body {
  .infox-box-indents {
    .vc_col-lg-4 {
      float: none;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
    }
    @media only screen and (max-width: 1024px) {
      padding-right: 5px !important;
      padding-left: 5px !important;
    }
  }
}
