html {
  font-size: 100%;
}

body {
  color: #999999;
  &.error404 {
    background: url('../../images/page_404.jpg') no-repeat 50% 0 !important;
    background-size: cover !important;
  }
  &.error404 {
    #main {
      background-color: transparent;
    }
    .content_wrapper {
      background: none;
    }
  }
  &.boxed_layout {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    &.boxed_bg_image_pattern {
      background-attachment: fixed;
      background-repeat: repeat;
      background-position: 50% 50%;
      background-size: auto;
    }
    &.bg_img_1{
      background-image: url("../../images/bg/img_1.jpg");
    }
    &.bg_img_2{
      background-image: url("../../images/bg/img_2.jpg");
    }
    &.bg_img_3{
      background-image: url("../../images/bg/img_3.png");
      background-attachment: fixed;
      background-repeat: repeat;
      background-position: 50% 50%;
      background-size: auto;
    }
    &.bg_img_4{
      background-image: url("../../images/bg/img_4.png");
      background-attachment: fixed;
      background-repeat: repeat;
      background-position: 50% 50%;
      background-size: auto;
    }
    &.custom_bg_image{
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
    }
    #wrapper {
      max-width: 1230px;
      margin: 39px auto 0;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }
    &.sticky_header #wrapper {
      margin-top: 0;
    }
    #footer {
      max-width: 1230px;
    }
  }
}

#main {
  position: relative;
  padding: 0 0 60px;
  z-index: 10;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

.content_wrapper {
  position: relative;
  background: #fff;
  z-index: 10;
}

.mobile_header {
  display: none;
  .header_info {
    .header_socials {
      float: none !important;
      padding: 0 0 40px 14px;
      a {
        margin: 0 0 5px 30px !important;
      }
    }
  }
}

.stm_slider_play {
  position: relative;
  width: 86px;
  height: 86px;
  transition: all 0.5s;
  border: 3px solid $stm_secondary_color;
  border-radius: 50%;
  cursor: pointer;
  @include transition();
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -6px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 17px solid $stm_secondary_color
  }
  &:hover {
    border-color: #ffffff;
    &:after {
      border-left-color: #ffffff;
    }
  }
}

.stm_viewport {
  opacity: 0;
  -webkit-transition: opacity 900ms linear;
  -moz-transition: opacity 900ms linear;
  transition: opacity 900ms linear;
}

.overflow_hidden {
  overflow: hidden;
}

#frontend_customizer_button{
  background: $stm_base_color;
}

.customizer-demo_list,
.header_styles_list {
  ul {
    li {
      a {
        &.active,
        &:hover {
          background: $stm_secondary_color;
          color: #ffffff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .vc_column-inner-mobile-spacings .vc_column-inner {
    padding: 0 15px !important;
  }
}

body {
  .vc_row.position_y_bottom {
    background-position: center bottom !important;
    @media (max-width: 1199px) {
      background: inherit !important;
    }
  }
}