@font-face {
    font-family: 'Arial';
    src: url('ArialMT.woff2') format('woff2'), url('ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldMT.woff2') format('woff2'), url('Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-Black.woff2') format('woff2'), url('Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-ItalicMT.woff2') format('woff2'), url('Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBook.woff2') format('woff2'), url('SFUFuturaBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Light.woff2') format('woff2'), url('HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}