<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Oz Coffee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/layout.css" rel="stylesheet">        
        <link href="/dist/style.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.min.js"></script>      
        <!-- bxslider -->
        <link rel="stylesheet" href="/bxslider/jquery.bxslider.min.css" type="text/css" />
        <script type="text/javascript" src="/bxslider/jquery.bxslider.min.js"></script>
        <!-- #bxslider -->

        <!-- lightGallery -->
        <link rel="stylesheet" href="/lightGallery/css/lightgallery.min.css" type="text/css" />
        <script type="text/javascript" src="/lightGallery/js/lightgallery-all.min.js"></script>
        <!-- #lightGallery -->

        <!-- master-modal -->
        <link rel="stylesheet" href="/jquery.master-modal/jquery.modal.min.css" type="text/css" />
        <script type="text/javascript" src="/jquery.master-modal/jquery.modal.min.js"></script>	
        
        <!-- #master-modal -->

        <script type="module" src="/js/jquery.customize.js"></script>
    </head>
    <body>

        <div class="page-404">

            <div class="wrapper flex-layout flex-direction-column flex-align-center">

                <h1>
                    404
                </h1>

                <h3>
                    Không tìm thấy trang !
                </h3>

                <p class="text">
                    Trang đã bị xóa hoặc địa chỉ URL không đúng
                </p>

                <p class="back">
                    <a href="#" class="btnPrimaryLayout">
                        QUAY VỀ TRANG CHỦ
                    </a>
                </p>

            </div>

        </div>
        
    </body>
    
    
    
    
</html>