<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Oz Coffee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/layout.css" rel="stylesheet">        
        <link href="/dist/style.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.min.js"></script>      
        <!-- bxslider -->
        <link rel="stylesheet" href="/bxslider/jquery.bxslider.min.css" type="text/css" />
        <script type="text/javascript" src="/bxslider/jquery.bxslider.min.js"></script>
        <!-- #bxslider -->

        <!-- lightGallery -->
        <link rel="stylesheet" href="/lightGallery/css/lightgallery.min.css" type="text/css" />
        <script type="text/javascript" src="/lightGallery/js/lightgallery-all.min.js"></script>
        <!-- #lightGallery -->

        <!-- master-modal -->
        <link rel="stylesheet" href="/jquery.master-modal/jquery.modal.min.css" type="text/css" />
        <script type="text/javascript" src="/jquery.master-modal/jquery.modal.min.js"></script>	
        
        <!-- #master-modal -->

        <script type="module" src="/js/jquery.customize.js"></script>
    </head>
    <body>
        <div id="header" style="background: url('/images/page-banner.png') no-repeat;" class="header">
            <div class="header-element header-top">
                <div class="container flex-layout flex-align-center flex-justify-space-between">
                    <div class="logo logo-header">
                        <a href="/"><img src="/images/logo.png" alt="logo" /></a>
                    </div>
                    <div class="menu main-menu header-main-menu">
                        <div class="primary-menu main-primary-menu">
                            <ul class="menu-container primary-menu-container flex-layout">
                                <li><a href="/gioi-thieu.html">GIỚI THIỆU</a></li>
                                <li>
                                    <a href="/dich-vu.html">DỊCH VỤ</a>
                                    <ul>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">couple party</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">1ST BIRTHDAY</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">GROUP PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">YEAR AND PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">WEDDING PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">ANNIVERSARY PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">SPECIAL DECORATION</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">CAFE</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/uu-dai.html">ƯU ĐÃI</a></li>
                                <li>
                                    <a href="/thu-vien-anh.html">THƯ VIỆN ẢNH</a>
                                    <ul>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ LÊ VĂN SỸ</a>
                                        </li>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ HUỲNH TỊNH CỦA</a>
                                        </li>
                                        <li>
                                           <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ NGUYỄN VĂN ĐẬU</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                                <li><a href="/tin-tuc.html">TIN TỨC</a></li>
                                <li><a href="/lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                        <div class="mobile-menu main-mobile-menu">
                            <button>
                                <span class="fa fa-navicon"></span>
                            </button>
                            <ul id="main-mobile-menu" class="mobile-menu menu">
                                <li><a href="/gioi-thieu.html">GIỚI THIỆU</a></li>
                    
                                <li>
                                    <a href="/dich-vu.html">DỊCH VỤ</a>
                                    <span class="toggle"></span>
                                    <ul>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">couple party</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">1ST BIRTHDAY</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">GROUP PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">YEAR AND PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">WEDDING PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">ANNIVERSARY PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">SPECIAL DECORATION</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">CAFE</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/uu-dai.html">ƯU ĐÃI</a></li>
                                <li>
                                    <a href="/thu-vien-anh.html">THƯ VIỆN ẢNH</a>
                                    <span class="toggle"></span>
                                    <ul>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ LÊ VĂN SỸ</a>
                                        </li>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ HUỲNH TỊNH CỦA</a>
                                        </li>
                                        <li>
                                           <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ NGUYỄN VĂN ĐẬU</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                                <li><a href="/tin-tuc.html">TIN TỨC</a></li>
                                <li><a href="/lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="search header-search">
                        <a href="#">
                            <img src="/images/search.png" alt="" />
                        </a>
                    </div>
                    <div class="search header-social flex-layout flex-align-center">
                        <a target="_blank" class="fb" href="https://www.facebook.com">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a target="_blank" class="instagram" href="https://www.instagram.com">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a target="_blank" class="youtube" href="https://www.youtube.com">
                            <span class="fa fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-element header-secondary header-page-secondary">
                <div class="container">
                    <div class="page-header flex-layout flex-direction-column flex-align-center">
                        <h1 class="sectionTitleHeading sectionTitlePageHeading">
                            Giới thiệu
                        </h1>
                        <div class="page-breadcrumb">
                            <a href="#">TRANG CHỦ</a>
                            <span class="fa fa-angle-right"></span>
                            <span>GIỚI THIỆU</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="page-main-elements" class="page-main-elements page-main-builders">
                <div class="container">
                    <h2 class="sectionTitleHeading sectionPageMainTitle text-center">
                        <div class="maintitle">OZ COFFEE HOUSE</div>
                        <div class="subtitle">"Small Event – Big Impact"</div>
                    </h2>
                    <div class="page-contents">
                        <div class="opening-paragraph-element grid-two-columns grid-no-pad">
                            <div class="paragraph-element">
                                <p>
                                    Cuộc đời là một hành trình dài mà ở đó chúng ta chính là những người tự tay vun vén và lưu giữ những kỉ niệm, khoảnh khắc bên người thương yêu. Thế nhưng, đôi khi điều này cũng mang đến không ít trăn trở với
                                    những ai bận rộn, quỹ thời gian eo hẹp, hoặc loay hoay giữa những sự lựa chọn. Làm thế nào cho tốt? Phải làm sao để thật sự ấn tượng và ý nghĩa? Bởi những khoảnh khắc bên những người thương, chính là điều mà
                                    ai trong chúng ta cũng vô cùng trân trọng. Và nếu đó là những khoảnh khắc bên nhau trong những bữa tiệc 2 người ấm cúng, tiệc gia đình sum vầy thì lại càng đặc biệt hơn nữa.
                                </p>
                                <p>
                                    Thấu hiểu tâm tư này, OZ COFFEE HOUSE ra đời với một mô hình mới bao gồm: Cafe, ăn uống, kết hợp dịch vụ tổ chức tiệc couple, tiệc gia đình, tiệc cưới, tiệc YEP,...có trang trí theo yêu cầu.
                                </p>
                            </div>
                            <div class="video-element element-no-mgtop">
                                <div class="wrapper">
                                    <a href="#">
                                        <img src="/images/post-image.png" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p>
                            Ấn tượng đầu tiên khi đặt chân đến OZ COFFEE HOUSE chính là không gian xanh mướt cây cối, gần như tách biệt hẳn với cái nắng nóng giữa lòng Sài Gòn. Là nơi thư giãn, hẹn hò cho các cặp đôi cũng như nơi làm việc lý
                            tưởng với bất kì ai yêu thích cảm giác được xoa dịu tâm hồn bởi thiên nhiên. Đến OZ, bạn sẽ thấy việc nhâm nhi một ly cafe giữa những mảng xanh đơn giản vậy thôi nhưng cũng đủ mang lại nguồn năng lượng tích cực cho
                            cả một ngày dài.
                        </p>
                        <p>
                            Song song đó, mang trong mình tâm nguyện trở thành người đồng hành, hỗ trợ bạn hoàn thành những dự định đầy cảm xúc, OZ COFFFEE HOUSE đã và đang ngày càng hoàn thiện trong việc tạo dựng và không ngừng đổi mới không
                            gian tiệc để làm phong phú hơn những sự lựa chọn từ quý bạn. Điều này được thể hiện qua phong cách thiết kế riêng biệt, pha lẫn một chút cổ điển và hiện đại, đồng thời cũng có những điểm nhấn rất riêng tại 3 chi
                            nhánh hiện có:
                        </p>
                        <p>Chi nhánh 1: 207/31 Lê Văn Sỹ, phường 13, quận 3 mở rộng không gian hơn với thiết kế 7 tầng hiện đại và sang trọng. Là thiên đường tiệc 2 người với không gian Sky view trên cao ngắm trọn thành phố.</p>
                        <p>
                            Chi nhánh 2: 30 Huỳnh Tịnh Của, phường 8, quận 3 tựa như một khu vườn thần tiên ngập tràn cây cối mệnh danh “ROOFTOP trong mơ giữa lòng Sài Gòn”. Ngoài những không gian cổ điển riêng biệt, nơi đây còn có sân thượng
                            thoáng mát, thích hợp cho những buổi tiệc đêm lãng mạn ngập ánh đèn và là sự lựa chọn cực kì thích hợp cho những bữa tiệc gia đình.
                        </p>
                        <p>
                            Chi nhánh 3: 273/46 Nguyễn Văn Đậu, phường 11, quận Bình Thạnh tuy ra đời muộn nhất nhưng đã sớm trở thành một địa điểm lý tưởng cho những buổi tiệc YEP, tiệc thôi nôi, tiệc cưới mùa Hè nhờ có hồ bơi xanh mát tuyệt
                            đẹp, như một “resort” mơ mộng thực sự giữa Sài Gòn phồn hoa, tấp nập.
                        </p>
                        <p>
                            Ngoài việc ghi điểm ở không gian, OZ COFFEE HOUSE còn sở hữu đội ngũ nhân viên trẻ, năng động và nhiệt thành với gu thẫm mỹ cao luôn bên cạnh hỗ trợ và tư vấn giúp bạn hoàn thành những mong muốn đặc biệt của bạn với
                            người thương của mình một cách chu đáo và nhiệt tâm.
                        </p>
                        <p>
                            Không chỉ đơn thuần là người cung ứng dịch vụ, chúng tôi tin rằng với mỗi cơ hội được trao, mọi tâm ý của bạn đều sẽ được lắng nghe, tôn trọng và hoàn thành đúng như mong đợi. OZ COFFEE HOUSE gửi lời cảm ơn chân
                            thành và hy vọng sẽ mang đến cho bạn những trải nghiệm đáng nhớ nhất.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <footer id="colon">
            <div class="footer-row">
                <div class="container">
                    <div class="footer-grid-layout grid-fours-columns grid-no-pad">
                        <div class="footer-column">
                            <div class="logo footer-logo">
                                <a href="/">
                                    <img src="/images/logo-footer.png" alt="" />
                                </a>
                            </div>
                            <div class="header-social footer-social flex-layout flex-justify-center">
                                <a target="_blank" href="https://www.facebook.com" class="fb">
                                    <span class="fa fa-facebook"></span> 
                                </a>
                                <a target="_blank" href="https://www.instagram.com" class="inst">
                                    <span class="fa fa-instagram"></span> 
                                </a>
                                <a target="_blank" href="https://www.youtube.com" class="youtube">
                                    <span class="fa fa-youtube-play"></span> 
                                </a>
                                <a target="_blank" href="https://chat.zalo.me" class="zalo bg-default-settings"> </a>
                            </div>
                        </div>
                        <div class="footer-column">
                            <h4>Liên hệ với chúng tôi</h4>
                            <div class="footerContent">
                                <div class="footerCatalogAddr">
                                    <div class="footerCatalogAddrItem flex-layout">
                                        <div class="icon">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="content">
                                            <p>CN1: 207/31 Lê Văn Sỹ Phường 13, Quận 3</p>
                                            <p>CN2: 30 Huỳnh Tịnh Của, Phường 8, Quận 3</p>
                                            <p>CN3: 277/46 Nguyễn Văn Đậu, Phường 11, Quận Bình Thạnh</p>
                                        </div>
                                    </div>
                                    <div class="footerCatalogAddrItem flex-layout">
                                        <div class="icon">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                        <div class="content">
                                            <p><a href="tel:19004777">1900.4777</a></p>
                                        </div>
                                    </div>
                                    <div class="footerCatalogAddrItem flex-layout">
                                        <div class="icon">
                                            <span class="fa fa-envelope"></span>
                                        </div>
                                        <div class="content">
                                            <p><a href="mailto:ozcoffeehouse1111@gmail.com">ozcoffeehouse1111@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column">
                            <h4>Fanpage</h4>
                            <div class="footerContent">
                                <img src="/images/fanpage.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="navigation-contact fixed-sidebar support-sidebar shortcut-sidebar">
            <div class="wrapper flex-layout flex-direction-column">
                <div class="navig-item item-rotate-icon-animation">
                    <a href="#">
                        <img class="image-rotate" src="/images/supporter-icon.png" alt="">
                    </a>
                </div>
                <div class="navig-item item-rotate-icon-animation">
                    <a href="tel:19004777">
                        <img class="image-rotate" src="/images/phone-contact-icon.png" alt="">
                    </a>
                </div>
                <div class="navig-item item-rotate-icon-animation">
                    <a href="#">
                        <img class="image-rotate" src="/images/fb-messenger-icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </body>
    
    
</html>