<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Oz Coffee</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/layout.css" rel="stylesheet">        
        <link href="/dist/style.css" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.min.js"></script>      
        <!-- bxslider -->
        <link rel="stylesheet" href="/bxslider/jquery.bxslider.min.css" type="text/css" />
        <script type="text/javascript" src="/bxslider/jquery.bxslider.min.js"></script>
        <!-- #bxslider -->

        <!-- lightGallery -->
        <link rel="stylesheet" href="/lightGallery/css/lightgallery.min.css" type="text/css" />
        <script type="text/javascript" src="/lightGallery/js/lightgallery-all.min.js"></script>
        <!-- #lightGallery -->

        <!-- master-modal -->
        <link rel="stylesheet" href="/jquery.master-modal/jquery.modal.min.css" type="text/css" />
        <script type="text/javascript" src="/jquery.master-modal/jquery.modal.min.js"></script>	
        
        <!-- #master-modal -->

        <script type="module" src="/js/jquery.customize.js"></script>
    </head>
    <body>
        <div id="header" style="background: url('/images/page-banner.png') no-repeat;" class="header">
            <div class="header-element header-top">
                <div class="container flex-layout flex-align-center flex-justify-space-between">
                    <div class="logo logo-header">
                        <a href="/"><img src="/images/logo.png" alt="logo"></a>
                    </div>
                    <div class="menu main-menu header-main-menu">
                        <div class="primary-menu main-primary-menu">
                            <ul class="menu-container primary-menu-container flex-layout">
                                <li><a href="/gioi-thieu.html">GIỚI THIỆU</a></li>
                                <li>
                                    <a href="/dich-vu.html">DỊCH VỤ</a>
                                    <ul>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">couple party</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">1ST BIRTHDAY</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">GROUP PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">YEAR AND PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">WEDDING PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">ANNIVERSARY PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">SPECIAL DECORATION</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">CAFE</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/uu-dai.html">ƯU ĐÃI</a></li>
                                <li>
                                    <a href="/thu-vien-anh.html">THƯ VIỆN ẢNH</a>
                                    <ul>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ LÊ VĂN SỸ</a>
                                        </li>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ HUỲNH TỊNH CỦA</a>
                                        </li>
                                        <li>
                                           <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ NGUYỄN VĂN ĐẬU</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                                <li><a href="/tin-tuc.html">TIN TỨC</a></li>
                                <li><a href="/lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                        <div class="mobile-menu main-mobile-menu">
                            <button>
                                <span class="fa fa-navicon"></span>
                            </button>
                            <ul id="main-mobile-menu" class="mobile-menu menu">
                                <li><a href="/gioi-thieu.html">GIỚI THIỆU</a></li>
                    
                                <li>
                                    <a href="/dich-vu.html">DỊCH VỤ</a>
                                    <span class="toggle"></span>
                                    <ul>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">couple party</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">1ST BIRTHDAY</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">GROUP PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">YEAR AND PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">WEDDING PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">ANNIVERSARY PARTY</a>
                                        </li>
                                        <li>
                                            <a href="/dich-vu-couple-party.html">SPECIAL DECORATION</a>
                                        </li>
                                        <li>
                                           <a href="/dich-vu-couple-party.html">CAFE</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/uu-dai.html">ƯU ĐÃI</a></li>
                                <li>
                                    <a href="/thu-vien-anh.html">THƯ VIỆN ẢNH</a>
                                    <span class="toggle"></span>
                                    <ul>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ LÊ VĂN SỸ</a>
                                        </li>
                                        <li>
                                            <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ HUỲNH TỊNH CỦA</a>
                                        </li>
                                        <li>
                                           <a href="/thu-vien-anh-ozy-le-van-sy.html">OZ NGUYỄN VĂN ĐẬU</a>
                                        </li>
                                      
                                    </ul>
                                </li>
                                <li><a href="/tin-tuc.html">TIN TỨC</a></li>
                                <li><a href="/lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="search header-search">
                        <a href="#">
                            <img src="/images/search.png" alt="">
                        </a>
                    </div>
                    <div class="search header-social flex-layout flex-align-center">
                        <a target="_blank" class="fb" href="https://www.facebook.com">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a target="_blank" class="instagram" href="https://www.instagram.com">
                            <span class="fa fa-instagram"></span>
                        </a>
                        <a target="_blank" class="youtube" href="https://www.youtube.com">
                            <span class="fa fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-element header-secondary header-page-secondary">
                <div class="container">
                    <div class="page-header flex-layout flex-direction-column flex-align-center">
                        <h1 class="sectionTitleHeading sectionTitlePageHeading">Ưu đãi</h1>
                        <div class="page-breadcrumb">
                            <a href="#">TRANG CHỦ</a>
                            <span class="fa fa-angle-right"></span>
                            <span>ƯU ĐÃI</span>
                            <span class="fa fa-angle-right"></span>
                            <span>SANG PHONG CÁCH - CƯỚI KHÁC BIỆT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="page-main-elements" class="page-main-elements page-uudai-child-elements page-main-builders">
                <div class="page-uudai-contents page-uudai-child-contents">
                    
                    <div class="container">

                        <h2 class="sectionTitleHeading uudaichildTitleHeading text-center">
                            Sang phong cách - Cưới khác biệt
                        </h2>

                        <div class="metadata metadata-datetime flex-layout flex-justify-center">

                            <span class="fa fa-calendar"></span>
                            <span class="padLeft10">
                                NGÀY 16 THÁNG 4. 2021
                            </span>

                        </div>

                        <div class="page-contents">

                            <p>
                                <img src="/images/bg-uudai-1.png" alt="" />
                            </p>

                            <ul>
                                <li>Nếu các cặp đôi đã quen thuộc với lựa chọn đãi tiệc bàn tròn và đang tìm kiếm cho mình một xu hướng đãi tiệc mớithì hãy đến với một phong cách tiệc cưới chuẩn Âu với kiểu set-up bàn dài sang trọng, mang đến trải nghiệm khó quên cho các cặp đôi cùng thực khách đi dự tiệc. Tiệc cưới bàn dài từ lâu đã là một hình thức phổ biến trong những tiệc cưới Tây Âu và đang dần được các cặp đôi tin tưởng, lựa chọn khi từng xuất hiện trong lễ cưới của nhiều người nổi tiếng tại Việt Nam. Vậy tiệc cưới bàn dài tại Capella Gallery Hall có gì đặc biệt?!</li>

                                <li>✨ Trang trí tiệc bàn dài theo 4 tông màu sang trọng và tinh tế chuẩn Tây Âu</li>

                                <li>✨ Khách mời được ngồi dàn trải trong một không gian ấm áp và lãng mạn</li>
                            </ul>

                            <div class="page-galleries-element elements-no-mgtop">

                                <div class="uudai-galleries-grid-elements grid-two-columns grid-no-pad">

                                    <div class="item thumbnail bg-default-settings bg-fullheight" style="background-image: url('/images/bg-uudai-2.png')"></div>

                                    <div class="item thumbnail bg-default-settings bg-fullheight" style="background-image: url('/images/bg-uudai-2.png')"></div>

                                    <div class="item thumbnail bg-default-settings bg-fullheight" style="background-image: url('/images/bg-uudai-2.png')"></div>

                                    <div class="item thumbnail bg-default-settings bg-fullheight" style="background-image: url('/images/bg-uudai-2.png')"></div>

                                </div>

                            </div>

                            <p>
                                Tặng combo chụp hình và quay phim bắt trọn khoảnh khắc trong ngày cưới từ September Studio trị giá 20,000,000 VNĐ
                            </p>

                            <p>Ưu đãi dịch vụ MC chuyên nghiệp, chương trình biểu diễn trong tiệc;</p>
                            <p>Các package gói trang trí không gian tiệc sang trọng với đa dạng concept;</p> 
                            <p>Thức uống đặc biệt tạo điểm nhấn cho dạ tiệc;</p> 
                            <p>Trải nghiệm ẩm thực tiệc cưới đậm vị, đa dạng thực đơn Á – Âu từ bếp trưởng của Capella Gallery Hall</p> 
                            <p>———</p> 
                            <p>(*) Chương trình áp dụng theo số lượng bàn.</p> 
                            <p>👉 Chào đón các cặp đôi đặt và tổ chức tiệc từ 04/2021 – 10/2021 tại Capella Gallery Hall.</p> 
                            <p>———</p>                           

                        </div>

                        <div class="fb-element">

                            <div class="galleries-view-fullscreen view-fb-comments">
                                <a href="#" modal-type="master-modal" modal-target="#modalViewFbComments">
                                    <span class="fa fa-angle-double-right"></span>
                                    <span class="padLeft10">Xem bình luận</span>
                                    <span class="fa fa-angle-double-left padLeft10"></span>
                                </a>
                            </div>                           
                            

                        </div>

                        <div class="relatedPostsBox relatedChildPosts">

                            <h2 class="sectionTitleHeading text-center">Ưu đãi khác</h2>

                            <div class="relatedPostBoxContent">
                                
                                <div class="related-box-elems-grid grid-three-columns grid-no-pad">

                                    <article class="article-single-element article-cambridge-element item-thumbnail-animation article-box-animation">

                                        <a class="thumbnail bg-thumbnail bg-default-settings bg-fullheight" href="#" style="background-image: url('/images/uudai-related-1.png');"></a>
    
                                        <div class="metadata metadata-entries news-metadata-entries article-metadata-entries flex-layout flex-align-center flex-justify-center" >
                                            <span class="bg-linear-shadow" ></span>
                            
                                            <div class="datetime news-datetime-entries">
                                                <div class="day datetime-entry news-datetime-entry">12</div>
                                                <span class="day datetime-entry news-datetime-entry news-datetime-separate"></span>
                                                <div class="month datetime-entry news-datetime-entry">04</div>
                                            </div>
                                        </div>                                         
    
                                        <h4 class="no-border-line">
                                            <a href="#">Rực rỡ sắc hè cùng gam màu hạnh phúc</a>
                                        </h4>
    
                                        <figcaption>
                                            Nếu các cặp đôi đã quen thuộc với lựa chọn đãi tiệc bàn tròn và đang tìm kiếm cho mình một xu hướng đãi tiệc mới thì hãy đến với một phong cách tiệc cưới chuẩn Âu...
                                        </figcaption>

                                        <p class="readmore article-readmore">
                                            <a href="#">Xem thêm</a>
                                        </p>
    
                                    </article>         

                                    <article class="article-single-element article-cambridge-element item-thumbnail-animation article-box-animation">

                                        <a class="thumbnail bg-thumbnail bg-default-settings bg-fullheight" href="#" style="background-image: url('/images/uudai-related-1.png');"></a>
    
                                        <div class="metadata metadata-entries news-metadata-entries article-metadata-entries flex-layout flex-align-center flex-justify-center" >
                                            <span class="bg-linear-shadow" ></span>
                            
                                            <div class="datetime news-datetime-entries">
                                                <div class="day datetime-entry news-datetime-entry">12</div>
                                                <span class="day datetime-entry news-datetime-entry news-datetime-separate"></span>
                                                <div class="month datetime-entry news-datetime-entry">04</div>
                                            </div>
                                        </div>                                         
    
                                        <h4 class="no-border-line">
                                            <a href="#">Rực rỡ sắc hè cùng gam màu hạnh phúc</a>
                                        </h4>
    
                                        <figcaption>
                                            Nếu các cặp đôi đã quen thuộc với lựa chọn đãi tiệc bàn tròn và đang tìm kiếm cho mình một xu hướng đãi tiệc mới thì hãy đến với một phong cách tiệc cưới chuẩn Âu...
                                        </figcaption>

                                        <p class="readmore article-readmore">
                                            <a href="#">Xem thêm</a>
                                        </p>
    
                                    </article>         

                                    <article class="article-single-element article-cambridge-element item-thumbnail-animation article-box-animation">

                                        <a class="thumbnail bg-thumbnail bg-default-settings bg-fullheight" href="#" style="background-image: url('/images/uudai-related-1.png');"></a>
    
                                        <div class="metadata metadata-entries news-metadata-entries article-metadata-entries flex-layout flex-align-center flex-justify-center" >
                                            <span class="bg-linear-shadow" ></span>
                            
                                            <div class="datetime news-datetime-entries">
                                                <div class="day datetime-entry news-datetime-entry">12</div>
                                                <span class="day datetime-entry news-datetime-entry news-datetime-separate"></span>
                                                <div class="month datetime-entry news-datetime-entry">04</div>
                                            </div>
                                        </div>                                         
    
                                        <h4 class="no-border-line">
                                            <a href="#">Rực rỡ sắc hè cùng gam màu hạnh phúc</a>
                                        </h4>
    
                                        <figcaption>
                                            Nếu các cặp đôi đã quen thuộc với lựa chọn đãi tiệc bàn tròn và đang tìm kiếm cho mình một xu hướng đãi tiệc mới thì hãy đến với một phong cách tiệc cưới chuẩn Âu...
                                        </figcaption>

                                        <p class="readmore article-readmore">
                                            <a href="#">Xem thêm</a>
                                        </p>
    
                                    </article>         
                                    
                                   
    

                                </div>


                            </div>

                        </div>

                    </div>

                        
                </div>

            </div>
        </div>
        <footer id="colon">
            <div class="footer-row">
                <div class="container">
                    <div class="footer-grid-layout grid-fours-columns grid-no-pad">
                        <div class="footer-column">
                            <div class="logo footer-logo">
                                <a href="/">
                                    <img src="/images/logo-footer.png" alt="">
                                </a>
                            </div>
                            <div class="header-social footer-social flex-layout flex-justify-center">
                                <a target="_blank" href="https://www.facebook.com" class="fb">
                                    <span class="fa fa-facebook"></span> 
                                </a>
                                <a target="_blank" href="https://www.instagram.com" class="inst">
                                    <span class="fa fa-instagram"></span> 
                                </a>
                                <a target="_blank" href="https://www.youtube.com" class="youtube">
                                    <span class="fa fa-youtube-play"></span> 
                                </a>
                                <a target="_blank" href="https://chat.zalo.me" class="zalo bg-default-settings"> </a>
                            </div>
                        </div>
                        <div class="footer-column">
                            <h4>Liên hệ với chúng tôi</h4>
                            <div class="footerContent">
                                <div class="footerCatalogAddr">
                                    <div class="footerCatalogAddrItem flex-layout">
                                        <div class="icon">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="content">
                                            <p>CN1: 207/31 Lê Văn Sỹ Phường 13, Quận 3</p>
                                            <p>CN2: 30 Huỳnh Tịnh Của, Phường 8, Quận 3</p>
                                            <p>CN3: 277/46 Nguyễn Văn Đậu, Phường 11, Quận Bình Thạnh</p>
                                        </div>
                                    </div>
                                    <div class="footerCatalogAddrItem flex-layout">
                                        <div class="icon">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                        <div class="content">
                                            <p><a href="tel:19004777">1900.4777</a></p>
                                        </div>
                                    </div>
                                    <div class="footerCatalogAddrItem flex-layout">
                                        <div class="icon">
                                            <span class="fa fa-envelope"></span>
                                        </div>
                                        <div class="content">
                                            <p><a href="mailto:ozcoffeehouse1111@gmail.com">ozcoffeehouse1111@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column">
                            <h4>Fanpage</h4>
                            <div class="footerContent">
                                <a target="_blank" href="https://www.facebook.com/TIECSINHNHATOZCOFFEEHOUSE">
                                    <img src="/images/fanpage.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="navigation-contact fixed-sidebar support-sidebar shortcut-sidebar">
            <div class="wrapper flex-layout flex-direction-column">
                <div class="navig-item item-rotate-icon-animation">
                    <a href="#">
                        <img class="image-rotate" src="/images/supporter-icon.png" alt="">
                    </a>
                </div>
                <div class="navig-item item-rotate-icon-animation">
                    <a href="tel:19004777">
                        <img class="image-rotate" src="/images/phone-contact-icon.png" alt="">
                    </a>
                </div>
                <div class="navig-item item-rotate-icon-animation">
                    <a href="#">
                        <img class="image-rotate" src="/images/fb-messenger-icon.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div id="modalViewFbComments" style="display:none;">

            <h3 class="modal-header">Bình luận</h3>
    
            <div class="modal-body">

                <div class="fb-comments" 
                        data-href="https://html-oz-coffee.io:8080/uu-dai-sang-phong-cach-cuoi-khac-biet.html" 
                        data-width="100%" 
                        data-colorscheme="light"
                        data-numposts="5"></div>
                
            </div>
    
        </div>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0" nonce="xcVairEs"></script>
    
    
    
</body>
    
    
</html>