
@media (min-width:768px){
	.sticky-klb-header,
	.sticky-header-bar{
		top: 32px !important;
	}
}

.bootstrap .option_field select.input-sm {
    line-height: 1.38461538;
}

@media(min-width:992px){
	.main-header.sticky-header {
	    top: 32px !important;
	}
}