body{
  .vc_cta3{
    .vc_cta3-container{
      margin-bottom: auto;
    }
    &.vc_general{
      padding: 17px 0 15px;
      border: none;
      h2{
        padding-top: 0;
        margin: 0 0 8px;
        text-transform: none;
        &:after{
          display: none;
        }
      }
    }
    &.vc_cta3-actions-right{
      .vc_cta3-content{
        width: 1000px;
        vertical-align: middle;
      }
    }
    &.third_bg_color {
      .vc_cta3-actions {
        .vc_btn3-color-theme_style_2 {
          background-color: $stm_base_color !important;
          color: #fff !important;
          &:hover {
            background-color: #fff !important;
            border-color: #fff !important;
            color: $stm_base_color !important;
            .vc_btn3-icon {
              color: $stm_base_color !important;
            }
          }
        }
      }
    }
  }
}