.pvcf_field_row:not(:first-child),
.pvcf_field_row > p:not(:first-child) {
	margin: 10px 0 0 0;
}
.pvcf_field_row .pvcf_require {
	padding-left: 5px;
	color: red;
}
.pvcf_ajax_submit {
	display: none;
}
.pvcf_ajax_submit.active {
	display: inline;
	animation: ajax_submit_loading 2s linear 0s infinite;
}
.page-contact div[class*=icon-fa]:before {
	color: #dddbdb;
	font-weight: bold;
	font-family: 'FontAwesome';
	font-size: 20px;
}

.page-contact .icon-fa-map-marker:before {
	content: "\f041";
}

.page-contact .icon-fa-phone:before {
	content: "\f095";
}

.page-contact .icon-fa-envelope:before {
	content: "\f0e0";
}

.page-content .address.email div[class*=icon-fa]:before,
.page-content .address.email a {
	color: #58b3ea !important;
}


@keyframes ajax_submit_loading {

	0% {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	100% {

		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		     -o-transform: rotate(360deg);
		        transform: rotate(360deg);

	}

}

@-webkit-keyframes ajax_submit_loading {

	0% {
		-webkit-transform: rotate(0deg);
		   -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		     -o-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	100% {

		-webkit-transform: rotate(360deg);
		   -moz-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		     -o-transform: rotate(360deg);
		        transform: rotate(360deg);

	}

}