.stats_counter {
  position: relative;
  .icon {
    float: left;
    color: $stm_base_color;
    margin: 0 12px 0 0;
  }
  h3:after {
    display: none;
  }
  h3 {
    color: #ffffff;
    margin: 0 0 10px;
    font-size: 50px;
    letter-spacing: 0;
    font-weight: 700;
    white-space: nowrap;
  }
  .counter_title {
    clear: both;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
  }
  &.style_2 {
    .inner {
      display: table;
      width: 100%;
      .no_stripe {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 0;
        width: 70px;
        padding-right: 14px;
        font-weight: 400;
        font-size: 48px;
        color: #fff;
      }
      .counter_description {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 0;
        p {
          text-align: left;
          line-height: 18px;
          margin-bottom: 0;
          color: #fff;
        }
      }
    }
  }
  &.style_3 {
    .inner {
      display: flex;
      flex-direction: column;

      h3 {
        margin-bottom: 15px;
        line-height: 30px;
        font-weight: 600;
        font-size: 30px;
        color: $stm_secondary_color;
      }
      .counter_title {
        order: 2;
        line-height: 24px;
        font-weight: 600;
        font-size: 22px;
      }
      .counter_description {
        order: 1;
        margin-bottom: 3px;
        font-size: 15px;
        line-height: 20px;
        color: #595959;
        p {
          margin-bottom: 0;
          line-height: 20px;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    &.style_1,
    &.style_2,
    &.style_3 {
      .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3,
        .no_stripe {
          width: auto;
          text-align: center;
          padding: 20px 0 10px;
          font-size: 40px !important;
          margin: 0;
        }
        .counter_title {
          order: 1;
        }
        .counter_description {
          display: block;
          order: 2;
          padding: 10px 0 20px;
          font-size: 18px;
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

.counter-white-color {
  .stats_counter {
    &.style_1,
    &.style_2,
    &.style_3 {
      .inner {
        h3 {
          color: #fff;
        }
        .counter_description {
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .custom_count_title {
    &.vc_custom_heading {
      display: block !important;
      h4 {
        font-size: 30px !important;
        line-height: 36px !important;
      }
      .icon {
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto 20px;
        font-size: 40px !important;
        line-height: 40px !important;
      }
    }
  }
}