body .vc_progress_bar {
  .vc_label {
    font-size: 14px;
    color: $stm_base_color;
    display: block;
    font-weight: 600;
    margin-bottom: 14px;
    .vc_label_units {
      float: right;
    }
  }
  .vc_single_bar {
    height: 4px;
  }

  .vc_single_bar  {
    margin-bottom: 36px;
  }
}