.top__product {
  margin-bottom: 30px; }
  .top__product .tag-prds__mains {
    background: url('../../images/bg-tag-prdss.png') no-repeat center; 
    background-size: cover;
  }
  .top__product .tag-prds__mains > .nav {
    padding-left: 0px;
    list-style: none; }
    .top__product .tag-prds__mains > .nav a.active {
      background-color: transparent; }
      .top__product .tag-prds__mains > .nav a.active .titles-prds__tags {
        color: #FFFFFF; }
      .top__product .tag-prds__mains > .nav a.active > p {
        color: #FFFFFF; }
    .top__product .tag-prds__mains > .nav a {
      display: block;
      padding: 20px;
      text-align: center;
      background-color: #FFFFFF;
      font-size: 14px;
      position: relative;
      width: 33.33%; }
      .top__product .tag-prds__mains > .nav a > p {
        font-family: "Roboto-Regular", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #666666;
        margin-bottom: 0; }
      .top__product .tag-prds__mains > .nav a .after-shadow-1 {
        position: absolute;
        left: -20px;
        top: 0;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 20px;
        height: 20px; }
        .top__product .tag-prds__mains > .nav a .after-shadow-1:before {
          content: "";
          top: 0;
          right: 0;
          -webkit-box-shadow: 10px -10px 0px 200px #FFFFFF;
          box-shadow: 10px -10px 0px 200px #FFFFFF;
          display: block;
          width: 200%;
          height: 200%;
          position: absolute;
          border-radius: 50%; }
      .top__product .tag-prds__mains > .nav a .after-shadow-2 {
        position: absolute;
        right: -20px;
        top: 0;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 20px;
        height: 20px; }
        .top__product .tag-prds__mains > .nav a .after-shadow-2:before {
          content: "";
          top: 0;
          left: 0;
          -webkit-box-shadow: -10px 10px 0px 200px #FFFFFF;
          box-shadow: -10px 10px 0px 200px #FFFFFF;
          display: block;
          width: 200%;
          height: 200%;
          position: absolute;
          border-radius: 50%; }
      .top__product .tag-prds__mains > .nav a:hover:not(.active) {
        text-decoration: none; }
        .top__product .tag-prds__mains > .nav a:hover:not(.active) > p {
          color: #026AB3; }
        .top__product .tag-prds__mains > .nav a:hover:not(.active) .titles-prds__tags {
          color: #026AB3; }
      .top__product .tag-prds__mains > .nav a:nth-child(1) .after-shadow-1 {
        display: none !important; }
      .top__product .tag-prds__mains > .nav a:nth-child(3) .after-shadow-2 {
        display: none !important; }
    .top__product .tag-prds__mains > .nav .titles-prds__tags {
      margin-bottom: 5px;
      font-family: "Roboto-Bold", sans-serif;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      color: #333333;
      line-height: 21px; }
  .top__product .before-tag__prds {
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .top__product .nav-links-2.active ~ #prds-mains-tag-3-tab {
    border-bottom-right-radius: 20px !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .top__product .nav-links-3.active ~ .nav-links-2 {
    border-bottom-right-radius: 20px !important;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .top__product .nav-links-1.active ~ .nav-links-2 {
    border-bottom-left-radius: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .top__product .nav-links-2.active ~ .nav-links-3 {
    border-bottom-left-radius: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .top__product .nav-links-2.active ~ .nav-links-1 {
    border-bottom-right-radius: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .top__product .list-prds__tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px -10px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0; }
    .top__product .list-prds__tags li {
      padding: 0px 10px;
      width: 22%;
      max-width: 220px; }
      .top__product .list-prds__tags li .items-prds__tags {
        margin-bottom: 30px; }
  .top__product .box-prds__tags {
    padding: 10px; }
  .top__product .see-prds__tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 10px;
    color: #FFFFFF;
    border: solid 1px transparent;
    padding: 0px; }
    .top__product .see-prds__tags:hover, .top__product .see-prds__tags:focus {
      color: #FFFFFF;
      border-bottom: solid 1px #FFFFFF; }

.products-mains {
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 20px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px; }

.tops-products__mains {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .tops-products__mains:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #0787E1; }
  .tops-products__mains .nav-groups__products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0; }
    .tops-products__mains .nav-groups__products li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .tops-products__mains .nav-groups__products li:not(:last-child):after {
        content: "";
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        width: 1px;
        height: 20px;
        margin: 0px 15px;
        background-color: #B3B3B3; }
      .tops-products__mains .nav-groups__products li a {
        font-size: 14px;
        color: #333333; }
        .tops-products__mains .nav-groups__products li a:hover, .tops-products__mains .nav-groups__products li a:focus {
          color: #0787E1; }
  .tops-products__mains .title-products__mains {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .tops-products__mains .title-products__mains .title-ins__tops {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      padding: 10px 15px;
      position: relative;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #0787E1;
      font-size: 18px;
      font-family: 'Roboto-Medium';
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 0; }
      .tops-products__mains .title-products__mains .title-ins__tops:after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        max-width: 1200px;
        width: -webkit-calc(100vw - 30px);
        width: -moz-calc(100vw - 30px);
        width: calc(100vw - 30px);
        height: 2px;
        background-color: #0787E1; }
    .tops-products__mains .title-products__mains:after {
      content: "";
      width: 42px;
      height: 50px;
      background: url(../../images/bg-before-prds-title.png) no-repeat center;
      background-size: 100% 100%;
      -webkit-transform: translateX(-2px);
      -moz-transform: translateX(-2px);
      -ms-transform: translateX(-2px);
      transform: translateX(-2px); }
  .tops-products__mains .btn-products__tops {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    color: #0787E1; }
  .tops-products__mains .right-tops__products {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px; }

.content-products__mains {
  padding: 20px 10px; }

/**.items-prds__tags {
    background-color: #FFFFFF;
    .img-prds__tags {
        >a {
            position: relative;
            display: flex;
            height: 1px;
            padding-top: 100%;
            width: 100%;
            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .intros-prds__tags {
        background-color: #F9F9F9;
        background: #F9F9F9;
        border-radius: 2px;
        padding: 10px;
        .names-prds__tags {
            display: flex;
            font-size: 14px;
            color: #1A1A1A;
            margin-bottom: 15px;
            &:hover,
            &:focus {
                color: #0787E1;
            }
        }
        .price-prds__tags {
            display: flex;
            margin-bottom: 10px;
            .price-sale__items {
                text-decoration: line-through;
                margin-right: 10px;
                color: #4D4D4D;
            }
            .number-sale__items {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 4px;
                background: #EDF0F3;
                border-radius: 50px;
                font-size: 12px;
                min-height: 20px;
            }
        }
        .price-itemss {
            font-size: 18px;
            font-family: 'Roboto-Medium';
            margin-bottom: 15px;
        }
        .groups-btn__itemss {
            display: flex;
            justify-content: space-between;
        }
        .status-items__items {
            display: flex;
            padding: 5px 10px;
            border-radius: 1000px;
            background-color: #EDF0F3;
            font-size: 13px;
        }
        .text-greens {
            color: #00A459;
        }
        .btn-carts__prds {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 12px;
            background: #EDF0F3;
            border-radius: 1000px;
            &:hover,
            &:focus {
                background-color: #000000;
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}*/
.slide-prds__mains {
  position: relative; }
  .slide-prds__mains .swiper-button-prev,
  .slide-prds__mains .swiper-button-next {
    opacity: 0;
    visibility: hidden; }
  .slide-prds__mains .group-btns__showss {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 1px;
    width: 100%;
    z-index: 10;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-24px);
    -moz-transform: translateY(-24px);
    -ms-transform: translateY(-24px);
    transform: translateY(-24px); }
    .slide-prds__mains .group-btns__showss .showss-button-prev,
    .slide-prds__mains .group-btns__showss .showss-button-next {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      position: relative;
      width: auto;
      height: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      padding: 3px;
      font-size: 24px;
      color: #000000;
      width: 38px;
      height: 48px;
      background: #EFEFEF;
      border-radius: 2px; }
      .slide-prds__mains .group-btns__showss .showss-button-prev img,
      .slide-prds__mains .group-btns__showss .showss-button-next img {
        width: 100%;
        height: 100%;
        -o-object-fit: scale-down;
        object-fit: scale-down; }
      .slide-prds__mains .group-btns__showss .showss-button-prev:hover, .slide-prds__mains .group-btns__showss .showss-button-prev:focus,
      .slide-prds__mains .group-btns__showss .showss-button-next:hover,
      .slide-prds__mains .group-btns__showss .showss-button-next:focus {
        background-color: #0787E1;
        color: #FFFFFF; }
    .slide-prds__mains .group-btns__showss .showss-button-prev {
      left: -10px; }
    .slide-prds__mains .group-btns__showss .showss-button-next {
      right: -10px; }

@media (max-width: 1199.98px) {
  .top__product .items-prds__tags .intros-prds__tags .names-prds__tags {
    margin-bottom: 10px; }
  .top__product .list-prds__tags li {
    width: 25%; }
  .top__product .tag-prds__mains > .nav a {
    padding: 20px 10px; } }

@media (max-width: 767.98px) {
  .top__product .list-prds__tags li {
    max-width: 50%;
    width: 50%; } }

@media (max-width: 479.98px) {
  .top__product .list-prds__tags {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .top__product .list-prds__tags li {
      max-width: 80%;
      width: 80%; } }

@media (min-width: 230px) {
  .banner {
    margin-bottom: 30px;
    margin-top: 5px; }
    .banner .banner__group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .banner .banner__group .category__product {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        background-color: #fff; }
        .banner .banner__group .category__product .category__product-item {
          margin-bottom: 10px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%; }
          .banner .banner__group .category__product .category__product-item:last-child {
            margin-bottom: 0; }
          .banner .banner__group .category__product .category__product-item img {
            width: 20px;
            height: 20px;
            margin-right: 20px; }
          .banner .banner__group .category__product .category__product-item p {
            font-family: "Roboto-Medium", sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-transform: capitalize;
            color: #333333;
            margin-bottom: 0; }
      .banner .banner__group .banner__product-group .textwidget > p {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 6px; }
        .banner .banner__group .banner__product-group .banner__product-item {
          position: relative;
          display: block;
          padding-top: 63.94558%;
          overflow: hidden; }
          .banner .banner__group .banner__product-group .banner__product-item:first-child {
            padding-top: 64.64646%;
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-column: 1/span 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;
            grid-row: 1/span 2; }
          .banner .banner__group .banner__product-group .banner__product-item:hover img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s; }
          .banner .banner__group .banner__product-group .banner__product-item img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s; }
  .hot__news {
    margin-top: 30px;
    margin-bottom: 30px; }
    .hot__news .hot__news-group {
      background-color: #fff; }
      .hot__news .hot__news-group .hot__news-title {
        font-family: "Roboto-Medium", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        text-transform: uppercase;
        color: #0766DA;
        padding-top: 14px;
        padding-bottom: 17px;
        position: relative;
        margin-bottom: 20px; }
        .hot__news .hot__news-group .hot__news-title::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 10px;
          width: 122px;
          background-color: #0787E1;
          -webkit-clip-path: path("M59.3496 0H11.581C8.70212 0 6.04527 1.54681 4.62396 4.05035L2.06831 8.55194C1.64576 9.29623 0.855881 9.7561 0 9.7561H59.3496H61.7886H122C121.144 9.7561 120.354 9.29623 119.932 8.55194L117.376 4.05035C115.955 1.54681 113.298 0 110.419 0H61.7886H59.3496Z");
          clip-path: path("M59.3496 0H11.581C8.70212 0 6.04527 1.54681 4.62396 4.05035L2.06831 8.55194C1.64576 9.29623 0.855881 9.7561 0 9.7561H59.3496H61.7886H122C121.144 9.7561 120.354 9.29623 119.932 8.55194L117.376 4.05035C115.955 1.54681 113.298 0 110.419 0H61.7886H59.3496Z"); }
        .hot__news .hot__news-group .hot__news-title::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 2px;
          width: 100%;
          background-color: #0787E1; }
      .hot__news .hot__news-group .hot__news-box {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px; }
        .hot__news .hot__news-group .hot__news-box .hot__news-item {
          position: relative;
          display: block; }
          .hot__news .hot__news-group .hot__news-box .hot__news-item:first-child .frame {
            padding-top: 65.98291%; }
            .hot__news .hot__news-group .hot__news-box .hot__news-item:first-child .frame::before {
              top: 55%;
              background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
              background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
              background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
              background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%); }
          .hot__news .hot__news-group .hot__news-box .hot__news-item:first-child p {
            left: 20px;
            right: 20px;
            font-size: 18px;
            line-height: 24px;
            max-height: -webkit-calc(28px * 3);
            max-height: -moz-calc(28px * 3);
            max-height: calc(28px * 3); }
          .hot__news .hot__news-group .hot__news-box .hot__news-item:hover .frame::before {
            top: 0;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s; }
          .hot__news .hot__news-group .hot__news-box .hot__news-item:hover .frame img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s; }
          .hot__news .hot__news-group .hot__news-box .hot__news-item .frame {
            padding-top: 65.50523%; }
            .hot__news .hot__news-group .hot__news-box .hot__news-item .frame::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              top: 40%;
              background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
              background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
              background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
              background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
              -webkit-transition: all 0.3s;
              -o-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s;
              z-index: 2; }
            .hot__news .hot__news-group .hot__news-box .hot__news-item .frame img {
              -webkit-transition: all 0.3s;
              -o-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s;
              z-index: 1; }
          .hot__news .hot__news-group .hot__news-box .hot__news-item p {
            position: absolute;
            bottom: 20px;
            left: 12px;
            right: 17px;
            font-family: "Roboto-Medium", sans-serif;
            font-weight: 500;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 0;
            z-index: 3;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            max-height: -webkit-calc(19px * 3);
            max-height: -moz-calc(19px * 3);
            max-height: calc(19px * 3);
            display: -webkit-box;
            -webkit-box-orient: vertical; } }

@media (min-width: 480px) {
  .banner .banner__group .category__product .category__product-item {
    max-width: -webkit-calc(50% - 10px);
    max-width: -moz-calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 5px; }
  .hot__news .hot__news-group .hot__news-box {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
    .hot__news .hot__news-group .hot__news-box .hot__news-item:first-child {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/span 2; } }

@media (min-width: 768px) {
  .banner {
    margin-top: 0; }
    .banner .banner__group .category__product {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -moz-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      max-width: 25%;
      -webkit-box-ordinal-group: unset;
      -webkit-order: unset;
      -moz-box-ordinal-group: unset;
      -ms-flex-order: unset;
      order: unset;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 0;
      margin-right: 6px; }
      .banner .banner__group .category__product .category__product-item {
        max-width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content; }
    .banner .banner__group .banner__product-group {
      width: 100%;
      max-width: -webkit-calc(75% - 6px);
      max-width: -moz-calc(75% - 6px);
      max-width: calc(75% - 6px);
      margin-top: 6px;
      -webkit-box-ordinal-group: unset;
      -webkit-order: unset;
      -moz-box-ordinal-group: unset;
      -ms-flex-order: unset;
      order: unset; }
  .hot__news .hot__news-group .hot__news-box {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 32px; }
    .hot__news .hot__news-group .hot__news-box .hot__news-item:first-child {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/span 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1/span 2; }
      .hot__news .hot__news-group .hot__news-box .hot__news-item:first-child p {
        font-size: 24px;
        line-height: 32px;
        max-height: -webkit-calc(32px * 3);
        max-height: -moz-calc(32px * 3);
        max-height: calc(32px * 3); } }

@media (min-width: 992px) {
  .banner .banner__group .category__product .category__product-item {
    margin: 10px; } }
