@media (min-width: 230px) {
  .page__policy-guide {
    margin-bottom: 30px; }
    .page__policy-guide .module__policy-guide .sidebar__policy-guide {
      background-color: #fff;
      height: 100%;
      margin-bottom: 30px; }
      .page__policy-guide .module__policy-guide .sidebar__policy-guide h2 {
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1A1A1A;
        padding: 12px 20px;
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 0; }
      .page__policy-guide .module__policy-guide .sidebar__policy-guide .policy__guide-group {
        padding: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .page__policy-guide .module__policy-guide .sidebar__policy-guide .policy__guide-group .policy__guide-item {
          font-size: 14px;
          line-height: 16px;
          color: #4D4D4D;
          display: block;
          width: 100%;
          margin: 10px; }
          .page__policy-guide .module__policy-guide .sidebar__policy-guide .policy__guide-group .policy__guide-item.active {
            font-family: "Roboto-Bold", sans-serif;
            font-weight: bold;
            color: #0F629A; }
    .page__policy-guide .module__policy-guide .policy__guide-content {
      background-color: #fff; }
      .page__policy-guide .module__policy-guide .policy__guide-content .policy__guide-title {
        font-family: "Roboto-Medium", sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #262B30;
        padding: 24px;
        border-bottom: 1px solid #E9EEEF;
        margin-bottom: 0; }
      .page__policy-guide .module__policy-guide .policy__guide-content .content__global {
        padding: 10px; }
        .page__policy-guide .module__policy-guide .policy__guide-content .content__global p {
          font-size: 14px;
          line-height: 26px;
          color: #262B30;
          margin-bottom: 0; }
          .page__policy-guide .module__policy-guide .policy__guide-content .content__global p b {
            font-family: "Roboto-Bold", sans-serif;
            font-weight: 700; }
        .page__policy-guide .module__policy-guide .policy__guide-content .content__global h2 {
          font-family: "Roboto-Bold", sans-serif;
          font-weight: bold;
          font-size: 22px;
          line-height: 24px;
          color: #1A1A1A;
          margin-bottom: 18px; }
        .page__policy-guide .module__policy-guide .policy__guide-content .content__global img {
          display: block;
          max-width: 100%;
          margin: 25px auto; } }

@media (min-width: 768px) {
  .page__policy-guide .module__policy-guide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .page__policy-guide .module__policy-guide .sidebar__policy-guide {
      max-width: 30%;
      width: 100%;
      margin-right: 30px; }
    .page__policy-guide .module__policy-guide .policy__guide-content {
      max-width: -webkit-calc(70% - 30px);
      max-width: -moz-calc(70% - 30px);
      max-width: calc(70% - 30px);
      width: 100%; }
      .page__policy-guide .module__policy-guide .policy__guide-content .content__global {
        padding: 20px 24px 30px; } }

@media (min-width: 992px) {
  .page__policy-guide {
    margin-bottom: 50px; }
    .page__policy-guide .module__policy-guide .sidebar__policy-guide {
      max-width: unset;
      width: 278px; }
    .page__policy-guide .module__policy-guide .policy__guide-content {
      max-width: unset;
      width: -webkit-calc(100% - 308px);
      width: -moz-calc(100% - 308px);
      width: calc(100% - 308px); } }

@media (min-width: 1200px) {
  .page__policy-guide {
    margin-bottom: 60px; } }
