body:not(.home) #footer {
  border-top: 1px solid #cacaca50;
}
#footer {
  position: relative;
  background-color: $stm_base_color;
  .widgets_row {
    padding-top: 42px;
    padding-bottom: 42px;
    position: relative;
    .footer_logo {
      position: relative;
      margin: 0 0 35px;
      padding: 20px 0 0;
      a {
        display: inline-block;
        vertical-align: top;
        img {
          display: block;
          height: 45px;
          width: auto;
        }
      }
    }
    .footer_text {
      color: rgba(255,255,255, 0.5);
      margin: 0 0 30px;
      p{
        margin: 0;
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
  .copyright_row {
    position: relative;
    background: #fff;
    &.widgets_disabled{
      .copyright_row_wr{
        border-top: none;
      }
    }
    .copyright_row_wr {
      padding: 14px 0;
      border-top: 0;
      @include cleaner();
      .socials{
        position: relative;
        float: right;
        width: 50%;
        padding-top: 10px;
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          float: right;
          @include cleaner();
          li{
            float: left;
            margin: 0 0 8px 8px;
            a{
              display: block;
              width: 24px;
              height: 24px;
              @include border-radius(32px);
              color: $stm_base_color;
              background: #ffffff;
              text-align: center;
              font-size: 14px;
              text-decoration: none !important;
              @include transition();
              i{
                line-height: 24px;
                &.fa-vimeo{
                  font-size: 11px;
                }
                &.stm-google-plus{
                  font-size: 10px;
                }
              }
              &:hover{
                background: $stm_secondary_color;
                color: #fff;
              }
              &.social-facebook:hover{
                background: #3a5897;
              }
              &.social-twitter:hover{
                background: #00aced;
              }
              &.social-instagram:hover{
                background: #ac907a;
              }
              &.social-google-plus:hover{
                background: #db4437;
              }
              &.social-vimeo:hover{
                background: #44bbff;
              }
              &.social-linkedin:hover{
                background: #0077b5;
              }
              &.social-behance:hover{
                background: #1769ff;
              }
              &.social-dribbble:hover{
                background: #ec4989;
              }
              &.social-flickr:hover{
                background: #128fdc;
              }
              &.social-github:hover{
                background: #fff;
                color: #333333;
              }
              &.social-pinterest:hover{
                background: #cb2027;
              }
              &.social-yahoo:hover{
                background: #500095;
              }
              &.social-delicious:hover{
                background: #3399ff;
              }
              &.social-dropbox:hover{
                background: #1081de;
              }
              &.social-reddit:hover{
                background: #ff4500;
              }
              &.social-soundcloud:hover{
                background: #ff6600;
              }
              &.social-google:hover{
                background: #4285f4;
              }
              &.social-skype:hover{
                background: #00aff0;
              }
              &.social-youtube:hover{
                background: #cc181e;
              }
              &.social-tumblr:hover{
                background: #529ecc;
              }
              &.social-vk:hover{
                background: #49739f;
              }
              &.social-odnoklassniki:hover{
                background: #f58220;
              }
              &.social-whatsapp:hover{
                background: #4cda64;
              }
            }
          }
        }
      }
      .copyright{
        display: block;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        padding: 10px 0 14px;
        a{
          color: $stm_secondary_color !important;
          &:hover {
            text-decoration: underline;
            color: $stm_third_color;
          }
        }
      }
    }
  }
  &.style_2 {
    .copyright_row {
      .copyright_row_wr {
        .copyright {
          width: 100%;
          float: none;
          text-align: center;
        }
      }
    }
    .widget_text {
      p{
        color: rgba(255,255,255, 0.7) !important;
      }
      a {
        color: rgba($stm_secondary_color, 0.7);
        @include transition(opacity);
        &:hover {
          color: $stm_secondary_color;
        }
      }
    }
    .socials {
      margin-bottom: 0;
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        @include cleaner;
        li {
          float: left;
          &:not(:last-child) {
            margin-right: 18px;
          }
          a {
            display: block;
            width: 18px;
            font-size: 14px;
            line-height: 32px;
            border-radius: 50%;
            background: transparent;
            color: #fff !important;
            @include transition(opacity);

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
    .widgets_row {
      .footer_text {
        margin-bottom: 0;
      }
    }
    .footer_widgets {
      .widget {
        margin-bottom: 26px;
        &#text-5{
          margin-bottom: 32px;
        }
        .widget_title {
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 30px;
          border-bottom: 1px solid rgba(255,255,255, 0.5);
          letter-spacing: -1px;
          padding-top: 20px;
        }
      }
    }
  }
}

#footer {
  .copyright_row.border-top-hide {
    &.widgets_disabled .copyright_row_wr,
    .copyright_row_wr {
      border-top: none;
    }
  }
}