.mtop10 {
    margin-top: 10px !important
}

.mtop20 {
    margin-top: 20px !important
}

.mtop40 {
    margin-top: 40px !important
}

.mright5 {
    margin-right: 5px !important
}

.mright20 {
    margin-right: 20px !important
}

.padleft10 {
    padding-left: 10px !important
}

.padleft20 {
    padding-left: 20px !important
}

.padtb5 {
    padding: 5px 0 !important;
}

.padtb20 {
    padding: 20px 0 !important    
}

.padtb2per {
    padding: 2% 0 !important
}

.pad5 {
    padding: 5px !important
}

.pad10 {
    padding: 10px !important;
}

.pad15 {
    padding: 15px !important;
}

.padlr5 {
    padding: 0 5px !important
}

// split-columns
.split-columns { 

    // item-layout 
    & .item-layout {
        margin: 0 2% 2% 0;
        float: left;
    }
    // #item-layout
}
// #split-columns    

@media (min-width: 920px) {

    .shown-lap {
        display: block;
    }

    .shown-mb {
        display: none;
    }
   
}

@media (max-width: 920px) {

    .shown-lap {
        display: none;
    }

     .shown-mb {
        display: block;
    }    
    
}

@media (max-width: 975px) {

     #header {       

        & .contact {
            display: none;
        }

    }

}

@media (min-width: 768px) and (max-width: 975px) { 

    #header {

        & .shoppingcart {

            clear: both;
            float: none !important;
            margin: auto !important;
            display: table;

        }      

    }

}

@media (max-width: 992px) { 

    .container {
        width: 100%;
        padding: 0 10px !important;
    }  
    
}

@media (min-width: 1200px) {   
   

    // five-columns-layout
    .five-columns-layout {

        // item-layout 
        & .item-layout {

            &.col-md-2 {
                width: 18.4%;
            }

            &:nth-child(5n+5) {
                margin-right: 0;
            }

            &:nth-child(5n+6) {
                clear: both;
            }

            &:nth-last-child(-n+5) {
                margin-bottom: 0;
            }
                        
        }
        // #item-layout 

    }
    // #five-columns-layout   

}

@media (max-width: 1200px) {

    #menu {

        & li {

            & a {

                padding: 20px !important

            }

        }

     }

}


@media (min-width: 992px) and (max-width: 1200px) {

    // five-columns-layout
    .five-columns-layout {

        // item-layout 
        & .item-layout {

            &.col-md-2 {
                width: 23.5%;
            }

            &:nth-child(4n+4) {
                margin-right: 0;
            }

            &:nth-child(4n+5) {
                clear: both;
            }

            &:nth-last-child(-n+4) {
                margin-bottom: 0;
            }
                        
        }
        // #item-layout 

    }
    // #five-columns-layout   
}

@media (min-width: 992px) {

    .mtop20-md {
        margin-top: 20px !important
    }

    .mtop60-md {
        margin-top: 60px !important
    }

    .padtop55-md {
        padding-top: 55px !important
    }

    .padleft10-md {
        padding-left: 10px !important
    }

    .padright10-md {
        padding-right: 10px !important
    }

    .padleft20-md {
        padding-left: 20px !important
    }  

    // three-columns-layout
    .three-columns-layout {

        &.--last-vcenter {

            // item-layout 
            & .item-layout:last-child {

                &.col-md-6 {

                    display: table !important;
                    float: none !important;
                    margin-left: auto !important;
                    margin-right: auto !important;

                }
                            
            }
            // #item-layout 

        }

        // item-layout 
        & .item-layout {

            &.col-md-6 {
                width: 49%;

                &:nth-child(2n+2) {
                    margin-right: 0;
                }

                &:nth-child(2n+3) {
                    clear: both;
                }

                &:nth-last-child(-n+2) {
                    margin-bottom: 0;
                }
            }          

            &.col-md-4 {
                width: 32%;

                &:nth-child(3n+3) {
                    margin-right: 0;
                }

                &:nth-child(3n+4) {
                    clear: both;
                }

                &:nth-last-child(-n+3) {
                    margin-bottom: 0;
                }
            }            
                        
        }
        // #item-layout 

    }
    // #four-columns-layout  

    // four-columns-layout
    .four-columns-layout {

        // item-layout 
        & .item-layout {

            &.col-md-3 {
                width: 23.5%;
            }

            &:nth-child(4n+4) {
                margin-right: 0;
            }

            &:nth-child(4n+5) {
                clear: both;
            }

            &:nth-last-child(-n+4) {
                margin-bottom: 0;
            }
                        
        }
        // #item-layout 

    }
    // #four-columns-layout 

    // main-columns-layout
    .main-columns-layout {

        & .col-md-8 {
            width: 73%;
        }

    }
    // #main-columns-layout
}

@media (min-width: 768px) and (max-width: 992px) { 

    .mtop10-sm {
        margin-top: 10px !important;
    }

    .padleft10-sm {
        padding-left: 10px !important
    }   

    .padright10-sm {
        padding-right: 10px !important
    }

    .padleft20-sm {
        padding-left: 20px !important
    } 

    .mtop20-sm {
        margin-top: 20px !important
    }

    // main-columns-layout
    .main-columns-layout {

        & .col-sm-8 {
            width: 73%;
        }

    }
    // #main-columns-layout

    // three-columns-layout
    .three-columns-layout {

        &.--last-vcenter {

            // item-layout 
            & .item-layout:last-child {

                &.col-sm-6 {

                    display: table !important;
                    float: none !important;
                    margin-left: auto !important;
                    margin-right: auto !important;

                }
                            
            }
            // #item-layout 

        }

        // item-layout 
        & .item-layout {

            &.col-sm-6 {
                width: 49%;
            }

            &:nth-child(2n+2) {
                margin-right: 0;
            }

            &:nth-child(2n+3) {
                clear: both;
            }

            &:nth-last-child(-n+2) {
                margin-bottom: 0;
            }
                        
        }
        // #item-layout 

    }
    // #four-columns-layout  

    // four-columns-layout
    .four-columns-layout {

        // item-layout 
        & .item-layout {

            &.col-sm-4 {
                width: 32%;

                &:nth-child(3n+3) {
                    margin-right: 0;
                }

                &:nth-child(3n+4) {
                    clear: both;
                }

                &:nth-last-child(-n+3) {
                    margin-bottom: 0;
                }
            }

            &.col-sm-6 {
                width: 49%;

                &:nth-child(2n+2) {
                    margin-right: 0;
                }

                &:nth-child(2n+3) {
                    clear: both;
                }

                &:nth-last-child(-n+2) {
                    margin-bottom: 0;
                }
            }
           
                        
        }
        // #item-layout 

    }
    // #four-columns-layout 

    // five-columns-layout
    .five-columns-layout {

        // item-layout 
        & .item-layout {

            &.col-sm-4 {
                width: 32%;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }

            &:nth-child(3n+4) {
                clear: both;
            }

            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
                        
        }
        // #item-layout 

    }
    // #five-columns-layout      

    .vcenter-sm {
        float: none !important;
        display: table !important;
        margin: auto !important;
        clear: both;
    }   
}

@media (max-width: 780px) { 

    #header {

        & .slogun {

            & h1 {

                font-size: 23px !important;

            }

        }

    }
}

@media (min-width: 768px) {

    .tright-ms {
        text-align: right !important;
    }

    .padleft20-ms {
        padding-left: 20px !important;
    }

    .padleft40-ms {
        padding-left: 40px !important;
    }

    .padtb10-ms {
        padding: 10px 0 !important
    }

    .padtb20-ms {
        padding: 20px 0 !important
    }

    // m-menu
    .m-menu {

        position: relative;
        padding: 10px 0 !important;

        & .m-menuicon {

            color: #fff;
            font-size: 18px;            
            margin: auto;
            display: table;

            & span {             
                box-shadow: 0 0 5px #fff;
                -webkit-box-shadow: 0 0 5px #fff;
                padding: 5px;
                margin: 0 10px 0 0;                
            }
        }

        & ul {
            position: absolute;          
            width: 300px;            
            top: 60px;
            left: calc(50% - 86px);
           
        }

    }
    // .m-menu 

     // pboxlist 
    .pboxlist {

        // listcat
        &.--listcat {

            & li {

                &:hover {

                    background-color: #0c6f45;                    

                    &, & a {
                        color: #fff;
                    }

                    & > ul {

                        opacity: 1;
                        z-index: 1000;

                    }

                }

                & ul {
                    position: absolute;
                    background-color: #0c6f45;
                    -webkit-transition: all .2s;
                    -moz-transition: all .2s;
                    -o-transition: all .2s;
                    -ms-transition: all .2s;
                    width: 200px;
                    left: 100%;
                    top: 0;
                    opacity: 0;  
                    z-index: -1; 

                    & li {                                    

                        &, & a {
                            color: #fff;
                        }

                        &:hover {

                            &, & a {
                                color: #fbf304;
                            }

                        }

                    }           
                }

            }
            
        }
        // #listcat

    }
    // #pboxlist    
   
}

@media (max-width: 768px) { 

    .cushidden-xs {
        display: none !important;
    }

    .tcenter-xs {
        text-align: center !important;
    }

    %maxwidth768_split_two_layout {

        &:nth-child(2n+2) {
            margin-right: 0;
        }

        &:nth-child(2n+3) {
            clear: both;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }   

    .mtop10-xs {
        margin-top: 10px !important;
    }

    .mtop20-xs {
        margin-top: 20px !important;
    }
   
    .padtop20-xs {
        padding-top: 20px !important
    }

    .padtb10-xs {
        padding: 10px 0 !important;
    }

    .padtb5-xs {
        padding: 5px 0 !important
    }   


    .vcenter-xs {
        float: none !important;
        display: table !important;
        margin: auto !important;
    }    

    .logo {

        & img {
            max-height: 50px;
        }

    }

    // header
    #header {

        & .shoppingcart {

            position: absolute;
            right: 100px;

            & .caption {
                font-size: 20px !important;
            }

        }

    }    
    // #header

    // m-menu
    .m-menu {

        padding: 10px 0 !important;
       
        & .m-menuicon {

            position: absolute;
            right: 10px;           
            top: 0;
            padding: 5px;            
            color: #048a41; 
            font-size: 0;           

            & span {             
                box-shadow: 0 0 5px #048a41;
                -webkit-box-shadow: 0 0 5px #048a41;
                font-size: 22px;
                padding: 5px;                          
            }
        }

        & ul {
            position: absolute;
            left: 0;
            top: 60px;
            width: 100%;           
           
        }
       

    }
    // .m-menu    

    // split-columns 
    .split-columns  {

        &.--last-vcenter {

            // item-layout 
            & .item-layout:last-child {

                &.col-xs-6 {

                    display: table !important;
                    float: none !important;
                    margin-left: auto !important;
                    margin-right: auto !important;

                }
                            
            }
            // #item-layout 

        }

        // item-layout 
        & .item-layout {

            @extend %maxwidth768_split_two_layout;

            &.col-xs-6 {
                width: 49%;
                margin-top: 0 !important;
            }            
                        
        }
        // #item-layout 

    }
    // #split-columns 

}

@media (max-width: 380px) {

    // header
    #header {

        & .shoppingcart {            
            right: 70px;     

        }

    }    
    // #header

}