<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quang Thái Homestay</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap" rel="stylesheet">
        <link href="/quangthaihomestay/css/bootstrap.min.css" rel="stylesheet">

        <link href="/quangthaihomestay/css/font-awesome.min.css" rel="stylesheet">
        <link href="/quangthaihomestay/css/dist/layout.css" rel="tylesheet">        
        <link href="/quangthaihomestay/css/dist/style.css" rel="stylesheet">
      
    </head>
    <body>
s
        <div id="page-404" class="flex-layout flex-align-center flex-justify-center">
            <div class="wrapper flex-layout flex-justify-center flex-direction-column flex-align-center">
                <h1>404</h1>
                <h2>Không tìm thấy trang !</h2>
                <p>Trang đã bị xóa hoặc địa chỉ URL không đúng</p>
                <a href="/quangthaihomestay/" class="qt-button btnBackToHome" title="Quay về trang chủ">Quay về trang chủ</a>
            </div>
        </div>

     
    </body>
    
</html>