<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Quang Thái Homestay</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="/quangthaihomestay/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="/quangthaihomestay/jquery-ui/jquery-ui.css">

        <link href="/quangthaihomestay/css/font-awesome.min.css" rel="stylesheet">
        <link href="/quangthaihomestay/css/dist/layout.css" rel="stylesheet">        
        <link href="/quangthaihomestay/css/dist/style.css" rel="stylesheet">
            
        <!-- bxslider -->
        <link rel="stylesheet" href="/quangthaihomestay/bxslider/jquery.bxslider.min.css" type="text/css" />
        
        <!-- #bxslider -->

        

      
    </head>
    <body>
        <header id="header">
            <div class="header-top hidden-xs">
                <div class="container">
                    <div id="logo" class="flex-layout flex-justify-center">
                        <a title="logo" href="/quangthaihomestay/"><img src="/quangthaihomestay/images/logo.png" alt="logo" /></a>
                    </div>
                </div>
            </div>
            <div class="header-secondary nomargin-xs relative">
                <div class="container">
                    <div class="header-wrapper __xs pad10-xs relative">
                        <div id="mobile-logo" class="hidden-md hidden-sm">
                            <a title="logo" href="/quangthaihomestay/"><img src="/quangthaihomestay/images/logo.png" alt="logo" /></a>
                        </div>
                        <div id="main-menu">
                            <ul class="flex-layout flex-justify-space-between">
                                <li>
                                    <a title="VỀ CHÚNG TÔI" href="/quangthaihomestay/ve-chung-toi-page.html">VỀ CHÚNG TÔI</a>
                                </li>
                                <li class="has-childrens">
                                    <a title="PHÒNG NGHỈ" href="/quangthaihomestay/phong-nghi-page.html">PHÒNG NGHỈ</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="PREMIER CITY VIEW" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">PREMIER CITY VIEW</a>
                                        </li>
                                        <li>
                                            <a title="EXECUTIVE" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">EXECUTIVE</a>
                                        </li>
                                        <li>
                                            <a title="LIBERTY CENTRAL SUITE" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">LIBERTY CENTRAL SUITE</a>
                                        </li>
                                        <li>
                                            <a title="SIGNATURE CITY VIEW" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">SIGNATURE CITY VIEW</a>
                                        </li>
                                    </ul>
                                    
                                </li>
        
                                <li>
                                    <a title="NHÀ HÀNG" href="/quangthaihomestay/nha-hang-page.html">NHÀ HÀNG</a>
                                </li>
                                <li class="has-childrens">
                                    <a title="ẨM THỰC" href="/quangthaihomestay/am-thuc-page.html">ẨM THỰC</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="KHAI VỊ" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">KHAI VỊ</a>
                                        </li>
                                        <li>
                                            <a title="HẢI SẢN" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">HẢI SẢN</a>
                                        </li>
                                        <li>
                                            <a title="CÁC MÓN ĐỒNG QUÊ" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">CÁC MÓN ĐỒNG QUÊ</a>
                                        </li>
                                        <li>
                                            <a title="RAU BỐN MÙA" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">RAU BỐN MÙA</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="TIN TỨC" href="/quangthaihomestay/tin-tuc-page.html">TIN TỨC</a>
                                </li>
                                <li class="has-childrens">
                                    <a title="THƯ VIỆN ẢNH" href="/quangthaihomestay/thu-vien-anh-page.html">THƯ VIỆN ẢNH</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="PHÒNG NGHỈ" href="/quangthaihomestay/thu-vien-anh-page.html">PHÒNG NGHỈ</a>
                                        </li>
                                        <li>
                                            <a title="NHÀ HÀNG" href="/quangthaihomestay/thu-vien-anh-page.html">NHÀ HÀNG</a>
                                        </li>
                                        <li>
                                            <a title="ẨM THỰC" href="/quangthaihomestay/thu-vien-anh-page.html">ẨM THỰC</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="LIÊN HỆ" href="/quangthaihomestay/lien-he-page.html">LIÊN HỆ</a>
                                </li>
                            </ul>
                            <nav class="flex-layout flex-justify-center">
                                <button>
                                    <span class="fa fa-navicon"></span>
                                </button>
                                <ul>
                                    <li>
                                        <a title="VỀ CHÚNG TÔI" href="/quangthaihomestay/ve-chung-toi-page.html">VỀ CHÚNG TÔI</a>
                                    </li>
                                    <li>
                                        <a title="PHÒNG NGHỈ" href="/quangthaihomestay/phong-nghi-page.html">PHÒNG NGHỈ</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="PREMIER CITY VIEW" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">PREMIER CITY VIEW</a>
                                            </li>
                                            <li>
                                                <a title="EXECUTIVE" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">EXECUTIVE</a>
                                            </li>
                                            <li>
                                                <a title="LIBERTY CENTRAL SUITE" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">LIBERTY CENTRAL SUITE</a>
                                            </li>
                                            <li>
                                                <a title="SIGNATURE CITY VIEW" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">SIGNATURE CITY VIEW</a>
                                            </li>
                                        </ul>
                                    </li>
            
                                    <li>
                                        <a title="NHÀ HÀNG" href="/quangthaihomestay/nha-hang-page.html">NHÀ HÀNG</a>
                                    </li>
                                    <li>
                                        <a title="ẨM THỰC" href="/quangthaihomestay/am-thuc-page.html">ẨM THỰC</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="KHAI VỊ" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">KHAI VỊ</a>
                                            </li>
                                            <li>
                                                <a title="HẢI SẢN" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">HẢI SẢN</a>
                                            </li>
                                            <li>
                                                <a title="CÁC MÓN ĐỒNG QUÊ" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">CÁC MÓN ĐỒNG QUÊ</a>
                                            </li>
                                            <li>
                                                <a title="RAU BỐN MÙA" href="/quangthaihomestay/am-thuc-chi-tiet-page.html">RAU BỐN MÙA</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a title="TIN TỨC" href="/quangthaihomestay/tin-tuc-page.html">TIN TỨC</a>
                                    </li>
                                    <li>
                                        <a title="THƯ VIỆN ẢNH" href="/quangthaihomestay/thu-vien-anh-page.html">THƯ VIỆN ẢNH</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="PHÒNG NGHỈ" href="/quangthaihomestay/thu-vien-anh-page.html">PHÒNG NGHỈ</a>
                                            </li>
                                            <li>
                                                <a title="NHÀ HÀNG" href="/quangthaihomestay/thu-vien-anh-page.html">NHÀ HÀNG</a>
                                            </li>
                                            <li>
                                                <a title="ẨM THỰC" href="/quangthaihomestay/thu-vien-anh-page.html">ẨM THỰC</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a title="LIÊN HỆ" href="/quangthaihomestay/lien-he-page.html">LIÊN HỆ</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="qt-booking qt-header-booking">
                            <a class="qt-button qt-button-default header-button-booking static-xs" href="#">Đặt vé</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="main">
            <div id="pg-banner">
                <img src="/quangthaihomestay/images/phong-nghi-bg.png" alt="phong-nghi-bg" />
            </div>
            <div id="pg-filterbar" class="pg-header pg-filterbar">

                <div class="container">

                    <div class="pg-wrapper flex-layout flex-align-center flex-justify-center">

                        <div class="qt-select-field hidden-md hidden-sm">

                            <select class="hidden-md hidden-sm">
                                <option value="1">TẤT CẢ</option>
                                <option value="2">PREMIER CITY VIEW</option>
                                <option value="3">EXRCUTIVE</option>
                                <option value="4">LIBERTY CENTRAL SUITE</option>
                                <option value="5">SIGNATURE CITY VIEW</option>
                            </select>

                        </div>

                        <ul class="qt-filterbar-list flex-layout hidden-xs">
                            <li>
                                <a class="active" title="Tất cả" href="#">Tất cả</a>
                            </li>
                            <li>
                                <a title="PREMIER CITY VIEW" href="#">PREMIER CITY VIEW</a>
                            </li>
                            <li>
                                <a title="EXRCUTIVE" href="#">EXRCUTIVE</a>
                            </li>
                            <li>
                                <a title="LIBERTY CENTRAL SUITE" href="#">LIBERTY CENTRAL SUITE</a>
                            </li>
                            <li>
                                <a title="SIGNATURE CITY VIEW" href="#">SIGNATURE CITY VIEW</a>
                            </li>

                        </ul>
                        
                    </div>

                </div>

            </div>
            <div id="pg-main" class="__section-padt70 __section-padb70 __xs-section-padt20 __xs-section-padb20">
                <div class="container">
                    <h1 class="sectionHeadingTitle __primary flex-layout flex-justify-center flex-direction-column flex-align-center">
                        <span class="__dash-heading-middle __primary">Phòng nghỉ</span>
                    </h1>
                    <div class="pg-contents __section-element-mt">

                        <div class="grid-two-columns gird-luxstay-layout">

                            <div class="element element-luxstay grid-resp-box"
                                    data-element-contents=".grid-qt-luxstay-contents"
                                    data-element-thumbnail=".thumbnail">

                                <div class="thumbnail">

                                    <a title="Premier City View" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                        <img src="/quangthaihomestay/images/lux1.png" alt="lux1" />                                        
                                    </a>

                                    <a  title="Chi tiết" class="details flex-layout flex-align-center flex-justify-center"
                                         href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">Chi tiết</a>

                                </div>

                                <div class="contents grid-qt-luxstay-contents">

                                    <div class="element-heading flex-layout flex-align-center flex-justify-space-between">

                                        <h4 class="grid-qt-luxstay-heading">

                                            <a title="Premier City View" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                                Premier City View
                                            </a>

                                        </h4>

                                        <div class="grid-qt-elem-paragraph price price-ryl">từ <span>1,160,000</span> /đêm</div>

                                    </div>

                                    <div class="element-desc ryl-mt">
                                        <p class="grid-qt-elem-paragraph">
                                            Premier City View mở rộng không gian bằng quanh cảnh phía trên cao của các tòa nhà hiện đại và những địa danh cổ kính...
                                        </p>
                                    </div>

                                    <hr />
                                    
                                    <ul class="grid-qt-bullet grid-qt-elem-paragraph ryl-mt">
                                        <li>King, Queen, Full, Double Beds</li>
                                        <li>Complimentary Wi-Fi</li>
                                        <li>HD TV</li>
                                        <li>AC / Climate Control</li>
                                    </ul>

                                    <div class="order flex-layout flex-justify-center ryl-mt">
                                        <a class="qt-button qt-button-primary btnPrimaryBooking btnOrderBooking" title="Đặt ngay" href="#">Đặt ngay</a>
                                    </div>

                                </div>
                                 
                            </div>

                            <div class="element element-luxstay grid-resp-box"
                                    data-element-contents=".grid-qt-luxstay-contents"
                                    data-element-thumbnail=".thumbnail">

                                <div class="thumbnail">

                                    <a title="Executive" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                        <img src="/quangthaihomestay/images/lux2.png" alt="lux1" />                                        
                                    </a>

                                    <a  title="Chi tiết" class="details flex-layout flex-align-center flex-justify-center"
                                         href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">Chi tiết</a>

                                </div>

                                <div class="contents grid-qt-luxstay-contents">

                                    <div class="element-heading flex-layout flex-align-center flex-justify-space-between">

                                        <h4 class="grid-qt-luxstay-heading">

                                            <a title="Executive" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                                Executive
                                            </a>

                                        </h4>

                                        <div class="grid-qt-elem-paragraph price price-ryl">từ <span>1,160,000</span> /đêm</div>

                                    </div>

                                    <div class="element-desc ryl-mt">
                                        <p class="grid-qt-elem-paragraph">
                                            Premier City View mở rộng không gian bằng quanh cảnh phía trên cao của các tòa nhà hiện đại và những địa danh cổ kính...
                                        </p>
                                    </div>

                                    <hr />
                                    
                                    <ul class="grid-qt-bullet grid-qt-elem-paragraph ryl-mt">
                                        <li>King, Queen, Full, Double Beds</li>
                                        <li>Complimentary Wi-Fi</li>
                                        <li>HD TV</li>
                                        <li>AC / Climate Control</li>
                                    </ul>

                                    <div class="order flex-layout flex-justify-center ryl-mt">
                                        <a class="qt-button qt-button-primary btnPrimaryBooking btnOrderBooking" title="Đặt ngay" href="#">Đặt ngay</a>
                                    </div>

                                </div>
                                 
                            </div>

                            <div class="element element-luxstay grid-resp-box"
                                    data-element-contents=".grid-qt-luxstay-contents"
                                    data-element-thumbnail=".thumbnail">

                                <div class="thumbnail">

                                    <a title="Premier City View" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                        <img src="/quangthaihomestay/images/lux1.png" alt="lux1" />                                       
                                    </a>

                                    <a  title="Chi tiết" class="details flex-layout flex-align-center flex-justify-center"
                                         href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">Chi tiết</a>

                                </div>

                                <div class="contents grid-qt-luxstay-contents">

                                    <div class="element-heading flex-layout flex-align-center flex-justify-space-between">

                                        <h4 class="grid-qt-luxstay-heading">

                                            <a title="Premier City View" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                                Premier City View
                                            </a>

                                        </h4>

                                        <div class="grid-qt-elem-paragraph price price-ryl">từ <span>1,160,000</span> /đêm</div>

                                    </div>

                                    <div class="element-desc ryl-mt">
                                        <p class="grid-qt-elem-paragraph">
                                            Premier City View mở rộng không gian bằng quanh cảnh phía trên cao của các tòa nhà hiện đại và những địa danh cổ kính...
                                        </p>
                                    </div>

                                    <hr />
                                    
                                    <ul class="grid-qt-bullet grid-qt-elem-paragraph ryl-mt">
                                        <li>King, Queen, Full, Double Beds</li>
                                        <li>Complimentary Wi-Fi</li>
                                        <li>HD TV</li>
                                        <li>AC / Climate Control</li>
                                    </ul>

                                    <div class="order flex-layout flex-justify-center ryl-mt">
                                        <a class="qt-button qt-button-primary btnPrimaryBooking btnOrderBooking" title="Đặt ngay" href="#">Đặt ngay</a>
                                    </div>

                                </div>
                                 
                            </div>

                            <div class="element element-luxstay grid-resp-box"
                                    data-element-contents=".grid-qt-luxstay-contents"
                                    data-element-thumbnail=".thumbnail">

                                <div class="thumbnail">

                                    <a title="Executive" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                        <img src="/quangthaihomestay/images/lux2.png" alt="lux1" />                                       
                                    </a>

                                    <a  title="Chi tiết" class="details flex-layout flex-align-center flex-justify-center"
                                         href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">Chi tiết</a>

                                </div>

                                <div class="contents grid-qt-luxstay-contents">

                                    <div class="element-heading flex-layout flex-align-center flex-justify-space-between">

                                        <h4 class="grid-qt-luxstay-heading">

                                            <a title="Executive" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                                Executive
                                            </a>

                                        </h4>

                                        <div class="grid-qt-elem-paragraph price price-ryl">từ <span>1,160,000</span> /đêm</div>

                                    </div>

                                    <div class="element-desc ryl-mt">
                                        <p class="grid-qt-elem-paragraph">
                                            Premier City View mở rộng không gian bằng quanh cảnh phía trên cao của các tòa nhà hiện đại và những địa danh cổ kính...
                                        </p>
                                    </div>

                                    <hr />
                                    
                                    <ul class="grid-qt-bullet grid-qt-elem-paragraph ryl-mt">
                                        <li>King, Queen, Full, Double Beds</li>
                                        <li>Complimentary Wi-Fi</li>
                                        <li>HD TV</li>
                                        <li>AC / Climate Control</li>
                                    </ul>

                                    <div class="order flex-layout flex-justify-center ryl-mt">
                                        <a class="qt-button qt-button-primary btnPrimaryBooking btnOrderBooking" title="Đặt ngay" href="#">Đặt ngay</a>
                                    </div>

                                </div>
                                 
                            </div>

                            <div class="element element-luxstay grid-resp-box"
                                    data-element-contents=".grid-qt-luxstay-contents"
                                    data-element-thumbnail=".thumbnail">

                                <div class="thumbnail">

                                    <a title="Premier City View" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                        <img src="/quangthaihomestay/images/lux1.png" alt="lux1" />                                        
                                    </a>

                                    <a  title="Chi tiết" class="details flex-layout flex-align-center flex-justify-center"
                                         href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">Chi tiết</a>

                                </div>

                                <div class="contents grid-qt-luxstay-contents">

                                    <div class="element-heading flex-layout flex-align-center flex-justify-space-between">

                                        <h4 class="grid-qt-luxstay-heading">

                                            <a title="Premier City View" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                                Premier City View
                                            </a>

                                        </h4>

                                        <div class="grid-qt-elem-paragraph price price-ryl">từ <span>1,160,000</span> /đêm</div>

                                    </div>

                                    <div class="element-desc ryl-mt">
                                        <p class="grid-qt-elem-paragraph">
                                            Premier City View mở rộng không gian bằng quanh cảnh phía trên cao của các tòa nhà hiện đại và những địa danh cổ kính...
                                        </p>
                                    </div>

                                    <hr />
                                    
                                    <ul class="grid-qt-bullet grid-qt-elem-paragraph ryl-mt">
                                        <li>King, Queen, Full, Double Beds</li>
                                        <li>Complimentary Wi-Fi</li>
                                        <li>HD TV</li>
                                        <li>AC / Climate Control</li>
                                    </ul>

                                    <div class="order flex-layout flex-justify-center ryl-mt">
                                        <a class="qt-button qt-button-primary btnPrimaryBooking btnOrderBooking" title="Đặt ngay" href="#">Đặt ngay</a>
                                    </div>

                                </div>
                                 
                            </div>

                            <div class="element element-luxstay grid-resp-box"
                                    data-element-contents=".grid-qt-luxstay-contents"
                                    data-element-thumbnail=".thumbnail">

                                <div class="thumbnail">

                                    <a title="Executive" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                        <img src="/quangthaihomestay/images/lux2.png" alt="lux1" />                                        
                                    </a>

                                    <a  title="Chi tiết" class="details flex-layout flex-align-center flex-justify-center"
                                         href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">Chi tiết</a>

                                </div>

                                <div class="contents grid-qt-luxstay-contents">

                                    <div class="element-heading flex-layout flex-align-center flex-justify-space-between">

                                        <h4 class="grid-qt-luxstay-heading">

                                            <a title="Executive" href="/quangthaihomestay/phong-nghi-chi-tiet-page.html">
                                                Executive
                                            </a>

                                        </h4>

                                        <div class="grid-qt-elem-paragraph price price-ryl">từ <span>1,160,000</span> /đêm</div>

                                    </div>

                                    <div class="element-desc ryl-mt">
                                        <p class="grid-qt-elem-paragraph">
                                            Premier City View mở rộng không gian bằng quanh cảnh phía trên cao của các tòa nhà hiện đại và những địa danh cổ kính...
                                        </p>
                                    </div>

                                    <hr />
                                    
                                    <ul class="grid-qt-bullet grid-qt-elem-paragraph ryl-mt">
                                        <li>King, Queen, Full, Double Beds</li>
                                        <li>Complimentary Wi-Fi</li>
                                        <li>HD TV</li>
                                        <li>AC / Climate Control</li>
                                    </ul>

                                    <div class="order flex-layout flex-justify-center ryl-mt">
                                        <a class="qt-button qt-button-primary btnPrimaryBooking btnOrderBooking" title="Đặt ngay" href="#">Đặt ngay</a>
                                    </div>

                                </div>
                                 
                            </div>

                        </div>
                        <ul class="pagination flex-layout flex-justify-center">
                            <li>
                                <a title="previous" href="#">&lt;</a>
                            </li>
                            <li>
                                <a title="1" href="#">1</a>
                            </li>
                            <li class="active">
                                <a title="2" href="#">2</a>
                            </li>
                            <li>
                                <a title="3" href="#">3</a>
                            </li>
                            <li>
                                <a title="next" href="#">&gt;</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>

        <footer id="colon">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="grid-three-columns grid-footer-columns">
                        <div class="footer-column">
                            <h3 class="footerHeading">Liên hệ với chúng tôi</h3>
                            <div class="footerContent __section-element-mt">
                                <div class="footer-addresses">
                                    <div class="address-element-item grid-two-columns">
                                        <div class="icon address-element-icon"><span class="fa fa-map-marker"></span></div>
                                        <div class="contents grid-qt-elem-paragraph address-element-contents">
                                            Thôn 5, xã Quảng Thái, <br />
                                            huyện Quảng Xương, Thanh Hóa
                                        </div>
                                    </div>
                                    <div class="address-element-item grid-two-columns grid-article-crl-sp">
                                        <div class="icon address-element-icon"><span class="fa fa-phone"></span></div>
                                        <div class="contents grid-qt-elem-paragraph address-element-contents"><a class="grid-qt-elem-paragraph" title="082 222 2223" href="tel:0822222223">082 222 2223</a></div>
                                    </div>
                                    <div class="address-element-item grid-two-columns grid-article-crl-sp">
                                        <div class="icon address-element-icon"><span class="fa fa-envelope"></span></div>
                                        <div class="contents grid-qt-elem-paragraph address-element-contents"><a class="grid-qt-elem-paragraph" title="quangthai.investment@gmail.com" href="mailto:quangthai.investment@gmail.com">quangthai.investment@gmail.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-column">
                            <h3 class="footerHeading">Fanpage</h3>
                            <div class="footerContent __section-element-mt">

                                <div class="fb-page" 
                                        data-href="https://www.facebook.com/QuangThaiHomestay"
                                        data-width="380" 
                                        data-lazy="true"
                                        data-hide-cover="false"
                                        data-show-facepile="false"></div>  

                            </div>
                        </div>
                        <div class="footer-column">
                            <h3 class="footerHeading">Đăng ký</h3>
                            <div class="footerContent __section-element-mt">
                                <p class="grid-qt-elem-paragraph">ĐĂNG KÝ NHẬN BẢN TIN</p>
                                <form class="subscribe-form grid-article-crl-sp relative" method="post" action="/">
                                    <input class="qt-form-controls" type="email" placeholder="Email" value="" />
                                    <button class="qt-button btnSubscribe" type="submit">Gửi đi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        

        <div class="qt-booking-modal qt-header-booking-modal">
            <div class="inner">
                <div class="modal-wrapper relative">
                    <a href="#" title="close modal" class="button-close"></a>
                    <div class="booking-pressbox booking-datechosen __first">
                        <div class="grid-two-columns grid-booking-presslayout">
                            <div class="element">
                                <h4 class="booking-pressheading text-center">Ngày đến</h4>
                                <div class="element-body booking-field-sp">
                                    <div class="element-jq-datepicker element-jq-fromdate">
                                        <figure class="booking-element-selected element-selected element-jq-selected element-jq-sp-padbottom element-jq-sp-mb text-center relative"
                                                data-jq-datepicker-target="element-jq-datepicker-fromdate">
                                            <h2></h2>
                                            <p class="booking-field-sp">
                                                <span class="date"></span> <br />
                                                Tháng <span class="month"></span>, <span class="year"></span>
                                            </p>
                                            <input type="text" 
                                                class="field-jq-datepicker"
                                                id="element-jq-datepicker-fromdate" />
                                        </figure>                                                       
                                        

                                    </div>
                                </div>
                            </div>

                            <div class="element">
                                <h4 class="booking-pressheading text-center">Ngày đi</h4>
                                <div class="element-body booking-field-sp">
                                    <div class="element-jq-datepicker element-jq-todate">
                                        <figure class="booking-element-selected element-selected element-jq-selected element-jq-sp-padbottom text-center relative"
                                                data-jq-datepicker-target="element-jq-datepicker-todate">
                                            <h2></h2>
                                            <p class="booking-field-sp">
                                                <span class="date"></span> <br />
                                                Tháng <span class="month"></span>, <span class="year"></span>
                                            </p>
                                            <input type="text" class="field-jq-datepicker" id="element-jq-datepicker-todate" />
                                        </figure>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="grid-two-columns">
                            <div class="element flex-layout flex-align-center">
                                <h4 class="booking-pressheading">Người lớn</h4>
                            </div>
                            <div class="element">
                                <a class="booking-spin-button spin-mr" title="minus" href="#">-</a>
                                <input class="booking-form-control text-center" type="number" value="1" min="1" step="1" />
                                <a class="booking-spin-button spin-ml" title="add" href="#">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="grid-two-columns">
                            <div class="element flex-layout flex-align-center">
                                <h4 class="booking-pressheading">Trẻ em</h4>
                            </div>
                            <div class="element">
                                <a class="booking-spin-button spin-mr" title="minus" href="#">-</a>
                                <input class="booking-form-control text-center" type="number" value="1" min="1" step="1" />
                                <a class="booking-spin-button spin-ml" title="add" href="#">+</a>
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="element">
                            <h4 class="booking-pressheading">Số điện thoại</h4>
                            <div class="booking-field element-jq-sp-mt">
                                <input type="text" placeholder="Nhập số điện thoại" class="booking-form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="booking-pressbox element-jq-sp-padbottom">
                        <div class="element">
                            <h4 class="booking-pressheading">Email</h4>
                            <div class="booking-field element-jq-sp-mt">
                                <input type="text" placeholder="Nhập email" class="booking-form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="element-booking-sm">
                        <div class="element flex-layout flex-justify-center">
                            <a class="qt-button qt-button-primary btnPrimaryBooking"  title="Đặt ngay" href="#">Đặt ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-sd">
            <a class="nsd-phone-contact" title="0822222223" href="tel:0822222223">
            </a>
        </div>

        <div class="navigation-sd chatbox-sd __minimize">
            <h4>Gửi tin nhắn</h4>
            <div class="chatbox-main">
                <p class="text-center">Để lại lời nhắn và chúng tôi sẽ liên hệ với bạn</p>
                <form class="frmChatBox" method="post">
                    <div class="field">
                        <input type="text" class="qt-form-controls chatbox-field" placeholder="Họ và tên" value="" />
                    </div>
                    <div class="field">
                        <input type="text" class="qt-form-controls chatbox-field" placeholder="Số điện thoại" value="" />
                    </div>
                    <div class="field">
                        <input type="text" class="qt-form-controls chatbox-field" placeholder="Email" value="" />
                    </div>
                    <div class="field">
                        <textarea class="qt-form-controls chatbox-field" placeholder="Lời nhắn"></textarea>
                    </div>
                    <div class="field sm">
                        <a href="#" title="Gửi ngay" class="qt-button btnChatSend">
                            Gửi ngay
                        </a>
                    </div>
                </form>
            </div>
        </div>
        

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=2147827908693613&autoLogAppEvents=1" nonce="m0gyWq7n"></script>

        <script type="text/javascript">
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
      
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);      
            
          </script>

          <script type="text/javascript" src="/quangthaihomestay/js/jquery.min.js"></script>  
          <script type="text/javascript" src="/quangthaihomestay/bxslider/jquery.bxslider.min.js"></script>
          <script src="/quangthaihomestay/jquery-ui/jquery-ui.js"></script>
        <script src="/quangthaihomestay/js/jquery.datepicker.nl.vi.js"></script>

        <script type="module" src="/quangthaihomestay/js/jquery.customize.js"></script>
     
    </body>
    
</html>