<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" , content="index, follow">
    <title>
        Chiết bài viết
    </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="./css/pages/detail__post.css">
    <link rel="stylesheet" href="./css/pages/cmComment.css">
</head>

<body>
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="banner__header">
                    <img src="images/banner__1.jpg" alt="banner__1.jpg" />
                </div>
            </div>

            <div class="header__main">
                <div class="container">
                    <div class="header__group">
                        <a href="index.html" class="logo" title="ilike.com.vn">
                            <img src="images/icons/logo.png" alt="icon__logo.png">
                        </a>
                        <div class="addon__search">
                            <button type="button" class="btn btn__toggle-search">
                                <img src="images/icons/icon__search.png" alt="icon__search.png">
                            </button>
                            <div class="main__search">
                                <div class="container">
                                    <form class="form__search">
                                        <input type="text" placeholder="Tìm kiếm..." class="input__search">
                                        <button type="submit" class="btn btn__search">
                                            <img src="images/icons/icon__search.png" alt="icon__search.png">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn__login"> Đăng ký </a>
                        <a href="#" class="btn btn__res"> Đăng nhập </a>
                    </div>
                </div>
            </div>
            <div class="header__menu">
                <div class="container">
                    <div class="addon__menu">
                        <div class="box__menu">
                            <ul class="menu">
                                <li class="menu__list  ">
                                    <a href="page__introduce.html" class="menu__link" title="Sao">Sao</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__product.html" class="menu__link" title="Đời sống">Đời sống</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__film.html" class="menu__link" title="Phim">Phim</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__world.html" class="menu__link" title="Nhạc">Nhạc</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__sport.html" class="menu__link" title="Thể thao">Thể thao</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__beautify.html" class="menu__link" title="Đẹp">Đẹp</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__clearance-sale.html" class="menu__link" title="Điểm đến trẻ">Điểm đến trẻ</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__clearance-sale.html" class="menu__link" title="Công nghệ">Công nghệ</a>

                                </li>
                                <li class="menu__list  ">
                                    <a href="page__imagazine.html" class="menu__link" title="iMagazine">iMagazine</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="toggle__menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </header>
        <main id="main">
            <section class="post-detail">
                <div class="container">
                    <div class="module__header container__detail">
                        <h1 class="detail__title">
                            Real đại thắng trận mở màn
                            La Liga
                        </h1>
                        <div class="detail__control">
                            <time class="detail__time">
                                15 Thg 8, 2021
                            </time>
                            <div class="detail__select">
                                <a href="#" class="detail__icon" title="facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="detail__icon" title="twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="#" class="detail__icon" title="save">
                                    <i class="fa fa-bookmark-o fa__active" aria-hidden="true"></i>
                                </a>
                                <button type="button" class="btn btn__comment detail--icon">
                                    <span>
                                        10

                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="module__content">
                        <div class="detail__desc">
                            <div class="container__detail">
                                <p>
                                    Nhờ cú đúp của Karim Benzema, Real thắng 4-1 trên sân của Alaves ở vòng 1 La Liga tối 14/8.
                                </p>
                            </div>
                            <img class="img" src="images/detail__1.jpg" alt="detail__1.jpg">
                            <p class="name__image">
                                Benzema lập cú đúp ngay vòng đầu. Ảnh: AP.
                            </p>
                            <div class="container__detail">
                                <p class="cus__p">
                                    Trong trận đấu chính thức đầu tiên dưới thời HLV Carlo Ancelotti, người trở lại Real sau sáu năm
                                    để thay thế Zinedine Zidane, đội bóng Hoàng gia Tây Ban Nha chơi theo sơ đồ quen thuộc 4-3-3.
                                    Trong đó Eden Hazard, Karim Benzema và Gareth Bale đá cao nhất. Ở tuyến giữa là Luka Modric,
                                    Casemiro và Federico Valverde. Tân binh David Alava bắt đầu ở vị trí hậu vệ trái, trong khi
                                    Nacho và Eder Militao tạo thành cặp trung vệ. Hành lang phải thuộc về Lucas Vazquez.
                                </p>

                                <p class="cus__p">
                                    Về phía Alaves, đội hình không thay đổi nhiều so với khi xếp thứ 16 mùa trước. Cầu thủ 19 tuổi
                                    được mượn từ Man Utd, Facundo Pellistri khởi đầu trên băng ghế dự bị.

                                </p>

                                <p class="cus__p">
                                    Alaves được xem là "miếng mồi ngon" của Real, khi thua tới 26 trận và nhận đến 85 bàn thua trong
                                    lịch sử đối đầu. Ở La Liga, không đội nào thê thảm đến thế khi gặp Real. Ngay trên sân nhà,
                                    Alaves cũng thua đến 75% số trận tiếp đội bóng Hoàng gia.


                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <section class="gl-banner">
                    <div class="container">
                        <a class="banner">
                            <img src="images/banner__2.jpg" alt="banner__2.jpg" />
                        </a>
                    </div>
                </section>
                <div class="container">
                    <div class="module__content">
                        <div class="detail__desc">
                            <div class="container__detail">
                                <p class="cus__p">
                                    Nhưng trong hiệp một, khoảng cách về đẳng cấp cũng như chênh lệch đối đầu không được thể hiện
                                    nhiều. Real vốn chưa có sự chuẩn bị tốt nhất mùa này, khi không thắng ở hai trận giao hữu ít ỏi
                                    trước Rangers và Milan. Họ cũng thiếu một số nhân tố quan trọng như Toni Kroos, Ferland Mendy,
                                    Dani Carvajal... vì vấn đề thể lực.

                                </p>

                                <p class="cus__p">
                                    Alaves, nhờ đó, gây được không ít nguy hiểm. Họ suýt mở tỷ số phút 37 khi Pere Pons lốp bóng vọt
                                    xà. Bốn phút sau, Luis Rioja có thể đã làm nên chuyện nếu không phải đối mặt với Militao đang
                                    đạt phong độ cao. Pha theo kèm của trung vệ người Brazil làm chậm nhịp đi bóng của Rioja và giúp
                                    hàng thủ Real kịp thời về bọc lót.

                                </p>

                                <p class="cus__p">
                                    Ở đầu bên kia sân, thủ thành Antonio Pacheco không gặp quá nhiều khó khăn. Trong hiệp một, anh
                                    chỉ phải làm việc hai lần khi đối mặt với cú sút của Bale.

                                </p>
                            </div>
                            <img src="images/detail__2.jpg" alt="detail__2.jpg">
                            <p class="name__image">
                                Hậu vệ Nacho lập công khi lên tham gia tấn công.
                            </p>
                            <div class="container__detail">
                                <p class="cus__p">
                                    Real gần như định đoạt trận đấu với bàn nâng tỷ số lên 3-0 sau đó sáu phút. Lần này, Valverde
                                    đóng vai kiến tạo khi đi bóng bên cánh phải rồi tạt chìm vào trong. Sau lần đầu dứt điểm chạm
                                    hậu vệ và bật tay thủ môn, Benzema đỡ bóng sút bồi lập cú đúp cá nhân.
                                </p>

                                <p class="cus__p">
                                    Trong hiệp hai, Real chỉ mắc duy nhất một sai lầm. Đó là tình huống Militao chuyền về kém chuẩn
                                    xác khiến Thibaut Courtois phải băng lên phạm lỗi với Guidetti trong vòng cấm. Joselu sau đó sút
                                    phạt đền rút ngắn cách biệt xuống 1-3.
                                </p>

                                <p class="cus__p">
                                    Có lợi thế dẫn hai bàn, HLV Ancelotti thay liên tục năm cầu thủ từ phút 66. Họ đều thuộc hai
                                    tuyến trên, gồm Isco, Vinicius, Rodrygo, Asensio và Luka Jovic, cho phép Real duy trì sức ép.
                                    Phút bù giờ thứ hai, Vinicius ấn định chiến thắng 4-1 cho Real. Sau quả tạt của Alaba, tiền đạo
                                    trẻ người Brazil đánh đầu cận thành tung lưới Pacheco.
                                </p>

                                <p class="cus__p">
                                    Nhờ chiến thắng đậm trong ngày ra quân, Real lên dẫn đầu La Liga. Trong bốn trận còn lại diễn ra
                                    tối 14/8, Valencia thắng Getafe 1-0. Tối 15/8, đương kim vô địch Atletico sẽ ra quân bằng trận
                                    làm khách trên sân Celta Vigo, còn Barca bắt đầu mùa giải bằng trận tiếp Sociedad.
                                </p>

                                <div class="detail__tag">
                                    <span class="tag">
                                        Real madrid
                                    </span>
                                    <span class="tag">
                                        La Liga
                                    </span>
                                    <span class="tag">
                                        Tây Ban Nha
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="container__detail">
                            <div class="news__group">
                                <div class="news__global">
                                    <a href="detail__post.html" class="frame news__avatar" title="Cận cảnh Messi trong buổi tập đầu tiên với PSG">
                                        <img src="./images/news__1.jpg" alt="news__1.jpg" />
                                    </a>
                                    <div class="news__content">
                                        <h3 class="news__title">
                                            <a href="detail__post.html" title="Cận cảnh Messi trong buổi tập đầu tiên với PSG">
                                                Cận cảnh Messi trong buổi tập đầu tiên với PSG
                                            </a>
                                        </h3>
                                        <div class="news__control">
                                            <time> 13 Thg 8, 2021 </time>

                                        </div>
                                    </div>
                                </div>
                                <div class="news__global">
                                    <a href="detail__post.html" class="frame news__avatar" title="Cận cảnh Messi trong buổi tập đầu tiên với PSG">
                                        <img src="./images/news__1.jpg" alt="news__1.jpg" />
                                    </a>
                                    <div class="news__content">
                                        <h3 class="news__title">
                                            <a href="detail__post.html" title="Cận cảnh Messi trong buổi tập đầu tiên với PSG">
                                                Cận cảnh Messi trong buổi tập đầu tiên với PSG
                                            </a>
                                        </h3>
                                        <div class="news__control">
                                            <time> 13 Thg 8, 2021 </time>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="post-article">
                <div class="container">
                    <div class="article">
                        <div class="article__main">
                            <h2 class="title__global">
                                Bài viết cùng chuyên mục
                            </h2>
                            <div class="main__body">
                                <div class="news__global">
                                    <div class="news__content">
                                        <h3 class="news__title">
                                            <a href="detail__news.html" title="Có 1 mỹ nhân Avengers sexy hơn cả Góa Phụ Đen, vòng 1 khủng đến nỗi Đội Trưởng Mỹ Chris Evans phải dán mắt soi trên thảm đỏ">
                                                Có 1 mỹ nhân Avengers sexy hơn cả Góa Phụ Đen, vòng 1 khủng đến nỗi Đội Trưởng Mỹ
                                                Chris Evans phải dán mắt soi trên thảm đỏ
                                            </a>
                                        </h3>
                                        <div class="news__desc">
                                            Khoảnh khắc Đội trưởng Mỹ Chris Evans "ngó" vòng 1 của đồng nghiệp trong Avengers năm
                                            nào bỗng hot trở lại.
                                        </div>
                                        <div class="news__control">
                                            <time> 13 Thg 8, 2021 </time>
                                            <a href="#" class="news__save">
                                                <i class="fa fa-bookmark-o fa__active" aria-hidden="true"></i>
                                                <i class="fa fa-bookmark fa__hover" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="detail__news.html" class="frame news__avatar" title="Có 1 mỹ nhân Avengers sexy hơn cả Góa Phụ Đen, vòng 1 khủng đến nỗi Đội Trưởng Mỹ Chris Evans phải dán mắt soi trên thảm đỏ">
                                        <img src="./images/pos__1.jpg" alt="pos__1.jpg" />
                                    </a>
                                </div>
                                <div class="news__global">
                                    <div class="news__content">
                                        <h3 class="news__title">
                                            <a href="detail__news.html" title='Nam chính Spider-Man thay đổi ngoại hình 180 độ từ khi giảm cân gây choáng, "
                                    chốt đơn" phim mới về ma cà rồng...'>
                                                Nam chính Spider-Man thay đổi ngoại hình 180 độ từ khi giảm cân gây choáng, "chốt
                                                đơn" phim mới về ma cà rồng
                                            </a>
                                        </h3>
                                        <div class="news__desc">
                                            Nam chính Spider-Man thay đổi ngoại hình 180 độ từ khi giảm cân gây choáng, "chốt đơn"
                                            phim mới về ma cà rồng...
                                        </div>
                                        <div class="news__control">
                                            <time> 13 Thg 8, 2021 </time>
                                            <a href="#" class="news__save">
                                                <i class="fa fa-bookmark-o fa__active" aria-hidden="true"></i>
                                                <i class="fa fa-bookmark fa__hover" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="detail__news.html" class="frame news__avatar" title='Nam chính Spider-Man thay đổi ngoại hình 180 độ từ khi giảm cân gây choáng, "chốt
                            đơn" phim mới về ma cà rồng...'>
                                        <img src="./images/pos__2.jpg" alt="pos__2.jpg" />
                                    </a>
                                </div>
                                <div class="news__global">
                                    <div class="news__content">
                                        <h3 class="news__title">
                                            <a href="detail__news.html" title="10 lần Công nương Diana lên phim gây xúc động: " Thánh đơ" Kristen Stewart gây sốc vì "chuẩn tạo hình"">
                                    10 lần Công nương Diana lên phim gây xúc động: " Thánh đơ" Kristen Stewart gây sốc vì "chuẩn tạo hình" </a>
                                        </h3>
                                        <div class="news__desc">
                                            Hình mẫu Công nương Diana đã rất nhiều lần được đưa lên phim ảnh, và đây là những gương
                                            mặt đáng nhớ nhất.
                                        </div>
                                        <div class="news__control">
                                            <time>13 Thg 8, 2021 </time>
                                            <a href="#" class="news__save">
                                                <i class="fa fa-bookmark-o fa__active" aria-hidden="true"></i>
                                                <i class="fa fa-bookmark fa__hover" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="detail__news.html" class="frame news__avatar" title="10 lần Công nương Diana lên phim gây xúc động: " Thánh đơ" Kristen Stewart gây sốc vì "chuẩn tạo hình"">
                            <img src=" ./images/pos__3.jpg" alt="pos__3.jpg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="article__sidebar">
                            <h2 class="title__global">
                                phổ biến
                            </h2>
                            <div class="sidebar__body">
                                <h3 class="name__news">
                                    <a href="detail__post.html" title="Barca chưa chắc được dùng các tân binh">
                                        Barca chưa chắc được dùng các tân binh
                                    </a>
                                </h3>
                                <h3 class="name__news">
                                    <a href="detail__post.html" title="Chelsea - Lukaku: Cuộc tái hợp không thể cưỡng lại">
                                        Chelsea - Lukaku: Cuộc tái hợp không thể cưỡng lại
                                    </a>
                                </h3>
                                <h3 class="name__news">
                                    <a href="detail__post.html" title="Cận cảnh Messi trong buổi tập đầu tiên với PSG">
                                        Cận cảnh Messi trong buổi tập đầu tiên với PSG
                                    </a>
                                </h3>
                                <h3 class="name__news">
                                    <a href="detail__post.html" title="Chelsea - Lukaku: Cuộc tái hợp không thể cưỡng lại">
                                        Chelsea - Lukaku: Cuộc tái hợp không thể cưỡng lại
                                    </a>
                                </h3>
                                <h3 class="name__news">
                                    <a href="detail__post.html" title="Chelsea - Lukaku: Cuộc tái hợp không thể cưỡng lại">
                                        Barca chưa chắc được dùng các tân binh
                                    </a>
                                </h3>
                                <h3 class="name__news">
                                    <a href="detail__post.html" title="Chelsea - Lukaku: Cuộc tái hợp không thể cưỡng lại">
                                        Chelsea - Lukaku: Cuộc tái hợp không thể cưỡng lại
                                    </a>
                                </h3>
                                <h3 class="name__news">
                                    <a href="detail__post.html" title="Cận cảnh Messi trong buổi tập đầu tiên với PSG">
                                        Cận cảnh Messi trong buổi tập đầu tiên với PSG
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal-comment">
                <div class="container__comment">
                    <div class="module__header">
                        <h2 class="title">
                            Bình luận
                        </h2>
                        <button type="button" class="btn btn__clos">
                            X
                        </button>
                    </div>
                    <div class="module__content">
                        <div class="filter">
                            <h3 class="filter__total">
                                Tất cả (10)
                            </h3>
                            <select name="#" id="">
                                <option value="">
                                    Mới nhất
                                </option>
                            </select>
                        </div>
                        <div class="comment__body">

                            <div class="group__cm">
                                <div class="cm__box">
                                    <div class="cm__avatar">
                                        <img src="images/icons/user.png" alt="user.png">
                                    </div>
                                    <div class="cm__content">
                                        <h3 class="cm__name">
                                            Trần văn hoàng
                                        </h3>
                                        <time class="cm__time">
                                            13/08/2021
                                        </time>
                                        <div class="cm__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <div class="cm__control">
                                            <button type="button" class="btn btn__reply">
                                                Trả lời
                                            </button>
                                            <div class="btn btn__ph">
                                                2 Phản hồi
                                            </div>
                                        </div>
                                        <div class="cm__mess">
                                            <div class="reply__box">
                                                <div class="reply__avatar">
                                                    <img src="images/icons/user.png" alt="user.png">
                                                </div>
                                                <div class="reply__comment">
                                                    <h3 class="cm__name">
                                                        Trần văn hoàng
                                                    </h3>
                                                    <time class="cm__time">
                                                        13/08/2021
                                                    </time>
                                                    <div class="cm__desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                        tempor
                                                        incididunt ut labore et dolore magna aliqua.
                                                    </div>
                                                    <div class="cm__control">
                                                        <button type="button" class="btn btn__reply">
                                                            Trả lời
                                                        </button>
                                                    </div>
                                                    <div class="cm__reply">

                                                        <div class="form__group">
                                                            <div class="cm__avatar">
                                                                <img src="images/icons/user.png" alt="user.png">
                                                            </div>
                                                            <form class="from" action="">
                                                                <textarea class="cm__textarea" placeholder="Nội dung"></textarea>
                                                                <button class="btn btn__send">
                                                                    <img src="images/icons/icon__send.png" alt="icon__send.png">
                                                                </button>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="reply__box">
                                                <div class="reply__avatar">
                                                    <img src="images/icons/user.png" alt="user.png">
                                                </div>
                                                <div class="reply__comment">
                                                    <h3 class="cm__name">
                                                        Trần văn hoàng
                                                    </h3>
                                                    <time class="cm__time">
                                                        13/08/2021
                                                    </time>
                                                    <div class="cm__desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                        tempor
                                                        incididunt ut labore et dolore magna aliqua.
                                                    </div>
                                                    <div class="cm__control">
                                                        <button type="button" class="btn btn__reply">
                                                            Trả lời
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cm__reply">

                                            <div class="form__group">
                                                <div class="cm__avatar">
                                                    <img src="images/icons/user.png" alt="user.png">
                                                </div>
                                                <form class="from" action="">
                                                    <textarea class="cm__textarea" placeholder="Nội dung"></textarea>
                                                    <button class="btn btn__send">
                                                        <img src="images/icons/icon__send.png" alt="icon__send.png">
                                                    </button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="group__cm">
                                <div class="cm__box">
                                    <div class="cm__avatar">
                                        <img src="images/icons/user.png" alt="user.png">
                                    </div>
                                    <div class="cm__content">
                                        <h3 class="cm__name">
                                            Trần văn hoàng
                                        </h3>
                                        <time class="cm__time">
                                            13/08/2021
                                        </time>
                                        <div class="cm__desc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                            incididunt ut labore et dolore magna aliqua.
                                        </div>
                                        <div class="cm__control">
                                            <button type="button" class="btn btn__reply">
                                                Trả lời
                                            </button>

                                        </div>
                                        <div class="cm__reply">

                                            <div class="form__group">
                                                <div class="cm__avatar">
                                                    <img src="images/icons/user.png" alt="user.png">
                                                </div>
                                                <form class="from" action="">
                                                    <textarea class="cm__textarea" placeholder="Nội dung"></textarea>
                                                    <button class="btn btn__send">
                                                        <img src="images/icons/icon__send.png" alt="icon__send.png">
                                                    </button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="./js/plugins/autosize.js"></script>
            <script type="module">
                import comment from './js/addons/comments.js';
                comment();
            </script>
        </main>

    </div>
    <footer id="footer">
        <div class="container">
            <a href="index.html" class="logo__f">
                <img src="images/icons/logo_f.png" alt="logo_f.png" />
            </a>
            <div class="footer__group">
                <div class="group__item">
                    <h2 class="title__footer">Thông tin</h2>
                    <ul>
                        <li><a href="#" title="Showbiz">Showbiz</a></li>
                        <li><a href="#" title="Du lịch"> Du lịch</a></li>
                        <li><a href="#" title="Thể thao">Xe</a></li>
                        <li><a href="#" title="Đời sống">Đời sống</a></li>
                        <li><a href="#" title="Công nghệ"> Công nghệ</a></li>
                        <li><a href="#" title="Phim">Phim</a></li>
                        <li><a href="#" title="Tình yêu">Tình yêu</a></li>
                        <li><a href="#" title="Làm đẹp">Làm đẹp</a></li>
                        <li><a href="#" title="Thời trang">Thời trang</a></li>
                        <li><a href="#" title="Sức khỏe">Sức khỏe</a></li>
                        <li><a href="#" title="Khoa học">Khoa học</a></li>
                        <li><a href="#" title="Xà hội">Xã hội</a></li>
                    </ul>
                </div>
                <div class="group__item">
                    <h2 class="title__footer">đóng góp nội dung</h2>
                    <p class="info">
                        Mọi bài viết và đóng góp về nội dung xin gửi về hòm thư :
                    </p>
                    <a href="to:info@gco.vn" title="email"> Email : info@gco.vn </a>
                </div>
                <div class="group__item">
                    <h2 class="title__footer">liên hệ quảng cáo</h2>
                    <p class="info">
                        Ông : Đỗ Viết Tuấn <br />
                        Hotline : (024)7 309 8885 <br />
                        Email : tuandv@hvt.vn <br />
                    </p>
                </div>
                <div class="group__item">
                    <h2 class="title__footer">giấy phép đăng ký</h2>
                    <p class="info">
                        Giấy phép thiết lập trang thông tin điện tử tổng hợp số
                        3641/GP-TTĐT do Sở Thông tin và Truyền thông TP. Hà Nội cấp
                        ngày 18/8/2017
                    </p>
                </div>
                <div class="group__item">
                    <h2 class="title__footer">báo giá</h2>
                    <a href="#" class="btn btn__price"> Báo giá quảng cáo </a>
                </div>
            </div>
            <div class="footer__bottom">
                <p>
                    Giấy phép thiết lập trang thông tin điện tử tổng hợp số
                    3641/GP-TTĐT <br />
                    do Sở Thông tin và Truyền thông TP. Hà Nội cấp ngày 18/8/2017
                </p>
                <p>
                    Chính sách - Điều khoản sử dụng - Hướng dẫn <br />
                    © GCO GROUP 2017. All rights reserved. Đã đăng ký Bản quyền.
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="js/plugins/jquery.js"></script>
    <script type="module" src="js/main.js"></script>
</body>

</html>