/**
*@helpers
*/
/**
* @base
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
scroll-behavior: smooth; }

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

body {
  margin: 0;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

a, a:hover, a:visited {
  text-decoration: none;
}

a {
  color: #007bff;  
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  /*text-decoration: underline;*/ }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; 
  width: auto;
  height: auto;}

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

.w100p {
  width: 100%;
}
.mtop70 {
  margin-top: 70px;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

input {
  outline: none; }
  input:focus {
    outline: none; }

.wrapper {
  max-width: 1903px;
  width: 100%;
  margin: 0 auto; }

.container {
  max-width: -webkit-calc(1198px + 30px);
  max-width: -moz-calc(1198px + 30px);
  max-width: calc(1198px + 30px);
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto; }

.open__modal,
#main {
  overflow: hidden;
  background-color: #fff; }

img {
  display: block;
  max-width: 100%;
  margin: auto; }

iframe {
  max-width: 100%;  
}
.mtop10 {
  margin-top: 10px;
}
.mtop20 {
  margin-top: 20px;
}
.padleft5 {
  padding-left: 5px;
}
.padleft10 {
  padding-left: 10px;
}
.padleft15 {
  padding-left: 15px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-end {
  justify-content: flex-end;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-space-between {
  justify-content: space-between;
}
.flex-justify-center {
  justify-content: center;
}
.upper {
  text-transform: uppercase;
}
hr.mb-hr-line {
  margin: 25px 0 0 0;
  height: 2px;
  border: none;
  border-bottom: 2px solid #111;
}
.mb-hr-line.__endprefix {
  margin-bottom: 25px;
}
body {
  background-color: #f4f5f5; }

.order2 {
  order: 2;
}

.order1 {
  order: 1;
}

.form-control {
  border: 1px solid #ccc;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
}
.login-form {
  position: relative;
  border-top: 1px solid #363636;
  padding: 1.2rem 0 5rem 0;
}

.login-form:before {
  position: absolute;
  top: 0.1rem;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #363636;
}

.login-form h1 {
  text-transform: uppercase;
  font-size: 40px;
  padding: 40px 0;
}

.frmLogin {
  margin-top: 20px;
}

.login-form .field label {
  display: block;
}

.login-form  legend {
  max-width: 500px;
  margin: auto;
  background-color: #eee;
  padding: 30px;
}

.login-form label {
  font-size: 16px;
  font-weight: 600;
}

.login-form .field:not(:first-child) {
  margin-top: 20px;
}

.btn {
  padding: 5px 10px;
  border-radius: 3px;
}

.btn.btn-primary {
  background-color: #000;
  color: #fff;
}

.addon__user {
  padding-top: 10px;
  padding-left: 10px;
}
.addon__user .user__header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.addon__user .user__header > figcaption {
  padding-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}

.addon__user .user__header > figcaption .email,
.addon__user .user__header > figcaption a {
  font-size: 10px;
  font-style: italic;
}

.addon__user .user__header > figcaption a {
  margin-top: 2px;
  font-style: normal;
}

.none {
  display: none;
}

.lg-header .header-logo {
  padding: 5px 0;
}

.lg-header .header-logo .logo {
  display: block;
}

.paginations {
	padding-bottom: 20px;
}
.pagination {
	list-style: none;
	display: flex;
	align-items: center;
  justify-content: center;
  flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
 .pagination li:not(:first-child) > a,
 .pagination li:not(:first-child) > span {
	 margin-left: 10px;
}
 .pagination li a,
 .pagination li > span {
	 display: block;
	 border: 1px solid #dfdfdf;
   width: 45px;
   height: 45px;
   line-height: 45px;
	 text-align: center;
	 color: #111;
	 font-size: 18px;
	 font-weight: normal;
	 transition: all .2s;
	 -webkit-transition: all .2s;   
   margin-bottom: 10px;
}
 .pagination li:hover > a,
 .pagination li.active > span {
	 background-color: #111;
	 border-color: #fff;
	 color: #fff;
}

.disabled {
  opacity: .5;
    pointer-events: none;
}

.addon__search .searchbar {
  height: 60px;
  position: relative;
  width: 245px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: default;
}

.addon__search .searchbar .toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  width: 65px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity .2s linear .6s;
  z-index: 1;
}

.addon__search .searchbar input[type=search] {
  position: relative;
  width: 0;
  height: 0;
  right: 25px;
  line-height: 20px;
  border-radius: 0;
  padding: 0;
  transition: width .6s linear,height 75ms linear .525s,padding .15s linear .45s,border-width .15s linear .6s,margin-right .15s linear .45s;
  background-color: transparent;
  border: 0px solid #111;
  color: #111;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.addon__search .searchbar .search-reset {
  display: block;
  background-color: transparent;
  border: 0;
  outline: none;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 35px;
  top: 50%;
  padding: 0;
  box-sizing: border-box;
  transition: opacity .2s linear .2s;
  transform: translate3d(0,-50%,0) rotate(-45deg);
  opacity: 0;
  z-index: -1;
cursor: pointer;
}
.addon__search .searchbar .search-reset:before,
.addon__search .searchbar .search-reset:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #111;
  left: 1px;
  right: 1px;
  top: 50%;
  transform: translate3d(0,-50%,0);
  transition: background-color 75ms linear .6s,left 75ms linear .6s,right 75ms linear .6s;
}

.addon__search .searchbar .search-reset:after {
  transform: translate3d(0,-50%,0) translateZ(0) rotate(90deg);
  left: 1px;
  right: 1px;
  transition: transform .15s linear .15s,left .15s linear .15s,right .15s linear .15s;
}

.addon__search .searchbar.active .toggle-button {
  opacity: 0;
  z-index: -1;
  transition: opacity .2s linear;
}

.addon__search .searchbar.active .search-reset {
  opacity: 1;
  z-index: 2;
  transition: opacity 2s ease;
}

.addon__search .searchbar.active input[type=search] {
  width: 220px;
  height: 40px;
  border-width: 2px;
  transition: border-width .15s linear,height .15s linear .15s,width .6s linear .15s,padding .6s linear .15s,margin-right .15s linear .15s;
  padding: 10px 30px 10px 15px;
}

.react-responsive-modal-modal {
  overflow-y: visible !important;
  padding: 0 !important;
}
.react-responsive-modal-modal .react-responsive-modal-closeButton {
  position: absolute;
  top: -25px;
  right: -5px;
  z-index: 1000;
  background: #fff;
  border-radius: 50%;
}
.login-alert-modal .tabsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.login-alert-modal .tabsList > h2 {
  flex: 1 1 50%;
  padding: 10px;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid #ccc; 
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  color: #111;
}

.login-alert-modal .tabsList > h2:hover,
.login-alert-modal .tabsList > h2.active {
  border-bottom-color: #181be6;
  color: #181be6;
}

.login-alert-modal .tabsList {
  width: 100%;   
}

.login-alert-modal .tabLogin form {
  margin: 0;
}

.login-alert-modal .tabsMainCPanel {
  padding: 20px;
}

.login-alert-modal .field:not(:first-child) {
  margin-top: 10px;
}

.login-alert-modal .tabsMainCPanel > div {
  position: relative;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .2s;
  -webkit-transition: opacity .2s;
}

.login-alert-modal .tabsMainCPanel > div.active {
  max-height: 5000px;
  opacity: 1;
}
.nopad {
  padding: 0 !important;
}
.grid-snap-scroll {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  grid-column-gap: 3rem;
  grid-row-gap: 4.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-padding: 25px;
  padding-left: 25px;
  margin-left: -25px;
}

.mb-judge-post-leftswang.order2 {
  padding-right: 0;
  padding-left: 10px;
}
.post-row .mb-judge-post {
  border-color: transparent;
  padding-top: 0;
  padding-bottom: 10px;
}
@media (min-width: 230px) {
  .title__global {
    line-height: 24px;
    color: #363636;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif; }
  .gl-banner {
    margin-top: 3rem;
    background: #f3f5f5;
    padding: 3rem 0; }
    .gl-banner .banner {
      max-width: 980px;
      margin-left: auto;
      margin-right: auto; }
      .gl-banner .banner img {
        width: 100%;
        display: block;
        margin: auto; }
  .header__global {
    border-top: 1px solid #363636;
    padding-top: 1.2rem;
    position: relative; }
    .header__global::before {
      position: absolute;
      top: 0.1rem;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 0.2rem;
      background-color: #363636; }
  .news__global {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .news__global:hover .news__content .news__title a {
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      -moz-transition: 0.2s all;
      transition: 0.2s all;
      color: #363636;
      text-decoration: none;
      opacity: 0.8; }
    .news__global .news__avatar {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 100%; }
    .news__global .news__content {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .news__global .news__content .news__category {
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: bold; }
      .news__global .news__content .news__title {
        -webkit-transition: 0.2s all;
        -o-transition: 0.2s all;
        -moz-transition: 0.2s all;
        transition: 0.2s all;
        margin-bottom: 1.1rem;
        font-size: 1.4rem;
        font-weight: bold;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 2.5rem;
        -webkit-line-clamp: 4;
        max-height: -webkit-calc(3rem * 4);
        max-height: -moz-calc(3rem * 4);
        max-height: calc(3rem * 4);
        display: -webkit-box;
        -webkit-box-orient: vertical; }
        .news__global .news__content .news__title a {
          color: #111111; }
      .news__global .news__content .news__desc {
        font-size: 14px;
        letter-spacing: 0px;
        color: #555555;
        font-family: "Times New Roman";
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 2rem;
        -webkit-line-clamp: 4;
        max-height: -webkit-calc(2rem * 4);
        max-height: -moz-calc(2rem * 4);
        max-height: calc(2rem * 4);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 1.4rem; }
      .news__global .news__content .news__control {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: baseline;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #b7b7b7;
        font-size: 1.2rem;
        line-height: 1; }
        .news__global .news__content .news__control .news__save {
          font-size: 1.4rem;
          color: #b7b7b7;
        text-align: center;
      height: 32px;
    width: 27px; }
          .news__global .news__content .news__control .news__save:hover .fa__hover,
          .news__global .news__content .news__control .news__save.__saved .fa__hover {
            display: inline-block;
            color: #363636; }
          .news__global .news__content .news__control .news__save:hover .fa__active,
          .news__global .news__content .news__control .news__save.__saved .fa__active {
            display: none; }
          .news__global .news__content .news__control .news__save .fa__hover {
            display: none; }
  .banner__global .title__banner {
    font-size: 2rem;
    line-height: 2rem;
    color: #252525;
    font-weight: 400;
    margin-bottom: 1.1rem; }
  .banner__global .banner__group {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 1.7rem 0; }
    .banner__global .banner__group + .banner__group {
      border-top: 0px; }
    .banner__global .banner__group ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-column-gap: 1rem;
      grid-row-gap: 0.5rem; }
      .banner__global .banner__group ul li.active a {
        color: #e7a527; }
      .banner__global .banner__group ul li a {
        font-size: 1.3rem;
        color: #595959;
        font-weight: 400;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif; }
    .banner__global .banner__group .btn__monitor {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5rem; } }

@media (min-width: 576px) {
  .banner__global .banner__group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .banner__global .banner__group .btn {
      margin-left: auto;
      margin-top: 0;
      margin-right: 0; } }

@media (min-width: 768px) {
  .news__global {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .news__global:hover .news__content .news__title a {
      -webkit-transition: 0.2s all;
      -o-transition: 0.2s all;
      -moz-transition: 0.2s all;
      transition: 0.2s all;
      color: #363636;
      text-decoration: none; }
    .news__global .news__avatar {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 100%; }
    .news__global .news__content {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .news__global .news__content .news__title {
        font-size: 1.6rem; }
      .news__global .news__content .news__desc {
        font-size: 16px; }
      .news__global .news__content .news__control .news__save {
        font-size: 1.6rem;
        color: #b7b7b7; } }

@media (min-width: 992px) {
  .banner__global {
    padding-top: 6rem; }
    .banner__global .title__banner {
      font-size: 4.8rem;
      line-height: 6rem; }
    .banner__global .banner__group ul {
      grid-gap: 1rem 3rem; } }

@media (min-width: 1200px) {
  .news__global .news__content .news__desc {
    -webkit-line-clamp: 5;
    max-height: -webkit-calc(2.4rem * 5);
    max-height: -moz-calc(2.4rem * 5);
    max-height: calc(2.4rem * 5); } }

@media (min-width: 230px) {
  .btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: none;
    cursor: pointer; }
    .btn:focus {
      outline: none; }
    .btn:hover {
      opacity: 0.8;
      text-decoration: none; }
    .btn__toggle-search {
      min-width: 1.6rem;
      height: 1.6rem; }
      .btn__toggle-search img {
        -o-object-fit: contain;
        object-fit: contain; }
    .btn__login, .btn__res {
      min-width: 7rem;
      height: 3rem;
      border-radius: 0.3rem;
      font-size: 1.3rem; }
    .btn__res {
      color: #fff;
      background-color: #262626; }
      .btn__res:hover {
        color: #fff; }
    .btn__login {
      color: #707070; }
    .btn__monitor {
      height: 3rem;
      border-radius: 0.3rem;
      color: #fff;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      padding: 0 1.9rem; }
      .btn__monitor:hover {
        color: #fff; }
    .btn--red {
      background-color: #bd4b4b; }
    .btn--yellow {
      background-color: #e7a527; }
    .btn--redline {
      background-color: #f5989d; }
    .btn--blueline {
      background-color: #7da7d9; }
    .btn__comment {
      background-image: url("/static/images/icons/icon__message.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 1.8rem;
      background-color: #ebebeb;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      font-size: 0.9rem;
      position: relative; }
      .btn__comment span {
        position: absolute;
        top: 23%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .btn__send {
      height: 3rem;
      width: 3rem; }
      .btn__send img {
        -o-object-fit: contain;
        object-fit: contain; }
    .btn__search {
      border: 1px solid #ddd;
      height: 4rem;
      border-left: 0; } }

@media (min-width: 992px) {
  .btn__search {
    border: 1px solid #ddd;
    height: 5rem;
    border-left: 0; }
  .btn__login, .btn__res {
    min-width: 9rem; } 
  
  .react-responsive-modal-modal {
    width: 50%;
  }
  
}

.frame {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }
  .frame img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  object-fit: cover; }
  .frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
  object-fit: cover; }

/**
*@addon
*
*/
@media (min-width: 230px) {
  .addon__menu {
    --color: #252525;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 9999;
    visibility: hidden;
    opacity: 0; }
    .addon__menu.active {
      opacity: 1;
      visibility: visible; }
      .addon__menu.active .box__menu {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
    .addon__menu .box__menu {
      max-width: 230px;
      width: 100%;
      height: 100%;
      background-color: #fff;
      -webkit-transform: translateX(-110%);
      -moz-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
      transform: translateX(-110%);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease; }
      .addon__menu .box__menu .menu {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .addon__menu .box__menu .menu .menu__list {
          position: relative; }
          .addon__menu .box__menu .menu .menu__list .menu__link {
            display: block;
            color: var(--color);
            font-size: 14px;
            padding: 1rem 1.5rem;
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; }
          .addon__menu .box__menu .menu .menu__list:last-child .menu__link {
            border-bottom: 0; }
          .addon__menu .box__menu .menu .menu__list.active > .menu__link {
            font-weight: bold;
            color: #e7a527; }
          .addon__menu .box__menu .menu .menu__list ul {
            display: none;
            margin: 0;
            padding: 0;
            list-style-type: none; }
            .addon__menu .box__menu .menu .menu__list ul li {
              position: relative; }
              .addon__menu .box__menu .menu .menu__list ul li::before {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                border: 1px solid var(--color);
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                left: 20px; }
              .addon__menu .box__menu .menu .menu__list ul li a {
                color: var(--color);
                display: block;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                line-height: 35px;
                padding-left: 35px;
                padding-right: 15px; }
              .addon__menu .box__menu .menu .menu__list ul li:hover::before {
                border-color: var(--colorHover); }
              .addon__menu .box__menu .menu .menu__list ul li:hover a {
                color: var(--colorHover); }
          .addon__menu .box__menu .menu .menu__list .btn__childrens {
            cursor: pointer;
            position: absolute;
            top: 5px;
            right: 15px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 20px;
            overflow: hidden;
            border: 0;
            width: 30px;
            height: 30px;
            border-radius: 3px;
            background: #000;
            color: #fff; }
            .addon__menu .box__menu .menu .menu__list .btn__childrens::before {
              content: "+";
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              color: #fff;
              -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
              transition: color 0.3s ease, -webkit-transform 0.3s ease;
              -o-transition: color 0.3s ease, transform 0.3s ease;
              -moz-transition: color 0.3s ease, transform 0.3s ease, -moz-transform 0.3s ease;
              transition: color 0.3s ease, transform 0.3s ease;
              transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease; }
            .addon__menu .box__menu .menu .menu__list .btn__childrens.active::before {
              color: red;
              -webkit-transform: translate(-50%, -50%) rotate(45deg);
              -moz-transform: translate(-50%, -50%) rotate(45deg);
              -ms-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
  .toggle__menu {
    width: 100%;
    /*height: 3rem;*/
    border: none !important;
    outline: none !important;
    background-color: #fff;
    margin-left: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 3rem; } }

@media (min-width: 992px) {
  .addon__menu {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    background-color: #fff;
    z-index: unset;
    visibility: unset;
    opacity: 1; }
    .addon__menu .box__menu {
      max-width: 100%;
      -webkit-transform: unset;
      -moz-transform: unset;
      -ms-transform: unset;
      transform: unset;
      height: auto; }
      .addon__menu .box__menu .menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 54px; }
        .addon__menu .box__menu .menu > .menu__list,
        .addon__menu .box__menu .menu > .menu__list > .menu__link {
          height: 100%;
        }        
        .addon__menu .box__menu .menu .menu__list .menu__link {
          border-bottom: 0;
          padding: 0 5px;
          line-height: 20px; }
          .addon__menu .box__menu .menu > .menu__list > .menu__link {
            line-height: 54px;
          }
        .addon__menu .box__menu .menu .menu__list:last-child .menu__link {
          padding-right: 0; }
        .addon__menu .box__menu .menu .menu__list:hover ul {
          -webkit-transition: 0.3s all;
          -o-transition: 0.3s all;
          -moz-transition: 0.3s all;
          transition: 0.3s all;
          -webkit-transform: perspective(0px) rotateX(0);
          -moz-transform: perspective(0px) rotateX(0);
          transform: perspective(0px) rotateX(0);
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }
        .addon__menu .box__menu .menu .menu__list ul {
          z-index: 999;
          display: block;
          position: absolute;
          min-width: 150px;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          top: 100%;
          left: 0;
          background-color: #fff;
          -webkit-transform: perspective(600px) rotateX(-90deg);
          -moz-transform: perspective(600px) rotateX(-90deg);
          transform: perspective(600px) rotateX(-90deg);
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transition: 0.3s all;
          -o-transition: 0.3s all;
          -moz-transition: 0.3s all;
          transition: 0.3s all;
          -webkit-box-shadow: 0px 0px 5px 2px #0000002b;
          box-shadow: 0px 0px 5px 2px #0000002b; }
          .addon__menu .box__menu .menu .menu__list ul li::before {
            display: none; }
          .addon__menu .box__menu .menu .menu__list ul li a {
            padding: 0 15px; }
        .addon__menu .box__menu .menu .menu__list .btn__childrens {
          display: none; }
  .toggle__menu {
    display: none; } }

@media (min-width: 1200px) {
  .addon__menu .box__menu .menu .menu__list .menu__link {
    padding-right: 0 5px; } }

@media (min-width: 230px) {
  .logo {
    max-width: 100px;
    width: 100%;
    overflow: hidden; } }

@media (min-width: 992px) {
  .logo {
    max-width: 90px; } }

@media (min-width: 230px) {
  .addon__search {
    margin-left: auto;
    cursor: pointer; }
    .addon__search .main__search {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.231);
      z-index: 999;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0; }
      .addon__search .main__search.active {
        opacity: 1;
        visibility: visible; }
        .addon__search .main__search.active .form__search {
          -webkit-transition: 0.3s all;
          -o-transition: 0.3s all;
          -moz-transition: 0.3s all;
          transition: 0.3s all;
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
      .addon__search .main__search .form__search {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        overflow: hidden;
        background-color: #fff;
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        -moz-transition: 0.3s all;
        transition: 0.3s all; }
        .addon__search .main__search .form__search .input__search {
          width: 100%;
          height: 4rem;
          border: 1px solid #ddd;
          border-right: 0; } }

@media (min-width: 992px) {
  .addon__search .main__search .form__search {
    padding: 1.5rem; }
    .addon__search .main__search .form__search .input__search {
      height: 5rem; } }

@media (max-width: 992px) {

  .addon__menu .box__menu .menu .menu__list ul {
    display: block;
    padding-left: 5px;
  }

}
.bs-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  margin: 15px;
  margin-left: auto;
  margin-right: auto; }
  .bs-modal.show-modal {
    padding: 15px;
    z-index: 10;
    opacity: 1; }
  .bs-modal .modal-frame {
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .bs-modal .content-modal {
    max-width: 90%; }
    .bs-modal .content-modal.show-modal {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .bs-modal.modal-left .content-modal.show-modal {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .bs-modal.modal-right .content-modal.show-modal {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .bs-modal.modal-top .content-modal.show-modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  .bs-modal.modal-bottom .content-modal.show-modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

.content-modal {
  max-width: 587px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
  -o-transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
  -moz-transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
  transition: all 0.5s cubic-bezier(0.45, 0, 0.1, 1.13);
  padding: 2.5rem 4.3rem; }
  .content-modal .header-modal {
    position: relative;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .content-modal .header-modal .modal__title {
      font-size: 2.1rem;
      color: #262626;
      font-weight: 400; }
  .content-modal .footer-modal {
    overflow: hidden; }
    .content-modal .footer-modal .close__btn {
      float: right; }
    .content-modal .footer-modal button {
      border-radius: 0;
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
      .content-modal .footer-modal button.red__btn {
        background: red; }
        .content-modal .footer-modal button.red__btn:focus, .content-modal .footer-modal button.red__btn:hover {
          background: #d60808; }
      .content-modal .footer-modal button.green__btn {
        background: green; }
        .content-modal .footer-modal button.green__btn:focus, .content-modal .footer-modal button.green__btn:hover {
          background: #106710; }
      .content-modal .footer-modal button.blue__btn {
        background: blue; }
        .content-modal .footer-modal button.blue__btn:focus, .content-modal .footer-modal button.blue__btn:hover {
          background: #0c0cb9; }
      .content-modal .footer-modal button.gray__btn {
        background: #717171; }
        .content-modal .footer-modal button.gray__btn:focus, .content-modal .footer-modal button.gray__btn:hover {
          background: #4e4d4d; }
      .content-modal .footer-modal button.black__btn {
        background: #000; }
        .content-modal .footer-modal button.black__btn:focus, .content-modal .footer-modal button.black__btn:hover {
          background: #403f3f; }
  .content-modal.modal-left .content-modal {
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  .content-modal.modal-right .content-modal {
    -webkit-transform: translateX(2000px);
    -moz-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); }
  .content-modal.modal-top .content-modal {
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  .content-modal.modal-bottom .content-modal {
    -webkit-transform: translateY(2000px);
    -moz-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px); }
  .content-modal.modal-small .content-modal {
    max-width: 320px; }
  .content-modal.modal-large .content-modal {
    max-width: 950px; }
  .content-modal.modal-full .content-modal {
    max-width: 100%; }

body {
  position: relative;
  min-height: 100vh; }
  body:after {
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    min-height: 100vh; }
  body.active-modal {
    overflow: hidden; }
    body.active-modal:after {
      display: block; }

.header-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    z-index: 1000;
    height: 50px;
    opacity: 0;
    transition: opacity .2s, max-height .2s;
    -webkit-transition: opacity .2s, max-height .2s;
    max-height: 0;
}

.header-sticky.show {
  opacity: 1;
  max-height: 5000px;
}

.header-sticky .wrapper {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

.header-sticky img {
    height: 21px;
    width: auto;
}

.header-sticky .addon__menu:not(.active)  {
    width: calc(100% - 15%);
    width: -webkit-calc(100% - 15%);
}

.header-sticky .addon__menu:not(.active) .box__menu .menu {
    height: 50px;
}

.header-sticky .addon__menu:not(.active) .box__menu .menu > .menu__list > .menu__link {
    line-height: 50px;
}
.loading-img {
  width: 32px !important;
  height: 32px !important;
}
.padleft5 {
  padding-left: 5px;
}
#breacrumbs {
  padding-top: 20px;
  font-family: "Roboto";
}
#breacrumbs .fa {
  font-size: 12px;
  padding: 0 5px;
}
#breacrumbs a, span:not(.fa) {
  font-weight: 400;
}

#breacrumbs span.current {
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .content-modal {
    margin-top: 30px;
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .content-modal {
    padding: 1.5rem; } }

/**
*@ layout
*/
@media (min-width: 230px) {
  #header,
  #header-sticky {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; }
    #header .banner__header {
      max-width: 998px;
      margin: 3.5rem auto; }
    #header .header__main {
      padding-top: 1.3rem;
      padding-bottom: 0.9rem;
      background-color: #fff; }
      #header .header__main .header__group {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #header .header__menu {
      background-color: #fff; } }

@media (min-width: 992px) {
  #header .header__menu {
    /*padding: 1.6rem 0;*/
    border: 1px solid #e1e1e1; } }

@media (min-width: 230px) {
  #footer {
    font-family: "Roboto", sans-serif;
    border-top: 1px solid #363636;
    padding-top: 1.2rem;
    position: relative;
    background-color: #fff; }
    #footer::before {
      position: absolute;
      top: 0.1rem;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 0.2rem;
      background-color: #363636; }
    #footer .logo__f {
      margin-top: 2rem;
      margin-bottom: 2.6rem;
      display: block; }
      #footer .logo__f img {
        display: inline-block;
        margin-left: auto; }
    #footer .title__footer {
      font-size: 13px;
      letter-spacing: 0px;
      line-height: 20px;
      color: #111111;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2rem; }
    #footer .group__item {
      margin-bottom: 3rem; }
      #footer .group__item p {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 24px;
        color: #707070;
        font-weight: 400;
        margin-bottom: 0; }
      #footer .group__item a {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 24px;
        text-decoration: underline;
        color: #111111;
        font-weight: 500; }
      #footer .group__item ul {
        padding-left: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -1rem; }
        #footer .group__item ul li {
          margin: 0 1rem;
          max-width: -webkit-calc(-webkit-calc(100% / 3) - (2 * 1rem));
          max-width: -moz-calc(-moz-calc(100% / 3) - (2 * 1rem));
          max-width: calc(calc(100% / 3) - (2 * 1rem));
          width: 100%;
          list-style-type: none; }
          #footer .group__item ul li a {
            font-weight: 400;
            font-size: 1.4rem;
            letter-spacing: 0px;
            line-height: 24px;
            color: #707070;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            text-decoration: unset; }
      #footer .group__item .btn__price {
        height: 3.4rem;
        padding: 0 1rem;
        border: 1px solid;
        border-right: 0.3;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        border-radius: 0.3rem;
        text-decoration: none; }
    #footer .footer__bottom {
      border-top: 1px solid #e1e1e1;
      padding: 1rem 0;
      line-height: 20px;
      color: #707070; }
      #footer .footer__bottom p {
        margin-bottom: 0; } }

@media (min-width: 480px) {
  #footer .footer__group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem; }
    #footer .footer__group .group__item:nth-child(4) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / 3;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4 / 5; } }

@media (min-width: 768px) {
  #footer .footer__group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr); }
    #footer .footer__group .group__item:nth-child(4) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2 / 4;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3; } }
@media (min-width: 768px) {
  .addon__user-action {
    display: none;
  }
}
@media (max-width: 767px) {
    .addon__search .searchbar {
        width: auto;
    }
    .addon__search .searchbar input[type=search],
    .addon__search .searchbar.active input[type=search],
    .addon__search .searchbar .toggle-button,
    .addon__search .searchbar.active .search-reset {
      transition: none;
      -webkit-transition: none;
    }
    .addon__search .searchbar.active input[type=search] {
      position: fixed;
      z-index: 100;
      background: #fff;
      top: 112px;
      left: 0;
      right: 0;
      width: 100%;
    }
}
@media (max-width: 767px) {
  .header__group {
      padding-right: 50px;
  }
  .addon__user-action .action-dropdown .fa {
      font-size: 16px;
  }
  .addon__user-action .action-dropdown .fa.arrowdown {
    font-size: 12px;
  }
  .addon__user-action .dropdownlist {
      list-style: none;
      position: absolute;
      padding: 0;
      z-index: -1;
      opacity: 0;
      max-height: 0;
      top: 60px;
      right: 25px;
      margin: 0;
  }
  .addon__user-action.active .dropdownlist {
    z-index: 200;
    opacity: 1;
    max-height: max-content;
  }
  .addon__user-action.active .dropdownlist img {
      width: 30px;
  }
  .addon__user-action.active .dropdownlist figcaption {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      font-size: 12px;
      align-items: center;
      -webkit-align-items: center;
  }
  #header .toggle__menu {
      position: absolute;
      width: auto;
      right: 0;
      top: 20px;
      z-index: 300;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
      display: none;
  }
}
@media (min-width: 992px) {
  #footer .footer__group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr); }
    #footer .footer__group .group__item ul li {
      max-width: -webkit-calc(50% - (2 * 1rem));
      max-width: -moz-calc(50% - (2 * 1rem));
      max-width: calc(50% - (2 * 1rem)); }
    #footer .footer__group .group__item:nth-child(4) {
      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      grid-column: 4 / 5;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2; }
  .footer__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

/**
*@ components
*/
@media (min-width: 230px) {
  .banner-global {
    padding: 1.3rem 0 0;
    border-top: 1px solid #e1e1e1; }
    .banner-global .breadcrumb {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style-type: none; }
      .banner-global .breadcrumb li:not(:first-child) {
        margin-left: 2rem;
        position: relative; }
        .banner-global .breadcrumb li:not(:first-child)::before {
          content: "";
          width: 0.2rem;
          height: 0.2rem;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          left: -1.1rem;
          background-color: #808080; }
      .banner-global .breadcrumb li a {
        font-size: 1.2rem;
        line-height: 2.4rem;
        color: #595959; }
      .banner-global .breadcrumb li:last-child a {
        max-width: 9.1rem;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 2.4rem;
        -webkit-line-clamp: 1;
        max-height: -webkit-calc(2.4rem * 1);
        max-height: -moz-calc(2.4rem * 1);
        max-height: calc(2.4rem * 1);
        display: -webkit-box;
        -webkit-box-orient: vertical; }
    .banner-global .title__global {
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem; } }

@media (min-width: 400px) {
  .banner-global .breadcrumb li:last-child a {
    max-width: 17.1rem; } }

@media (min-width: 480px) {
  .banner-global .breadcrumb li:last-child a {
    max-width: 25.1rem; } }

@media (min-width: 576px) {
  .banner-global .breadcrumb li:last-child a {
    max-width: 30rem; } }
@media(max-width: 370px) {
  .login-alert-modal .tabsList > h2 {
      flex: 1 1 100%;
  }
}