.see-more {
  border: 1px solid #d6d6cf;
  outline: none;
  @include size(160px, 45px);
  font-family: $font-primary;
  font-weight: 500;
  font-size: 17px;
  line-height: 45px;
  color: $color-gray;
  @include transition;
  text-align: center;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    @include transition;
    width: auto;
    height: auto;
    margin-left: 17px;
  }
  &:hover {
    transform: translateY(-2px);
    color: $color-gray;
    img {
      transform: translateX(2px);
    }
  }
}
