<!DOCTYPE>
<html>
<head>
	<title>Công ty TNHH Thái Tuấn</title>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="favicon.ico" type="image/x-icon" />
		
	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />	
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />		
	<link rel="stylesheet" href="/css/layout.css" type="text/css" />	
	<link rel="stylesheet" href="/css/template-control.css" type="text/css" />

	<link rel="stylesheet" href="/style.css" type="text/css" />

	<script type="text/javascript" src="/js/libraries/jquery.min.js"></script>	

	<!-- bxslider -->
	<link rel="stylesheet" href="/bxslider/jquery.bxslider.min.css" type="text/css" />
	<script type="text/javascript" src="/bxslider/jquery.bxslider.min.js"></script>
	<!-- #bxslider -->

	<!-- lightGallery -->
	<link rel="stylesheet" href="/lightGallery/css/lightgallery.min.css" type="text/css" />
	<script type="text/javascript" src="/lightGallery/js/lightgallery-all.min.js"></script>
	<!-- #lightGallery -->

	<script type="text/javascript" src="/js/modules/mod_slider.min.js"></script>	
	<script type="text/javascript" src="/js/modules/mod_menu.min.js"></script>	

</head>

<body>
	
	<!-- wrapper -->
	<div id="wrapper">
		
		<!-- header -->
		<header id="header" class="bg_primary">

			<div id="header-laptop-screen" class="hidden-xs">

				<!-- header-ltop -->
				<div id="header-ltop">

					<!-- container -->
					<div class="container">

						<div class="htop-contact pull-left">

							<span class="fa fa-envelope-open-o"></span> 
							<span class="padleft5">E-mail: thaituanwindow@gmail.com </span>

						</div>

						<div class="htop-social pull-right">

							<a href="http://thaituancompany.com.vn/single-san-pham.html">
								<span class="fa fa-facebook"></span>
							</a>

							<a href="http://thaituancompany.com.vn/single-san-pham.html">
								<span class="fa fa-twitter"></span>
							</a>

							<a href="http://thaituancompany.com.vn/single-san-pham.html">
								<span class="fa fa-instagram"></span>
							</a>

							<a href="http://thaituancompany.com.vn/single-san-pham.html">
								<span class="fa fa-google-plus"></span>
							</a>

							<a href="http://thaituancompany.com.vn/single-san-pham.html">
								<span class="fa fa-signal"></span>
							</a>

						</div>
						
					</div>
					<!-- #container -->
					
				</div>
				<!-- #header-top -->

				<!-- header-lsecondary -->
				<div id="header-lsecondary">

					<!-- container -->
					<div class="container p_relative">

						<!-- logo -->
						<div class="logo">						

							<a href="http://thaituancompany.com.vn/">
								<img src="images/logo.png" alt="logo" />
							</a>								
							
						</div>
						<!-- #logo -->

						<!-- hsecondary-hotline -->
						<h1 class="hsecondary-hotline pull-right">

							<span class="bg-phone inlineblock vmiddle">
								<span class="fa fa-volume-control-phone"></span> 
							</span>

							<span class="padleft10">0913 030 986</span>
							
						</h1>
						<!-- #hsecondary-hotline -->

						<!-- menu -->
						<div class="menu col-xs-12">

							<div id="menu" class="pull-right">

								<ul>
								    <li>
								    	<a href="http://thaituancompany.com.vn/page-gioi-thieu.html">
								    		Giới thiệu
								    	</a>
								    </li>

								    <li>
								    	<a href="http://thaituancompany.com.vn/category-san-pham.html">

								    		Sản phẩm

								    		<span class="fa fa-chevron-down">
								    		</span>	

								    	</a>

								    	<div class="sub-menu">

									    	<div class="submenu-container">

									    		<ul>

										    	    <li>

										    	    	<a class="block tcenter" href="http://thaituancompany.com.vn/single-san-pham.html">

										    	    		<div class="thumbnail">

										    	    			<img class="fixed-vertical" src="images/cua-01.jpg" alt="" />

										    	    		</div>

										    	    		<h4 class="mtop10">
										    	    			Nhôm Xingfa
										    	    		<h4>

										    	    	</a>
										    	    </li> 

										    	    <li>
										    	    	<a class="block tcenter" href="http://thaituancompany.com.vn/single-san-pham.html">

										    	    		<div class="thumbnail">

										    	    			<img class="fixed-vertical" src="images/cua-02.jpg" alt="" />

										    	    		</div>

										    	    		<h4 class="mtop10">
										    	    			Vách kính mặt dựng
										    	    		<h4>

										    	    	</a>
										    	    </li> 

										    	    <li>
										    	    	<a class="block tcenter" href="http://thaituancompany.com.vn/single-san-pham.html">

										    	    		<div class="thumbnail">

										    	    			<img class="fixed-vertical" src="images/cua-03.jpg" alt="" />

										    	    		</div>

										    	    		<h4 class="mtop10">
										    	    			Cửa nhôm Việt Pháp
										    	    		<h4>

										    	    	</a>
										    	    </li> 

										    	    <li>
										    	    	<a class="block tcenter" href="http://thaituancompany.com.vn/single-san-pham.html">

										    	    		<div class="thumbnail">

										    	    			<img class="fixed-vertical" src="images/cua-04.jpg" alt="" />

										    	    		</div>

										    	    		<h4 class="mtop10">
										    	    			Cửa nhựa lõi thép window
										    	    		<h4>

										    	    	</a>
										    	    </li> 

										    	    <li>
										    	    	<a class="block tcenter" href="http://thaituancompany.com.vn/single-san-pham.html">

										    	    		<div class="thumbnail">

										    	    			<img class="fixed-vertical" src="images/cua-05.jpg" alt="" />

										    	    		</div>

										    	    		<h4 class="mtop10">
										    	    			Vách kính cường lực
										    	    		<h4>

										    	    	</a>
										    	    </li>									    	   

									    		</ul>

									    	</div>			   

									    </div>

								    </li>

								    <li>
								    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
								    		Dịch vụ
								    	</a>
								    </li>

								     <li>
								    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
								    		Mẫu nhà đẹp
								    	</a>
								    </li>

								     <li>
								    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
								    		Tin tức
								    	</a>
								    </li>

								     <li>
								    	<a href="http://thaituancompany.com.vn/page-lien-he.html">
								    		Liên hệ
								    	</a>
								    </li>
								    
								</ul>

							</div>

							<!-- ipad-menu -->
							<div id="ipad-menu" class="m-menu hidden pull-right">

								<div class="m-menu-wrap">

									<div class="m-menuicon vcenter tcenter">

										<span class="fa fa-navicon vmiddle"></span>	
										<span class="caption padleft10">MAIN MENU</span>

									</div>

									<div class="m-mainmenu">

										<ul>
										    <li>
										    	<a href="http://thaituancompany.com.vn/page-gioi-thieu.html">
										    		Giới thiệu
										    	</a>
										    </li>

										    <li>
										    	<a href="http://thaituancompany.com.vn/category-san-pham.html">
										    		Sản phẩm	
										    	</a>

										    	<span class="expand"></span>

										    	<ul class="sub-menu">

										    		<li>
										    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
										    				Nhôm Xingfa
										    			</a>
										    		</li>

										    		<li>
										    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
										    				Vách kính mặt dựng
										    			</a>
										    		</li>

										    		<li>
										    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
										    				Cửa nhôm Việt Pháp
										    			</a>
										    		</li>

										    		<li>
										    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
										    				Cửa nhựa lõi thép Window
										    			</a>
										    		</li>

													<li>
										    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
										    				Vách kính cường lực
										    			</a>
										    		</li>

											    </ul>

										    </li>

										    <li>
										    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
										    		Dịch vụ
										    	</a>
										    </li>

										    <li>
										    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
										    		Mẫu nhà đẹp
										    	</a>
										    </li>

										    <li>
										    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
										    		Tin tức
										    	</a>
										    </li>

										    <li>
										    	<a href="http://thaituancompany.com.vn/page-lien-he.html">
										    		Liên hệ
										    	</a>
										    </li>
										    
										</ul>

									</div>

								</div>

							</div>
							<!-- #ipad-menu -->
							
						</div>
						<!-- #menu -->									
						
					</div>
					<!-- #container -->
					
				</div>
				<!-- #header-secondary -->

			</div>

			<div id="header-mobile-screen" class="hidden-lg hidden-md hidden-sm">

				<div class="container">

					<div class="logo"> 

						<a href="http://thaituancompany.com.vn/">
							<img src="images/logo-mobile.png" alt="logo" />
						</a>

					</div>

					<!-- mobile-menu -->
					<div id="mobile-menu" class="m-menu -mobile">

						<div class="m-menuicon tcenter">
							<span class="fa fa-navicon vmiddle"></span>
						</div>

						<div class="m-mainmenu">

							<ul>
							    <li>
							    	<a href="http://thaituancompany.com.vn/page-gioi-thieu.html">
							    		Giới thiệu
							    	</a>
							    </li>

							    <li>
							    	<a href="http://thaituancompany.com.vn/category-san-pham.html">
							    		Sản phẩm
							    	</a>

							    	<span class="expand"></span>

							    	<ul class="sub-menu">

							    		<li>
							    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
							    				Nhôm Xingfa
							    			</a>
							    		</li>

							    		<li>
							    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
							    				Vách kính mặt dựng
							    			</a>
							    		</li>

							    		<li>
							    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
							    				Cửa nhôm Việt Pháp
							    			</a>
							    		</li>

							    		<li>
							    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
							    				Cửa nhựa lõi thép Window
							    			</a>
							    		</li>

										<li>
							    			<a href="http://thaituancompany.com.vn/single-san-pham.html">
							    				Vách kính cường lực
							    			</a>
							    		</li>

								    </ul>

							    </li>

							    <li>
							    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
							    		Dịch vụ
							    	</a>
							    </li>

							    <li>
							    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
							    		Mẫu nhà đẹp
							    	</a>
							    </li>

							    <li>
							    	<a href="http://thaituancompany.com.vn/category-tin-tuc.html">
							    		Tin tức
							    	</a>
							    </li>

							    <li>
							    	<a href="http://thaituancompany.com.vn/page-lien-he.html">
							    		Liên hệ
							    	</a>
							    </li>
							    
							</ul>

						</div>

					</div>
					<!-- #mobile-menu -->

				</div>
				
			</div>

		</header>
		<!-- #header -->

		<!-- main -->
		<section id="main">

			<div class="bxslider-cn-wrapper">

				<ul id="slider" class="bxslider" data-bxslider-mode="fade">

					<li>
						<img class="fixed-horizontal" src="images/slider.jpg" alt="slider" />
					</li>

					<li>
						<img class="fixed-horizontal" src="images/slider.jpg" alt="slider" />
					</li>
					
				</ul>
				
			</div>

			<!-- home-portfolio -->
			<div class="fullwidth-section home-portfolio padtb40-ms padtb20-xs">

				<!-- container -->
				<div class="container">

					<div class="split-columns three-columns-layout">

						<div class="item-layout col-md-4 col-sm-6 col-xs-12">

							<div class="portfolio-item">

								<div class="icon">
									<span class="fa fa-thumbs-o-up"></span>
								</div>

								<figure>

									<h2>
										Cam kết vàng
									</h2>

									<small class="block">
										Chúng tôi luôn tự tin và chắc chắn rằng sẽ phục vụ đáp ứng được ...
									</small>

								</figure>
								
							</div>
							
						</div>

						<div class="item-layout col-md-4 col-sm-6 col-xs-12">

							<div class="portfolio-item">

								<div class="icon">
									<span class="fa fa-user-o"></span>
								</div>

								<figure>

									<h2>
										Về chúng tôi
									</h2>

									<small class="block">
										Thaituanwindow là công ty chuyên sâu trong lĩnh vực tư vấn ...
									</small>

								</figure>
								
							</div>
							
						</div>

						<div class="item-layout col-md-4 col-sm-6 col-xs-12">

							<div class="portfolio-item">

								<div class="icon">
									<span class="fa fa-lightbulb-o"></span>
								</div>

								<figure>

									<h2>
										Vì sao chọn chúng tôi
									</h2>

									<small class="block">
										Với đội ngũ thiết kế nhiều năm kinh nghiệm và đội ngũ thi công ...
									</small>

								</figure>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				<!-- #container -->
				
			</div>
			<!-- #home-portfolio -->	

			<!-- home-cat-products -->	
			<div class="fullwidth-section home-cat-products mtop20">

				<!-- container -->
				<div class="container">

					<!-- headingCProductTitle -->
					<h3 class="headingCProductTitle ohidden">

						<span class="inlineblock pull-left">Nhôm Xingfa</span>
						<a class="inlineblock pull-right" href="#">Xem tiếp</a>

					</h3>
					<!-- #headingCProductTitle -->

					<div class="split-columns four-columns-layout mtop20">

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-01.jpg" alt="cua-01" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa mở trượt

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-02.jpg" alt="cua-02" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-03.jpg" alt="cua-03" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-04.jpg" alt="cua-04" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->

					</div>
					
				</div>
				<!-- #container -->
								
			</div>
			<!-- #home-cat-products -->	

			<!-- home-cat-products -->	
			<div class="fullwidth-section home-cat-products mtop20">

				<!-- container -->
				<div class="container">

					<!-- headingCProductTitle -->
					<h3 class="headingCProductTitle ohidden">

						<span class="inlineblock pull-left">CỬA NHỰA LÕI THÉP WINDOW</span>
						<a class="inlineblock pull-right" href="#">Xem tiếp</a>

					</h3>
					<!-- #headingCProductTitle -->

					<div class="split-columns four-columns-layout mtop20">

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-01.jpg" alt="cua-01" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa mở trượt

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-02.jpg" alt="cua-02" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-03.jpg" alt="cua-03" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-04.jpg" alt="cua-04" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->

					</div>
					
				</div>
				<!-- #container -->
								
			</div>
			<!-- #home-cat-products -->	

			<!-- home-cat-products -->	
			<div class="fullwidth-section home-cat-products mtop20">

				<!-- container -->
				<div class="container">

					<!-- headingCProductTitle -->
					<h3 class="headingCProductTitle ohidden">

						<span class="inlineblock pull-left">Cầu thang</span>
						<a class="inlineblock pull-right" href="#">Xem tiếp</a>

					</h3>
					<!-- #headingCProductTitle -->

					<div class="split-columns four-columns-layout mtop20">

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-01.jpg" alt="cua-01" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa mở trượt

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-02.jpg" alt="cua-02" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-03.jpg" alt="cua-03" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->	

						<!-- item-layout -->
						<div class="item-layout product col-md-3 col-sm-6 col-xs-12">

							<!-- thumbnail -->
							<div class="thumbnail">

								<a href="http://thaituancompany.com.vn/single-san-pham.html"></a>

								<div class="thumbnail-wrap ohidden">									
									<img class="fixed-vertical" src="images/cua-04.jpg" alt="cua-04" />									

								</div>
								
							</div>
							<!-- #thumbnail -->

							<!-- title -->
							<h4 class="title">

								<a href="http://thaituancompany.com.vn/single-san-pham.html">

									Cửa sổ mở quay

								</a>
								
							</h4>
							<!-- #title -->

						</div>
						<!-- #item-layout -->

					</div>
					
				</div>
				<!-- #container -->
								
			</div>
			<!-- #home-cat-products -->	

			<!-- home-cat-carousel -->
			<div class="fullwidth-section home-cat-carousel mtop20">

				<div class="container">

					<div class="home-carousel-wrapper">	

						<h3 class="headingCarouselTitle">
							Mẫu nhà đẹp
						</h3>

						<!-- carouselContent -->
						<div class="carouselContent mtop20">

							<div class="bxslider-cn-wrapper maunhadep-cn-wrapper">

								<div id="maunhadep-Carousel" class="bxslider" data-bxslider-mode="carousel" data-bxslider-numSlidesShow="4" data-bxslider-moveSlides="1">

									<div class="slide">

										<div class="thumbnail">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												<img class="fixed-vertical" src="images/nhadep-01.jpg" alt="slider" />
											</a>

										</div>

										<h4 class="title mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Thiết kế nhà cấp 4 đẹp 6×20 hiện đại 3 phòng ngủ ở Biên Hòa M53
											</a>
											
										</h4>

										<div class="desc mtop10">
											Mẫu thiết kế nhà cấp 4 đẹp 6×20 hiện đại 2 mặt tiền 3 phòng ngủ được thiết kế cho gia đình chị ...
										</div>

										<h3 class="readmore mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Xem chi tiết
											</a>
											
										</h3>

									</div>

									<div class="slide">

										<div class="thumbnail">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												<img class="fixed-vertical" src="images/nhadep-02.jpg" alt="slider" />
											</a>

										</div>

										<h4 class="title mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Thiết kế nhà cấp 4 đẹp 6×20 hiện đại 3 phòng ngủ ở Biên Hòa M53
											</a>
											
										</h4>

										<div class="desc mtop10">
											Mẫu thiết kế nhà cấp 4 đẹp 6×20 hiện đại 2 mặt tiền 3 phòng ngủ được thiết kế cho gia đình chị ...
										</div>

										<h3 class="readmore mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Xem chi tiết
											</a>
											
										</h3>

									</div>

									<div class="slide">

										<div class="thumbnail">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												<img class="fixed-vertical" src="images/nhadep-03.jpg" alt="slider" />
											</a>

										</div>

										<h4 class="title mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Thiết kế nhà cấp 4 đẹp 6×20 hiện đại 3 phòng ngủ ở Biên Hòa M53
											</a>
											
										</h4>

										<div class="desc mtop10">
											Mẫu thiết kế nhà cấp 4 đẹp 6×20 hiện đại 2 mặt tiền 3 phòng ngủ được thiết kế cho gia đình chị ...
										</div>

										<h3 class="readmore mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Xem chi tiết
											</a>
											
										</h3>

									</div>

									<div class="slide">

										<div class="thumbnail">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												<img class="fixed-vertical" src="images/nhadep-04.jpg" alt="slider" />
											</a>

										</div>

										<h4 class="title mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Thiết kế nhà cấp 4 đẹp 6×20 hiện đại 3 phòng ngủ ở Biên Hòa M53
											</a>
											
										</h4>

										<div class="desc mtop10">
											Mẫu thiết kế nhà cấp 4 đẹp 6×20 hiện đại 2 mặt tiền 3 phòng ngủ được thiết kế cho gia đình chị ...
										</div>

										<h3 class="readmore mtop10">

											<a href="http://thaituancompany.com.vn/single-tin-tuc.html">
												Xem chi tiết
											</a>
											
										</h3>

									</div>									
									
								</div>
								
							</div>
							
						</div>
						<!-- #carouselContent -->

					</div>
					
				</div>
				
			</div>
			<!-- #home-cat-carousel -->
			
		</section>
		<!-- #main -->

		<!-- footer -->
		<footer id="footer" class="mtop20">			

			<div class="container">

				<!-- footer-row -->
				<div class="footer-row ohidden padtb20">					

					<div class="item-layout row-column col-md-6 col-sm-6 col-xs-12 padright20-ms">

						<h2 class="footer-contact headingFooterTitle">

							<div class="icon">
								<span class="fa fa-home"></span>
							</div>

							<div class="content"> 
								CÔNG TY TNHH ĐẦU TƯ PHÁT TRIỂN XÂY DỰNG THÁI TUẤN
							</div>

						</h2>

						<div class="footer-contact mtop20">

							<div class="icon">
								<span class="fa fa-map-marker"></span>
							</div>

							<div class="content"> 

								<p>Số 199 Nguyễn Bỉnh Khiêm, Ngô Quyền, Hải Phòng</p>

								<p class="mtop10">Số 177 Nguyễn Bỉnh Khiêm, Ngô Quyền, Hải Phòng</p>

							</div>
							
						</div>

						<div class="footer-contact mtop10">

							<div class="icon">
								<span class="fa fa-phone"></span>
							</div>

							<div class="content"> 

								<p>031 3 261 936  *  Fax: 031 3 261 936 </p>							

							</div>
							
						</div>

						<div class="footer-contact mtop10">

							<div class="icon">
								<span class="fa fa-phone"></span>
							</div>

							<div class="content"> 

								<p>3DĐ: 0976 030 986  - 0913 030 986</p>							

							</div>
							
						</div>

						<div class="footer-contact mtop10">

							<div class="icon">
								<span class="fa fa-envelope"></span>
							</div>

							<div class="content"> 

								<p>thaituanwindow@gmail.com  </p>							

							</div>
							
						</div>
						
					</div>

					<div class="item-layout row-column col-md-6 col-sm-6 col-xs-12 padleft20-ms mtop20-xs">

						<h2 class="headingFooterTitle -two-sample">							
							Công trình dự án							

						</h2>

						<div class="rowContent mtop20">

							<div class="footer-lightgallery lightgallery">

								<a href="images/nhadep-01.jpg">
									<img src="images/nhadep-01.jpg" alt="" />
								</a>

								<a href="images/nhadep-02.jpg">
									<img src="images/nhadep-02.jpg" alt="" />
								</a>

								<a href="images/nhadep-03.jpg">
									<img src="images/nhadep-03.jpg" alt="" />
								</a>

								<a href="images/nhadep-04.jpg">
									<img src="images/nhadep-04.jpg" alt="" />
								</a>

								<a href="images/nhadep-01.jpg">
									<img src="images/nhadep-01.jpg" alt="" />
								</a>

								<a href="images/nhadep-02.jpg">
									<img src="images/nhadep-02.jpg" alt="" />
								</a>

								<a href="images/nhadep-03.jpg">
									<img src="images/nhadep-03.jpg" alt="" />
								</a>

								<a href="images/nhadep-04.jpg">
									<img src="images/nhadep-04.jpg" alt="" />
								</a>
							
							</div>
							
						</div>
						
					</div>					
					
					
				</div>
				<!-- #footer-row -->

				<!-- footer-row -->
				<div class="footer-row ohidden">

					<div class="copyright">
						© 2017 thaituanwindow.vn. All Rights Reserved
					</div>
					
				</div>
				<!-- #footer-row -->
				
			</div>
			
		</footer>
		<!-- #footer -->			
		
	</div>
	<!-- #wrapper -->

</body>

</html>