.stm_news{
  position: relative;
  .news_list{
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    font-size: 0;
    &.posts_per_row_3{
      li{
        width: 33%;
      }
    }
    &.posts_per_row_2{
      li{
        width: 50%;
      }
    }
    &.posts_per_row_1{
      li{
        width: 100%;
      }
    }
    li{
      display: inline-block;
      vertical-align: top;
      width: 25%;
      padding: 0 15px;
      margin-bottom: 30px;
      font-size: 13px;
      .image{
        margin: 0 0 30px;
        position: relative;
        img{
          display: block;
          max-width: 100%;
          height: auto;
          transition: .3s;
        }
        a{
          position: relative;
          display: block;
          overflow: hidden;
        }
        .the_date {
          position: absolute;
          top: 20px;
          left: 20px;
          display: block;
          background: $stm_secondary_color;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          padding: 10px 8px;
          span {
            display: block;
            &.day {
              font-size: 18px;
              line-height: 18px;
            }
            &.month {
              font-size: 10px;
              line-height: 10px;
            }
          }
        }
      }
      h5{
        margin-bottom: 14px;
        padding-top: 0;
        font-weight: 700;
        line-height: 22px;
        font-size: 18px;
        border-bottom: 1px #dddddd solid;
        &:after {
          content: '';
          display: block !important;
          position: relative;
          width: 50px;
          height: 3px;
          background: $stm_secondary_color;
          top: 2px;
          margin-top: 23px;
        }
        a{
          transition: all 0.3s;
          color: $stm_base_color;
          &:hover{
            color: $stm_secondary_color;
            text-decoration: none;
          }
        }
      }
      .date{
        position: relative;
        font-size: 13px;
        padding: 0 0 0 23px;
        color: #777777;
      }
      .stm_the_excerpt {
        display: block;
        font-size: 14px;
        p {
          font-size: 14px;
        }
      }
      @media (max-width: 991px) {
        width: 50%;
      }

      @media (max-width: 767px) {
        width: 50% !important;
      }

      @media (max-width: 460px) {
        width: 100% !important;
      }
      &:hover {
        .image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}