.vc_image_carousel_wr{
  margin: 0 -10px;
  &.no_paddings{
    .vc_image_carousel {
      &.owl-carousel {
        .owl-item {
          .item {
            padding: 0;
          }
        }
      }
    }
  }
  .vc_image_carousel{
    position: relative;
    &.owl-carousel {
      .owl-item{
        float: none;
        display: inline-block;
        vertical-align: middle;
        .item{
          padding: 0 10px;
        }
      }
    }
    &.style_1 {
      &.owl-carousel {
        .owl-stage-outer {
          z-index: 20;
        }
      }
    }
    &.style_2 {
      position: relative;
      overflow: hidden;
      &.owl-carousel {
        padding: 0 225px;
        .owl-stage-outer {
          overflow: visible !important;
          .owl-item {
            max-height: 652px;
          }
          .item {
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              background-color: rgba(#ffffff, 0.50);
            }
          }
          .active {
            .item {
              &:before {
                display: none;
              }
            }
          }
        }
        .owl-controls {
          right: 0;
          left: 0;
        }
        .owl-nav {
          font-size: 0;
          .owl-prev {
            position: absolute;
            top: 0;
            left: 0;
            width: 90px;
            height: 100%;
            border: 0;
            margin: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            visibility: visible;
            &:hover {
              background-color: $stm_base_color;
              color: #fff;
              &:before {
                color: #fff;
              }
            }
          }
          .owl-next {
            position: absolute;
            top: 0;
            right: 0;
            width: 90px;
            height: 100%;
            border: 0;
            margin: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            visibility: visible;
            &:hover {
              background-color: $stm_base_color;
              color: #fff;
              &:before {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  &.grayscale{
    .owl-item{
      img{
        @include transition();
        opacity: 0.9;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  &.centered {
    .owl-item {
      img {
        margin: 0 auto;
      }
    }
  }
  &.grayscale {
    .style_1 {
      .owl-item {
        img {
          filter: grayscale(1);
        }
        &:hover {
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .vc_image_carousel_wr {
    .vc_image_carousel {
      &.style_2 {
        &.owl-carousel {
          padding: 0 150px;
          .owl-nav {
            .owl-prev {
              width: 46px;
            }
            .owl-next {
              width: 46px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .vc_image_carousel_wr {
    .vc_image_carousel {
      &.style_2 {
        &.owl-carousel {
          padding: 0 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .vc_image_carousel_wr {
    .vc_image_carousel {
      &.style_2 {
        &.owl-carousel {
          padding: 0;
        }
      }
    }
  }
}