.staff_list {
  position: relative;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      margin: 0 0 30px;
      padding: 0 0 30px;
      border-bottom: 1px solid #e6e6e6;
      @include cleaner();
      &:last-child{
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .staff_image{
        position: relative;
        float: left;
        margin: 0 30px 0 0;
        max-width: 255px;
        img{
          display: block;
          max-width: 100%;
          height: auto;
          transform: translateZ(0);
        }
      }
      .staff_info{
        overflow: hidden;
        h4{
          padding: 4px 0 0;
          margin: 0 0 1px;
          a{
            color: $stm_base_color;
            &:hover{
              color: $stm_secondary_color;
            }
          }
        }
        .staff_department{
          font-family: $first_font;
          font-weight: 500;
          margin: 0 0 16px;
        }
        p{
          margin: 0 0 24px;
        }
      }
    }
  }
  &.grid{
    ul{
      margin: 0 -15px;
      font-size: 0;
      li{
        display: inline-block;
        vertical-align: top;
        width: 33%;
        border: none;
        margin: 0 0 47px;
        padding: 0 15px;
        font-size: 13px;
        .staff_image{
          margin: 0 0 14px;
          float: none;
        }
        .staff_info{
          p{
            margin: 0 0 15px;
          }
          .read_more {
            font-weight: 700;
            font-size: 13px;
            transition: color 0.2s linear;
            color: $stm_fourth_color;
            .stm_icon {
              margin: 2px 0 0 5px;
              font-size: 12px;
              vertical-align: middle;
              color: $stm_third_color;
            }
            span {
              vertical-align: middle;
              line-height: 13px;
            }
            &:hover {
              color: $stm_secondary_color;
              text-decoration: none;
            }
          }
        }
      }
      &.staff_with_icons {
        li {
          margin-bottom: 63px;
          .staff_image{
            float: left;
            max-width: 176px !important;
            position: relative;
            overflow: hidden;
            margin: 0 30px 14px 0;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              visibility: hidden;
              @include transition();
              background-color: rgba($stm_secondary_color, 0.6);
              z-index: 1;
            }
            img {
              display: block;
              max-width: 100%;
              height: auto;
            }
            ul {
              margin: 0;
              display: flex !important;
              width: 100%;
              align-items: center;
              justify-content: center;
              position: absolute;
              @include transition();
              bottom: -100%;
              left: 0;
              z-index: 2;
              li {
                align-items: center;
                justify-content: center;
                padding: 0 12px;
                margin-bottom: 0;
                width: auto;
                font-size: 18px;
                a {
                  color: #fff;
                }
              }
            }
            &:hover {
              &:before {
                opacity: 1;
                visibility: visible;
              }
              ul {
                bottom: 20px;
              }
            }
          }
          .staff_info{
            h4 {
              margin-bottom: 2px;
              line-height: 24px;
              font-size: 20px;
              a {
                color: $stm_secondary_color;
              }
            }
            .staff_department {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 18px;
              color: $stm_base_color;
            }
            p{
              margin: 0 0 15px;
              font-size: 15px;
              line-height: 24px;
              color: $stm_base_color;
            }
            .read_more {
              display: none;
            }
          }
          @media only screen and (max-width: 991px) {
            margin-bottom: 35px;
            .staff_image {
              float: none;
              margin-right: 0;
              max-width: 550px !important;
            }
          }
        }
      }
    }
    &.short-view {
      ul {
        li {
          margin-bottom: 35px;
          .staff_department {
            font-size: 14px;
            font-weight: normal;
          }
          p, .read_more {
            display: none;
          }
        }
        .staff_custom_link {
          a {
            display: table;
            width: 100%;
            min-height: 180px;
            text-decoration: none;
            line-height: 24px;
            @include transition();
            letter-spacing: -0.40px;
            background-color: #f2f2f2;
            border: 3px solid #f2f2f2;
            font-family: $first_font;
            font-size: 14px;
            color: #777777;
            span {
              display: table-cell;
              vertical-align: middle;
              padding: 15px;
              text-align: center;
              .staff_custom_link_title {
                display: block;
                padding: 0;
                font-size: 20px;
                font-weight: 700;
                color: $stm_base_color;
              }
            }
            &:hover {
              background: #ffffff;
              border-color: $stm_third_color;
              color: $stm_fourth_color;
            }
          }
        }
      }
    }
  }
}
.staff_carousel_container {
  .staff_carousel-box {
    margin: 0 -15px;
  }
  position: relative;
  .staff_carousel_arrows {
    position: absolute;
    top: -72px;
    right: 0;
    .slick_prev, .slick_next {
      top: 0;
      right: 0;
    }
    .slick_prev {
      left: -95px;
    }
    @media only screen and (max-width: 380px) {
      display: none;
    }
  }
  .staff_carousel_item {
    padding: 0 15px;
    .staff_image {
      img {
        display: block;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        @media only screen and (max-width: 560px) {
          width: 100%;
        }
      }
    }
    .staff_info {
      h5 {
        margin-bottom: 0;
        a {
          color: $stm_base_color;
          &:hover{
            color: $stm_secondary_color;
          }
        }
      }
    }
  }
}