.stm_services {
    position: relative;
    margin: 0 -15px;
    font-size: 0;
    .item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 33%;
        padding: 0 15px;
        margin: 0 0 30px;
        font-size: 14px;
        .item_wr {
            .item_thumbnail {
                margin-bottom: 30px;
                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
                a {
                    position: relative;
                    display: block;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(#000, .6);
                        @include transition();
                        opacity: 0;
                        z-index: 1;
                    }
                    &:after {
                        content: "\e920";
                        @include theme_icons();
                        @include transition();
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin: -15px 0 0 -15px;
                        color: #fff;
                        font-size: 30px;
                        opacity: 0;
                        z-index: 1;
                    }
                    &:hover {
                        &:before, &:after {
                            opacity: 1;
                        }
                    }
                }
            }
            .content {
                font-size: 13px;
                @include transition();
                h5 {
                    padding: 0;
                    margin: 0 0 9px;
                    a {
                        text-decoration: none !important;
                        color: $stm_base_color;
                        @include transition();
                        &:hover {
                            color: $stm_secondary_color;
                        }
                    }
                    &:after {
                        display: none;
                    }
                }
                p {
                    line-height: 1.4;
                }
                .read_more {
                    font-weight: 600;
                    font-size: 13px;
                    transition: color 0.2s linear;
                    color: $stm_fourth_color;
                    font-family: $first_font;
                    .stm_icon {
                        margin: 2px 0 0 5px;
                        font-size: 12px;
                        vertical-align: middle;
                        color: $stm_third_color;
                    }
                    span {
                        vertical-align: middle;
                        line-height: 13px;
                    }
                    &:hover {
                        color: $stm_secondary_color;
                        text-decoration: none;
                    }
                }
            }
        }
        &:hover {
            .item_wr {
                .item_thumbnail {
                    a {
                        &:before, &:after {
                            opacity: 1;
                        }
                    }
                }
                .content {

                }
            }
        }
    }
    &.cols_4 {
        .item {
            width: 25%;
        }
    }
    &.cols_2 {
        .item {
            width: 50%;
        }
    }
    &.cols_1 {
        .item {
            width: 100%;
        }
    }
    &.style_1 {
        .item .item_wr {
            .content h5 {
                margin-bottom: 17px;
                a {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
            .item_thumbnail {
                margin-bottom: 20px;
            }
        }
    }
    &.style_2 {
        .item {
            position: relative;
            transition: all 0.3s;
            .item_wr {
                background-color: #fff;
            }
            .content {
                padding: 42px 26px 33px;
                .category {
                    display: inline-block;
                    vertical-align: top;
                    padding: 1px 6px;
                    margin-bottom: 16px;
                    line-height: 14px;
                    text-transform: uppercase;
                    background-color: $stm_secondary_color;
                    font-weight: 600;
                    font-size: 12px;
                    color: #fff;
                    &:before,
                    &:after {
                        display: none;
                    }
                }
                h5 {
                    font-weight: 700;
                    font-size: 20px;
                    &:before {
                        display: none;
                    }
                }
            }
            .item_thumbnail {
                margin-bottom: 0;
            }
            &:hover {
                margin-top: -10px;
            }
        }
    }
    &.style_3 {
        margin: 0;
        .item {
            width: 100%;
            &_wr {
                .content {
                    overflow: hidden;
                    padding: 40px 30px;
                    border: 1px #e6e6e6 solid;
                    .category {
                        display: inline-block;
                        padding: 0 4px;
                        line-height: 16px;
                        background: $stm_secondary_color;
                        color: #fff;
                        font-size: 11px;
                        font-weight: 500;
                        text-transform: uppercase;
                        margin-bottom: 17px;
                        &:after {
                            display: none;
                        }
                    }
                    h5 {
                        &:before {
                            display: none;
                        }
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 600;
                        margin: 0;
                    }
                }
            }
        }
        .owl-controls {
            position: relative;
            left: 0;
            right: 0;
            .owl-dots {
                position: absolute;
                bottom: 8px;
                left: 0;
                width: 100%;
                text-align: center;
                .owl-dot {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 2px #909398 solid;
                    display: inline-block;
                    margin: 0 7px;
                    transition: .3s;
                    &.active, &:hover {
                        border-color: $stm_secondary_color;
                        background-color: $stm_secondary_color;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    .stm_services .item .item_wr .item_thumbnail img {
        width: 100%;
    }
}
