.mtop5 {
    margin-top: 5px !important
}

.mtop10 {
    margin-top: 10px !important
}

.mtop20 {
    margin-top: 20px !important
}

.mtop40 {
    margin-top: 40px !important
}

.padtb20 {
    padding: 20px 0 !important
}

.padleft5 {
    padding-left: 5px !important
}

.padleft10 {
    padding-left: 10px !important
}

.padleft20 {
    padding-left: 20px !important
}

// split-columns
.split-columns { 

    // item-layout 
    & > .item-layout {
        margin: 0 2% 2% 0;
        float: left;
    }
    // #item-layout
}
// #split-columns 

// set container width
@media (min-width: 1100px) {

    .container {
        width: 85%;
    }

}

@media (max-width: 1100px) { 

    .container {
        width: 100%;
        padding: 0 10px !important;
    }  


}
// #set container width

@media (min-width: 992px) {      

    // two-columns-layout
    .two-columns-layout {       

        // item-layout 
        & > .item-layout {           

            &.col-md-6 {
                width: 49%;

                &:nth-child(2n+2) {
                    margin-right: 0;
                }

                &:nth-child(2n+3) {
                    clear: both;
                }

                &:nth-last-child(-n+2) {
                    margin-bottom: 0;
                }
            }            
                        
        }
        // #item-layout 

    }
    // #two-columns-layout

    // three-columns-layout
    .three-columns-layout {       

        // item-layout 
        & > .item-layout {           

            &.col-md-4 {
                width: 32%;

                &:nth-child(3n+3) {
                    margin-right: 0;
                }

                &:nth-child(3n+4) {
                    clear: both;
                }

                &:nth-last-child(-n+3) {
                    margin-bottom: 0;
                }
            }            
                        
        }
        // #item-layout 

    }
    // #three-columns-layout

    // four-columns-layout
    .four-columns-layout {       

        // item-layout 
        & > .item-layout {           

            &.col-md-3 {
                width: 23.5%;

                &:nth-child(4n+4) {
                    margin-right: 0;
                }

                &:nth-child(4n+5) {
                    clear: both;
                }

                &:nth-last-child(-n+4) {
                    margin-bottom: 0;
                }
            }            
                        
        }
        // #item-layout 

    }
    // #four-columns-layout

    // four-columns-layout
    .five-columns-layout {       

        // item-layout 
        & > .item-layout {           

            &.col-md-2 {
                width: 18.4%;

                &:nth-child(5n+5) {
                    margin-right: 0;
                }

                &:nth-child(5n+6) {
                    clear: both;
                }

                &:nth-last-child(-n+5) {
                    margin-bottom: 0;
                }
            }            
                        
        }
        // #item-layout 

    }
    // #four-columns-layout
}

@media (max-width: 992px) {   
}


@media (min-width: 768px) and (max-width: 992px) {

   
    .two-columns-layout,
    .three-columns-layout,
    .four-columns-layout,
    .five-columns-layout {       

       // item-layout 
        & > .item-layout {           

            &.col-sm-6 {
                width: 49%;

                &:nth-child(2n+2) {
                    margin-right: 0;
                }

                &:nth-child(2n+3) {
                    clear: both;
                }

                &:nth-last-child(-n+2) {
                    margin-bottom: 0;
                }
            }            
                        
        }
        // #item-layout 

    }    
    
}

// padding & margin 
@media (min-width: 768px) {

    .padleft10-ms {
        padding-left: 10px !important;
    }  

    .padleft20-ms {
        padding-left: 20px !important;
    }    

    .padleft40-ms {
        padding-left: 40px !important;
    }

    .mtop30-ms {
        margin-top: 30px !important;
    }

    .mtop40-ms {
        margin-top: 40px !important;
    }

}
// #padding & margin 

// mobile padding & margin
@media (max-width: 768px) {   

    .mtop10-xs {
        margin-top: 10px !important;
    }

    .mtop20-xs {
        margin-top: 20px !important;
    }  

    .padtb10-xs {
        padding: 10px 0 !important;
    }

}
// #mobile padding & margin

@media (max-width: 768px) { 

    %maxwidth768_split_two_layout {

        &:nth-child(2n+2) {
            margin-right: 0;
        }

        &:nth-child(2n+3) {
            clear: both;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }     

    // split-columns 
    .split-columns  {

        &.--last-vcenter {

            // item-layout 
            & > .item-layout:last-child {

                &.col-xs-6 {

                    display: table !important;
                    float: none !important;
                    margin-left: auto !important;
                    margin-right: auto !important;

                }
                            
            }
            // #item-layout 

        }

        // item-layout 
        & > .item-layout {

            &.col-xs-6 {                            
                @extend %maxwidth768_split_two_layout;
                width: 49%;
                margin-top: 0 !important;
            }

            &.col-xs-12 {

                margin-right: 0;
                clear: both;               

                &:last-child {
                    margin-bottom: 0;
                }               

            }
                        
        }
        // #item-layout 

    }
    // #split-columns
}

// header
@media (max-width: 1240px) {

    #header {

        // header-laptop-screen
        & .header-laptop-screen {

            // hsecondary
            & .hsecondary {

                // container
                & > .container {

                    width: 90%;

                }
                // #container

            }
            // #hsecondary

        }
        // #header-laptop-screen

    }

}

@media (max-width: 1170px) {

    #header {

        // header-laptop-screen
        & .header-laptop-screen {

            // hsecondary
            & .hsecondary {

                // container
                & > .container {

                    width: 95%;

                }
                // #container

            }
            // #hsecondary

        }
        // #header-laptop-screen

    }

}

@media (max-width: 1120px) {

    #header {

        // header-laptop-screen
        & .header-laptop-screen {

            // hsecondary
            & .hsecondary {

                // container
                & > .container {

                    width: 100%;

                }
                // #container

            }
            // #hsecondary

        }
        // #header-laptop-screen

    }

}

@media (max-width: 1070px) {

    #main-menu {

        & > li {

            &:not(:last-child) {

                margin-right: 5px !important;

            }

            &:not(:first-child) {

                margin-left: 5px !important;

            }

            & > a {

                &:before {

                    left: -5px !important;

                }

            }

        }

    }

}

@media (max-width: 1230px) {

    // header
    #header {

        // header-laptop-screen
        & .header-laptop-screen {

            // htop-cpanel
            & .htop-cpanel {

                // langbar
                & .langbar {

                    position: absolute !important;
                    top: -11px !important;
                    right: 20px !important;

                }
                // #langbar

            }
            // #htop-cpanel

        }
        // #header-laptop-screen

    }
    // #header

}

@media (max-width: 958px) {

    // header
    #header {

        // header-laptop-screen
        & .header-laptop-screen {

            // logo
            & .logo {

                width: 430px !important;

            }
            // #logo

            // htop-cpanel
            & .htop-cpanel {
               
                width: calc(100% - 430px) !important;
                width: -webkit-calc(100% - 430px) !important;
                width: -ms-calc(100% - 430px) !important;
                width: -moz-calc(100% - 430px) !important; 

            }
            // #htop-cpanel

        }
        // #header-laptop-screen

    }
    // #header

}

@media (max-width: 880px) {

    // header
    #header {

        // header-laptop-screen
        & .header-laptop-screen {            

            // contact
            & .contact {
               
                & li {

                    // c-icon
                    & .c-icon {

                        font-size: 20px !important;

                    }
                    // #c-icon

                    // c-content
                    & .c-content {

                        & > span {

                            font-size: 14px !important;

                        }

                    }
                    // #c-content

                }

            }
            // #contact

        }
        // #header-laptop-screen

    }
    // #header

}

@media (max-width: 835px) {

    // header
    #header {

        // header-laptop-screen
        & .header-laptop-screen {            

            // logo
            & .logo {

                width: 350px !important;

            }
            // #logo

            // htop-cpanel
            & .htop-cpanel {
               
                width: calc(100% - 350px) !important;
                width: -webkit-calc(100% - 350px) !important;
                width: -ms-calc(100% - 350px) !important;
                width: -moz-calc(100% - 350px) !important; 

            }
            // #htop-cpanel

        }
        // #header-laptop-screen

    }
    // #header

}
// #header

// sp-hfeatured-box
@media (min-width: 992px) {

    // sp-hfeatured-box
    .sp-hfeatured-box {

        // product
        & .product {

            width: 20%;

            &:nth-child(5n+5) {

                border-right-color: transparent !important;

            }

            &:nth-last-child(-n+5) {

                border-bottom-color: transparent !important;

            }

            &:nth-child(5n+6) {

                clear: both;

            }

        }
        // #product

    }
    // #sp-hfeatured-box

}

@media (min-width: 768px) and (max-width: 992px) {

    // sp-hfeatured-box
    .sp-hfeatured-box {

        // product
        & .product {

            width: 50%;

            &:nth-child(2n+3) {

                clear: both;

            }

        }
        // #product

    }
    // #sp-hfeatured-box

}

@media (max-width: 768px) {

    // sp-hfeatured-box
    .sp-hfeatured-box {

        // product
        & .product {

            width: 100%;

        }
        // #product

    }
    // #sp-hfeatured-box

}
// #sp-hfeatured-box

// spHeadingTitle
@media (max-width: 415px) {

    .spHeadingTitle {

        & span {

            font-size: 15px !important;

        }

    }

}
// #spHeadingTitle