@media (min-width: 230px) {
  .page__video,
  .detail__video {
    margin-top: 7rem;
    padding-top: 3rem; }
    .page__video .video__title,
    .detail__video .video__title {
      font-size: 2.5rem;
      color: #0d0d0d;
      font-weight: 700;
      margin-bottom: 1.5rem; }
    .page__video .video__list,
    .detail__video .video__list {
      list-style-type: none;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 1.5rem; }
      .page__video .video__list .video__list-item,
      .detail__video .video__list .video__list-item {
        font-size: 1.3rem;
        font-weight: 700;
        color: #808080;
        padding-right: 1.5rem;
        text-transform: uppercase;
        cursor: pointer; }
        .page__video .video__list .video__list-item:hover, .page__video .video__list .video__list-item.active,
        .detail__video .video__list .video__list-item:hover,
        .detail__video .video__list .video__list-item.active {
          color: #262626; }
    .page__video .video__group,
    .detail__video .video__group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-gap: 0.5rem; }
      .page__video .video__group .video__group-item,
      .detail__video .video__group .video__group-item {
        width: 100%; }
        .page__video .video__group .video__group-item:hover .video__link::before,
        .detail__video .video__group .video__group-item:hover .video__link::before {
          background-color: rgba(0, 0, 0, 0);
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
        .page__video .video__group .video__group-item:hover .video__link .video-box,
        .detail__video .video__group .video__group-item:hover .video__link .video-box {
          text-shadow: 0 0 20px #000;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
        .page__video .video__group .video__group-item .video__link,
        .detail__video .video__group .video__group-item .video__link {
          display: block;
          position: relative;
          padding-top: 50%;
          color: #fff; }
          .page__video .video__group .video__group-item .video__link::before,
          .detail__video .video__group .video__group-item .video__link::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            background-color: rgba(0, 0, 0, 0.4);
            background-image: url("../../images/icons/icon__play.png");
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1; }
          .page__video .video__group .video__group-item .video__link .video-avatar,
          .detail__video .video__group .video__group-item .video__link .video-avatar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: 100%; }
          .page__video .video__group .video__group-item .video__link .video-box,
          .detail__video .video__group .video__group-item .video__link .video-box {
            position: absolute;
            bottom: 25px;
            left: 25px;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            z-index: 2; }
            .page__video .video__group .video__group-item .video__link .video-box .video-time,
            .detail__video .video__group .video__group-item .video__link .video-box .video-time {
              font-family: "googleSans-Regular";
              font-size: 1.5rem; }
            .page__video .video__group .video__group-item .video__link .video-box .title,
            .detail__video .video__group .video__group-item .video__link .video-box .title {
              font-size: 1.9rem;
              font-family: "googleSans-Bold"; }
  .detail__video {
    padding-bottom: 3rem; }
    .detail__video img {
      width: 100%; }
    .detail__video .container__content .detail__title {
      font-size: 2.5rem;
      line-height: 3.6rem;
      color: #0d0d0d;
      font-family: "googleSans-Bold";
      margin-bottom: 3rem; }
    .detail__video .container__content .detail__time {
      font-size: 1.4rem;
      color: #8c8c8c;
      font-family: "googleSans-Bold"; }
    .detail__video .container__content .desc__global {
      font-family: "googleSans-Regular";
      margin: 3rem 0 2rem; }
    .detail__video .container__content .video__news-title {
      font-size: 2.5rem;
      line-height: 3rem;
      color: #0d0d0d;
      font-weight: 700;
      margin-bottom: 2rem; }
    .detail__video .video__group {
      grid-gap: 0; }
      .detail__video .video__group .video__group-item .video__link::before {
        background-color: rgba(0, 0, 0, 0.5); }
      .detail__video .video__group .video__group-item .video__link .video-box {
        left: 20px; }
        .detail__video .video__group .video__group-item .video__link .video-box .video-time {
          color: #d9d9d9; }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    margin-left: auto;
    margin-right: auto; }
    .popup.show-modal {
      padding: 15px;
      z-index: 99999;
      opacity: 1; }
    .popup .modal-frame {
      width: 100%;
      height: 100%;
      position: relative; }
      .popup .modal-frame .btn {
        position: absolute;
        top: -15px;
        right: -21px;
        background-color: transparent; }
        .popup .modal-frame .btn.btn__close {
          position: fixed;
          top: 0;
          right: 0;
          padding: 0; }
        .popup .modal-frame .btn.btn__play {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) scale(1);
          -moz-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
          cursor: pointer;
          opacity: 1;
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s; }
          .popup .modal-frame .btn.btn__play.active {
            opacity: 0;
            -webkit-transform: translate(-50%, -50%) scale(1.2);
            -moz-transform: translate(-50%, -50%) scale(1.2);
            -ms-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s; }
      .popup .modal-frame .video__group {
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        -webkit-transform: translate(-50%, -25%);
        -moz-transform: translate(-50%, -25%);
        -ms-transform: translate(-50%, -25%);
        transform: translate(-50%, -25%);
        margin: auto; }
        .popup .modal-frame .video__group iframe,
        .popup .modal-frame .video__group video {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover; } }

@media (min-width: 768px) {
  .page__video .video__group .video__group-item,
  .detail__video .video__group .video__group-item {
    width: -webkit-calc(50% - 2.5px);
    width: -moz-calc(50% - 2.5px);
    width: calc(50% - 2.5px); }
    .page__video .video__group .video__group-item .video__link .video-avatar,
    .detail__video .video__group .video__group-item .video__link .video-avatar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .detail__video .video__group .video__group-item {
    width: 50%; } }

@media (min-width: 992px) {
  .page__video,
  .detail__video {
    margin-top: 10rem;
    padding-top: 5rem; }
    .page__video .video__title,
    .detail__video .video__title {
      font-size: 3.6rem;
      margin-bottom: 3rem; }
    .page__video .video__list,
    .detail__video .video__list {
      margin-bottom: 5rem; }
      .page__video .video__list .video__list-item,
      .detail__video .video__list .video__list-item {
        padding-right: 4rem; }
  .detail__video {
    padding-bottom: 5rem; }
    .detail__video .container__content .detail__title {
      font-size: 3.6rem; }
    .detail__video .container__content .desc__global {
      margin: 5rem 0; }
    .detail__video .container__content .video__news-title {
      font-size: 3rem; } }

@media (min-width: 1200px) {
  .page__video,
  .detail__video {
    margin-top: 10rem;
    padding-top: 20rem; }
    .page__video .video__group .video__group-item,
    .detail__video .video__group .video__group-item {
      width: -webkit-calc(100% / 3 - 3.33px);
      width: -moz-calc(100% / 3 - 3.33px);
      width: calc(100% / 3 - 3.33px); }
      .page__video .video__group .video__group-item .video__link,
      .detail__video .video__group .video__group-item .video__link {
        padding-top: 75%; }
  .detail__video .video__group {
    max-width: 1404px;
    margin: 0 auto; }
    .detail__video .video__group .video__group-item {
      width: 25%; }
  .detail__video .container__content .detail__title {
    margin-bottom: 6rem; }
  .detail__video .container__content .desc__global {
    margin: 8rem 0; }
  .detail__video .container__content .video__news-title {
    margin-bottom: 5rem; } }

@media (min-width: 1400px) {
  .detail__video .video__group .video__group-item .video__link {
    padding-top: 72.148%; } }
