.container__recruit {
  max-width: -webkit-calc(905px + 30px);
  max-width: -moz-calc(905px + 30px);
  max-width: calc(905px + 30px);
  padding: 0 1.5rem;
  margin: 0 auto; }

@media (min-width: 230px) {
  .page__recruit {
    margin-top: 7rem;
    padding-top: 10rem;
    position: relative; }
    .page__recruit .bg-title {
      top: 0;
      display: block;
      font-size: 8rem; }
    .page__recruit .introduce-group {
      position: relative; }
    .page__recruit .info__recruit {
      margin: 3rem 0; }
      .page__recruit .info__recruit .info__group-item {
        font-family: "googleSans-Regular";
        margin-bottom: 3rem; }
        .page__recruit .info__recruit .info__group-item .info__title {
          font-size: 1.5rem;
          color: #262626;
          font-family: "googleSans-Bold"; }
        .page__recruit .info__recruit .info__group-item .info-add {
          font-size: 1.3rem;
          color: #595959; }
        .page__recruit .info__recruit .info__group-item p {
          font-size: 1.5rem;
          color: #595959; }
          .page__recruit .info__recruit .info__group-item p b {
            font-size: 1.3rem;
            font-family: "googleSans-Bold"; }
        .page__recruit .info__recruit .info__group-item a {
          font-size: 1.3rem;
          text-decoration: underline;
          color: #0d0d0d; } }

@media (min-width: 480px) {
  .page__recruit .bg-title {
    letter-spacing: 3rem; }
  .page__recruit .info__recruit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-gap: 2rem;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .page__recruit .info__recruit .info__group-item {
      max-width: 231px;
      width: -webkit-calc(50% - 10px);
      width: -moz-calc(50% - 10px);
      width: calc(50% - 10px); } }

@media (min-width: 768px) {
  .page__recruit .bg-title {
    font-size: 12rem;
    top: -30px; }
  .page__recruit .info__recruit {
    margin-top: 5rem; } }

@media (min-width: 992px) {
  .page__recruit {
    margin-top: 10rem;
    padding-top: 15rem; }
    .page__recruit .bg-title {
      top: 100px;
      font-size: 15rem;
      letter-spacing: 8rem; } }

@media (min-width: 1200px) {
  .page__recruit {
    padding-top: 20rem; }
    .page__recruit .bg-title {
      top: 200px;
      font-size: 20rem; } }

@media (min-width: 1400px) {
  .page__recruit {
    padding-top: 21rem; }
    .page__recruit .bg-title {
      top: 12%;
      letter-spacing: 11rem;
      -webkit-transform: translateX(-47%);
      -moz-transform: translateX(-47%);
      -ms-transform: translateX(-47%);
      transform: translateX(-47%); }
    .page__recruit .info__recruit {
      margin-top: 19rem; }
      .page__recruit .info__recruit .info__group-item {
        margin-bottom: 11rem; } }

@media (min-width: 1700px) {
  .page__recruit .bg-title {
    -webkit-transform: translateX(-46%);
    -moz-transform: translateX(-46%);
    -ms-transform: translateX(-46%);
    transform: translateX(-46%);
    letter-spacing: 18rem; } }
