.default_widgets, .stm_sidebar, .shop_widgets {
  position: relative;
  .wpb_content_element{
    margin: 0 0 40px;
    .widget{
      margin: 0;
    }
  }
}


.widget{
  margin: 0 0 40px;
  .widget_title{
    border-top: 3px solid $stm_base_color;
    margin-bottom: 35px;
    &:after{
      display: none;
    }
  }
  &.widget_nav_menu, &.widget_categories, &.widget_product_categories, &.widget_archive, &.widget_pages, &.widget_meta{
    position: relative;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
            font-weight: 600;
        font-family: $first_font, sans-serif;
        border-bottom: 1px solid #fff;
        background: #f2f2f2;
        margin: 0;
        padding: 0 23px 0 0;
        color: $stm_base_color;
        &:hover{
          a{
            color: $stm_secondary_color;
          }
        }
        a{
          color: $stm_base_color;
          text-decoration: none !important;
          border-left: 5px solid transparent;
          display: inline-block;
          padding: 14px 0 14px 18px;
          @include transition();
        }
        &.current-menu-item, &.current_page_item, &.current-cat{
          //background: $stm_base_color;
          & > a{
            border-left-color: $stm_secondary_color;
            //color: $stm_base_color;
          }
          &:hover{
            & > a{
              border-left-color: $stm_secondary_color;
            }
          }
          ul{
            margin-top: 20px;
          }
        }
        &:hover{
          & > a{
            border-left-color: $stm_secondary_color;
          }
        }
        &:before{
          display: none;
        }
        .children, .sub-menu{
          margin: -2px 0 25px 35px;
          padding: 0;
          li{
            position: relative;
            font-weight: 400;
            font-family: $first_font;
            border: none;
            font-size: 13px;
            margin: 0 0 12px;
            padding-right: 0;
            background: none;
            &:before{
              content: '-';
              display: block;
              position: absolute;
              left: -11px;
              top: 0;
              color: #777777;
            }
            &:hover{
              a{
                text-decoration: underline !important;
              }
            }
            a{
              background: none;
              border: none;
              padding: 0;
              color: #777777;
            }
            .children, .sub-menu{
              margin-top: 10px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  &.widget_recent_comments, &.widget_rss{
    position: relative;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        font-weight: 600;
        font-family: $first_font, sans-serif;
        border-bottom: 1px solid #fff;
        background: #f2f2f2;
        margin: 0;
        padding: 14px 23px 14px 18px;
        border-left: 5px solid transparent;
        color: $stm_base_color;
        a{
          color: $stm_base_color;
          text-decoration: none !important;
          @include transition();
        }
        &:hover{
          border-left-color: $stm_secondary_color;
        }
        &:before{
          display: none;
        }
      }
    }
  }
  &.widget_calendar{
    .calendar_wrap{
      table{
        width: 100%;
        caption{
          font-weight: 700;
          text-transform: uppercase;
          color: $stm_base_color;
          margin: 0 0 15px;
        }
        td, th{
          text-align: center;
          font-size: 14px;
          padding: 10px 5px;
        }
        thead{
          th{
            background: $stm_third_color;
            color: $stm_base_color;
          }
        }
        tbody{
          border: 1px solid #e6e6e6;
        }
        tfoot{
          #prev{
            text-align: left;
          }
          #next{
            text-align: right;
          }
        }
      }
    }
  }
  &.widget_search{
    .search-form{
      position: relative;
      .form-control{
        width: 100%;
        padding: 13px 50px 13px 15px;
        height: 44px;
      }
      button{
        position: absolute;
        right: 0;
        top: 0;
        width: 44px;
        height: 44px;
        background: $stm_base_color;
        color: #fff;
        text-align: center;
        border: none;
        font-size: 17px;
        outline: none !important;
        @include transition();
        &:hover{
          background: $stm_third_color;
        }
      }
    }
  }
  &.widget_tag_cloud, &.widget_product_tag_cloud {
    .tagcloud {
      font-size: 0;
      a {
        display: inline-block;
        vertical-align: top;
        padding: 5px 8px 6px;
        font-size: 13px !important;
        color: #777777;
        border: 1px solid #cccccc;
        margin: 0 6px 7px 0;
        text-decoration: none !important;
        text-transform: lowercase;
        @include transition();
        &:hover{
          background: $stm_third_color;
          border-color: $stm_third_color;
          color: #fff;
        }
      }
    }
  }
  &.widget_text{
    font-size: 13px;
    line-height: 22px;
    color: $stm_fourth_color;
    p{
      font-size: 13px;
      line-height: 22px;
      color: $stm_fourth_color;
    }
    img{
      max-width: 100%;
      height: auto;
    }
    .widget_title{
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 17px;
    }
  }
  &.widget_recent_entries{
    ul{
      margin: 0 0 20px;
      list-style: none;
      padding: 0;
      li{
        padding: 0;
        margin: 0 0 30px;
        &:before{
          display: none;
        }
        a{
          font-size: 14px;
          line-height: 20px;
          color: $stm_base_color;
          font-family: $first_font, sans-serif;
          font-weight: 600;
          margin: 0 0 9px;
          display: block;
          &:hover{
            color: $stm_secondary_color;
          }
        }
        .post-date{
          position: relative;
          display: block;
          font-size: 12px;
          color: #808080;
          padding: 0 0 0 23px;
          &:before{
            content: "\f017";
            @include fa();
            position: absolute;
            left: 0;
            top: 3px;
            color: $stm_third_color;
            font-size: 15px;
          }
        }
        &:last-child{
          margin: 0;
        }
      }
    }
  }
}

#footer {
  .footer_widgets {
    position: relative;
    .widget {
      margin: 0 0 30px;
      .widget_title {
        position: relative;
        text-transform: none;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        padding-bottom: 15px;
      }
      .footer_text {
        font-size: 15px;
        line-height: 24px;
      }
      &.widget_mc4wp_form_widget {
        .widget_title {
          border-bottom: none;
          margin: 0 0 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 14px;
        }
        form.mc4wp-form {
          position: relative;
          .stm_newsletter_form {
            margin: 0 0 12px;
            input[type="email"] {
              max-width: 100%;
              background: #fff;
              padding: 12.9px 57px 12.9px 20px;
              box-shadow: 0 0 0 1px #fff;
              border-radius: 0;
              &:focus,
              &:active {
                border-radius: 0 !important;
                color: $stm_base_color;
              }
            }
            input[type="submit"] {
              position: absolute;
              left: 0;
              top: 0;
              visibility: hidden;
            }
            label {
              position: absolute;
              right: 0;
              top: 0;
              border: none;
              border-radius: 0 4px 4px 0;
              width: 48px;
              height: 46px;
              line-height: 40px;
              padding: 0;
              padding-top: 4px;
              cursor: pointer;
              text-align: center;
              font-size: 15px;
              color: $stm_fourth_color;
              outline: none !important;
              -webkit-transition: color 0.3s ease;
              transition: color 0.3s ease;
              background: $stm_third_color;
              &:hover{
                background: $stm_secondary_color;
                i{
                  color: #fff;
                }
              }
              .stm-email {
                @include fa();
                font-family: "stm" !important;
                font-size: 11px;
                &:before {
                  content: "\e91a";
                }
              }
            }
          }
          p{
            color: rgba(#fff, .6);
            font-size: 13px;
          }
        }
      }
      &.widget_recent_entries {
        position: relative;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            position: relative;
            margin: 0 0 30px;
            a {
              font-weight: 500;
              color: #fff;
              line-height: 20px;
              font-size: 14px;
              display: inline-block;
              vertical-align: top;
              @include transition();
              margin: 0 0 14px;
              &:hover{
                text-decoration: none;
                color: $stm_third_color;
              }
            }
            .post-date {
              position: relative;
              display: block;
              font-size: 12px;
              padding: 0 0 0 23px;
              color: rgba(#fff, .6);
              &:before {
                content: "\e92b";
                font-family: 'stm';
                color: $stm_third_color;
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 3px;
              }
            }
          }
        }
      }
      &.widget_nav_menu {
        position: relative;
        ul {
          list-style: none;
          padding: 0;
          margin: 0 -20px;
          font-size: 0;
          li {
            width: 42%;
            font-size: 14px;
            line-height: 16px;
            padding: 0 20px;
            margin: 0 0 20px;
            display: inline-block;
            vertical-align: top;
            position: relative;
            border: none;
            font-family: inherit !important;
            background: none;
            font-weight: 400;
            a{
              padding: 0;
              border: none;
              position: relative;
              color: #ffffff !important;
              font-size: 13px;
              text-decoration: none;
              line-height: 1.25;
              &:hover{
                text-decoration: underline !important;
                opacity: 1;
              }
            }
            .sub-menu{
              margin-top: 10px;
              li{
                float: none;
                width: auto;
                padding: 0 20px 0 30px;
                margin-bottom: 5px;
                a{
                  text-decoration: none !important;
                }
                &:before{
                  left: 20px;
                }
              }
              & > li:hover{
                & > a{
                  text-decoration: underline !important;
                }
              }
            }
          }
        }
      }
      &.widget_calendar{
        .calendar_wrap{
          table{
            width: 100%;
            caption{
              font-weight: 700;
              text-transform: uppercase;
              color: #fff;
              margin: 0 0 15px;
            }
            td, th{
              text-align: center;
              font-size: 14px;
              padding: 10px 5px;
              color: #fff;
            }
            thead{
              th{
                background: $stm_third_color;
                color: $stm_base_color;
              }
            }
            tbody{
              border: 1px solid #fff;
            }
            tfoot{
              #prev{
                text-align: left;
              }
              #next{
                text-align: right;
              }
            }
          }
        }
      }
      &.widget_search{
        .search-form{
          position: relative;
          .form-control{
            width: 100%;
            padding: 13px 50px 13px 15px;
            height: 44px;
          }
          button{
            position: absolute;
            right: 0;
            top: 0;
            width: 44px;
            height: 44px;
            background: $stm_third_color;
            color: $stm_base_color;
            text-align: center;
            border: none;
            font-size: 17px;
            outline: none !important;
            @include transition();
            &:hover{
              background: $stm_third_color;
              color: #fff;
            }
          }
        }
      }
      &.widget_text{
        color: #000;
        font-size: 15px;
        p{
          font-size: 15px;
          line-height: 24px;
          color: #fff;
        }
        .wp-caption-text{
          color: #222;
        }
        img{
          max-width: 100%;
          height: auto;
        }
        #sb_instagram {
          padding-top: 5px;
          padding-bottom: 0 !important;
          #sbi_images {
            width: auto !important;
            padding: 0 !important;
            margin: -7.5px -7.5px 0 !important;

            .sbi_item {
              padding: 7.5px !important;
            }
          }
        }
      }
      &.widget_tag_cloud, &.widget_product_tag_cloud {
        .tagcloud {
          font-size: 0;
          a {
            display: inline-block;
            vertical-align: top;
            padding: 5px 8px 6px;
            font-size: 13px !important;
            color: #777777;
            border: 1px solid #cccccc;
            margin: 0 6px 7px 0;
            text-decoration: none !important;
            text-transform: lowercase;
            background: #fff;
            @include transition();
            &:hover{
              background: $stm_third_color;
              border-color: $stm_third_color;
              color: $stm_fourth_color;
            }
          }
        }
      }
      .button {
        &.theme_style_7 {
          border-width: 2px;
          padding: 7px 15px;
          padding-left: 40px;
          border-radius: 5px;
          text-transform: none;
          border-color: $stm_third_color;
          background-color: transparent;
          color: #fff;
          i {
            margin: 2px 0 0 0;
            font-size: 18px;
            color: $stm_secondary_color;
          }
          &:hover {
            border-color: $stm_secondary_color;
            background-color: $stm_secondary_color;
            color: #ffffff;
            i {
              color: #ffffff;
            }
          }
        }
      }
    }

    .widget_tp_widget_recent_tweets {
      @include cleaner();
    }

    .tp_recent_tweets {
      margin-top: -2px;
      ul {
        padding-left: 0;
        margin-bottom: 0;
      }

      li {
        position: relative;
        padding: {
          left: 30px;
          bottom: 22px;
        };
        background: none;

        &:last-child {
          padding-bottom: 0;
        }
        &:before {
          position: absolute;
          left: 0;
          top: 3px;
          content: "\f099";
          @include fa();
          font-size: 18px;
          color: $stm_third_color;
        }

        span {
          font-size: 13px;
          line-height: 22px;
          color: rgba( #fff, .6 );

          a {
            transition: all 0.2s;
            font-weight: 400;
            color: #ffffff !important;
            &:hover {
              color: $stm_third_color;
            }
          }
        }

        .twitter_time {
          margin-top: 2px;
          font-size: 11px;
          font-style: normal;
          color: rgba( #fff, .4 ) !important;
        }
      }
    }
  }
}

body #footer .footer_widgets .widget.widget_text .footer_subscribe{
  color: #ffffff94 !important;
}
.stm_list-duty {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    a {
      color: #fff;
      @include transition();
      &:hover {
        color: $stm_third_color;
        text-decoration: none;
      }
    }
    &.widget_contacts_email {
      opacity: 1;
      .text {
        opacity: 1;
      }
      i {
        font-size: 20px;
        &:before {
          content: "\e93d";
        }
      }
    }
    &.widget_contacts_address {
      i {
        &:before {
          content: "\e93c";
        }
      }
    }
    &.widget_contacts_phone {
      i {
        top: 5px;
        font-size: 24px;
        &:before {
          content: "\e93e";
        }
      }
    }
    &.widget_contacts_hours {
      i {
        top: 3px;
        font-size: 17px;
      }
    }
    &.widget_contacts_regime {
      i {
        font-size: 23px;
      }
    }
    i {
      position: absolute;
      left: 0;
      top: 5px;
      font-size: 26px;
      color: $stm_third_color;
    }
  }
}
#footer {
  &.style_1 {
    .widget_socials {
      list-style: none;
      padding: 0;
      margin: -20px 0 7px;
      &.widget {
        margin-bottom: 0 !important;
      }
      @include cleaner();
      .socials {
        margin-top: -7px;
      }
      li{
        float: left;
        margin: 0 0 8px 25px;
        &:first-child {
          margin-left: 0;
        }
        a{
          display: block;
          color: #fff;
          text-align: center;
          font-size: 14px;
          text-decoration: none !important;
          @include transition();
          i{
            &.fa-vimeo{
              font-size: 14px;
            }
            &.stm-google-plus{
              font-size: 13px;
            }
          }
          &:hover{
            color: $stm_third_color;
          }
        }
      }
    }
  }
}