$color-light-gray: #e5e5e5;

$color-gray: #252525;
// $color-gray: #f3f2ef;
// #C0C0C0
// #F3F2EF

$black-color: #000;
$white-color: #fff;

$font-primary: "Google Sans", sans-serif;
$font-secondary: "Philosopher", sans-serif;
$font-third: "Lexend Deca", sans-serif;
