.product {
  max-width: 780px;
  margin: 96px auto 56px;
  @include maxWidth(576px) {
    margin: 50px auto;
  }
  p {
    font-size: 19px;
    line-height: 36px;
    color: $black-color;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0 50px;
    @include maxWidth(576px) {
      padding: 0 20px;
    }
  }
  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
    padding: 0 50px;
    @include maxWidth(576px) {
      padding: 0 20px;
    }
  }
  img {
    margin: 40px auto 40px auto;
    @include maxWidth(992px) {
      margin: 0 auto !important;
      margin-bottom: 20px !important;
    }
  }
}
