<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product detail</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500&family=Philosopher:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="libs/OwlCarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="libs/OwlCarousel/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="libs/OwlCarousel/assets/owl.theme.green.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header-inner">
                    <a href="./index.html" class="logo logo-main"><img src="./img/icon/logo-white.png" alt=""></a>
                    <a href="./index.html" class="logo logo-hover"><img src="./img/icon/logo-blue.png" alt=""></a>
                    <div class="menu-search">
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="./intro.html" class="menu-link">Giới thiệu</a>
                            </li>
                            <li class="menu-item">
                                <a href="./service-cate.html" class="menu-link">Dịch vụ</a>
                                <i class="fal fa-chevron-down"></i>
                                <ul class="menu-mega">
                                    <div class="container">
                                        <div class="menu-mega-inner">
                                            <div class="menu-cate">
                                                <h3 class="title">
                                                    Dịch vụ
                                                </h3>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#tabs-1"
                                                            role="tab">Thiết kế nội thất</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tabs-2"
                                                            role="tab">Thi công
                                                            nội thất</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="menu-list">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                                        <ul>
                                                            <li>
                                                                <a href="">Thiết kế nội thất chung cư</a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất văn phòng</a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất cafe
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất spa thẩm mỹ viện
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế shop thời trang, quần áo, cửa hàng showroom
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                                                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                                            <ul>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất văn phòng</a>
                                                                </li>
                                                                <li>
                                                                    <a href="">Thiết kế nội thất chung cư</a>
                                                                </li>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất cafe
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế shop thời trang, quần áo, cửa hàng
                                                                        showroom
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất spa thẩm mỹ viện
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-media">
                                                <img src="./img/media-mega-menu.png" alt="">
                                                <a href="" class="see-all">Xem tất cả</a>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="./products.html" class="menu-link">Sản phẩm</a>
                                <i class="fal fa-chevron-down"></i>
                                <ul class="menu-mega">
                                    <div class="container">
                                        <div class="menu-mega-inner">
                                            <div class="menu-cate">
                                                <h3 class="title">
                                                    Sản phẩm
                                                </h3>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#product-1"
                                                            role="tab">Thiết kế</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#product-2"
                                                            role="tab">Thi công
                                                            nội thất</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="menu-list">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="product-1" role="tabpanel">
                                                        <ul>
                                                            <li>
                                                                <a href="">Thiết kế quầy thu ngân</a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế tủ bếp</a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất cafe
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất spa thẩm mỹ viện
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế shop thời trang, quần áo, cửa hàng showroom
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane" id="product-2" role="tabpanel">
                                                        <div class="tab-pane active" id="product-2" role="tabpanel">
                                                            <ul>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất văn phòng</a>
                                                                </li>
                                                                <li>
                                                                    <a href="">Thiết kế nội thất chung cư</a>
                                                                </li>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất cafe
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế shop thời trang, quần áo, cửa hàng
                                                                        showroom
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất spa thẩm mỹ viện
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-media">
                                                <img src="./img/pro-2.png" alt="">
                                                <a href="" class="see-all">Xem tất cả</a>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="./news.html" class="menu-link">Tin tức</a>
                                <i class="fal fa-chevron-down"></i>
                                <ul class="menu-mega">
                                    <div class="container">
                                        <div class="menu-mega-inner">
                                            <div class="menu-cate">
                                                <h3 class="title">
                                                    Tin tức
                                                </h3>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#news-1"
                                                            role="tab">Tin tức công nghệ</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#news-2"
                                                            role="tab">Tin tức thiết kế</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="menu-list">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="news-1" role="tabpanel">
                                                        <ul>
                                                            <li>
                                                                <a href="">Thiết kế nội thất chung cư</a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất văn phòng</a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất cafe
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế nội thất spa thẩm mỹ viện
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="">
                                                                    Thiết kế shop thời trang, quần áo, cửa hàng showroom
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane" id="news-2" role="tabpanel">
                                                        <div class="tab-pane active" id="news-2" role="tabpanel">
                                                            <ul>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất thiết kế 1</a>
                                                                </li>
                                                                <li>
                                                                    <a href="">Thiết kế nội thất</a>
                                                                </li>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất cafe
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế shop thời trang, quần áo, cửa hàng
                                                                        showroom
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="">
                                                                        Thiết kế nội thất spa thẩm mỹ viện
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="menu-media">
                                                <img src="./img/new-2.png" alt="">
                                                <a href="" class="see-all">Xem tất cả</a>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="./contact.html" class="menu-link">Liên hệ</a>
                            </li>
                        </ul>
                        <form action="" class="search ">
                            <i class="fal fa-times icon-close"></i>
                            <i class="fal fa-search icon-search"></i>
                            <input class="d-block" type="text" placeholder="Tìm kiếm..." />
                            <!-- <img src="./img/icon/icon-search.png" alt=""> -->
                        </form>
                    </div>
                    <i class="far fa-bars icon-head-bar"></i>
                </div>

            </div>
        </header>
        <!-- end header -->

        <section class="banner-main">
            <div class="owl-carousel owl-theme slider-main-banner">
                <div class="item">
                    <img src="./img/banner-product.png" alt="" />
                    <div class="title-banner">
                        <h4>Sản phẩm</h4>
                        <h2>Tủ bếp</h2>
                    </div>
                    <div class="text-banner">
                        <img src="./img/icon/text-bluecons-abs.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <main>
            <section class="product">
                <div class="container">
                    <p>
                        Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản
                        trở
                        việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ
                        gồm
                        nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường
                        hơn.
                        Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn
                        bản
                        giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện
                        vẫn
                        đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình,
                        nhiều
                        khi do cố ý (xen thêm vào những câu hài hước hay thông tục).
                    </p>
                    <div class="d-flex flex-sm-nowrap flex-wrap">
                        <img src="./img/product-detail-1.png" class="mb-2 mr-2" alt="">
                        <img src="./img/product-detail-2.png" class="mb-2" alt="">
                    </div>
                    <div class="d-flex flex-sm-nowrap flex-wrap">
                        <img src="./img/product-detail-3.png" class="mr-2 mt-0" alt="">
                        <img src="./img/product-detail-4.png" class="mt-0" alt="">
                    </div>
                    <h4>Các mẫu tủ bếp</h4>
                    <p>Chúng ta vẫn biết rằng, làm việc với một đoạn văn bản dễ đọc và rõ nghĩa dễ gây rối trí và cản
                        trở
                        việc tập trung vào yếu tố trình bày văn bản. Lorem Ipsum có ưu điểm hơn so với đoạn văn bản chỉ
                        gồm
                        nội dung kiểu "Nội dung, nội dung, nội dung" là nó khiến văn bản giống thật hơn, bình thường
                        hơn.
                        Nhiều phần mềm thiết kế giao diện web và dàn trang ngày nay đã sử dụng Lorem Ipsum làm đoạn văn
                        bản
                        giả, và nếu bạn thử tìm các đoạn "Lorem ipsum" trên mạng thì sẽ khám phá ra nhiều trang web hiện
                        vẫn
                        đang trong quá trình xây dựng. Có nhiều phiên bản khác nhau đã xuất hiện, đôi khi do vô tình,
                        nhiều
                        khi do cố ý (xen thêm vào những câu hài hước hay thông tục).</p>
                    <img src="./img/product-detail-5.png" alt="">
                    <img src="./img/product-detail-6.png" alt="">
                </div>
            </section>
        </main>
        <!-- end content -->

        <footer class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-inner">
                        <div class="col-logo footer-col">
                            <a href="">
                                <img src="./img/icon/logo-footer.png" alt="">
                            </a>
                        </div>
                        <div class="col-address footer-col">
                            <h2 class="title">Địa chỉ</h2>
                            <div class="col-address-list">
                                <p class="col-address-item">
                                    <span>Trụ sở:</span> 499/6/79C Quang Trung, P10, Gò Vấp, TP Hồ Chí Minh
                                </p>
                                <p class="col-address-item">
                                    <span>Xưởng:</span> 227 Huỳnh Văn Nghệ, P15, Gò Vấp, Hồ Chí Minh
                                </p>
                            </div>
                        </div>
                        <div class="col-menu col-menu-info footer-col">
                            <h2 class="title">Thông tin</h2>
                            <ul class="col-menu-list">
                                <li class="col-menu-item"><a href="./intro.html">Giới thiệu</a></li>
                                <li class="col-menu-item"><a href="./service.html">Dịch vụ</a>
                                </li>
                                <li class="col-menu-item"><a href="./products.html">Sản phẩm</a></li>
                                <li class="col-menu-item"><a href="./news.html">Tin tức</a></li>
                                <li class="col-menu-item"><a href="./contact.html">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-menu footer-col col-menu-support">
                            <h2 class="title">Hỗ trợ</h2>
                            <ul class="col-menu-list">
                                <li class="col-menu-item"><a href="./policy.html">Chính sách bảo hành</a></li>
                                <li class="col-menu-item"><a href="./policy.html">Chính sách bảo mật</a></li>
                                <li class="col-menu-item"><a href="./policy.html">Chính sách đổi trả</a></li>
                                <li class="col-menu-item"><a href="./policy.html">Chính sách mua hàng</a></li>
                            </ul>
                        </div>
                        <div class="col-menu footer-col">
                            <h2 class="title">Liên kết</h2>
                            <ul class="col-menu-list">
                                <li class="col-menu-item"><a href="">Facebook</a></li>
                                <li class="col-menu-item"><a href="">Instagram</a></li>
                                <li class="col-menu-item"><a href="">Youtube</a></li>
                                <li class="col-menu-item"><a href="">Linked</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bot">
                <div class="container">
                    <ul class="menu-cate-footer">
                        <li><a href="./product-detail.html">BÀN QUẦY TIẾP TÂN</a></li>
                        <li><a href="./product-detail.html">QUẦY LỄ TÂN ĐẸP</a></li>
                        <li><a href="./product-detail.html">QUẦY PHA CHẾ</a></li>
                        <li><a href="./product-detail.html">QUẦY THU NGÂN</a></li>
                        <li><a href="./product-detail.html">TỦ QUẦN ÁO</a></li>
                        <li><a href="./product-detail.html">TỦ TRƯNG BÀY</a></li>
                        <li><a href="./product-detail.html">Bàn họp</a></li>
                        <li><a href="./product-detail.html">TỦ LOCKER</a></li>
                        <li><a href="./product-detail.html">TỦ BẾP</a></li>
                    </ul>
                    <ul class="menu-cate-footer">
                        <li><a href="./product-detail.html">THI CÔNG NỘI THẤT VĂN PHÒNG </a></li>
                        <li><a href="./product-detail.html">THIẾT KẾ CỬA HÀNG</a></li>
                        <li><a href="./product-detail.html">THIẾT KẾ NỘI THẤT CHUNG CƯ</a></li>
                        <li><a href="./product-detail.html">THIẾT KẾ NỘI THẤT VĂN PHÒNG</a></li>
                        <li><a href="./product-detail.html">THIẾT KẾ QUÁN TRÀ SỮA</a></li>
                        <li><a href="./product-detail.html">THIẾT KẾ SHOP QUẦN ÁO</a></li>
                    </ul>
                    <ul class="menu-cate-footer">
                        <li><a href="./product-detail.html">THIẾT KẾ SHOP THỜI TRANG</a></li>
                        <li><a href="./product-detail.html">THIẾT KẾ SHOWROOM</a></li>
                        <li><a href="./product-detail.html">THIẾT KẾ SPA</a></li>
                        <li><a href="./product-detail.html">THI CÔNG SPA</a></li>
                        <li><a href="./product-detail.html">THI CÔNG SHOP</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© Copyright 2021 Bluecons</p>
            </div>
        </footer>
        <!-- end footer -->
    </div>

    <script src="libs/jquery-3.4.1.min.js"></script>
    <script src="libs/OwlCarousel/owl.carousel.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>