.consulting-rev-title{
  font-size: 60px !important;
  line-height: 60px !important;
  color: #222222 !important;
  font-family: Poppins !important;
  font-weight: 700 !important;
  letter-spacing: -0.06em;
  @media (max-width: 480px) {
    font-size: 40px !important;
    line-height: 40px !important;
  }
}

.consulting-rev-title-2{
  font-size: 36px !important;
  line-height: 42px !important;
  color: #222222 !important;
  font-family: Poppins !important;
  font-weight: 700 !important;
  letter-spacing: -0.06em !important;
}

.consulting-rev-title-3{
  font-size: 45px !important;
  line-height: 45px !important;
  color: #222222 !important;
  font-family: Poppins !important;
  font-weight: 700 !important;
  letter-spacing: -0.06em !important;
}

.consulting-rev-title-icon{
  font-size: 72px;
  color: $stm_secondary_color;
  padding-left: 1px;
  @media (max-width: 480px){
    font-size: 54px;
  }
}

.consulting-rev-text{
  font-family: Poppins !important;
  font-weight: 300 !important;
  color: #222222 !important;
  line-height: 32px !important;
  font-size: 24px !important;
  letter-spacing: -0.02em !important;
  @media (max-width: 480px) {
    font-size: 16px !important;
    line-height: 22px !important;
  }
}

.consulting-rev-text-2{
  color: #222222 !important;
  line-height: 22px !important;
  font-size: 14px !important;
}

.tp-caption{
  .button{
    margin-right: 16px;
  }
}
@media (max-width: 480px){
  .wpb_revslider_element .icon_right {
    padding: 12px 35px 12px 15px !important;
  }
}


body .tparrows{
  width: 45px !important;
  height: 45px !important;
  background: none !important;
  border: 3px solid #bac1c6 !important;
  border-radius: 0 !important;
  @include transition();
  &:hover{
    background: $stm_base_color !important;
    border-color: $stm_base_color !important;
    &:before{
      color: #fff !important;
    }
  }
  &.tp-leftarrow{
    &:before{
      content: "\f053" !important;
      padding: 0 3px 0 0 !important;
    }
  }
  &.tp-rightarrow{
    &:before{
      content: "\f054" !important;
      padding: 0 0 0 3px !important;
    }
  }
  &:before{
    @include fa();
    font-size: 19px !important;
    line-height: 40px !important;
    color: #bac1c6 !important;
    font-family: 'FontAwesome' !important;
  }
}

body{
  div.tp-bullets, .tp-bullets.hesperiden{
    .tp-bullet{
      width: 4px !important;
      height: 4px !important;
      background: $stm_secondary_color !important;
      box-sizing: content-box !important;
      margin: 2px !important;
      padding: 0 !important;
      border: none !important;
      border-radius: 50% !important;
      @include border-radius(50%);
      &.selected{
        background: $stm_base_color !important;
        padding: 2px !important;
        margin: 0 !important;
      }
    }
  }
}