<header class="header-mobile">
    <div class="container">
        <div class="wrapper flex flex-align-center flex-justify-space-between">
            <div class="nav-side flex flex-align-center">
                <div class="nav-menu">
                    <a href="#"><img src="/images/nav-icon.svg" /></a>
                </div>
                <div class="nav-account">
                    <a class="font15 cblack" href="#">
                        <strong>Tài khoản <span class="fa fa-angle-down"></span></strong>
                    </a>
                    <ul>
                        <li class="active">
                            <a href="#">
                                Tổng quan
                            </a>
                        </li>
                        <li>
                            <a href="#">Thông tin</a>
                        </li>
                        <li>
                            <a href="#">Mật khẩu</a>
                        </li>
                        <li>
                            <a href="#">Bài viết đã lưu</a>
                        </li>
                        <li>
                            <a href="#">Danh mục theo dõi</a>
                        </li>
                        <li>
                            <a href="#">Bình luận</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-logout">
                <a href="#"><img src="/images/logout-icon.svg" /></a>
            </div>
        </div>
    </div>
</header>