.ccb-main-calc {
    .ccb-main-wrapper {
        .form-wrapper {
            display: flex;
            flex-wrap: wrap;
            min-width: 100% !important;
            padding: 0 !important;
            align-items: unset;
            label.light {
                display: inline-block;
                font-weight: 400;
                font-size: 14px;
            }
            @media (max-width: 820px){
                flex-direction: row !important;
            }
            .ccb-left-form-wrapper, .ccb-form-right-wrapper {
                border-radius: 0 !important;
                width: calc(50% - 15px);
                padding: 40px 50px;
                @media (max-width: 820px){
                    width: calc(50% - 15px) !important;
                    flex-direction: row;
                }
                @media (max-width: 991px){
                    padding: 30px 20px;
                }

                h3, h4 {
                    font-size: 24px !important;
                    line-height: 24px !important;
                    font-weight: 700;
                    padding: 0;
                    margin: 0 0 24px 0;
                    &:after {
                        display: none;
                    }
                }
                @media(max-width: 767px){
                    width: 100% !important;
                }
                &.ccb-left-form-wrapper {
                    margin: 0 15px 0 0 !important;
                    @media(max-width: 767px){
                        margin: 0 0 30px 0 !important;
                    }
                    input[type=number],
                    input[type=text] {
                        padding: 16px 30px 15px;
                        outline: none;
                    }
                }
                &.ccb-form-right-wrapper {
                    margin: 0 0 0 15px !important;
                    @media(max-width: 767px){
                        margin: 0 0 30px 0 !important;
                    }
                    .ccb-summary-title {
                        text-indent: 0;
                        &:before {
                            display: none;
                        }
                        h4 {
                            &:before {
                                display: none;
                            }
                        }
                    }
                    .ccb-total-description {

                        li:last-child {
                            padding-left: 0;
                            padding-top: 20px;
                            border-top: 1px #dddddd solid;
                            font-weight: 700;
                            margin-top: 30px;

                            &:before {
                                display: none;
                            }
                            .ccb-summary-desc {
                                line-height: 24px;
                            }
                            .ccb-summary-value {
                                height: auto;
                                width: auto;
                                padding: 0;
                                background: none;
                                color: #333;
                                border: none;
                                box-shadow: none;
                                text-shadow: none;
                                font-weight: 700;
                                line-height: 24px;
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ccb-contact-form7 {
            @media (max-width: 991px){
                .input-group {
                    margin-bottom: 20px !important;
                }
            }
            padding-top: 40px;
            input,
            textarea {
                background-color: #fff;
            }
            button i {
                position: absolute;
            }
        }
    }
    .select2-container.select2-container--default .select2-selection--single {
        border: none;
    }
    &.ccb-main-horizontal {
        .ccb-main-wrapper {
            .form-wrapper {
                .form-wrapper-content {
                    width: 100% !important;
                    flex: 0 0 100% !important;
                    .ccb-horizontal-calc-wrapper {
                        padding: 40px 50px 20px;
                        & > h3 {
                            padding: 0 15px;
                        }
                        @media (max-width: 767px) {
                            padding: 30px;
                        }
                        #ccb-horizontal-main {
                            .ccb-inner-wrapper {
                                padding: 0 15px;
                                margin-bottom: 30px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        #ccb-horizontal-total-summary {
                            .ccb-horizontal-summary-title {
                                text-indent: 0;
                                padding-left: 0 !important;
                                &:before {
                                    display: none !important;
                                }
                                h4 {
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                            li:last-child {
                                padding-left: 0;
                                padding-top: 20px;
                                border-top: 1px #dddddd solid;
                                font-weight: 700;
                                margin-top: 30px;

                                &:before {
                                    display: none;
                                }
                                .ccb-summary-desc {
                                    line-height: 24px;
                                }
                                .ccb-summary-value {
                                    height: auto;
                                    width: auto;
                                    padding: 0;
                                    background: none;
                                    color: #333;
                                    border: none;
                                    box-shadow: none;
                                    text-shadow: none;
                                    font-weight: 700;
                                    line-height: 24px;
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .form-wrapper .ccb-next-button-wrapper {
        float: none;
        width: 100%;
        text-align: right;
        .ccb-next-button {
            transform: none;
            width: auto;
            display: inline-block;
            font-family: inherit;
            padding: 8px 20px !important;
            &:before,
            &:after {
                display: none;
            }
        }
    }
}