<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body class="font-sans">
    <div class="404">
        <div class="absolute z-10 top-10 md:top-24 lg:top-40 left-10 md:left-24 lg:left-40 flex flex-col items-center">
            <img  src="./img/oops.svg" alt="Opps!" class="mx-4 w-40 lg:w-60">
            <span class="block text-gray-500 font-semibold lg:text-lg">Không tìm thấy trang!</span>
            <span class="block font-semibold text-xs lg:text-sm" >Trang đã bị xóa hoặc địa chỉ url không đúng</span>
            <div class="flex justify-center my-8">
                <button class="bg-primary text-white py-2 px-4 text-sm rounded-md uppercase font-semibold">Quay về trang chủ</button>
            </div>
        </div>
        <img class="max-h-screen float-right" src="./img/404.png" alt="Không tìm thấy trang">
    </div>
</body>
</html>