<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dự án Sorotouch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">     
        <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">     
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">  
        <link href="/sorotouch/css/bootstrap.min.css" rel="stylesheet">
        <link href="/sorotouch/css/font-awesome.min.css" rel="stylesheet">
        <link href="/sorotouch/css/dist/layout.css" rel="stylesheet">        
        <link href="/sorotouch/css/dist/style.css" rel="stylesheet">
        <script type="text/javascript" src="/sorotouch/js/jquery.min.js"></script>      
        <!-- bxslider -->
        <link rel="stylesheet" href="/sorotouch/bxslider/jquery.bxslider.min.css" type="text/css" />
        <script type="text/javascript" src="/sorotouch/bxslider/jquery.bxslider.min.js"></script>
        <!-- #bxslider -->

        <script type="module" src="/sorotouch/js/jquery.customize.js"></script>	

      
    </head>
    <body>
        
        <div id="page404" class="flex-layout flex-direction-column flex-justify-center flex-align-center">
            <h1>404</h1>
            <h2>Không tìm thấy trang!</h2>
            <h4>Trang đã bị xóa hoặc địa chỉ url không đúng</h4>
            <a class="btnBackToHome" href="#">Quay về trang chủ</a>
        </div>
        
     
    </body>
    
    
    
    
</html>