<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dự án Sorotouch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">     
        <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">     
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">  
        <link href="/sorotouch/css/bootstrap.min.css" rel="stylesheet">
        <link href="/sorotouch/css/font-awesome.min.css" rel="stylesheet">
        <link href="/sorotouch/css/dist/layout.css" rel="stylesheet">        
        <link href="/sorotouch/css/dist/style.css" rel="stylesheet">
        <script type="text/javascript" src="/sorotouch/js/jquery.min.js"></script>      
        <!-- bxslider -->
        <link rel="stylesheet" href="/sorotouch/bxslider/jquery.bxslider.min.css" type="text/css" />
        <script type="text/javascript" src="/sorotouch/bxslider/jquery.bxslider.min.js"></script>
        <!-- #bxslider -->

        <script type="module" src="/sorotouch/js/jquery.customize.js"></script>	

      
    </head>
    <body>
        <header id="header">
            <div class="headerTop">
                <div class="container">
                    <div class="headerWrapper flex-layout flex-align-center flex-justify-space-between">
                       
                        <div class="contact-info header-contact-info flex-layout">
                            <div class="email contact-def email-header email-header-top">Email: <a title="youemail@gmail.com" href="mailto:youemail@gmail.com">youremail@gmail.com</a></div>
                            <div class="phone contact-def phone-header phone-header-top">Hotline: <a title="0901234567" href="tel:0901234567">0901234567</a></div>
                        </div>

                        <div class="contact-info __mobile header-contact-info flex-layout">
                            <div>
                                <a class="email contact-def email-header email-header-top" title="youemail@gmail.com" href="mailto:youemail@gmail.com"></a>
                        
                                <a class="phone contact-def phone-header phone-header-top" title="0901234567" href="tel:0901234567"></a>
                            </div>
                            <div class="soro-header-navfix flex-layout flex-align-center">
                                <div class="social header-social flex-layout">
                                    <a title="facebook" class="fb" href="https://www.facebook.com"> </a>
                                    <a title="youtube" class="youtube" href="https://www.youtube.com"> </a>
                                    <a title="zalo" class="zalo" href="https://chat.zalo.me"> </a>
                                </div>
                            </div>
                        </div>

                        <div class="logo header-logo">
                            <a title="logo" href="/sorotouch/">
                                <img src="/sorotouch/images/logo.png" alt="logo" />
                                <span>Toán tư duy tính nhẩm sorotouch</span>
                            </a>
                        </div>
                        <div class="soro-header-navfix flex-layout flex-align-center">
                            <div class="social header-social flex-layout">
                                <a title="facebook" class="fb" href="https://www.facebook.com"> </a>
                                <a title="youtube" class="youtube" href="https://www.youtube.com"> </a>
                                <a title="zalo" class="zalo" href="https://chat.zalo.me"> </a>
                            </div>
                            <div class="soro-navfix">
                                <a title="ĐĂNG KÝ TRẢI NGHIỆM" class="soro-button btnSoroNavFix" href="/sorotouch/dang-ky-trai-nghiem.html">ĐĂNG KÝ TRẢI NGHIỆM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headerSecondary">
                <div class="container">
                    <div class="headerWrapper">
                        <ul id="main-menu" class="flex-layout flex-justify-space-between">
                            <li class="has-childrens">
                                <a title="Giới thiệu" href="/sorotouch/gioi-thieu.html">Giới thiệu</a>
                                <ul class="sub-menu">
                                    <li class="has-childrens">
                                        <a title="Hành trình SoroTouch" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Hành trình SoroTouch</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Câu chuyện nhà sáng lập" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Câu chuyện nhà sáng lập</a>
                                            </li>
                                            <li>
                                                <a title="Mong muốn từ cha mẹ" href="/sorotouch/mong-muon-tu-cha-me.html">Mong muốn từ cha mẹ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="Profile Công ty" href="/sorotouch/cong-ty-sorotouch.html">Profile Công ty</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Công ty SoroTouch" href="/sorotouch/cong-ty-sorotouch.html">Công ty SoroTouch</a>
                                            </li>                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="SoroTouch là gì" href="/sorotouch/sorotouch-la-gi.html">SoroTouch là gì</a>
                                <ul class="sub-menu">
                                    <li class="has-childrens">
                                        <a title="Đặc trưng" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Đặc trưng</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Giới thiệu chung" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Giới thiệu chung</a>
                                            </li>
                                            <li>
                                                <a title="Điểm khác biệt" href="/sorotouch/sorotouch-la-gi-diem-khac-biet.html">Điểm khác biệt</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="Kết quả đạt được từ SoroTouch" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Kết quả đạt được từ SoroTouch</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Lợi ích" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Lợi ích</a>
                                            </li>
                                            <li>
                                                <a title="Độ tuổi thích hợp" href="/sorotouch/sorotouch-la-gi-do-tuoi-thich-hop.html">Độ tuổi thích hợp</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </li>
                            <li class="has-childrens">
                                <a title="Chương trình học" href="/sorotouch/chuong-trinh-hoc.html">Chương trình học</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Phương pháp học với SoroTouch" href="/sorotouch/chuong-trinh-hoc-phuong-phap-hoc.html">Phương pháp học với SoroTouch</a>
                                    </li>
                                    <li>
                                        <a title="Lộ trình học tập" href="/sorotouch/chuong-trinh-hoc-lo-trinh-hoc-tap.html">Lộ trình học tập</a>
                                    </li>
                                    <li>
                                        <a title="Thông tin khóa học" href="/sorotouch/chuong-trinh-hoc-thong-tin-khoa-hoc.html">Thông tin khóa học</a>
                                    </li>
                                    <li>
                                        <a title="Cấu trúc buổi học" href="/sorotouch/chuong-trinh-hoc-cau-truc-buoi-hoc.html">Cấu trúc buổi học</a>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="Cảm nhận về chương trình" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận về chương trình</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Cảm nhận của phụ huynh" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận của phụ huynh</a>
                                            </li>
                                            <li>
                                                <a title="Cảm nhận của học viên" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-hoc-vien.html">Cảm nhận của học viên</a>
                                            </li>
                                            <li>
                                                <a title="Video chia sẻ cảm nhận" href="/sorotouch/chuong-trinh-hoc-video-chia-se-cam-nhan.html">Video chia sẻ cảm nhận</a>
                                            </li>                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="Lớp học" href="/sorotouch/lop-hoc.html">Lớp học</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Cơ sở vật chất" href="/sorotouch/lop-hoc-co-so-vat-chat.html">Cơ sở vật chất</a>
                                    </li>
                                    <li>
                                        <a title="Các trung tâm" href="/sorotouch/lop-hoc-co-so.html">Các trung tâm</a>
                                    </li>                                                                        
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="Tin tức" href="/sorotouch/tin-tuc.html">Tin tức</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Cẩm nang" href="/sorotouch/tin-tuc-cam-nang.html">Cẩm nang</a>
                                    </li>
                                    <li>
                                        <a title="Sự kiện" href="/sorotouch/tin-tuc-su-kien.html">Sự kiện</a>
                                    </li>                                                                        
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="Hỏi đáp" href="/sorotouch/hoi-dap.html">Hỏi đáp</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Câu hỏi thường gặp" href="/sorotouch/hoi-dap.html">Câu hỏi thường gặp</a>
                                    </li>                                                                                              
                                </ul>
                            </li>
                        </ul>

                        <nav class="mobile-menu flex-layout flex-align-center flex-justify-center">
                            <button>
                                <span class="fa fa-navicon"></span>
                            </button>
                            <div class="soro-navfix">
                                <a title="ĐĂNG KÝ TRẢI NGHIỆM" class="soro-button btnSoroNavFix" href="/sorotouch/dang-ky-trai-nghiem.html">ĐĂNG KÝ TRẢI NGHIỆM</a>
                            </div>
                            <ul>
                                <li>
                                    <a title="Giới thiệu" href="/sorotouch/gioi-thieu.html">Giới thiệu</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Hành trình SoroTouch" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Hành trình SoroTouch</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Câu chuyện nhà sáng lập" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Câu chuyện nhà sáng lập</a>
                                                </li>
                                                <li>
                                                    <a title="Mong muốn từ cha mẹ" href="/sorotouch/mong-muon-tu-cha-me.html">Mong muốn từ cha mẹ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li">
                                            <a title="Profile Công ty" href="/sorotouch/cong-ty-sorotouch.html">Profile Công ty</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Công ty SoroTouch" href="/sorotouch/cong-ty-sorotouch.html">Công ty SoroTouch</a>
                                                </li>                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="SoroTouch là gì" href="/sorotouch/sorotouch-la-gi.html">SoroTouch là gì</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Đặc trưng" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Đặc trưng</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Giới thiệu chung" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Giới thiệu chung</a>
                                                </li>
                                                <li>
                                                    <a title="Điểm khác biệt" href="/sorotouch/sorotouch-la-gi-diem-khac-biet.html">Điểm khác biệt</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a title="Kết quả đạt được từ SoroTouch" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Kết quả đạt được từ SoroTouch</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Lợi ích" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Lợi ích</a>
                                                </li>
                                                <li>
                                                    <a title="Độ tuổi thích hợp" href="/sorotouch/sorotouch-la-gi-do-tuoi-thich-hop.html">Độ tuổi thích hợp</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                </li>
                                <li>
                                    <a title="Chương trình học" href="/sorotouch/chuong-trinh-hoc.html">Chương trình học</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Phương pháp học với SoroTouch" href="/sorotouch/chuong-trinh-hoc-phuong-phap-hoc.html">Phương pháp học với SoroTouch</a>
                                        </li>
                                        <li>
                                            <a title="Lộ trình học tập" href="/sorotouch/chuong-trinh-hoc-lo-trinh-hoc-tap.html">Lộ trình học tập</a>
                                        </li>
                                        <li>
                                            <a title="Thông tin khóa học" href="/sorotouch/chuong-trinh-hoc-thong-tin-khoa-hoc.html">Thông tin khóa học</a>
                                        </li>
                                        <li>
                                            <a title="Cấu trúc buổi học" href="/sorotouch/chuong-trinh-hoc-cau-truc-buoi-hoc.html">Cấu trúc buổi học</a>
                                        </li>
                                        <li>
                                            <a title="Cảm nhận về chương trình" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận về chương trình</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Cảm nhận của phụ huynh" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận của phụ huynh</a>
                                                </li>
                                                <li>
                                                    <a title="Cảm nhận của học viên" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-hoc-vien.html">Cảm nhận của học viên</a>
                                                </li>
                                                <li>
                                                    <a title="Video chia sẻ cảm nhận" href="/sorotouch/chuong-trinh-hoc-video-chia-se-cam-nhan.html">Video chia sẻ cảm nhận</a>
                                                </li>                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="Lớp học" href="/sorotouch/lop-hoc.html">Lớp học</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Cơ sở vật chất" href="/sorotouch/lop-hoc-co-so-vat-chat.html">Cơ sở vật chất</a>
                                        </li>
                                        <li>
                                            <a title="Các trung tâm" href="/sorotouch/lop-hoc-co-so.html">Các trung tâm</a>
                                        </li>                                                                        
                                    </ul>
                                </li>
                                <li>
                                    <a title="Tin tức" href="/sorotouch/tin-tuc.html">Tin tức</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Cẩm nang" href="/sorotouch/tin-tuc-cam-nang.html">Cẩm nang</a>
                                        </li>
                                        <li>
                                            <a title="Sự kiện" href="/sorotouch/tin-tuc-su-kien.html">Sự kiện</a>
                                        </li>                                                                        
                                    </ul>
                                </li>
                                <li>
                                    <a title="Hỏi đáp" href="/sorotouch/hoi-dap.html">Hỏi đáp</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Câu hỏi thường gặp" href="/sorotouch/hoi-dap.html">Câu hỏi thường gặp</a>
                                        </li>                                                                                              
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>
            </div>
            
        </header>
        
        <div id="main">
            <div class="soro-page-banner">
                <div class="container">
                    <div class="page-banner-wrapper flex-layout flex-align-end flex-justify-space-between">
                        <h1 class="page-heading">Chương trình học</h1>
                        <div id="breadcrumbs" class="breadcrumbs">
                            <a title="Trang chủ" href="/sorotouch/">Trang chủ</a>
                            <span class="fa fa-arrow-right"></span>
                            <a title="SoroTouch là gì" href="/sorotouch/chuong-trinh-hoc.html">Chương trình học </a><span class="fa fa-arrow-right"></span><span class="current">Cấu trúc buổi học</span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="page-template page-main">
                <div class="page-contents">
                    <div class="container">
                        <div class="soro-wrapper flex-layout">
                            <div class="sidebar">
                                <h2>DANH MỤC</h2>
                                <ul>
                                    <li>
                                        <a title="PHƯƠNG PHÁP HỌC VỚI SRT" href="/sorotouch/chuong-trinh-hoc-phuong-phap-hoc.html">PHƯƠNG PHÁP HỌC VỚI SRT</a>
                                    </li>
        
                                    <li>
                                        <a title="LỘ TRÌNH HỌC TẬP" href="/sorotouch/chuong-trinh-hoc-lo-trinh-hoc-tap.html">LỘ TRÌNH HỌC TẬP</a>
                                    </li>
                                    <li>
                                        <a title="THÔNG TIN KHÓA HỌC" href="/sorotouch/chuong-trinh-hoc-thong-tin-khoa-hoc.html">THÔNG TIN KHÓA HỌC</a>
                                    </li>
                                    <li class="active">
                                        <a title="CẤU TRÚC BUỔI HỌC" href="/sorotouch/chuong-trinh-hoc-cau-truc-buoi-hoc.html">CẤU TRÚC BUỔI HỌC</a>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="CẢM NHẬN VỀ CHƯƠNG TRÌNH " href="/sorotouch/chuong-trinh-hoc-cau-truc-buoi-hoc.html">CẢM NHẬN VỀ CHƯƠNG TRÌNH </a>
                                        <ul>
                                            <li>
                                                <a title="Cảm nhận của phụ huynh" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">
                                                    Cảm nhận của phụ huynh
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Cảm nhận của học viên" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-hoc-vien.html">Cảm nhận của học viên</a>
                                            </li>
                                            <li>
                                                <a title="Video chia sẻ cảm nhận" href="/sorotouch/chuong-trinh-hoc-video-chia-se-cam-nhan.html">Video chia sẻ cảm nhận</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-panel">
                                <div class="wrapper">
                                    <h3 class="pageSubHeadingText">Cấu trúc buổi học</h3>
        
                                    <div class="paragraphs paragraphs-sp">
                                        <p class="text-center"><img src="/sorotouch/images/ctruc1.png" alt="ctruc1" /></p>
                                    </div>
                                    <div class="soro-lession-struct paragraphs paragraphs-sp">
                                        <div class="lession-struct-item">
                                            <p><strong>Bạn có thể giải nó bằng cách tính nhẩm trong các bài kiểm tra và hội thoại ở trường!</strong></p>
        
                                            <p>
                                                SoroTouch học bốn phép tính số học cộng, trừ, nhân và chia một cách cân bằng bằng cách "nhìn và giải" và "nghe và giải". Với việc giới thiệu kỹ năng nghe ngay từ đầu, bạn sẽ có thể sử dụng các kỹ năng
                                                tính nhẩm của mình trong các tình huống khác nhau như vấn đề viết trên giấy, vấn đề nghe được trong hội thoại, v.v.
                                            </p>
                                        </div>
        
                                        <div class="lession-struct-item">
                                            <p><strong>Bạn có thể giải nó bằng cách tính nhẩm trong các bài kiểm tra và hội thoại ở trường!</strong></p>
        
                                            <p>
                                                SoroTouch học bốn phép tính số học cộng, trừ, nhân và chia một cách cân bằng bằng cách "nhìn và giải" và "nghe và giải". Với việc giới thiệu kỹ năng nghe ngay từ đầu, bạn sẽ có thể sử dụng các kỹ năng
                                                tính nhẩm của mình trong các tình huống khác nhau như vấn đề viết trên giấy, vấn đề nghe được trong hội thoại, v.v.
                                            </p>
                                        </div>
                                        <div class="lession-struct-item">
                                            <p><strong>Bạn có thể giải nó bằng cách tính nhẩm trong các bài kiểm tra và hội thoại ở trường!</strong></p>
        
                                            <p>
                                                SoroTouch học bốn phép tính số học cộng, trừ, nhân và chia một cách cân bằng bằng cách "nhìn và giải" và "nghe và giải". Với việc giới thiệu kỹ năng nghe ngay từ đầu, bạn sẽ có thể sử dụng các kỹ năng
                                                tính nhẩm của mình trong các tình huống khác nhau như vấn đề viết trên giấy, vấn đề nghe được trong hội thoại, v.v.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="soro-contactcnt-section fullwidth-section">
                <div class="grid-three-columns grid-contactcnt-layout">
                    <div class="element flex-layout flex-justify-center">
                        <div class="icon"></div>
                        <div class="caption flex-layout flex-direction-column">
                            <span>HOTLINE</span>
                            <a href="tel:0901234567" title="0901234567">0901234567</a>
                        </div>
                    </div>
                    <div class="element flex-layout flex-justify-center">
                        <div class="icon"></div>
                        <div class="caption flex-layout flex-direction-column">
                            <span>ĐỊA CHỈ</span>
                            <span>315 Trường chinh, Thanh Xuân, HN</span>
                        </div>
                    </div>
                    <div class="element flex-layout flex-justify-center">
                        <div class="icon"></div>
                        <div class="caption flex-layout flex-direction-column">
                            <span>EMAIL</span>
                            <a href="mailto:youremail@gmail.com" title="youremail@gmail.com">youremail@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <footer id="colon">
            <div class="container">
                <div class="ft-row">
                    <div class="grid-fours-columns grid-footer-columns-layout">
                        <div class="element flex-layout flex-justify-center">
                            <div class="wrapper">
                                <h4>Về SoroTouch</h4>
                                <div class="footerContent">
                                    <p class="desc">SoroTouch là nơi giúp trẻ học, phát triển và rèn luyện kỹ năng thích ứng một cách linh hoạt trong bất kỳ hoàn cảnh nào thông qua các bài học toán.</p>
                                    <p class="discovery">
                                        <a title="ĐĂNG KÝ TRẢI NGHIỆM" class="btnSoroDefault btnPrimary btnDiscovery __sm __type-2 flex-layout flex-align-center flex-justify-center" href="/sorotouch/dang-ky-trai-nghiem.html">ĐĂNG KÝ TRẢI NGHIỆM</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="element flex-layout flex-justify-center">
                            <div class="wrapper">
                                <h4>Liên hệ với chúng tôi</h4>
                                <div class="footerContent">
                                    <div class="desc address">
                                        <p class="flex-layout flex-justify-space-between">
                                            <span class="icon fa fa-map-marker"></span>
                                            <span class="caption">
                                                Tầng 8, Tòa Nhà TOYOTA , 315 Trường Chinh, Khương Mai, Thanh Xuân, Hà Nội
                                            </span>
                                        </p>
        
                                        <p class="flex-layout flex-justify-space-between">
                                            <span class="icon fa fa-phone"></span>
                                            <a class="caption" href="tel:0901234567">0901234567</a>
                                        </p>        

                                        <p class="flex-layout flex-justify-space-between">
                                            <span class="icon fa fa-envelope"></span>
                                            <a class="caption" href="mailto:youremail@gmail.com">youremail@gmail.com</a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element flex-layout flex-justify-center">
                            <div class="wrapper">
                                <h4>Quick link</h4>
                                <div class="footerContent">
                                    <ul>
                                        <li><a title="SoroTouch là gì" href="/sorotouch/sorotouch-la-gi.html"> SoroTouch là gì</a></li>
                                        <li><a title="Chương trình học" href="/sorotouch/chuong-trinh-hoc.html">Chương trình học</a></li>
                                        <li><a title="Lớp học" href="/sorotouch/lop-hoc.html">Lớp học</a></li>
                                        <li><a title="Tin tức" href="/sorotouch/tin-tuc.html">Tin tức</a></li>
                                        <li><a title="Hỏi đáp" href="/sorotouch/hoi-dap.html">Hỏi đáp</a></li>
                                    </ul>
                                    <div class="social footer-social flex-layout flex-justify-space-between">
                                        <a title="facebook" href="https://www.facebook.com" class="fb"></a>
                                        <a title="youtube" href="https://www.youtube.com" class="youtube"></a>
                                        <a title="inst" href="https://www.instagram.com" class="inst"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element fanpage flex-layout flex-justify-center">
                            <div class="wrapper">
                                <div class="fb-page" 
                                    data-href="https://www.facebook.com/To%C3%A1n-t%C6%B0-duy-SoroTouch-Vi%E1%BB%87t-Nam-101609645199135"
                                    data-width="380" 
                                    data-lazy="true"
                                    data-hide-cover="false"
                                    data-show-facepile="false"></div>                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ft-row">
                    <div class="copyright">© Bản quyền thuộc về SoroTouch Việt Nam</div>
                </div>
            </div>
        </footer>
        

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=2147827908693613&autoLogAppEvents=1" nonce="m0gyWq7n"></script>
        
      
     
    </body>
    
    
    
    
</html>