<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dự án Sorotouch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">     
        <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">     
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">  
        <link href="/sorotouch/css/bootstrap.min.css" rel="stylesheet">
        <link href="/sorotouch/css/font-awesome.min.css" rel="stylesheet">
        <link href="/sorotouch/css/dist/layout.css" rel="stylesheet">        
        <link href="/sorotouch/css/dist/style.css" rel="stylesheet">
        <script type="text/javascript" src="/sorotouch/js/jquery.min.js"></script>      
        <!-- bxslider -->
        <link rel="stylesheet" href="/sorotouch/bxslider/jquery.bxslider.min.css" type="text/css" />
        <script type="text/javascript" src="/sorotouch/bxslider/jquery.bxslider.min.js"></script>
        <!-- #bxslider -->

        <script type="module" src="/sorotouch/js/jquery.customize.js"></script>	

      
    </head>
    <body>
        <header id="header">
            <div class="headerTop">
                <div class="container">
                    <div class="headerWrapper flex-layout flex-align-center flex-justify-space-between">
                       
                        <div class="contact-info header-contact-info flex-layout">
                            <div class="email contact-def email-header email-header-top">Email: <a title="youemail@gmail.com" href="mailto:youemail@gmail.com">youremail@gmail.com</a></div>
                            <div class="phone contact-def phone-header phone-header-top">Hotline: <a title="0901234567" href="tel:0901234567">0901234567</a></div>
                        </div>

                        <div class="contact-info __mobile header-contact-info flex-layout">
                            <div>
                                <a class="email contact-def email-header email-header-top" title="youemail@gmail.com" href="mailto:youemail@gmail.com"></a>
                        
                                <a class="phone contact-def phone-header phone-header-top" title="0901234567" href="tel:0901234567"></a>
                            </div>
                            <div class="soro-header-navfix flex-layout flex-align-center">
                                <div class="social header-social flex-layout">
                                    <a title="facebook" class="fb" href="https://www.facebook.com"> </a>
                                    <a title="youtube" class="youtube" href="https://www.youtube.com"> </a>
                                    <a title="zalo" class="zalo" href="https://chat.zalo.me"> </a>
                                </div>
                            </div>
                        </div>

                        <div class="logo header-logo">
                            <a title="logo" href="/sorotouch/">
                                <img src="/sorotouch/images/logo.png" alt="logo" />
                                <span>Toán tư duy tính nhẩm sorotouch</span>
                            </a>
                        </div>
                        <div class="soro-header-navfix flex-layout flex-align-center">
                            <div class="social header-social flex-layout">
                                <a title="facebook" class="fb" href="https://www.facebook.com"> </a>
                                <a title="youtube" class="youtube" href="https://www.youtube.com"> </a>
                                <a title="zalo" class="zalo" href="https://chat.zalo.me"> </a>
                            </div>
                            <div class="soro-navfix">
                                <a title="ĐĂNG KÝ TRẢI NGHIỆM" class="soro-button btnSoroNavFix" href="/sorotouch/dang-ky-trai-nghiem.html">ĐĂNG KÝ TRẢI NGHIỆM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headerSecondary">
                <div class="container">
                    <div class="headerWrapper">
                        <ul id="main-menu" class="flex-layout flex-justify-space-between">
                            <li class="has-childrens">
                                <a title="Giới thiệu" href="/sorotouch/gioi-thieu.html">Giới thiệu</a>
                                <ul class="sub-menu">
                                    <li class="has-childrens">
                                        <a title="Hành trình SoroTouch" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Hành trình SoroTouch</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Câu chuyện nhà sáng lập" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Câu chuyện nhà sáng lập</a>
                                            </li>
                                            <li>
                                                <a title="Mong muốn từ cha mẹ" href="/sorotouch/mong-muon-tu-cha-me.html">Mong muốn từ cha mẹ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="Profile Công ty" href="/sorotouch/cong-ty-sorotouch.html">Profile Công ty</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Công ty SoroTouch" href="/sorotouch/cong-ty-sorotouch.html">Công ty SoroTouch</a>
                                            </li>                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="SoroTouch là gì" href="/sorotouch/sorotouch-la-gi.html">SoroTouch là gì</a>
                                <ul class="sub-menu">
                                    <li class="has-childrens">
                                        <a title="Đặc trưng" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Đặc trưng</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Giới thiệu chung" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Giới thiệu chung</a>
                                            </li>
                                            <li>
                                                <a title="Điểm khác biệt" href="/sorotouch/sorotouch-la-gi-diem-khac-biet.html">Điểm khác biệt</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="Kết quả đạt được từ SoroTouch" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Kết quả đạt được từ SoroTouch</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Lợi ích" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Lợi ích</a>
                                            </li>
                                            <li>
                                                <a title="Độ tuổi thích hợp" href="/sorotouch/sorotouch-la-gi-do-tuoi-thich-hop.html">Độ tuổi thích hợp</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                
                            </li>
                            <li class="has-childrens">
                                <a title="Chương trình học" href="/sorotouch/chuong-trinh-hoc.html">Chương trình học</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Phương pháp học với SoroTouch" href="/sorotouch/chuong-trinh-hoc-phuong-phap-hoc.html">Phương pháp học với SoroTouch</a>
                                    </li>
                                    <li>
                                        <a title="Lộ trình học tập" href="/sorotouch/chuong-trinh-hoc-lo-trinh-hoc-tap.html">Lộ trình học tập</a>
                                    </li>
                                    <li>
                                        <a title="Thông tin khóa học" href="/sorotouch/chuong-trinh-hoc-thong-tin-khoa-hoc.html">Thông tin khóa học</a>
                                    </li>
                                    <li>
                                        <a title="Cấu trúc buổi học" href="/sorotouch/chuong-trinh-hoc-cau-truc-buoi-hoc.html">Cấu trúc buổi học</a>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="Cảm nhận về chương trình" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận về chương trình</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a title="Cảm nhận của phụ huynh" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận của phụ huynh</a>
                                            </li>
                                            <li>
                                                <a title="Cảm nhận của học viên" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-hoc-vien.html">Cảm nhận của học viên</a>
                                            </li>
                                            <li>
                                                <a title="Video chia sẻ cảm nhận" href="/sorotouch/chuong-trinh-hoc-video-chia-se-cam-nhan.html">Video chia sẻ cảm nhận</a>
                                            </li>                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="Lớp học" href="/sorotouch/lop-hoc.html">Lớp học</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Cơ sở vật chất" href="/sorotouch/lop-hoc-co-so-vat-chat.html">Cơ sở vật chất</a>
                                    </li>
                                    <li>
                                        <a title="Các trung tâm" href="/sorotouch/lop-hoc-co-so.html">Các trung tâm</a>
                                    </li>                                                                        
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="Tin tức" href="/sorotouch/tin-tuc.html">Tin tức</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Cẩm nang" href="/sorotouch/tin-tuc-cam-nang.html">Cẩm nang</a>
                                    </li>
                                    <li>
                                        <a title="Sự kiện" href="/sorotouch/tin-tuc-su-kien.html">Sự kiện</a>
                                    </li>                                                                        
                                </ul>
                            </li>
                            <li class="has-childrens">
                                <a title="Hỏi đáp" href="/sorotouch/hoi-dap.html">Hỏi đáp</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a title="Câu hỏi thường gặp" href="/sorotouch/hoi-dap.html">Câu hỏi thường gặp</a>
                                    </li>                                                                                              
                                </ul>
                            </li>
                        </ul>

                        <nav class="mobile-menu flex-layout flex-align-center flex-justify-center">
                            <button>
                                <span class="fa fa-navicon"></span>
                            </button>
                            <div class="soro-navfix">
                                <a title="ĐĂNG KÝ TRẢI NGHIỆM" class="soro-button btnSoroNavFix" href="/sorotouch/dang-ky-trai-nghiem.html">ĐĂNG KÝ TRẢI NGHIỆM</a>
                            </div>
                            <ul>
                                <li>
                                    <a title="Giới thiệu" href="/sorotouch/gioi-thieu.html">Giới thiệu</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Hành trình SoroTouch" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Hành trình SoroTouch</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Câu chuyện nhà sáng lập" href="/sorotouch/cau-chuyen-nha-sang-lap.html">Câu chuyện nhà sáng lập</a>
                                                </li>
                                                <li>
                                                    <a title="Mong muốn từ cha mẹ" href="/sorotouch/mong-muon-tu-cha-me.html">Mong muốn từ cha mẹ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li">
                                            <a title="Profile Công ty" href="/sorotouch/cong-ty-sorotouch.html">Profile Công ty</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Công ty SoroTouch" href="/sorotouch/cong-ty-sorotouch.html">Công ty SoroTouch</a>
                                                </li>                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="SoroTouch là gì" href="/sorotouch/sorotouch-la-gi.html">SoroTouch là gì</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Đặc trưng" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Đặc trưng</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Giới thiệu chung" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Giới thiệu chung</a>
                                                </li>
                                                <li>
                                                    <a title="Điểm khác biệt" href="/sorotouch/sorotouch-la-gi-diem-khac-biet.html">Điểm khác biệt</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a title="Kết quả đạt được từ SoroTouch" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Kết quả đạt được từ SoroTouch</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Lợi ích" href="/sorotouch/sorotouch-la-gi-loi-ich.html">Lợi ích</a>
                                                </li>
                                                <li>
                                                    <a title="Độ tuổi thích hợp" href="/sorotouch/sorotouch-la-gi-do-tuoi-thich-hop.html">Độ tuổi thích hợp</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                </li>
                                <li>
                                    <a title="Chương trình học" href="/sorotouch/chuong-trinh-hoc.html">Chương trình học</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Phương pháp học với SoroTouch" href="/sorotouch/chuong-trinh-hoc-phuong-phap-hoc.html">Phương pháp học với SoroTouch</a>
                                        </li>
                                        <li>
                                            <a title="Lộ trình học tập" href="/sorotouch/chuong-trinh-hoc-lo-trinh-hoc-tap.html">Lộ trình học tập</a>
                                        </li>
                                        <li>
                                            <a title="Thông tin khóa học" href="/sorotouch/chuong-trinh-hoc-thong-tin-khoa-hoc.html">Thông tin khóa học</a>
                                        </li>
                                        <li>
                                            <a title="Cấu trúc buổi học" href="/sorotouch/chuong-trinh-hoc-cau-truc-buoi-hoc.html">Cấu trúc buổi học</a>
                                        </li>
                                        <li>
                                            <a title="Cảm nhận về chương trình" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận về chương trình</a>
                                            <span class="toggle"></span>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a title="Cảm nhận của phụ huynh" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-phu-huynh.html">Cảm nhận của phụ huynh</a>
                                                </li>
                                                <li>
                                                    <a title="Cảm nhận của học viên" href="/sorotouch/chuong-trinh-hoc-cam-nhan-cua-hoc-vien.html">Cảm nhận của học viên</a>
                                                </li>
                                                <li>
                                                    <a title="Video chia sẻ cảm nhận" href="/sorotouch/chuong-trinh-hoc-video-chia-se-cam-nhan.html">Video chia sẻ cảm nhận</a>
                                                </li>                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a title="Lớp học" href="/sorotouch/lop-hoc.html">Lớp học</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Cơ sở vật chất" href="/sorotouch/lop-hoc-co-so-vat-chat.html">Cơ sở vật chất</a>
                                        </li>
                                        <li>
                                            <a title="Các trung tâm" href="/sorotouch/lop-hoc-co-so.html">Các trung tâm</a>
                                        </li>                                                                        
                                    </ul>
                                </li>
                                <li>
                                    <a title="Tin tức" href="/sorotouch/tin-tuc.html">Tin tức</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Cẩm nang" href="/sorotouch/tin-tuc-cam-nang.html">Cẩm nang</a>
                                        </li>
                                        <li>
                                            <a title="Sự kiện" href="/sorotouch/tin-tuc-su-kien.html">Sự kiện</a>
                                        </li>                                                                        
                                    </ul>
                                </li>
                                <li>
                                    <a title="Hỏi đáp" href="/sorotouch/hoi-dap.html">Hỏi đáp</a>
                                    <span class="toggle"></span>
                                    <ul class="sub-menu">
                                        <li>
                                            <a title="Câu hỏi thường gặp" href="/sorotouch/hoi-dap.html">Câu hỏi thường gặp</a>
                                        </li>                                                                                              
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>
            </div>
            
        </header>
        
        <div id="main">
            <div class="soro-page-banner">
                <div class="container">
                    <div class="page-banner-wrapper flex-layout flex-align-end flex-justify-space-between">
                        <h1 class="page-heading">Sorotouch là gì</h1>
                        <div id="breadcrumbs" class="breadcrumbs">
                            <a title="Trang chủ" href="/sorotouch/">Trang chủ</a>
                            <span class="fa fa-arrow-right"></span>
                            <a title="SoroTouch là gì" href="/sorotouch/sorotouch-la-gi.html">SoroTouch là gì</a><span class="fa fa-arrow-right"></span><span class="current">Điểm khác biệt</span>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="page-template page-main">
                <div class="page-contents">
                    <div class="container">
                        <div class="soro-wrapper flex-layout">
                            <div class="sidebar">
                                <h2>DANH MỤC</h2>
                                <ul>
                                    <li class="has-childrens">
                                        <a title="ĐẶC TRƯNG" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">ĐẶC TRƯNG</a>
                                        <ul>
                                            <li>
                                                <a title="Giới thiệu chung" href="/sorotouch/sorotouch-la-gi-gioi-thieu-chung.html">Giới thiệu chung</a>
                                            </li>
                                            <li class="active">
                                                <a title="Điểm khác biệt" href="/sorotouch/sorotouch-la-gi-diem-khac-biet.html">Điểm khác biệt</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-childrens">
                                        <a title="KẾT QUẢ ĐẠT ĐƯỢC TỪ SRT" href="/sorotouch/sorotouch-la-gi-loi-ich.html">KẾT QUẢ ĐẠT ĐƯỢC TỪ SRT</a>
                                        <ul>
                                            <li>
                                                <a title="Lợi ích " href="/sorotouch/sorotouch-la-gi-loi-ich.html">Lợi ích </a>
                                            </li>
                                            <li>
                                                <a title="Độ tuổi thích hợp" href="/sorotouch/sorotouch-la-gi-do-tuoi-thich-hop.html">Độ tuổi thích hợp</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-panel">
                                <div class="wrapper">
                                    <h3 class="pageSubHeadingText">Đặc trưng</h3>
                                    <h2 class="pageHeadingText">Điểm khác biệt</h2>
        
                                    <div class="paragraphs paragraphs-sp ifr-w100p">
                                        <iframe
                                            width="560"
                                            height="315"
                                            src="https://www.youtube.com/embed/bj5P-EDSkK0"
                                            title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen=""
                                            style="height: 480.938px; display: table; margin: auto;"
                                        ></iframe>
                                    </div>
                                    <div class="paragraphs paragraphs-sp">
                                        <p class="cgreen"><strong>Học tập hàng ngày trở thành một thói quen với trò chơi và bảng xếp hạng ! Đối với các vấn đề mới, hãy xem video và tiến hành nhiệm vụ mỗi ngày</strong></p>
        
                                        <p>
                                            Có hơn 20 loại trò chơi trong Touch và bạn có thể chơi các trò chơi bạn cần tùy theo trình độ của con bạn. Trong khi chơi trò chơi vui vẻ, khả năng của bạn sẽ được cải thiện. Việc học hàng ngày sẽ được
                                            đăng trong bảng xếp hạng của ngày hôm sau. Tất cả trẻ em đều có thể nhắm đến thứ hạng từ nhiều góc độ khác nhau, chẳng hạn như xếp hạng toàn diện cho tất cả người học, xếp hạng theo sự kiện cụ thể tương
                                            ứng với cấp độ học tập và xếp hạng Hayaki. Nếu tên bạn xuất hiện trong bảng xếp hạng, động lực của con bạn sẽ tăng lên, và ngày càng nhiều học sinh tự giác lao động học tập để vươn lên dẫn đầu. Thiết bị
                                            mới có các video dễ hiểu mà trẻ em có thể tự sử dụng.
                                        </p>
                                        <p><img src="/sorotouch/images/sorotouch-featured1.png" alt="" /></p>
                                    </div>
                                    <div class="paragraphs paragraphs-sp">
                                        <p class="cgreen"><strong>Chương trình học bao gồm các vấn đề khác nhau một cách cân bằng trong nhiệm vụ "Nhiệm vụ cơ bản 24 giai đoạn + Nâng cao"</strong></p>
        
                                        <p>
                                            Giáo trình Soon Touch được cấu trúc để đạt đến trình độ tính nhẩm nâng cao trong khoảng hai năm nếu bạn tiếp tục học mỗi ngày. Nhiệm vụ áp dụng phương pháp từng bước nhỏ để tăng mức độ khó lên từng bước
                                            một. Ngoài ra, cơ chế tự động lặp lại các nhiệm vụ tùy theo mức độ thành thạo cho phép bạn tiếp tục học với tiến độ phù hợp với từng trẻ.
                                        </p>
        
                                        <p><img src="/sorotouch/images/sorotouch-featured2.png" alt="" /></p>
                                        <p>
                                            Giai đoạn cơ bản (tổng cộng 12 giai đoạn) để học những kiến &ZeroWidthSpace;&ZeroWidthSpace;thức cơ bản bao gồm du hành vòng quanh thế giới từ Tokyo, và siêu giai đoạn tiếp theo (tổng cộng 12 giai đoạn)
                                            đi vòng quanh vũ trụ. Trong màn chơi nâng cao cuối cùng (tổng cộng 12 màn), chúng ta sẽ đáp xuống ngôi sao Karumon, nơi sinh sống của người ngoài hành tinh "Karumon". Nó được nghĩ ra để trẻ em có thể học
                                            tính nhẩm mỗi ngày trong khi vui chơi.
                                        </p>
                                    </div>
                                    <div class="paragraphs paragraphs-sp">
                                        <p class="cgreen"><strong>Lịch sử học tập của con bạn sẽ vẫn còn trên "màn hình Kiroku" của ứng dụng.</strong></p>
                                        <p>Trên màn hình xếp hạng, bạn có thể thấy trạng thái học tập của tất cả những người học</p>
        
                                        <p>
                                            Với Touch, tất cả lịch sử học tập vẫn được giữ nguyên, vì vậy bạn có thể kiểm tra trạng thái và tiến trình học tập của con mình trong thời gian thực. Trên màn hình “Rireki” hiển thị chi tiết nội dung học
                                            tập hàng tuần của con, bạn có thể xem lại bài toán nhầm lẫn. Trên màn hình "Gekkan", bạn có thể xem số ngày bạn đã học, xếp hạng tỷ lệ trả lời đúng, v.v. và tỷ lệ trả lời đúng cho từng mục. Trong "Bản đồ
                                            của tôi", bạn có thể thấy quỹ đạo của riêng mình sau khi bắt đầu học.
                                        </p>
        
                                        <p>
                                            Chúng tôi phân tích định lượng dữ liệu lịch sử học tập này và liên tục cải tiến chương trình giảng dạy. Kể từ năm 2016, chúng tôi đã tiến hành nghiên cứu chung với Viện Công nghệ Sản xuất của Đại học
                                            Tokyo về một chương trình học tập hiệu quả ngắn hạn về tính nhẩm bằng cách phân tích dữ liệu lịch sử học tập bằng cách sử dụng AI.
                                        </p>
        
                                        <p><img src="/sorotouch/images/sorotouch-featured3.png" alt="" /></p>
                                    </div>
                                    <div class="paragraphs paragraphs-sp">
                                        <p class="cgreen"><strong>Chúng tôi đã áp dụng tiêu chuẩn toàn cầu "kiểu hai tay" nhằm tối đa hóa tốc độ và sức mạnh hình ảnh</strong></p>
        
                                        <p>Khi viết trên máy tính, cái nào nhanh và chính xác hơn, bằng hai tay hay một tay?</p>
                                        <p>Ưu điểm của thao tác chạm bằng cả hai tay như sau:</p>
                                        <p>1) Tốc độ tính toán nhanh hơn gấp đôi so với thao tác bằng một tay.</p>
                                        <p>2) Sử dụng cả hai tay sẽ kích thích não phải và não trái một cách cân bằng và kích hoạt não.</p>
                                        <p>3) Trí nhớ bằng cách chuyển đổi bằng cả hai tay cùng một lúc Cải thiện hiệu quả ghi nhớ.</p>
                                        <p>Lợi ích của hệ thống dùng hai tay trở nên rõ ràng khi bạn trở nên nâng cao hơn.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="soro-contactcnt-section fullwidth-section">
                <div class="grid-three-columns grid-contactcnt-layout">
                    <div class="element flex-layout flex-justify-center">
                        <div class="icon"></div>
                        <div class="caption flex-layout flex-direction-column">
                            <span>HOTLINE</span>
                            <a href="tel:0901234567" title="0901234567">0901234567</a>
                        </div>
                    </div>
                    <div class="element flex-layout flex-justify-center">
                        <div class="icon"></div>
                        <div class="caption flex-layout flex-direction-column">
                            <span>ĐỊA CHỈ</span>
                            <span>315 Trường chinh, Thanh Xuân, HN</span>
                        </div>
                    </div>
                    <div class="element flex-layout flex-justify-center">
                        <div class="icon"></div>
                        <div class="caption flex-layout flex-direction-column">
                            <span>EMAIL</span>
                            <a href="mailto:youremail@gmail.com" title="youremail@gmail.com">youremail@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <footer id="colon">
            <div class="container">
                <div class="ft-row">
                    <div class="grid-fours-columns grid-footer-columns-layout">
                        <div class="element flex-layout flex-justify-center">
                            <div class="wrapper">
                                <h4>Về SoroTouch</h4>
                                <div class="footerContent">
                                    <p class="desc">SoroTouch là nơi giúp trẻ học, phát triển và rèn luyện kỹ năng thích ứng một cách linh hoạt trong bất kỳ hoàn cảnh nào thông qua các bài học toán.</p>
                                    <p class="discovery">
                                        <a title="ĐĂNG KÝ TRẢI NGHIỆM" class="btnSoroDefault btnPrimary btnDiscovery __sm __type-2 flex-layout flex-align-center flex-justify-center" href="/sorotouch/dang-ky-trai-nghiem.html">ĐĂNG KÝ TRẢI NGHIỆM</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="element flex-layout flex-justify-center">
                            <div class="wrapper">
                                <h4>Liên hệ với chúng tôi</h4>
                                <div class="footerContent">
                                    <div class="desc address">
                                        <p class="flex-layout flex-justify-space-between">
                                            <span class="icon fa fa-map-marker"></span>
                                            <span class="caption">
                                                Tầng 8, Tòa Nhà TOYOTA , 315 Trường Chinh, Khương Mai, Thanh Xuân, Hà Nội
                                            </span>
                                        </p>
        
                                        <p class="flex-layout flex-justify-space-between">
                                            <span class="icon fa fa-phone"></span>
                                            <a class="caption" href="tel:0901234567">0901234567</a>
                                        </p>        

                                        <p class="flex-layout flex-justify-space-between">
                                            <span class="icon fa fa-envelope"></span>
                                            <a class="caption" href="mailto:youremail@gmail.com">youremail@gmail.com</a>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element flex-layout flex-justify-center">
                            <div class="wrapper">
                                <h4>Quick link</h4>
                                <div class="footerContent">
                                    <ul>
                                        <li><a title="SoroTouch là gì" href="/sorotouch/sorotouch-la-gi.html"> SoroTouch là gì</a></li>
                                        <li><a title="Chương trình học" href="/sorotouch/chuong-trinh-hoc.html">Chương trình học</a></li>
                                        <li><a title="Lớp học" href="/sorotouch/lop-hoc.html">Lớp học</a></li>
                                        <li><a title="Tin tức" href="/sorotouch/tin-tuc.html">Tin tức</a></li>
                                        <li><a title="Hỏi đáp" href="/sorotouch/hoi-dap.html">Hỏi đáp</a></li>
                                    </ul>
                                    <div class="social footer-social flex-layout flex-justify-space-between">
                                        <a title="facebook" href="https://www.facebook.com" class="fb"></a>
                                        <a title="youtube" href="https://www.youtube.com" class="youtube"></a>
                                        <a title="inst" href="https://www.instagram.com" class="inst"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="element fanpage flex-layout flex-justify-center">
                            <div class="wrapper">
                                <div class="fb-page" 
                                    data-href="https://www.facebook.com/To%C3%A1n-t%C6%B0-duy-SoroTouch-Vi%E1%BB%87t-Nam-101609645199135"
                                    data-width="380" 
                                    data-lazy="true"
                                    data-hide-cover="false"
                                    data-show-facepile="false"></div>                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ft-row">
                    <div class="copyright">© Bản quyền thuộc về SoroTouch Việt Nam</div>
                </div>
            </div>
        </footer>
        

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=2147827908693613&autoLogAppEvents=1" nonce="m0gyWq7n"></script>
        
      
     
    </body>
    
    
    
    
</html>