<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự án</title>
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/temp-styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="undefined" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="./bxslider/jquery.bxslider.min.css" type="text/css" />
</head>

<body class="font-sans">
    <header class="sticky top-0 z-20 bg-white py-2">
        <div class="container">
            <div class="header-wrapper flex justify-between items-center">
                <div id="logo" class="header-left">
                    <a href="./index.html"> <img src="./img/logo.svg" alt="Renai VIETNAM" class="" /> </a>
                </div>
                <div class="header-right">
                    <div class="header-top contact-info __primary flex justify-end items-center info__items">
                        <span><span class="caption hidden-xs">Hotline:</span> <span class="fa fa-volume-control-phone hidden-md hidden-sm"></span> <span class="text-primary">0123 456 789</span></span>
                        <span class="flex"> <img src="./img/icon-mail.svg" alt="mail" class="mr-2" /> acb@gmail.com</span>
                        <img src="./img/icon-youtube.svg" alt="YouTube" />
                        <img src="./img/icon-facebook.svg" alt="Facebook" />
                    </div>
                    <div class="header-top contact-info __xs flex justify-end items-center info__items">
                        <a href="tel:0123456789"><span class="fa fa-volume-control-phone hidden-md hidden-sm"></span></a>
                    
                        <a href="mailto:acb@gmail.com"><span class="fa fa-envelope hidden-md hidden-sm"></span></a><img src="./img/icon-youtube.svg" alt="YouTube" />
                        <img src="./img/icon-facebook.svg" alt="Facebook" />
                    </div>
                    

                    <div class="header-secondary flex justify-center">
                        <nav class="primary-menu items-center">
                            <ul class="flex">
                                <li class="mr-3 lg:mr-6 text-primary"><a href="./index.html">TRANG CHỦ</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./gioi-thieu.html">GIỚI THIỆU</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./san-pham.html">SẢN PHẨM</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary has-childrens">
                                        <a href="./du-an.html">DỰ ÁN</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">Dự án 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 3</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./giai-phap.html">GIẢI PHÁP</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                        </nav>
                        <div class="search-box shadow flex search" style="">
                            <input class="w-230 rounded p-2" type="text" placeholder="Tìm kiếm sản phẩm" style="" />
                            <button class="bg-white w-auto flex justify-end items-center text-blue-500 p-2 hover:text-blue-400">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="mobile-menu">
                            <button id="menu" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded shadow-md ml-2">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <ul>
                                <li class="mr-3 lg:mr-6 text-primary"><a href="./index.html">TRANG CHỦ</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./gioi-thieu.html">GIỚI THIỆU</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./san-pham.html">SẢN PHẨM</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary">
                                        <a href="./du-an.html">DỰ ÁN</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">Dự án 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 3</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./giai-phap.html">GIẢI PHÁP</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main__giaiphap">
        <section class="hero">
            <img src="img/duan-hero.png" class="w-full">
        </section>

        <section class="breadcumbs">
            <a href="index.html">Trang chủ</a>/<a href="/" class="text-primary">&ensp; Dự án</a>
        </section>

        <section class="container mx-auto">

            <div class="grid grid-cols-2 lg:grid-rows-2 lg:grid-cols-4 mt-10 gap-5">
                <div class="lg:col-span-2 lg:row-span-2 lg:mr-5 p-10 rounded-md card" style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);">
                    <a class="hover:color-secondary" href="./chi-tiet-du-an.html">
                        <img src="./img/duan-1.png" alt="Bản thiết kế dự án" style="width: 100%">
                        <h2 class=" font-bold mt-10 mb-4">Dự án lắp đặt Điều hòa trung tâm VRV tại Trường Cao Đẳng nghề</h2>
                        <p class="color-dark desc xs:limit-three-lines">
                            Điều hòa trung tâm VRV IV đạt được một chuẩn mực mới cho hiệu quả, vì nó có tính năng cải tiến rất quan trọng cho các giải pháp đã được VRV ngành công nghiệp hàng đầu. VRV IV cung cấp ba sự đổi mới mang tính cách mạng...
                        </p>
                        <div class="card__footer flex justify-end items-center text-primary">
                            <span>Xem chi tiết</span>
                            <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="card  p-5">
                    <a class="hover:color-secondary" href="./chi-tiet-du-an.html">
                        <img src="./img/duan-2.png" alt="Bản thiết kế dự án" style="width: 100%">
                        <h2 class="font-bold mt-10 mb-4">Dự án lắp đặt Điều hòa trung tâm VRV tại Trường Cao Đẳng nghề</h2>
                        
                        <div class="card__footer flex justify-end items-center text-primary">
                            <span>Xem chi tiết</span>
                            <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="card p-5">
                    <a class="hover:color-secondary" href="./chi-tiet-du-an.html">
                        <img src="./img/duan-3.png" alt="Bản thiết kế dự án" style="width: 100%">
                        <h2 class="font-bold mt-10 mb-4">Dự án lắp đặt Điều hòa trung tâm VRV tại Trường Cao Đẳng nghề</h2>
                        
                        <div class="card__footer flex justify-end items-center text-primary">
                            <span>Xem chi tiết</span>
                            <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="card p-5">
                    <a class="hover:color-secondary" href="./chi-tiet-du-an.html">
                        <img src="./img/duan-4.png" alt="Bản thiết kế dự án" style="width: 100%">
                        <h2 class="font-bold mt-10 mb-4">Dự án lắp đặt Điều hòa trung tâm VRV tại Trường Cao Đẳng nghề</h2>
                        
                        <div class="card__footer flex justify-end items-center text-primary">
                            <span>Xem chi tiết</span>
                            <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="card  p-5">
                    <a class="hover:color-secondary" href="./chi-tiet-du-an.html">
                        <img src="./img/duan-5.png" alt="Bản thiết kế dự án" style="width: 100%">
                        <h2 class="font-bold mt-10 mb-4">Dự án lắp đặt Điều hòa trung tâm VRV tại Trường Cao Đẳng nghề</h2>
                        
                        <div class="card__footer flex justify-end items-center text-primary">
                            <span>Xem chi tiết</span>
                            <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>


        </section>

        <section class="duan-bottom container mx-auto mt-10">
            <div class="grid lg:grid-cols-2 gap-5">
                <div class="grid grid-cols-3">
                    <div class="">
                        <img src="./img/duan-b.png" alt="Bản thiết kế dự án" class="w-full">
                    </div>
                    <div class="p-5 col-span-2">
                        <a class="hover:color-secondary" href="./chi-tiet-giai-phap.html">
                            <h2 class="font-bold mb-2 ">Giải pháp điều hòa không khí cho khách sạn, nhà nghỉ
                            </h2>
                            <p class="color-dark desc xs:limit-three-lines">
                                Nên lắp loại điều hòa nào cho khách sạn để thể hiện được đẳng cấp và giá trị cho công trình? Đừng bỏ lỡ bài viết này nhé.
                            </p>
                            <div class="card__footer flex justify-end items-center text-primary">
                                <span>Xem chi tiết</span>
                                <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid grid-cols-3">
                    <div class="">
                        <img src="./img/duan-b-2.png" alt="Bản thiết kế dự án" class="w-full">
                    </div>
                    <div class="p-5 col-span-2">
                        <a class="hover:color-secondary" href="./chi-tiet-giai-phap.html">
                            <h2 class="font-bold mb-2 ">Giải pháp điều hòa không khí cho khách sạn, nhà nghỉ
                            </h2>
                            <p class="color-dark desc xs:limit-three-lines">
                                Nên lắp loại điều hòa nào cho khách sạn để thể hiện được đẳng cấp và giá trị cho công trình? Đừng bỏ lỡ bài viết này nhé.
                            </p>
                            <div class="card__footer flex justify-end items-center text-primary">
                                <span>Xem chi tiết</span>
                                <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid grid-cols-3">
                    <div class="">
                        <img src="./img/duan-b.png" alt="Bản thiết kế dự án" class="w-full">
                    </div>
                    <div class="p-5 col-span-2">
                        <a class="hover:color-secondary" href="./chi-tiet-giai-phap.html">
                            <h2 class="font-bold mb-2 ">Giải pháp điều hòa không khí cho khách sạn, nhà nghỉ
                            </h2>
                            <p class="color-dark desc xs:limit-three-lines">
                                Nên lắp loại điều hòa nào cho khách sạn để thể hiện được đẳng cấp và giá trị cho công trình? Đừng bỏ lỡ bài viết này nhé.
                            </p>
                            <div class="card__footer flex justify-end items-center text-primary">
                                <span>Xem chi tiết</span>
                                <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="grid grid-cols-3">
                    <div class="">
                        <img src="./img/duan-b-2.png" alt="Bản thiết kế dự án" class="w-full">
                    </div>
                    <div class="p-5 col-span-2">
                        <a class="hover:color-secondary" href="./chi-tiet-giai-phap.html">
                            <h2 class="font-bold mb-2 ">Giải pháp điều hòa không khí cho khách sạn, nhà nghỉ
                            </h2>
                            <p class="color-dark desc xs:limit-three-lines">
                                Nên lắp loại điều hòa nào cho khách sạn để thể hiện được đẳng cấp và giá trị cho công trình? Đừng bỏ lỡ bài viết này nhé.
                            </p>
                            <div class="card__footer flex justify-end items-center text-primary">
                                <span>Xem chi tiết</span>
                                <i class="fa fa-angle-double-right ml-4" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex justify-center my-8">
                <button class="bg-primary text-white py-2 px-10 rounded-md">Xem thêm</button>
            </div>
        </section>

    </main>

    <footer class="bg-secondary footer py-10">
        <div class="container">
            <div class="grid-three-columns">
                <div class="footer-column">
                    <div class="footer__contact">
                        <div class="h-small">THÔNG TIN LIÊN HỆ</div>
                        <div class="h-large">CÔNG TY CỔ PHẦN RENAI VIỆT NAM</div>
                        <div>
                            <img src="./img/fi_map-pin.svg" alt="Pin" />
                            <span> <span class="text-primary"> Trụ sở chính</span>: Văn phòng 5 Nhà Nối 18T1-18T2 KĐT Trung Hòa, Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam </span>
                        </div>

                        <div>
                            <img src="./img/fi_map-pin.svg" alt="Pin" />
                            <span> <span class="text-primary"> Văn phòng giao dịch </span> : P401 34T Hoàng Đạo Thúy, Trung Hòa, Nhân Chính </span>
                        </div>
                        <div>
                            <img src="./img/fi_map-pin.svg" alt="Pin" />
                            <span> <span class="text-primary"> Kho hàng </span>: Km 10+200 Đại lộ Thăng Long, An Khánh, Hoài Đức, Hà Nội </span>
                        </div>
                        <div><img src="./img/u_phone-pause.svg" alt="Phone" /> 024 000 00 - 090 123 456</div>
                        <div><img src="./img/fi_mail.svg" alt="Mail" /> renaivietnam@gmail.com</div>
                    </div>
                </div>
               <div class="footer-column">
    <div class="footer__policy">
        <div class="h-small">CHÍNH SÁCH BÁN HÀNG</div>
        <div>
            Bảng Báo Giá Lắp Đặt Điều Hòa
        </div>
        <div>
            Chính Sách Đổi Trả Hàng
        </div>
        <div>Chính Sách Bảo Trì, Bảo Hành</div>
        <div>Chính Sách Vận Chuyển</div>
        <div>Chính Sách Bảo Mật Thông Tin</div>
        <div>Chính Sách Thanh Toán</div>
        <div>Hướng Dẫn Trả Góp</div>
    </div>
    <div class="footer__social mt-4">
        <div class="flex justify-center h-small">
            LIÊN KẾT MẠNG XÃ HỘI
        </div>
        <div class="flex justify-center">
            <img src="./img/icon-youtube_2.svg" alt="YouTube" />
            <img src="./img/icon-fb_2.svg" alt="Facebook" />
            <img src="./img/icon-zalo_2.svg" alt="Zalo" />
        </div>
    </div>
</div>
<div class="footer-column">
    <div class="h-small">LIÊN HỆ VỚI CHÚNG TÔI</div>
    <div class="contact-form">
        <form id="frmContact" class="frmContact" method="post" action="">
            <legend>
                <div class="field">
                    <input type="text" class="rn-form-control" name="txtFullName" value="" placeholder="Họ và tên *" />
                </div>
                <div class="field">
                    <input type="email" class="rn-form-control" name="txtEmail" value="" placeholder="Email" />
                </div>
                <div class="field">
                    <input type="text" class="rn-form-control" name="txtPhone" value="" placeholder="Số điện thoại *" />
                </div>
                <div class="field">
                    <textarea class="rn-form-control" name="txtNoiDung" placeholder="Nội dung"></textarea>
                </div>
                <div class="field sm">
                    <button type="submit" class="btnSendContact">Gửi liên hệ</button>
                </div>
            </legend>
        </form>
    </div>
</div>

            </div><div class="ft-copyright text-center">
    <span class="align-middle">©</span> <span>2021 - Copyright by Công Ty Cổ Phần Renai Việt Nam</span>
                    
                    
                </div>
        </div>
    </footer>
    <script type="text/javascript" src="./js/jquery.min.js"></script>  
    <script type="text/javascript" src="./bxslider/jquery.bxslider.min.js"></script>        

    <script type="module" src="./js/jquery.customize.js"></script>
    <script src="./index.js"></script>


</body></html>