<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản phẩm tổng</title>
    <link rel="stylesheet" href="../public/reset.css" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link rel="stylesheet" href="../public/temp-styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="undefined" crossorigin="anonymous" />
    
    <!-- bxslider -->
    <link rel="stylesheet" href="./bxslider/jquery.bxslider.min.css" type="text/css" />   
    <!-- #bxslider -->
</head>

<body class="font-sans">
    <header class="sticky top-0 z-20 bg-white py-2">
        <div class="container">
            <div class="header-wrapper flex justify-between items-center">
                <div id="logo" class="header-left">
                    <a href="./index.html"> <img src="./img/logo.svg" alt="Renai VIETNAM" class="" /> </a>
                </div>
                <div class="header-right">
                    <div class="header-top contact-info __primary flex justify-end items-center info__items">
                        <span><span class="caption hidden-xs">Hotline:</span> <span class="fa fa-volume-control-phone hidden-md hidden-sm"></span> <span class="text-primary">0123 456 789</span></span>
                        <span class="flex"> <img src="./img/icon-mail.svg" alt="mail" class="mr-2" /> acb@gmail.com</span>
                        <img src="./img/icon-youtube.svg" alt="YouTube" />
                        <img src="./img/icon-facebook.svg" alt="Facebook" />
                    </div>
                    <div class="header-top contact-info __xs flex justify-end items-center info__items">
                        <a href="tel:0123456789"><span class="fa fa-volume-control-phone hidden-md hidden-sm"></span></a>
                    
                        <a href="mailto:acb@gmail.com"><span class="fa fa-envelope hidden-md hidden-sm"></span></a><img src="./img/icon-youtube.svg" alt="YouTube" />
                        <img src="./img/icon-facebook.svg" alt="Facebook" />
                    </div>
                    

                    <div class="header-secondary flex justify-center">
                        <nav class="primary-menu items-center">
                            <ul class="flex">
                                <li class="mr-3 lg:mr-6 text-primary"><a href="./index.html">TRANG CHỦ</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./gioi-thieu.html">GIỚI THIỆU</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./san-pham.html">SẢN PHẨM</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary has-childrens">
                                        <a href="./du-an.html">DỰ ÁN</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">Dự án 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 3</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./giai-phap.html">GIẢI PHÁP</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                        </nav>
                        <div class="search-box shadow flex search" style="">
                            <input class="w-230 rounded p-2" type="text" placeholder="Tìm kiếm sản phẩm" style="" />
                            <button class="bg-white w-auto flex justify-end items-center text-blue-500 p-2 hover:text-blue-400">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="mobile-menu">
                            <button id="menu" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded shadow-md ml-2">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <ul>
                                <li class="mr-3 lg:mr-6 text-primary"><a href="./index.html">TRANG CHỦ</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./gioi-thieu.html">GIỚI THIỆU</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./san-pham.html">SẢN PHẨM</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary">
                                        <a href="./du-an.html">DỰ ÁN</a>
                                        <span class="toggle"></span>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">Dự án 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 2</a>
                                            </li>
                                            <li>
                                                <a href="#">Dự án 3</a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./giai-phap.html">GIẢI PHÁP</a></li>
                                <li class="mr-3 lg:mr-6 hover:color-primary"><a href="./lien-he.html">LIÊN HỆ</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main__sanpham-tong">
        <section class="hero">
            <img src="img/gioithieu-hero.png" alt="" style="width: 100%">
        </section>

        <section class="breadcumbs">
            <a href="index.html">Trang chủ</a>/<a href="/" class="text-primary">&ensp; Sản phẩm</a>
        </section>

        <section class="product pb-20">
            <div class="container mx-auto grid grid-cols-3 md:grid-cols-4 gap-5">
                <div class=" col-span-3 md:col-span-1 ">
                    <div class="right__category">
                        <div class="px-4 w-full">
                            <h1 class="inline-block font-bold text-secondary mt-6 mb-3 pb-1 border-b-4 border-primary">DANH MỤC</h1>
                        </div>
                        <div class="shadow-md">
                            <span class="block text-sm font-bold uppercase p-4">Tất cả sản phẩm</span>
                            <div class="dropdown inline-block relative w-full text-sm">
                                <button id="link1" class=" font-bold py-2 px-4  border-t border-b border-gray flex justify-between w-full">
                                <span class="uppercase">Mitsubishi heavy industries</span>
                                <i class="fa fa-sort-desc text-gray-500" aria-hidden="true"></i>
                              </button>
                                <ul id="types1" class="dropdown-menu text-gray-700 pt-1 font-bold text-gray hidden">
                                    <span class="py-2 px-4 block whitespace-no-wrap text-primary">VRF</span>
                                    <span class="text-gray-400 py-2 px-4 block whitespace-no-wrap">MULTI</span>
                                    <span class="text-gray-400  py-2 px-4  block whitespace-no-wrap">PAC</span>
                                </ul>
                            </div>
                            <div class="dropdown inline-block relative w-full text-sm">
                                <button class=" font-bold py-2 px-4  border-t border-b border-gray flex justify-between w-full">
                                    <span class="uppercase">Tica</span>
                                    <i class="fa fa-sort-desc text-gray-500" aria-hidden="true"></i>
                                  </button>
                            </div>
                            <div class="dropdown inline-block relative w-full text-sm">
                                <button class=" font-bold py-2 px-4  border-t border-b border-gray flex justify-between w-full">
                                    <span class="uppercase">Giải pháp môi trường - khí</span>
                                    <i class="fa fa-sort-desc text-gray-500" aria-hidden="true"></i>
                                  </button>
                            </div>
                            <div class="dropdown inline-block relative w-full text-sm">
                                <button class=" font-bold py-2 px-4  border-t border-gray flex justify-between w-full">
                                    <span class="uppercase">Giải pháp môi trường - nước</span>
                                    <i class="fa fa-sort-desc text-gray-500" aria-hidden="true"></i>
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-span-3 md:col-span-3">
                    <div class="grid grid-cols-3 md:grid-cols-3 gap-5">
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-1.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Dàn lạnh áp trần Điều Hoà Trung Tâm Mitsubishi Heavy FDE56KXZE1
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-2.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Hệ thống điều hoà không khí trung tâm Mitsubishi Electric (VRF) - City Multi
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-3.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Máy lạnh âm trần Điều Hoà Trung Tâm Mitsubishi Heavy Cassette FDTC28KXE6F
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-1.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Dàn lạnh áp trần Điều Hoà Trung Tâm Mitsubishi Heavy FDE56KXZE1
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-2.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Hệ thống điều hoà không khí trung tâm Mitsubishi Electric (VRF) - City Multi
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-3.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Máy lạnh âm trần Điều Hoà Trung Tâm Mitsubishi Heavy Cassette FDTC28KXE6F
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-1.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Dàn lạnh áp trần Điều Hoà Trung Tâm Mitsubishi Heavy FDE56KXZE1
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-2.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Hệ thống điều hoà không khí trung tâm Mitsubishi Electric (VRF) - City Multi
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-3.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Máy lạnh âm trần Điều Hoà Trung Tâm Mitsubishi Heavy Cassette FDTC28KXE6F
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-1.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Dàn lạnh áp trần Điều Hoà Trung Tâm Mitsubishi Heavy FDE56KXZE1
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-2.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Hệ thống điều hoà không khí trung tâm Mitsubishi Electric (VRF) - City Multi
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                        <div class="card p-5">
                            <a class="hover:color-secondary" href="./san-pham-chi-tiet.html">
                                <div>
                                    <img src="./img/san-pham/sp-tong-3.png" alt="Hình ảnh sản phẩm" style="width: 100%" />
                                    <div class="font-bold py-10">
                                        Máy lạnh âm trần Điều Hoà Trung Tâm Mitsubishi Heavy Cassette FDTC28KXE6F
                                    </div>
                                </div>
                                <div class='text-primary flex justify-center'>
                                    Chi tiết
                                </div>
                            </a>
                            <div class="view__search">
                                <img src="./img/search.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    <footer class="bg-secondary footer py-10">
        <div class="container">
            <div class="grid-three-columns">
                <div class="footer-column">
                    <div class="footer__contact">
                        <div class="h-small">THÔNG TIN LIÊN HỆ</div>
                        <div class="h-large">CÔNG TY CỔ PHẦN RENAI VIỆT NAM</div>
                        <div>
                            <img src="./img/fi_map-pin.svg" alt="Pin" />
                            <span> <span class="text-primary"> Trụ sở chính</span>: Văn phòng 5 Nhà Nối 18T1-18T2 KĐT Trung Hòa, Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam </span>
                        </div>

                        <div>
                            <img src="./img/fi_map-pin.svg" alt="Pin" />
                            <span> <span class="text-primary"> Văn phòng giao dịch </span> : P401 34T Hoàng Đạo Thúy, Trung Hòa, Nhân Chính </span>
                        </div>
                        <div>
                            <img src="./img/fi_map-pin.svg" alt="Pin" />
                            <span> <span class="text-primary"> Kho hàng </span>: Km 10+200 Đại lộ Thăng Long, An Khánh, Hoài Đức, Hà Nội </span>
                        </div>
                        <div><img src="./img/u_phone-pause.svg" alt="Phone" /> 024 000 00 - 090 123 456</div>
                        <div><img src="./img/fi_mail.svg" alt="Mail" /> renaivietnam@gmail.com</div>
                    </div>
                </div>
               <div class="footer-column">
    <div class="footer__policy">
        <div class="h-small">CHÍNH SÁCH BÁN HÀNG</div>
        <div>
            Bảng Báo Giá Lắp Đặt Điều Hòa
        </div>
        <div>
            Chính Sách Đổi Trả Hàng
        </div>
        <div>Chính Sách Bảo Trì, Bảo Hành</div>
        <div>Chính Sách Vận Chuyển</div>
        <div>Chính Sách Bảo Mật Thông Tin</div>
        <div>Chính Sách Thanh Toán</div>
        <div>Hướng Dẫn Trả Góp</div>
    </div>
    <div class="footer__social mt-4">
        <div class="flex justify-center h-small">
            LIÊN KẾT MẠNG XÃ HỘI
        </div>
        <div class="flex justify-center">
            <img src="./img/icon-youtube_2.svg" alt="YouTube" />
            <img src="./img/icon-fb_2.svg" alt="Facebook" />
            <img src="./img/icon-zalo_2.svg" alt="Zalo" />
        </div>
    </div>
</div>
<div class="footer-column">
    <div class="h-small">LIÊN HỆ VỚI CHÚNG TÔI</div>
    <div class="contact-form">
        <form id="frmContact" class="frmContact" method="post" action="">
            <legend>
                <div class="field">
                    <input type="text" class="rn-form-control" name="txtFullName" value="" placeholder="Họ và tên *" />
                </div>
                <div class="field">
                    <input type="email" class="rn-form-control" name="txtEmail" value="" placeholder="Email" />
                </div>
                <div class="field">
                    <input type="text" class="rn-form-control" name="txtPhone" value="" placeholder="Số điện thoại *" />
                </div>
                <div class="field">
                    <textarea class="rn-form-control" name="txtNoiDung" placeholder="Nội dung"></textarea>
                </div>
                <div class="field sm">
                    <button type="submit" class="btnSendContact">Gửi liên hệ</button>
                </div>
            </legend>
        </form>
    </div>
</div>

            </div><div class="ft-copyright text-center">
    <span class="align-middle">©</span> <span>2021 - Copyright by Công Ty Cổ Phần Renai Việt Nam</span>
                    
                    
                </div>
        </div>
    </footer>
    <div id="modal" class="hidden fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-renai-gray bg-opacity-50 ">
        <!-- Modal content -->
        <div class="bg-white w-9/12 md:w-1/2 h-auto px-4 py-2 border-1 border-gray">
            <div class="flex justify-end">
                <button id="closebutton" type="button" class="w-6">
            <i class="fa fa-times-circle " aria-hidden="true"></i>
        </button>
            </div>

            <div class="grid md:grid-cols-2 md:gap-x-5 mb-10">
                <div class="grid grid-cols-4 md:grid-cols-3">
                    <div class="flex justify-center md:col-span-3">
                        <img src="./img/san-pham/Rectangle 717.png" class="object-contain" alt="Máy điều hoà" srcset="./img/san-pham/Rectangle 717.png 1x, ./img/san-pham/Rectangle 717@2x.png 2x">
                    </div>
                    <div class="border-1 border-light-gray">
                        <img src="./img/san-pham/Rectangle 718.png" alt="Máy điều hoà" class="w-full">
                    </div>
                    <div class="border-1 border-light-gray">
                        <img src="./img/san-pham/Rectangle 718.png" alt="Máy điều hoà" class="w-full">
                    </div>
                    <div class="border-1 border-light-gray">
                        <img src="./img/san-pham/Rectangle 718.png" alt="Máy điều hoà" class="w-full">
                    </div>
                </div>
                <div>
                    <div class="font-bold pt-4">
                        Điều hòa trung tâm VRF Mitsubishi
                    </div>
                    <div class="font-bold-300 py-2 text-gray-500">
                        THÔNG SỐ SẢN PHẨM
                    </div>
                    <p class="h-32 overflow-y-auto">
                        Công suất làm mát danh nghĩa kW 5,6 <br> Công suất sưởi ấm danh nghĩa kW 6.3 <br> Điện tiêu thụ kW 0,05 – 0,05 <br> Điện tiêu thụ kW 0,05 – 0,05 <br> Nguồn điện 1 Pha 220-240V, 50Hz <br> PCB tổ hợp nhỏ <br> Kích thước hộp điều
                        khiển giảm xuống <br> ...
                    </p>

                    <div class="modal__contact my-2">
                        <span class="block text-primary font-bold text-lg mb-2">HOTLINE: 0123 456 789</span>
                        <div class="flex items-center">
                            <span class="text-sm text-gray">Share</span>
                            <img src="./img/RIGHT-fb.svg" alt="">
                            <img src="./img/RIGHT-gplus.svg" alt="">
                            <img src="./img/RIGHT-twitter.svg" alt="">
                            <img src="./img/RIGHT-p.svg" alt="">
                        </div>
                        <div class="mt-10 flex justify-center">
                            <button class="bg-primary text-white py-1 px-8 rounded-md mr-2">Liên hệ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/jquery.min.js"></script>  
    <script type="text/javascript" src="./bxslider/jquery.bxslider.min.js"></script>        

    <script type="module" src="./js/jquery.customize.js"></script>
    <script src="./index.js"></script>
</body>

</html>