<footer id="footer">
    <div class="container">
        <a class="logo__f" href="/"><img src="/images/mobile-logo.svg" alt="logo" /></a>
        <div class="footer__group">
            <div class="group__item">
                <h2 class="title__footer">Thông tin</h2>
                <ul>
                    <li><a title="Công nghệ" href="/category.html">Công nghệ</a></li>
                    <li><a title="Xe" href="/category.html">Xe</a></li>
                    <li><a title="Làm đẹp" href="/category.html">Làm đẹp</a></li>
                    <li><a title="Xu hướng" href="/category.html">Xu hướng</a></li>
                    <li><a title="Học đường" href="/category.html">Học đường</a></li>
                    <li><a title="Giải trí" href="/category.html">Giải trí</a></li>
                    <li><a title="Showbiz" href="/category.html">Showbiz</a></li>
                    <li><a title="Đời sống" href="/category.html">Đời sống</a></li>
                    <li><a title="Thể thao" href="/category.html">Thể thao</a></li>
                </ul>
            </div>
            <div class="group__item">
                <h2 class="title__footer">đóng góp nội dung</h2>
                <p class="info">Mọi bài viết và đóng góp về nội dung xin gửi về hòm thư :</p>
                <a href="to:info@gco.vn" title="email"> Email : info@gco.vn </a>
            </div>
            <div class="group__item">
                <h2 class="title__footer">liên hệ quảng cáo</h2>
                <p class="info">
                    Ông : Đỗ Viết Tuấn <br />
                    Hotline : +84 98 098 098 <br />
                    Email : quangcao.ilike@gmail.com <br />
                </p>
            </div>
            <div class="group__item">
                <h2 class="title__footer">giấy phép đăng ký</h2>
                <p class="info">Giấy phép thiết lập trang thông tin điện tử tổng hợp số 3641/GP-TTĐT do Sở Thông tin và Truyền thông TP. Hà Nội cấp ngày 18/8/2017</p>
            </div>
            <div class="group__item">
                <h2 class="title__footer">báo giá</h2>
                <a href="#" class="btn btn__price"> Báo giá quảng cáo </a>
            </div>
        </div>
        <div class="footer__bottom">
            <p style="max-width: 500px;">Giấy phép thiết lập trang thông tin điện tử tổng hợp số 3641/GP-TTĐT do Sở Thông tin và Truyền thông TP. Hà Nội cấp ngày 18/8/2017</p>
            <p>
                Chính sách - Điều khoản sử dụng - Hướng dẫn <br />
                Một sản phẩm của tập đoàn GCO
            </p>
        </div>
    </div>
</footer>