<header class="header-mobile">
    <div class="container">
        <div class="wrapper flex flex-align-center flex-justify-space-between">
            <div class="nav-menu"><a href="#"><img src="/images/nav-icon.svg" /></a></div>
            <div class="logo"><a href="/"><img src="/images/mobile-logo.svg" /></a></div>
            <div class="users"><img src="/images/user-nav-icon.svg" /></div>
        </div>
    </div>
</header>
<div class="single-comments-modal snap-navigation snap-navigation-box">
    <header class="header-mobile">
        <div class="container">
            <div class="wrapper flex flex-align-center flex-justify-center">
                <div class="logo">
                    <a href="/"><img src="/images/mobile-logo.svg" /></a>
                </div>
            </div>
        </div>
    </header>
    <a class="modal-close-button" href="#"><span class="fa fa-times"></span></a>
    <div class="form-main pt45">
        <div class="container">
            <div class="search flex flex-align-center">
                <input type="text" name="txtSearch" class="mb-form-field mb-form-comment-field mb-form-search-field" placeholder="Tìm kiếm" value="" />
                <button type="button" name="btnSearch" class="mb-button mb-black-button mb-5rounded mb-search-button">
                    <span class="fa fa-search"></span>
                </button>
            </div>

            <label class="mb-section-heading flex flex-align-center font15"> <strong class="">Danh mục</strong></label>
            <ul class="mb-def-lists mb-cat-menu flex flex-justify-space-between">
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault" src="/images/soccer.svg" />
                            <span class="padleft10">Thể thao</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault" src="/images/dienanh.svg" />
                            <span class="padleft10">Điện ảnh</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault" src="/images/showbiz.svg" />
                            <span class="padleft10">Showbiz</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault" src="/images/music.svg" />
                            <span class="padleft10">Âm nhạc</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault" src="/images/doisong.svg" />
                            <span class="padleft10">Đời sống</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault" src="/images/diemdentre.svg" />
                            <span class="padleft10">Điểm đến trẻ</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault" src="/images/congnghe.svg" />
                            <span class="padleft10">Công nghệ</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a class="tag tag-cat" href="#">
                        <span class="flex flex-align-items" style="">
                            <img class="mb-idefault mb-isvg" src="/images/imagazine.svg" />
                            <span class="padleft10">iMagazine</span>
                        </span>
                    </a>
                </li>
            </ul>
            <hr class="mb-hr-line single single __lg" />
            <h2 class="mb-section-heading flex flex-align-center font15"><strong class="">Dành cho bạn</strong></h2>
            <div class="post-row">
                <div class="mb-judge-post mb-judge-normal-post flex flex-align-center">
                    <div class="mb-judge-post-leftswang order2">
                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                            <a href="/post.html">Thụy Sĩ: Trễ giờ là một việc tồi tệ nhất</a>
                        </h3>
                    </div>
                    <div class="mb-judge-post-rightswang order1">
                        <div class="mb-post-thumbnail thumbnail">
                            <img src="/images/demo-article5.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="mb-judge-post mb-judge-normal-post flex flex-align-center">
                    <div class="mb-judge-post-leftswang order2">
                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                            <a href="/post.html">Dứa: Biểu tượng giàu sang, quyền quý một thời</a>
                        </h3>
                    </div>
                    <div class="mb-judge-post-rightswang order1">
                        <div class="mb-post-thumbnail thumbnail">
                            <img src="/images/demo-article5.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="mb-judge-post mb-judge-normal-post flex flex-align-center">
                    <div class="mb-judge-post-leftswang order2">
                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                            <a href="/post.html">Chào mừng 20/11: Báo tường xưa rồi, “báo bảng” mới là trào lưu</a>
                        </h3>
                    </div>
                    <div class="mb-judge-post-rightswang order1">
                        <div class="mb-post-thumbnail thumbnail">
                            <img src="/images/demo-article5.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="mb-judge-post mb-judge-normal-post flex flex-align-center">
                    <div class="mb-judge-post-leftswang order2">
                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                            <a href="/post.html">Hướng dẫn cách đăng ký mobile banking Vietcombank đầy đủ nhất!</a>
                        </h3>
                    </div>
                    <div class="mb-judge-post-rightswang order1">
                        <div class="mb-post-thumbnail thumbnail">
                            <img src="/images/demo-article5.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="view-all">
                <a href="#" class="mb-button mb-viewall-button">Xem tất cả</a>
            </div>
        </div>
    </div>
</div>
