<!DOCTYPE html>
<html>
<head>
    <title>Noithatthuanphat</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="/assets/css/tool.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body class="	">

<header class="header">

	<div class="header-top">
		<div class="container">
			<div class="header-top-content">

				<div class="header-top-left">
				    <div class="header-top-menu">
						<ul>
							<li><a href="index.html">Trang chủ</a></li>
							<li><a href="">Lịch sử</a></li>
							<li><a href="">Tầm nhìn - Sứ mệnh</a></li>
							<li><a href="page-introduction.html">Giới thiệu</a></li>
							<li><a href="page-contact.html">Liên hệ</a></li>
						</ul>
				    </div>
				</div>

	            <div class="header-top-right">
					<div class="header-top-phone">
						<span>Hotline: </span>
						<a href="tel:0123456789">0123456789</a>
					</div>
                    <div class="header-top-fblike">
						<div class="fb-like" data-href="https://mencoffee.gcosoftware.vn/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
                    </div>
	            </div>

			</div>
		</div>
	</div>

	<div class="header-content">
		<div class="container">
			<div class="header-content-content">

				<div class="logo">
					<a href="">
						<img src="/assets/images/logo.webp" alt="logo">
					</a>
				</div>

				<div class="search-box">
					<form action="">
					    <input type="text" class="form-control" required="required" placeholder="Nhập từ khóa tìm kiếm ..." name="s" value="">
					    <button type="submit" class="btn search-icon">
					    	<i class="fa fa-search"></i>
					    </button>
					</form>
				</div>

				<div class="header-phone-support">
					<i class="fa fa-phone"></i>
					<div class="header-phone-support-content">
						<span>Hotline hỗ trợ</span>
						<div class="header-phone-list">
							<a href="tel:0123456789">0123456789</a> -
							<a href="tel:0123456789">0123456789</a> -
							<a href="tel:0123456789">0123456789</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<nav class="menu-primary">
		<div class="container">
		    <div class="main-menu">

				<ul class="menu">
					<li class="current-menu-item">
						<a href="index.html">Trang chủ</a>
					</li>
					<li>
						<a href="">Khuyến mãi</a>
						<ul class="sub-menu">
							<li><a href="">Sữa rửa mặt Suljin</a></li>
							<li>
								<a href="">Suljin Serum dưỡng trắng da</a>
								<ul class="sub-menu">
									<li><a href="">Sữa rửa mặt Suljin</a></li>
									<li><a href="">Suljin Serum dưỡng trắng da</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="page-product.html">SOFA</a></li>
					<li><a href="page-product.html">Phòng khách</a></li>
					<li><a href="page-product.html">Phòng bếp</a></li>
					<li><a href="page-product.html">Phòng ngủ</a></li>
					<li><a href="page-product.html">Bàn ghế cafe</a></li>
					<li><a href="page-news.html">Tin tức</a></li>
					<li><a href="page-video.html">Video</a></li>
				</ul>

		    </div>
		    <div class="mobile-menu"></div>
		</div>
	</nav>

</header>

<section class="">
    

<section class="slider home-slider">
	<div class="slider-content">
		<img src="/assets/images/slider.webp">
		<img src="/assets/images/slider.webp">
	</div>
</section>

<section class="home-service">
	<div class="container">
		<div class="home-service-content">
			<div class="row">

				<article class="col-4">
					<div class="item">
						<figure><img src="/assets/images/h-service-1.webp"></figure>
						<div class="info">
							<div class="title">Giao hàng miễn phí NỘI THÀNH</div>
							<div class="desc">Vận chuyển và lắp đặt tại nhà</div>
						</div>
					</div>
				</article>
				<article class="col-4">
					<div class="item">
						<figure><img src="/assets/images/h-service-2.webp"></figure>
						<div class="info">
							<div class="title">Bảo hành chuyên nghiệp</div>
							<div class="desc">Đảm bảo uy tín và chất lượng</div>
						</div>
					</div>
				</article>
				<article class="col-4">
					<div class="item">
						<figure><img src="/assets/images/h-service-3.webp"></figure>
						<div class="info">
							<div class="title">Chất lượng đảm bảo</div>
							<div class="desc">Luôn cập nhật - Giá thành hợp lý nhất</div>
						</div>
					</div>
				</article>

			</div>
		</div>
	</div>
</section>

<section class="home-product-feature">
	<div class="title-section">
		<h2>Dòng sản phẩm nổi bật</h2>
	</div>
	<div class="home-product-feature-content">
		<div class="row">

			<article class="col-4">
				<div class="item">
					<figure>
						<a href="javascript:void(0)">
							<img src="/assets/images/news.webp" alt="">
						</a>
					</figure>
					<div class="info">
						<div class="icon">
			                <img src="/assets/images/h-p-feature.webp">
						</div>
						<div class="desc">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and  type specimen book. took a galley It has survived not only five centuries, but also the leap into electronic type setting
						</div>
						<div class="read-more">
							<a href="">Chi tiết <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="title">
					<a href="">
						<h3>
							Nội thất phòng khách
						</h3>
					</a>
				</div>
			</article>
			<article class="col-4">
				<div class="item">
					<figure>
						<a href="javascript:void(0)">
							<img src="/assets/images/news.webp" alt="">
						</a>
					</figure>
					<div class="info">
						<div class="icon">
			                <img src="/assets/images/h-p-feature.webp">
						</div>
						<div class="desc">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and  type specimen book. took a galley It has survived not only five centuries, but also the leap into electronic type setting
						</div>
						<div class="read-more">
							<a href="">Chi tiết <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="title">
					<a href="">
						<h3>
							Nội thất phòng bếp
						</h3>
					</a>
				</div>
			</article>
			<article class="col-4">
				<div class="item">
					<figure>
						<a href="javascript:void(0)">
							<img src="/assets/images/news.webp" alt="">
						</a>
					</figure>
					<div class="info">
						<div class="icon">
			                <img src="/assets/images/h-p-feature.webp">
						</div>
						<div class="desc">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and  type specimen book. took a galley It has survived not only five centuries, but also the leap into electronic type setting
						</div>
						<div class="read-more">
							<a href="">Chi tiết <i class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="title">
					<a href="">
						<h3>
							Nội thất phòng ngủ
						</h3>
					</a>
				</div>
			</article>

		</div>
	</div>
</section>

<section class="home-product-intro">
	<div class="container">
		<div class="home-product-intro-content">
			<div class="row">

				<div class="col-6 home-product-sale">
					<div class="title-section-col">
						<h2>Dòng sản phẩm nổi bật</h2>
					</div>
					<div class="home-product-sale-content">
						<div class="row">

							<article class="col-6">
								<div class="item">
									<figure>
										<a href="">
											<img src="/assets/images/news.webp" alt="">
										</a>
									</figure>
									<div class="info">
										<div class="title">
											<a href="">
												<h3>
													Gỗ sồi Nga hay gỗ sồi
												</h3>
											</a>
										</div>
										<div class="price">
										    <span class="price-news">800.000 đ</span>
										    <span class="price-old">900.000 đ</span>
										</div>
									</div>
								</div>
							</article>
							<article class="col-6">
								<div class="item">
									<figure>
										<a href="">
											<img src="/assets/images/news.webp" alt="">
										</a>
									</figure>
									<div class="info">
										<div class="title">
											<a href="">
												<h3>
													Gỗ sồi Nga hay gỗ sồi
												</h3>
											</a>
										</div>
										<div class="price">
										    <span class="price-news">800.000 đ</span>
										    <span class="price-old">900.000 đ</span>
										</div>
									</div>
								</div>
							</article>
							<article class="col-6">
								<div class="item">
									<figure>
										<a href="">
											<img src="/assets/images/news.webp" alt="">
										</a>
									</figure>
									<div class="info">
										<div class="title">
											<a href="">
												<h3>
													Gỗ sồi Nga hay gỗ sồi
												</h3>
											</a>
										</div>
										<div class="price">
										    <span class="price-news">800.000 đ</span>
										    <span class="price-old">900.000 đ</span>
										</div>
									</div>
								</div>
							</article>
							<article class="col-6">
								<div class="item">
									<figure>
										<a href="">
											<img src="/assets/images/news.webp" alt="">
										</a>
									</figure>
									<div class="info">
										<div class="title">
											<a href="">
												<h3>
													Gỗ sồi Nga hay gỗ sồi
												</h3>
											</a>
										</div>
										<div class="price">
										    <span class="price-news">800.000 đ</span>
										    <span class="price-old">900.000 đ</span>
										</div>
									</div>
								</div>
							</article>

						</div>
					</div>
				</div>

				<div class="col-6 home-product-ship">
					<div class="title-section-col">
						<h2>Sản phẩm bàn giao nhà khách</h2>
					</div>
					<div class="home-product-ship-content">

						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											bàn giAO BỘ SOFA GỖ
										</h3>
									</a>
								</div>
								<div class="desc">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and  type specimen book. took a galley It has survived not
		                        </div>
							</div>
						</article>
						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											bàn giAO BỘ SOFA GỖ
										</h3>
									</a>
								</div>
								<div class="desc">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and  type specimen book. took a galley It has survived not
		                        </div>
							</div>
						</article>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="home-video-product-feature">
	<div class="container">
		<div class="title-section">
			<h2>Video sản phẩm nổi bật</h2>
		</div>
		<div class="home-video-product-feature-content">
			<div class="row">
				<article class="col-4" data-toggle="modal" data-target="#Modal1">
					<div class="item">
						<figure>
							<a href="">
								<img src="/assets/images/video.webp" alt="">
							</a>
						</figure>
						<div class="info">
							<div class="title">
								<a href="">
									<h3>
										Bộ bàn ghế ăn Mango 1
									</h3>
								</a>
							</div>
							<div class="meta">
								<div class="price">
		                            <span class="price-news">4.000.000 đ</span>
		                        </div>
								<div class="more">
									<i class="fa fa-eye" aria-hidden="true"></i> 60 lượt xem
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="col-4" data-toggle="modal" data-target="#Modal1">
					<div class="item">
						<figure>
							<a href="">
								<img src="/assets/images/video.webp" alt="">
							</a>
						</figure>
						<div class="info">
							<div class="title">
								<a href="">
									<h3>
										Bộ bàn ghế ăn Mango 1
									</h3>
								</a>
							</div>
							<div class="meta">
								<div class="price">
		                            <span class="price-news">4.000.000 đ</span>
		                        </div>
								<div class="more">
									<i class="fa fa-eye" aria-hidden="true"></i> 60 lượt xem
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="col-4" data-toggle="modal" data-target="#Modal1">
					<div class="item">
						<figure>
							<a href="">
								<img src="/assets/images/video.webp" alt="">
							</a>
						</figure>
						<div class="info">
							<div class="title">
								<a href="">
									<h3>
										Bộ bàn ghế ăn Mango 1
									</h3>
								</a>
							</div>
							<div class="meta">
								<div class="price">
		                            <span class="price-news">4.000.000 đ</span>
		                        </div>
								<div class="more">
									<i class="fa fa-eye" aria-hidden="true"></i> 60 lượt xem
								</div>
							</div>
						</div>
					</div>
				</article>
				<article class="col-4" data-toggle="modal" data-target="#Modal1">
					<div class="item">
						<figure>
							<a href="">
								<img src="/assets/images/video.webp" alt="">
							</a>
						</figure>
						<div class="info">
							<div class="title">
								<a href="">
									<h3>
										Bộ bàn ghế ăn Mango 1
									</h3>
								</a>
							</div>
							<div class="meta">
								<div class="price">
		                            <span class="price-news">4.000.000 đ</span>
		                        </div>
								<div class="more">
									<i class="fa fa-eye" aria-hidden="true"></i> 60 lượt xem
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- Modal -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/4heQXpe9FrU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		</div>
	</div>
</div>

<section class="home-product-tab">
	<div class="container">
		<div class="home-product-tab-content">
			<div class="product-tab-top">
				
				<div class="product-tab-title">
					<h2>Sofa</h2>
				</div>
	            <ul class="nav nav-tabs" role="tablist">
	                <li class="nav-item">
	                    <a class="nav-link active" href="#profile_1" role="tab" data-toggle="tab">
	                        Sofa Bed
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#profile_2" role="tab" data-toggle="tab">
	                        Sofa Bằng
	                    </a>
	                </li>
	            </ul>
	            <a class="product-tab-link" href="">
	            	<i class="fa fa-chevron-right" aria-hidden="true"></i>
	            </a>

	        </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile_1">
		            <div class="row">
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
					</div>
                </div>

                <div role="tabpanel" class="tab-pane" id="profile_2">
		            <div class="row">
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
					</div>
                </div>
            </div>

		</div>
	</div>
</section>

<section class="home-image-ads">
	<div class="container">
		<img src="/assets/images/slider.webp">
	</div>
</section>

<section class="home-product-tab">
	<div class="container">
		<div class="home-product-tab-content">
			<div class="product-tab-top">
				
				<div class="product-tab-title">
					<h2>Phòng khách</h2>
				</div>
	            <ul class="nav nav-tabs" role="tablist">
	                <li class="nav-item">
	                    <a class="nav-link active" href="#profile_3" role="tab" data-toggle="tab">
	                        Combo Phòng Khách
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#profile_4" role="tab" data-toggle="tab">
	                        Tủ Giày
	                    </a>
	                </li>
	            </ul>
	            <a class="product-tab-link" href="">
	            	<i class="fa fa-chevron-right" aria-hidden="true"></i>
	            </a>

	        </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile_3">
		            <div class="row">
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
					</div>
                </div>

                <div role="tabpanel" class="tab-pane" id="profile_4">
		            <div class="row">
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
					</div>
                </div>
            </div>

		</div>
	</div>
</section>

<section class="home-product-tab">
	<div class="container">
		<div class="home-product-tab-content">
			<div class="product-tab-top">
				
				<div class="product-tab-title">
					<h2>Phòng bếp</h2>
				</div>
	            <ul class="nav nav-tabs" role="tablist">
	                <li class="nav-item">
	                    <a class="nav-link active" href="#profile_5" role="tab" data-toggle="tab">
	                        Combo Phòng Khách
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#profile_6" role="tab" data-toggle="tab">
	                        Tủ Giày
	                    </a>
	                </li>
	            </ul>
	            <a class="product-tab-link" href="">
	            	<i class="fa fa-chevron-right" aria-hidden="true"></i>
	            </a>

	        </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile_5">
		            <div class="row">
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
					</div>
                </div>

                <div role="tabpanel" class="tab-pane" id="profile_6">
		            <div class="row">
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
					</div>
                </div>
            </div>

		</div>
	</div>
</section>

<section class="home-product-tab home-product-tab-video">
	<div class="container">
		<div class="home-product-tab-content">
			<div class="product-tab-top">
				
				<div class="product-tab-title">
					<h2>video</h2>
				</div>
	            <a class="product-tab-link" href="">
	            	<i class="fa fa-chevron-right" aria-hidden="true"></i>
	            </a>

	        </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile_">
		            <div class="row">
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
						<article class="col-3">
							<div class="item">
								<figure>
									<a href="">
										<img src="/assets/images/news.webp" alt="">
									</a>
								</figure>
								<div class="info">
									<div class="title">
										<a href="">
											<h3>
												Sofa Nỉ SFNK1917-1N#
											</h3>
										</a>
									</div>
									<div class="price">
			                            <span class="price-news">Liên hệ</span>
			                        </div>
								</div>
							</div>
						</article>
					</div>
                </div>
            </div>

		</div>
	</div>
</section>

<section class="home-news-intro">
	<div class="container">
		<div class="home-news-intro-content">
			<div class="row">

				<div class="col-4 home-news-subject">
					<div class="title-section-col">
						<h2>CHuyên đề nội thất</h2>
					</div>
					<div class="home-news-subject-content">

						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="">Chi tiết</a>
								</div>
							</div>
						</article>
						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="">Chi tiết</a>
								</div>
							</div>
						</article>
						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="">Chi tiết</a>
								</div>
							</div>
						</article>					

					</div>
				</div>

				<div class="col-4 home-news-deco">
					<div class="title-section-col">
						<h2>Trang trí nhà đẹp</h2>
					</div>
					<div class="home-news-deco-content">

						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="">Chi tiết</a>
								</div>
							</div>
						</article>
						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="">Chi tiết</a>
								</div>
							</div>
						</article>
						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="">Chi tiết</a>
								</div>
							</div>
						</article>

					</div>
				</div>

				<div class="col-4 home-news-new">
					<div class="title-section-col">
						<h2>TIn tức mới</h2>
					</div>
					<div class="home-news-new-content">

						<article class="item">
							<figure>
								<a href="">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
									Lorem Ipsum is simply dummy text of the printing and typesetting industry...
		                        </div>
							</div>
						</article>

						<ul class="home-news-new-list">
							<li>
								<a href="">
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									Sở hữu bộ bàn ghế ăn tại Đà Nẵng
								</a>
								<a href="">
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									Sở hữu bộ bàn ghế ăn tại Đà Nẵng
								</a>
								<a href="">
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									Sở hữu bộ bàn ghế ăn tại Đà Nẵng
								</a>
								<a href="">
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									Sở hữu bộ bàn ghế ăn tại Đà Nẵng
								</a>
								<a href="">
									<i class="fa fa-angle-double-right" aria-hidden="true"></i>
									Sở hữu bộ bàn ghế ăn tại Đà Nẵng
								</a>
							</li>
						</ul>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>


</section>

<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-top-content">
                <div class="row">
                    <address class="col-3 footer-column-1">
                        <div class="f-title">Siêu thị nội thất 1</div>
                        <div class="footer-column-content">
                        	<p>
                        		<i class="fa fa-map-marker" aria-hidden="true"></i>
                        		<span>43 Mai An Tiêm (ngay Cầu Đông Hương), phường Lam Sơn - Thành phố Thanh Hóa</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-phone" aria-hidden="true"></i>
                        		<span>094 6930 688 - 038 4560 028 - 0867749688</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-envelope-o" aria-hidden="true"></i>
                        		<span>nguyentrangduyen1810@gmail.com</span>
                        	</p>
                        </div>
                    </address>
                    <address class="col-3 footer-column-2">
                        <div class="f-title">Siêu thị nội thất 2</div>
                        <div class="footer-column-content">
                        	<p>
                        		<i class="fa fa-map-marker" aria-hidden="true"></i>
                        		<span>43 Mai An Tiêm (ngay Cầu Đông Hương), phường Lam Sơn - Thành phố Thanh Hóa</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-phone" aria-hidden="true"></i>
                        		<span>094 6930 688 - 038 4560 028 - 0867749688</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-envelope-o" aria-hidden="true"></i>
                        		<span>nguyentrangduyen1810@gmail.com</span>
                        	</p>
                        </div>
                    </address>
                    <div class="col-3 footer-column-3">
                        <div class="f-title">Hỗ trợ mua hàng</div>
                        <ul>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Bảo mật thông tin</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Chính sách bảo hành</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Quy định đổi trả</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Hướng dẫn mua hàng và thanh toán</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Phương thức vận chuyển</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Hỗ trợ trả góp</a></li>
                        </ul>
                    </div>
                    <div class="col-3 footer-column-4">
                        <div class="f-title">Kết nối với chúng tôi</div>
                        <div class="f-fanpage">
							<div class="fb-page" data-href="https://www.facebook.com/S%C3%A1ch-c%E1%BB%A7a-Ti%E1%BB%87p-1869377543355898" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/S%C3%A1ch-c%E1%BB%A7a-Ti%E1%BB%87p-1869377543355898" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/S%C3%A1ch-c%E1%BB%A7a-Ti%E1%BB%87p-1869377543355898">Sách của Tiệp</a></blockquote></div>
                        </div>
                        <div class="f-socical">
	                        <ul>
	                            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	                            <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
	                            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	                            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	                        </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="footer-copyright">
                    © GCO GROUP 2021. All rights reserved.
                </div>
                <div class="footer-menu">
					<ul>
						<li><a href="page-introduction.html">Giới thiệu</a></li>
						<li><a href="">Dịch vụ</a></li>
						<li><a href="">Tuyển dụng</a></li>
						<li><a href="">Sơ đồ chỉ đường</a></li>
						<li><a href="">Dự án tiêu biểu</a></li>
					</ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<div id="tool__society">
    <div class="tool__item">
        <a href="tel:" class="tool__icon tool__icon_tel">
            <img src="/assets/images/f-phone.webp">
        </a>
        <a href="" class="tool__icon tool__icon_mes" target="_blank">
            <img src="/assets/images/f-messenger.webp">
        </a>

        <a href="javascript:void(0)" id="back-to-top" class="tool__icon tool__icon_back">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</div>

<!--connect.facebook-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=182467580352571&autoLogAppEvents=1" nonce="Imfu8nRz"></script>

    <script type="text/javascript" src="/assets/js/tool.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>