<!DOCTYPE html>
<html>
<head>
    <title>Tin tức</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" href="/assets/css/tool.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body class="	">

<header class="header">

	<div class="header-top">
		<div class="container">
			<div class="header-top-content">

				<div class="header-top-left">
				    <div class="header-top-menu">
						<ul>
							<li><a href="index.html">Trang chủ</a></li>
							<li><a href="">Lịch sử</a></li>
							<li><a href="">Tầm nhìn - Sứ mệnh</a></li>
							<li><a href="page-introduction.html">Giới thiệu</a></li>
							<li><a href="page-contact.html">Liên hệ</a></li>
						</ul>
				    </div>
				</div>

	            <div class="header-top-right">
					<div class="header-top-phone">
						<span>Hotline: </span>
						<a href="tel:0123456789">0123456789</a>
					</div>
                    <div class="header-top-fblike">
						<div class="fb-like" data-href="https://mencoffee.gcosoftware.vn/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
                    </div>
	            </div>

			</div>
		</div>
	</div>

	<div class="header-content">
		<div class="container">
			<div class="header-content-content">

				<div class="logo">
					<a href="">
						<img src="/assets/images/logo.webp" alt="logo">
					</a>
				</div>

				<div class="search-box">
					<form action="">
					    <input type="text" class="form-control" required="required" placeholder="Nhập từ khóa tìm kiếm ..." name="s" value="">
					    <button type="submit" class="btn search-icon">
					    	<i class="fa fa-search"></i>
					    </button>
					</form>
				</div>

				<div class="header-phone-support">
					<i class="fa fa-phone"></i>
					<div class="header-phone-support-content">
						<span>Hotline hỗ trợ</span>
						<div class="header-phone-list">
							<a href="tel:0123456789">0123456789</a> -
							<a href="tel:0123456789">0123456789</a> -
							<a href="tel:0123456789">0123456789</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<nav class="menu-primary">
		<div class="container">
		    <div class="main-menu">

				<ul class="menu">
					<li class="current-menu-item">
						<a href="index.html">Trang chủ</a>
					</li>
					<li>
						<a href="">Khuyến mãi</a>
						<ul class="sub-menu">
							<li><a href="">Sữa rửa mặt Suljin</a></li>
							<li>
								<a href="">Suljin Serum dưỡng trắng da</a>
								<ul class="sub-menu">
									<li><a href="">Sữa rửa mặt Suljin</a></li>
									<li><a href="">Suljin Serum dưỡng trắng da</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="page-product.html">SOFA</a></li>
					<li><a href="page-product.html">Phòng khách</a></li>
					<li><a href="page-product.html">Phòng bếp</a></li>
					<li><a href="page-product.html">Phòng ngủ</a></li>
					<li><a href="page-product.html">Bàn ghế cafe</a></li>
					<li><a href="page-news.html">Tin tức</a></li>
					<li><a href="page-video.html">Video</a></li>
				</ul>

		    </div>
		    <div class="mobile-menu"></div>
		</div>
	</nav>

</header>

<section class="">
    



<section class="page-banner">
	<img src="/assets/images/slider.webp" alt="">
</section>

<section class="breadcrumbs">
    <div class="container">
        <a href="">Trang chủ &nbsp;</a> &gt;
		<span>Tin tức</span>
	</div>
</section>

<section class="page-news">
    <div class="container">
    	<div class="row">

	    	<aside class="col-3 sidebar sidebar-news">
	    		<section class="widget widget-list-cat">
	    			<h2 class="title-widget">Danh mục</h2>
	    			<div class="widget-list-cat-content">
						<div class="menu-click-show">
							<ul>
								<li class="tamgiac">
									<a href="">Sofa</a>
									<ul class="sub-menu">
										<li><a href="">Sofa</a></li>
										<li><a href="">Phòng khách</a></li>
									</ul>
								</li>
								<li><a href="">Phòng khách</a></li>
							</ul>
						</div>
					</div>
	    		</section>
	    		<section class="widget widget-form-support">
	    			<h2 class="title-widget">Hỗ trợ trực tuyến</h2>
	    			<div class="widget-form-support-content">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" id="your-name" placeholder="Họ & tên" required="required">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="your-email" placeholder="Email" required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="your-phone" placeholder="Số điện thoại" required="required">
							</div>
							<div class="form-group">
								<textarea cols="40" rows="4" class="form-control" id="your-messenger" placeholder="Nội dung"></textarea>
							</div>
							<input type="submit" class="btn btn-submit" value="Gửi">
						</form>
					</div>
	    		</section>
	    		<section class="widget widget-related-post">
	    			<h2 class="title-widget">Tin tức liên quan</h2>
	    			<div class="widget-related-post-content">
						<div class="item">
							<figure>
								<a href="">
									<img src="/assets/images/sidebar.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Bàn giao nội thất phòng khách cho nhà chị Lan ở Liễu Giai
										</h3>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<figure>
								<a href="">
									<img src="/assets/images/sidebar.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="">
										<h3>
											Bàn giao nội thất phòng khách cho nhà chị Lan ở Liễu Giai
										</h3>
									</a>
								</div>
							</div>
						</div>
	    			</div>
	    		</section>
	    		<section class="widget widget-image-ads">
	    			<div class="widget-image-ads-content">
	    				<img src="/assets/images/video.webp" alt="">
	    			</div>
	    		</section>
	    	</aside>

	    	<div class="col-8 page-news-content">
	    		<div class="row">

					<article class="col-6">
						<div class="item">
							<figure>
								<a href="single-news.html">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="single-news.html">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="single-news.html">Chi tiết</a>
								</div>
							</div>
						</div>
					</article>
					<article class="col-6">
						<div class="item">
							<figure>
								<a href="single-news.html">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="single-news.html">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="single-news.html">Chi tiết</a>
								</div>
							</div>
						</div>
					</article>
					<article class="col-6">
						<div class="item">
							<figure>
								<a href="single-news.html">
									<img src="/assets/images/news.webp" alt="">
								</a>
							</figure>
							<div class="info">
								<div class="title">
									<a href="single-news.html">
										<h3>
											Nên mua nội thất gỗ sồi Nga hay gỗ sồi
										</h3>
									</a>
								</div>
								<div class="desc">
					                Lorem Ipsum is simply dummy text of the printing and industry...
								</div>
								<div class="read-more">
									<a href="single-news.html">Chi tiết</a>
								</div>
							</div>
						</div>
					</article>

				</div>
				<nav class="navigation">
					<div class="wp-pagenavi" role="navigation">
						<span aria-current="page" class="current">1</span>
						<a class="page larger" title="Page 2" href="">2</a>
						<a class="page larger" title="Page 3" href="">3</a>
						<a class="nextpostslink" rel="next" href=""><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i></a>
					</div>
				</nav>
	    	</div>

    	</div>
    </div>
</section>


</section>

<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-top-content">
                <div class="row">
                    <address class="col-3 footer-column-1">
                        <div class="f-title">Siêu thị nội thất 1</div>
                        <div class="footer-column-content">
                        	<p>
                        		<i class="fa fa-map-marker" aria-hidden="true"></i>
                        		<span>43 Mai An Tiêm (ngay Cầu Đông Hương), phường Lam Sơn - Thành phố Thanh Hóa</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-phone" aria-hidden="true"></i>
                        		<span>094 6930 688 - 038 4560 028 - 0867749688</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-envelope-o" aria-hidden="true"></i>
                        		<span>nguyentrangduyen1810@gmail.com</span>
                        	</p>
                        </div>
                    </address>
                    <address class="col-3 footer-column-2">
                        <div class="f-title">Siêu thị nội thất 2</div>
                        <div class="footer-column-content">
                        	<p>
                        		<i class="fa fa-map-marker" aria-hidden="true"></i>
                        		<span>43 Mai An Tiêm (ngay Cầu Đông Hương), phường Lam Sơn - Thành phố Thanh Hóa</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-phone" aria-hidden="true"></i>
                        		<span>094 6930 688 - 038 4560 028 - 0867749688</span>
                        	</p>
                        	<p>
                        		<i class="fa fa-envelope-o" aria-hidden="true"></i>
                        		<span>nguyentrangduyen1810@gmail.com</span>
                        	</p>
                        </div>
                    </address>
                    <div class="col-3 footer-column-3">
                        <div class="f-title">Hỗ trợ mua hàng</div>
                        <ul>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Bảo mật thông tin</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Chính sách bảo hành</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Quy định đổi trả</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Hướng dẫn mua hàng và thanh toán</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Phương thức vận chuyển</a></li>
                            <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Hỗ trợ trả góp</a></li>
                        </ul>
                    </div>
                    <div class="col-3 footer-column-4">
                        <div class="f-title">Kết nối với chúng tôi</div>
                        <div class="f-fanpage">
							<div class="fb-page" data-href="https://www.facebook.com/S%C3%A1ch-c%E1%BB%A7a-Ti%E1%BB%87p-1869377543355898" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/S%C3%A1ch-c%E1%BB%A7a-Ti%E1%BB%87p-1869377543355898" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/S%C3%A1ch-c%E1%BB%A7a-Ti%E1%BB%87p-1869377543355898">Sách của Tiệp</a></blockquote></div>
                        </div>
                        <div class="f-socical">
	                        <ul>
	                            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	                            <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
	                            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	                            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	                        </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="footer-copyright">
                    © GCO GROUP 2021. All rights reserved.
                </div>
                <div class="footer-menu">
					<ul>
						<li><a href="page-introduction.html">Giới thiệu</a></li>
						<li><a href="">Dịch vụ</a></li>
						<li><a href="">Tuyển dụng</a></li>
						<li><a href="">Sơ đồ chỉ đường</a></li>
						<li><a href="">Dự án tiêu biểu</a></li>
					</ul>
                </div>
            </div>
        </div>
    </div>

</footer>

<div id="tool__society">
    <div class="tool__item">
        <a href="tel:" class="tool__icon tool__icon_tel">
            <img src="/assets/images/f-phone.webp">
        </a>
        <a href="" class="tool__icon tool__icon_mes" target="_blank">
            <img src="/assets/images/f-messenger.webp">
        </a>

        <a href="javascript:void(0)" id="back-to-top" class="tool__icon tool__icon_back">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</div>

<!--connect.facebook-->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0&appId=182467580352571&autoLogAppEvents=1" nonce="Imfu8nRz"></script>

    <script type="text/javascript" src="/assets/js/tool.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>