<div class="single-comments-modal">
    <div class="container">
        <a class="close modal-close-button" href="#"><span class="fa fa-times"></span></a>
        <h2 class="modal-heading single-modal-heading mtop20">Bình luận</h2>
        <p class="modal-cm-text mtop10">
            Bạn phải đăng nhập để sử dụng tính năng bình luận. <br />
            <strong>Đăng nhập</strong>
        </p>
        <div class="modal-cm-panel mtop30">
            <div class="modal-cm-sorts flex flex-align-center flex-justify-space-between">
                <strong>Tất cả (10)</strong>
                <select>
                    <option value="newest">Mới nhất</option>
                </select>
            </div>
            <ul class="mb-def-lists modal-cm-lists mtop20">
                <li>
                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center flex-justify-space-between">
                        <div class="flex flex-align-center">
                            <span class="avatar mb-cm-avatar"><img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /></span><strong class="mb-author-name mb-cm-author-name padleft10">Trần Văn Hoàng</strong>
                        </div>
                        <div>
                            <strong class="mb-post-category mb-cm-timespan flex flex-align-center"><a href="/post.html">23 Sep, 2021</a></strong>
                        </div>
                    </div>
                    <div class="mtop5 cm-text modal-cm-text">
                        <div class="cm-myans">Tin nhanh, hình ảnh, video clip, bình luận mới về giá vàng.</div>
                        <div class="cm-response mtop5">
                            <a class="" href="#"><strong>Trả lời</strong></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center flex-justify-space-between">
                        <div class="flex flex-align-center">
                            <span class="avatar mb-cm-avatar"><img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /></span><strong class="mb-author-name mb-cm-author-name padleft10">Phạm Văn Anh</strong>
                        </div>
                        <div>
                            <strong class="mb-post-category mb-cm-timespan flex flex-align-center"><a href="/post.html">23 Sep, 2021</a></strong>
                        </div>
                    </div>
                    <div class="mtop5 cm-text modal-cm-text">
                        <div class="cm-myans">Phân tích biến động giá vàng 9999 nhằm giúp độc giả nắm bắt</div>
                        <div class="cm-response mtop5">
                            <a class="" href="#"><strong>Trả lời</strong></a>
                        </div>
                    </div>
                    <ul class="mb-cm-child-lists">
                        <li>
                            <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center flex-justify-space-between">
                                <div class="flex flex-align-center">
                                    <span class="avatar mb-cm-avatar"><img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /></span><strong class="mb-author-name mb-cm-author-name padleft10">Phạm Văn Anh</strong>
                                </div>
                                <div>
                                    <strong class="mb-post-category mb-cm-timespan flex flex-align-center"><a href="/post.html">23 Sep, 2021</a></strong>
                                </div>
                            </div>
                            <div class="mtop5 cm-text modal-cm-text">
                                <div class="cm-myans">Chênh lệch giá bán vàng đang cao hơn giá mua 700.000 đồng/lượng</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center flex-justify-space-between">
                        <div class="flex flex-align-center">
                            <span class="avatar mb-cm-avatar"><img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /></span><strong class="mb-author-name mb-cm-author-name padleft10">Trần Tiến</strong>
                        </div>
                        <div>
                            <strong class="mb-post-category mb-cm-timespan flex flex-align-center"><a href="/post.html">23 Sep, 2021</a></strong>
                        </div>
                    </div>
                    <div class="mtop5 cm-text modal-cm-text">
                        <div class="cm-myans">Chuyên gia Haberkorn cho rằng các thông tin phiên trước đó tiếp tục hỗ trợ</div>
                        <div class="cm-response mtop5">
                            <a class="" href="#"><strong>Trả lời</strong></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>