.icon_box {
  position: relative;
  &.style_1 {
    .icon {
      color: $stm_base_color;
      margin: 0 0 8px;
      vertical-align: bottom;
    }
    &.icon_left, &.icon_left_transparent {
      .icon {
        float: left;
        margin: 0;
        text-align: center;
      }
      .icon_text {
        overflow: hidden;
      }
      h5 {
        padding-top: 0;
        font-size: 18px;
        line-height: 24px;
        text-transform: none;
        position: relative;
        @include transition();
        color: $stm_base_color;
        font-weight: 600;
        &:after {
        }
        &.no_stripe {
          margin-bottom: 9px;
          &:after {
            display: none;
          }
        }
      }
      p {
        font-size: 13px;
        line-height: 24px;
        @include transition();
        font-family: inherit !important;
        opacity: 1;
      }
      &.middle {
        .icon {
        }
        .icon_text {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    &.icon_left_transparent {
      .icon {
        display: inline-block;
        vertical-align: middle;
        float: left;
        &:after {
          display: none;
        }
        i {
          width: auto;
          height: auto;
          line-height: 1;
          background: none;
          padding: 1px;
          color: $stm_base_color;
          text-align: left;
        }
      }
      h5 {
        display: inline-block;
        vertical-align: middle;
        &.no_stripe {
          margin-bottom: 9px;
        }
      }
      .icon_text {
        p {
          letter-spacing: 0;
          line-height: 24px;
        }
      }
    }
    .icon {
      i {
        display: block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background: transparent;
        text-align: center;
        @include border-radius(50%);
      }
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      &.font-color_base i {
        color: $stm_base_color;
      }
      &.font-color_secondary i {
        color: $stm_third_color;
      }
      &.font-color_third i {
        color: $stm_secondary_color;
      }
      &.font-color_base_bg i {
        background-color: $stm_base_color;
      }
      &.font-color_secondary_bg i {
        background-color: $stm_secondary_color;
      }
      &.font-color_third_bg i {
        background-color: $stm_third_color;
      }
    }
    &.hexagon {
      &.hexanog_animation {
        position: relative;
        padding: 37px 20px;
        &:hover {
          background: #fff;
          .icon {
            padding: 20px 0;
            &:before {
              height: 15px;
            }
            &:after {
              height: 15px;
            }
          }
        }
        h5 {
          margin-bottom: 11px;
        }
        .icon_text {
          p:last-child {
            margin: 0;
          }
        }
        .icon {
          @include transition();
          i {
            position: relative;
          }
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 29px;
            top: -3px;
            width: 6px;
            background: $stm_third_color;
            height: 0;
            @include transition();
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 29px;
            bottom: -3px;
            width: 6px;
            background: $stm_third_color;
            height: 0;
            @include transition();
          }
        }
      }
      .icon {
        position: relative;
        i {
          background: none;
          color: $stm_base_color;
          width: 64px;
          height: 55px;
          line-height: 55px;
          &:after {
            content: "\e91c";
            @include theme_icons();
            position: absolute;
            left: 0;
            top: 0;
            font-size: 55px;
          }
        }
      }
    }
    h4, h5 {
      padding-top: 4px;
      margin-bottom: 10px;
      font-weight: 700;
    }
    h4 {
      &:before {
        display: none;
      }
      &:after {
        content: '';
        display: block;
        width: 46px;
        height: 5px;
        background: #aaaaaa;
        margin: 17px 0 0;
      }
    }
    &.icon_top_transparent {
      text-align: left;
      .icon {
        display: inline-block;
        height: 62px;
        margin-bottom: 20px;
        i {
          height: auto;
          width: auto;
          font-size: 62px;
          line-height: normal;
          color: $stm_secondary_color;
          background: transparent;
        }
      }
      .icon_text {
        h4 {
          padding-top: 0;
          line-height: 18px;
          font-size: 14px;

          &.no_stripe {
            &:after {
              content: none;
            }
          }
        }
      }
    }
    &:hover {
      &.icon_left, &.icon_left_transparent {
        .icon_text {
          h5 {
            color: $stm_third_color !important;
          }
        }
      }
    }

  }
}

.icon_box {
  &.style_2 {
    .icon {
      display: table-cell;
      vertical-align: middle;
      &.font-color_base i {
        color: $stm_base_color;
      }
      &.font-color_secondary i {
        color: $stm_secondary_color;
      }
      &.font-color_third i {
        color: $stm_third_color;
      }
    }
    h5 {
      display: table-cell;
      vertical-align: middle;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      line-height: 24px;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 18px;
      padding: 0;

      &:after {
        content: none;
      }
    }

    &.alignment_center {
      text-align: center;

      .icon_box_inner {
        display: inline-block;
        text-align: left;
      }
    }
    &.alignment_right {
      text-align: right;

      .icon_box_inner {
        display: inline-block;
        text-align: left;
      }
    }
  }
}

.icon_box {
  &.style_3 {
    .icon {
      display: table-cell;
      vertical-align: middle;
      padding: 10px 0;
      padding-right: 17px;
      color: $stm_base_color;
      &.font-color_secondary {
        color: $stm_secondary_color;
      }&.font-color_third {
         color: $stm_third_color;
       }
      i {
        display: block;
        width: 54px;
        height: 54px;
        text-align: center;
        overflow: hidden;
        position: relative;
        line-height: 54px;
        border: 3px solid transparent;
        @include border-radius(50%);
      }
      &.font-color_base i {
        color: $stm_base_color;
      }
      &.font-color_secondary i {
        color: $stm_secondary_color;
      }
      &.font-color_third i {
        color: $stm_third_color;
      }
      &.border-color_base i {
        border-color: $stm_base_color;
      }
      &.border-color_secondary i {
        border-color: $stm_secondary_color;
      }
      &.border-color_third i {
        border-color: $stm_third_color;
      }
    }
    .icon_text {
      display: table-cell;
      vertical-align: middle;
      padding: 10px 0;
      font-weight: 600;
      p {
        line-height: 24px;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.icon_box {
  &.style_4 {
    .icon {
      color: $stm_base_color;
      &.font-color_secondary {
        color: $stm_secondary_color;
      }&.font-color_third {
         color: $stm_third_color;
       }
      i {
        display: block;
        text-align: center;
        overflow: hidden;
        position: relative;
        line-height: 54px;
        border: 3px solid transparent;
        @include border-radius(50%);
      }
      &.font-color_base i {
        color: $stm_base_color;
      }
      &.font-color_secondary i {
        color: $stm_secondary_color;
      }
      &.font-color_third i {
        color: $stm_third_color;
      }
      &.border-color_base i {
        border-color: $stm_base_color;
      }
      &.border-color_secondary i {
        border-color: $stm_secondary_color;
      }
      &.border-color_third i {
        border-color: $stm_third_color;
      }
    }
    h4 {
      padding-top: 13px;
      margin-bottom: 11px;
      letter-spacing: 0px;
      font-weight: 700;
      font-size: 18px;
      color: #000000;
      &:before,
      &:after {
        display: none;
      }
    }
    .icon_text {
      color: #595959;
      p {
        line-height: 24px;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    &.alignment_center {
      .icon_box_inner {
        text-align: center;
      }
    }
    &.alignment_center {
      .icon i {
        margin: 0 auto;
      }
    }
  }
  &.style_5 {
    position: relative;
    padding-top: 18px;
    padding-bottom: 38px;
    background-color: #fff;
    transition: all 0.3s;
    overflow: hidden;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      transition: all 0.4s;
      background-color: $stm_base_color;
    }
    &:after {
      width: 0;
    }
    .icon_box_inner {
      padding-right: 40px;
      padding-left: 95px;
      .icon {
        position: absolute;
        top: 35px;
        left: 26px;
      }
      h4 {
        position: relative;
        text-transform: none;
        margin-bottom: 14px;
        font-weight: 700;
        z-index: 1;
        &:after {
          display: none;
        }
      }
      .icon_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 120px;
        opacity: 0.2;
        i {
          position: absolute;
          right: -14px;
          bottom: -12px;
        }
      }
      .icon_text {
        position: relative;
        z-index: 1;
        p {
          line-height: 24px;
          color: #888888;
        }
      }
      .text_more {
        position: relative;
        letter-spacing: 0;
        z-index: 1;
        transition: all 0.3s;
        font-weight: 700;
        color: $stm_base_color;
        i {
          display: inline-block;
          vertical-align: middle;
          margin-top: -3px;
          margin-left: 8px;
          font-weight: 600;
          font-size: 20px;
          color: #888888;
        }
      }
    }
    &:hover {
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
      &:after {
        width: 100%;
        background-color: $stm_secondary_color;
      }
      .text_more {
        color: $stm_secondary_color;
      }
    }
  }
  &.style_6 {
    position: relative;
    padding: 0;
    background-color: transparent;
    transition: all 0.3s;
    overflow: hidden;
    .icon_box_inner {
      padding-left: 75px;
      .icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        min-width: 51px;
        min-height: 51px;
        i {
          transition: all 0.3s;
          position: relative;
        }
        .icon_bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 51px;
          i {
            display: inline-block;
            vertical-align: top;
            color: #d4d4d4;
          }
        }
      }
      h4 {
        position: relative;
        transition: all 0.3s;
        padding-top: 0;
        padding-right: 30px;
        line-height: 24px;
        text-transform: none;
        margin-bottom: 14px;
        font-weight: 700;
        font-size: 20px;
        z-index: 1;
        &:after {
          display: none;
        }
      }
      .icon_text {
        color: #999999;
        transition: all 0.3s;
      }
    }
    &:hover {
      .icon {
        i {
          color: $stm_base_color !important;
        }
        .icon_bg {
          i {
            color: #d4d4d4 !important;
          }
        }
      }
      h4 {
        color: $stm_secondary_color;
      }
      .icon_text {
        color: $stm_base_color;
      }
    }
  }
  &.style_7 {
    display: block;
    position: relative;
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: transparent;
    height: 150px;
    overflow: hidden;
    .icon_box_inner {
      padding: 0 26px;
      .icon_box_icon {
        display: flex;
        width: 100%;
        min-height: 150px;
        align-items: center;
        transition: all 0.5s;
        .icon {
          margin-right: 17px;
        }
        h6 {
          padding: 0;
          margin: 0;
          font-weight: 700;
          &:before, &:after {
            display: none;
          }
        }
        .font-color_base {
          color: $stm_base_color;
        }
        .font-color_secondary {
          color: $stm_secondary_color;
        }
        .font-color_third {
          color: $stm_third_color;
        }
      }

      .icon_text {
        display: flex;
        min-height: 150px;
        align-items: center;
        flex: 1;
        position: relative;
        overflow: hidden;
        p:last-child {
          margin-bottom: 0;
        }
      }

      &:hover {
        .icon_box_icon {
          margin-top: -150px;
        }
      }
    }
  }
}