<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title> ilike.com.vn </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/pages/mobile/style.css" />
    <script type="text/javascript" src="js/scjs.js"></script>
</head>
<body>
    <div class="">
        <div data-include="/templates/account/header.html"></div>
        <div class="wrapper">
            <main id="main" class="main-mobile">
                <div class="container">
                    <div class="account-section account-edit-email-section">
                        <div class="flex flex-align-center flex-justify-space-between">
                            <h3 class="account-sm-heading nopad">Bình luận</h3>
                        </div>
                        <hr class="mb-hr-line single __lg __mtop30" />
                        <div class="account-user-cm-entries">
                            <div class="account-user-cm-entry">
                                <div class="account-mj-heading-entry flex flex-align-center flex-justify-space-between mtop20">
                                    <div class="mb-section-heading account-sm-entry-no nopad">
                                        Bình luận của bạn về <br />
                                        bài viết trong <strong>Thể thao</strong>
                                    </div>
                                    <div class="flex">
                                        <a class="mb-button mb-lg-social-button mb-5rounded mb-black-border mb-account-viewall __sm w100p" href="#"><strong>Xem bài viết</strong></a>
                                    </div>
                                </div>
                                <div class="mtop20">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex">
                                        <div class="avatar mb-cm-avatar mb-cm-avjnt">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" />
                                        </div>
                                        <div class="mb-cm-cjnt">
                                            <div class="mb-cm-cjntc">
                                                <div class="flex flex-justify-space-between">
                                                    <strong class="mb-author-name mb-cm-author-name">Trần Văn Hoàng</strong>
                                                    <strong class="mb-post-category mb-cm-timespan flex flex-align-center"><a href="/post.html">23 Sep, 2021</a></strong>
                                                </div>
                                                <div class="mtop5 modal-cm-text">
                                                    <div class="cm-myans">Tin nhanh, hình ảnh, video clip, bình luận mới về giá vàng.</div>
                                                </div>
                                            </div>
                                            <div class="mb-cm-cjntools mtop5">
                                                <a class="mb-follow-entry-sm-heading" href="#"><strong>Xóa</strong></a>
        
                                                <a class="mb-follow-entry-sm-heading" href="#"><strong>Chỉnh sửa</strong></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-user-cm-entry">
                                <div class="account-mj-heading-entry flex flex-align-center flex-justify-space-between mtop20">
                                    <div class="mb-section-heading account-sm-entry-no nopad">
                                        Bình luận của bạn về <br />
                                        bài viết trong <strong>Thể thao</strong>
                                    </div>
                                    <div class="flex">
                                        <a class="mb-button mb-lg-social-button mb-5rounded mb-black-border mb-account-viewall __sm w100p" href="#"><strong>Xem bài viết</strong></a>
                                    </div>
                                </div>
                                <div class="mtop20">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex">
                                        <div class="avatar mb-cm-avatar mb-cm-avjnt">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" />
                                        </div>
                                        <div class="mb-cm-cjnt">
                                            <div class="mb-cm-cjntc">
                                                <div class="flex flex-justify-space-between">
                                                    <strong class="mb-author-name mb-cm-author-name">Trần Văn Hoàng</strong>
                                                    <strong class="mb-post-category mb-cm-timespan flex flex-align-center"><a href="/post.html">23 Sep, 2021</a></strong>
                                                </div>
                                                <div class="mtop5 modal-cm-text">
                                                    <div class="cm-myans">Tin nhanh, hình ảnh, video clip, bình luận mới về giá vàng.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="mb-cm-child-lists">
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex">
                                            <div class="avatar mb-cm-avatar mb-cm-avjnt">
                                                <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" />
                                            </div>
                                            <div class="mb-cm-cjnt">
                                                <div class="mb-cm-cjntc">
                                                    <div class="flex flex-justify-space-between">
                                                        <strong class="mb-author-name mb-cm-author-name">Trần Văn Hoàng</strong>
                                                        <strong class="mb-post-category mb-cm-timespan flex flex-align-center"><a href="/post.html">23 Sep, 2021</a></strong>
                                                    </div>
                                                    <div class="mtop5 modal-cm-text">
                                                        <div class="cm-myans">Tin nhanh, hình ảnh, video clip, bình luận mới về giá vàng.</div>
                                                    </div>
                                                </div>
                                                <div class="mb-cm-cjntools mtop5">
                                                    <a class="mb-follow-entry-sm-heading" href="#"><strong>Xóa</strong></a>
        
                                                    <a class="mb-follow-entry-sm-heading" href="#"><strong>Chỉnh sửa</strong></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>