<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title> ilike.com.vn </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/pages/mobile/style.css" />
    <script type="text/javascript" src="js/scjs.js"></script>
</head>
<body>
    <div class="">
        <div data-include="/templates/account/header.html"></div>
        <div class="wrapper">
            <main id="main" class="main-mobile">
                <div class="container">
                    <div class="account-section account-edit-email-section">
                        <div class="flex flex-align-center flex-justify-space-between">
                            <h3 class="account-sm-heading nopad">Đang theo dõi</h3>
                            <a href="#" class="mb-button mb-5rounded mb-gray-button mb-follow-entry flex flex-align-center flex-justify-center">
                                <span class="fa fa-plus"></span>
                            </a>
                        </div>
        
                        <hr class="mb-hr-line single __lg __mtop30" />
                        <div class="account-follow-section">
                            <div class="follow-sct-entry">
                                <div class="account-mj-heading-entry flex flex-align-center flex-justify-space-between">
                                    <div>
                                        <h2 class="login-heading mb-follow-entry-heading">Phim</h2>
                                        <p class="mb-follow-entry-sm-heading">2.1N Theo dõi</p>
                                    </div>
                                    <div class="flex">
                                        <a class="mb-button mb-5rounded mb-green-lj-button" href="#"><strong>Đã theo dõi</strong></a>
                                    </div>
                                </div>
                                <p class="font15">Cập nhật nhanh những tin tức về nghệ thuật thứ 7 và chính xác.</p>
                                <div class="thumbnail">
                                    <img src="/images/post-follow.png" alt="" />
                                </div>
                            </div>
                            <div class="follow-sct-entry">
                                <div class="account-mj-heading-entry flex flex-align-center flex-justify-space-between">
                                    <div>
                                        <h2 class="login-heading mb-follow-entry-heading">Phim</h2>
                                        <p class="mb-follow-entry-sm-heading">2.1N Theo dõi</p>
                                    </div>
                                    <div class="flex">
                                        <a class="mb-button mb-5rounded mb-green-lj-button" href="#"><strong>Đã theo dõi</strong></a>
                                    </div>
                                </div>
                                <p class="font15">Cập nhật nhanh những tin tức về nghệ thuật thứ 7 và chính xác.</p>
                                <div class="thumbnail">
                                    <img src="/images/post-follow.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>