<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title> ilike.com.vn </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/pages/mobile/style.css" />
    <script type="text/javascript" src="js/scjs.js"></script>
</head>
<body>
    <div class="">
        <div data-include="/templates/account/header.html"></div>
        <div class="wrapper">
            <main id="main" class="main-mobile">
                <div class="container">
                    <div class="account-section account-edit-email-section">
                        <h3 class="account-sm-heading nopad">Đổi mật khẩu</h3>
                        <h4 class="welcome-sm-text mtop10">Mật khẩu của bạn để đảm bảo tính bảo mật cho tài khoản của bạn.</h4>
                        <div class="form-main login-form-main mtop20">
                            <div class="field">
                                <label class="mb-section-heading nopad flex flex-align-center"> <strong>Mật khẩu hiện tại</strong></label>
                                <input type="password" name="txtPassword" class="mb-form-field mb-form-field mb-form-comment-field mtop5" value="" />
                            </div>
        
                            <div class="field mtop10">
                                <label class="mb-section-heading nopad flex flex-align-center"> <strong>Mật khẩu mới</strong></label>
                                <input type="password" name="txtNewPassword" class="mb-form-field mb-form-field mb-form-comment-field mtop5" value="" />
                            </div>
                            <div class="field mtop10">
                                <label class="mb-section-heading nopad flex flex-align-center"> <strong>Xác nhận mật khẩu mới</strong></label>
                                <input type="password" name="txtReNewPassword" class="mb-form-field mb-form-field mb-form-comment-field mtop5" value="" />
                            </div>
                            <div class="field flex mtop10">
                                <a class="mb-button mb-5rounded mb-button-defpad mb-black-button mb-login-button w100p" href="#">Lưu thay đổi</a>
                                <a class="mb-button mb-5rounded mb-button-defpad mb-gray-button mb-login-button w100p mtop10" href="#">Hủy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>