<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title> ilike.com.vn </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/pages/mobile/style.css" />
    <script type="text/javascript" src="js/scjs.js"></script>
</head>
<body>
    <div class="">
        <div data-include="/templates/account/header.html"></div>
        <div class="wrapper">
            <main id="main" class="main-mobile">
                <div class="container">
                    <div class="account-welcome-heading">
                        <h2 class="welcome-text">Xin chào Hoàng Hồng !</h2>
                        <h4 class="welcome-sm-text">Chào mừng bạn quay trở lại với chúng tôi</h4>
                    </div>
                    <hr class="mb-hr-line __mtop40" />
                    <div class="account-information">
                        <h3 class="account-sm-heading">Thông tin tài khoản</h3>
                        <div class="account-entries-cnt">
                            <div class="account-sm-entry">
                                <label class="mb-section-heading account-sm-entry-text flex flex-align-center nopad"> <strong class="">Số tài khoản</strong></label>
                                <label class="mb-section-heading account-sm-entry-no flex flex-align-center nopad"> 2377579</label>
                            </div>
                            <div class="account-sm-entry flex flex-justify-space-between">
                                <div>
                                    <label class="mb-section-heading account-sm-entry-text flex flex-align-center nopad"> <strong class="">Email</strong></label>
                                    <label class="mb-section-heading account-sm-entry-no flex flex-align-center nopad">info@gmail.com</label>
                                </div>
                                <div><a class="mb-button mb-link-button" href="#">Cập nhật</a></div>
                            </div>
                            <div class="account-sm-entry flex flex-justify-space-between">
                                <div>
                                    <label class="mb-section-heading account-sm-entry-text flex flex-align-center nopad"> <strong class="">Mật khẩu</strong></label>
                                    <label class="mb-section-heading account-sm-entry-no flex flex-align-center nopad">********</label>
                                </div>
                                <div><a class="mb-button mb-link-button" href="#">Cập nhật</a></div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-hr-line" />
                    <div class="account-information">
                        <h3 class="account-sm-heading">Nội dung</h3>
                        <div class="account-entries-cnt">
                            <div class="account-sm-entry">
                                <label class="mb-section-heading account-sm-ct-text flex flex-align-center nopad"> <strong class="">Dành cho bạn</strong></label>
                                <label class="mb-section-heading account-sm-entry-no flex flex-align-center nopad">Những bài viết gợi cho bạn theo những danh mục mà bạn đang theo dõi.</label>
                                <div class="flex mtop20">
                                    <a class="mb-button mb-account-viewall mb-lg-social-button mb-5rounded mb-black-border w100p" href="#"><strong>Xem tất cả</strong></a>
                                </div>
                            </div>
                            <div class="account-sm-entry">
                                <label class="mb-section-heading account-sm-ct-text flex flex-align-center nopad"> <strong class="">Đã lưu</strong></label>
                                <label class="mb-section-heading account-sm-entry-no flex flex-align-center nopad">Gồm những bài viết bạn đã lưu trữ. Bạn có thể đọc lại một cách nhanh chóng tại đây.</label>
                                <div class="flex mtop20">
                                    <a class="mb-button mb-account-viewall mb-lg-social-button mb-5rounded mb-black-border w100p" href="#"><strong>Xem tất cả</strong></a>
                                </div>
                            </div>
                            <div class="account-sm-entry">
                                <label class="mb-section-heading account-sm-ct-text flex flex-align-center nopad"> <strong class="">Đang theo dõi</strong></label>
                                <label class="mb-section-heading account-sm-entry-no flex flex-align-center nopad">Chúng tôi sẽ gợi ý những bài viết đến bạn qua những danh mục bạn đang theo dõi.</label>
                                <div class="flex mtop20">
                                    <a class="mb-button mb-account-viewall mb-lg-social-button mb-5rounded mb-black-border w100p" href="#"><strong>Xem tất cả</strong></a>
                                </div>
                            </div>
                            <div class="account-sm-entry">
                                <label class="mb-section-heading account-sm-ct-text flex flex-align-center nopad"> <strong class="">Bình luận</strong></label>
                                <label class="mb-section-heading account-sm-entry-no flex flex-align-center nopad">Những bình luận mà bạn để lại dưới những bài viết.</label>
                                <div class="flex mtop20">
                                    <a class="mb-button mb-account-viewall mb-lg-social-button mb-5rounded mb-black-border w100p" href="#"><strong>Xem tất cả</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>