<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title> ilike.com.vn </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/pages/mobile/style.css" />
    <script type="text/javascript" src="js/scjs.js"></script>
</head>
<body>
    <div class="">
        <div data-include="/templates/header.html"></div>
        <div class="wrapper">
            <main id="main" class="main-mobile">
                <div class="main-mobile-page main-cat-page">
                    <div class="container">
                        <div class="mb-heading-page mb-heading-pb mb-cat-heading-page flex flex-align-center flex-justify-space-between">
                            <h2 class="mb-cat-heading mb-sjkungfu-folow mb-sjkungfu-heading"><strong>iMagazine</strong><small>2N Theo dõi</small></h2>
                            <a class="mb-button mb-green-button mb-5rounded mb-button-defpad mb-follow-button" href="#">
                                Theo dõi
                            </a>
                        </div>
                        <ul class="mb-def-lists mb-navigation-page mb-navigation-lists mb-cat-navigation-page flex flex-justify-space-between">
                            <li class="active">
                                <a href="#">Tất cả</a>
                            </li>
                            <li>
                                <a href="#">Showbiz</a>
                            </li>
                            <li>
                                <a href="#">Thể thao</a>
                            </li>
                            <li>
                                <a href="#">thêm</a>
                                <ul class="mb-def-lists">
                                    <li>
                                        <a href="#">
                                            Nhạc đời sống
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Nhạc đời sống
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Nhạc đời sống
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Nhạc đời sống
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="mb-posts-list mb-cat-posts-list">
                            <div class="mb-judge-post mb-judge-normal-post mb-judge-ima-post flex">
                                <div class="mb-post-thumbnail thumbnail">
                                    <img src="/images/imagazine-demo.png" alt="" />
                                </div>
                                <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title mb-judge-ima-title mtop10">
                                    <a href="/post.html">Top 4 nữ diễn viên truyền hình “chanh sả” nhất Showbiz ViệtTop 4 nữ diễn viên truyền hình</a>
                                </h3>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post mb-judge-ima-post flex">
                                <div class="mb-post-thumbnail thumbnail">
                                    <img src="/images/imagazine-demo.png" alt="" />
                                </div>
                                <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title mb-judge-ima-title mtop10">
                                    <a href="/post.html">Manchester United những bước ngoặt thành công đã đi vào lịch sử bóng đá</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        
            <footer id="footer">
                <div class="container">
                    <a class="logo__f" href="/"><img src="/images/mobile-logo.svg" alt="logo" /></a>
                    <div class="footer__group">
                        <div class="group__item">
                            <h2 class="title__footer">Thông tin</h2>
                            <ul>
                                <li><a title="Công nghệ" href="/category.html">Công nghệ</a></li>
                                <li><a title="Xe" href="/category.html">Xe</a></li>
                                <li><a title="Làm đẹp" href="/category.html">Làm đẹp</a></li>
                                <li><a title="Xu hướng" href="/category.html">Xu hướng</a></li>
                                <li><a title="Học đường" href="/category.html">Học đường</a></li>
                                <li><a title="Giải trí" href="/category.html">Giải trí</a></li>
                                <li><a title="Showbiz" href="/category.html">Showbiz</a></li>
                                <li><a title="Đời sống" href="/category.html">Đời sống</a></li>
                                <li><a title="Thể thao" href="/category.html">Thể thao</a></li>
                            </ul>
                        </div>
                        <div class="group__item">
                            <h2 class="title__footer">đóng góp nội dung</h2>
                            <p class="info">Mọi bài viết và đóng góp về nội dung xin gửi về hòm thư :</p>
                            <a href="to:info@gco.vn" title="email"> Email : info@gco.vn </a>
                        </div>
                        <div class="group__item">
                            <h2 class="title__footer">liên hệ quảng cáo</h2>
                            <p class="info">
                                Ông : Đỗ Viết Tuấn <br />
                                Hotline : +84 98 098 098 <br />
                                Email : quangcao.ilike@gmail.com <br />
                            </p>
                        </div>
                        <div class="group__item">
                            <h2 class="title__footer">giấy phép đăng ký</h2>
                            <p class="info">Giấy phép thiết lập trang thông tin điện tử tổng hợp số 3641/GP-TTĐT do Sở Thông tin và Truyền thông TP. Hà Nội cấp ngày 18/8/2017</p>
                        </div>
                        <div class="group__item">
                            <h2 class="title__footer">báo giá</h2>
                            <a href="#" class="btn btn__price"> Báo giá quảng cáo </a>
                        </div>
                    </div>
                    <div class="footer__bottom">
                        <p style="max-width: 500px;">Giấy phép thiết lập trang thông tin điện tử tổng hợp số 3641/GP-TTĐT do Sở Thông tin và Truyền thông TP. Hà Nội cấp ngày 18/8/2017</p>
                        <p>
                            Chính sách - Điều khoản sử dụng - Hướng dẫn <br />
                            Một sản phẩm của tập đoàn GCO
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>