<!DOCTYPE html>
<html lang="Việt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title> ilike.com.vn </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/pages/mobile/style.css" />
    <script type="text/javascript" src="js/scjs.js"></script>
</head>
<body>
    <div class="">
        <div data-include="/templates/header.html"></div>
        <div class="wrapper">
            <main id="main" class="main-mobile">
                <div class="mb-banner mb-sticky-banner flex flex-align-center flex-justify-center">
                    <div class="container">
                        <figure class="flex">
                            <h3>
                                Cùng thư giãn <br />
                                và tận hưởng <br />
                                phút giây của bạn...
                            </h3>
                            <span><img src="/images/quotes-icon.svg" alt="" /></span>
                        </figure>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-trending-box">
                    <div class="container">
                        <h2 class="mb-section-heading flex flex-align-center"><img src="/images/top-trending-icon.svg" /> <strong class="padleft5 upper">TOP TRENDING TRÊN ILIKE</strong></h2>
                        <div class="mb-section-harquant">
                            <div class="mb-element-harquant flex">
                                <div class="mb-element-no mb-harquant-no">
                                    <strong>01</strong>
                                </div>
                                <div class="mb-element-ctn mb-element-harquant-ctn padleft10">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center">
                                        <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Hà Vinh</strong>
                                        <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">Thể thao</a></strong>
                                    </div>
                                    <h3 class="mb-element-title mb-element-harquant-title mtop10"><a href="/post.html">Cuộc đua Top 4 Ngoại hạng Anh: Gọi tên MU, Arsenal, Tottenham hay West Ham?</a></h3>
                                    <div class="mb-element-footer-meta mb-element-harquant-footer-meta flex mtop10">
                                        <span>Sep 23</span>
                                        <span class="mb-dot-before flex flex-align-center padleft10">5 phút</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-element-harquant flex">
                                <div class="mb-element-no mb-harquant-no">
                                    <strong>02</strong>
                                </div>
                                <div class="mb-element-ctn mb-element-harquant-ctn padleft10">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center">
                                        <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Hà Vinh</strong>
                                        <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">Thể thao</a></strong>
                                    </div>
                                    <h3 class="mb-element-title mb-element-harquant-title mtop10"><a href="/post.html">Cuộc đua Top 4 Ngoại hạng Anh: Gọi tên MU, Arsenal, Tottenham hay West Ham?</a></h3>
                                    <div class="mb-element-footer-meta mb-element-harquant-footer-meta flex mtop10">
                                        <span>Sep 23</span>
                                        <span class="mb-dot-before flex flex-align-center padleft10">5 phút</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-element-harquant flex">
                                <div class="mb-element-no mb-harquant-no">
                                    <strong>03</strong>
                                </div>
                                <div class="mb-element-ctn mb-element-harquant-ctn padleft10">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center">
                                        <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Hà Vinh</strong>
                                        <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">Thể thao</a></strong>
                                    </div>
                                    <h3 class="mb-element-title mb-element-harquant-title mtop10"><a href="/post.html">Cuộc đua Top 4 Ngoại hạng Anh: Gọi tên MU, Arsenal, Tottenham hay West Ham?</a></h3>
                                    <div class="mb-element-footer-meta mb-element-harquant-footer-meta flex mtop10">
                                        <span>Sep 23</span>
                                        <span class="mb-dot-before flex flex-align-center padleft10">5 phút</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-element-harquant flex">
                                <div class="mb-element-no mb-harquant-no">
                                    <strong>04</strong>
                                </div>
                                <div class="mb-element-ctn mb-element-harquant-ctn padleft10">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center">
                                        <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Hà Vinh</strong>
                                        <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">Thể thao</a></strong>
                                    </div>
                                    <h3 class="mb-element-title mb-element-harquant-title mtop10"><a href="/post.html">Cuộc đua Top 4 Ngoại hạng Anh: Gọi tên MU, Arsenal, Tottenham hay West Ham?</a></h3>
                                    <div class="mb-element-footer-meta mb-element-harquant-footer-meta flex mtop10">
                                        <span>Sep 23</span>
                                        <span class="mb-dot-before flex flex-align-center padleft10">5 phút</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-element-harquant flex">
                                <div class="mb-element-no mb-harquant-no">
                                    <strong>05</strong>
                                </div>
                                <div class="mb-element-ctn mb-element-harquant-ctn padleft10">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center">
                                        <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Hà Vinh</strong>
                                        <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">Thể thao</a></strong>
                                    </div>
                                    <h3 class="mb-element-title mb-element-harquant-title mtop10"><a href="/post.html">Cuộc đua Top 4 Ngoại hạng Anh: Gọi tên MU, Arsenal, Tottenham hay West Ham?</a></h3>
                                    <div class="mb-element-footer-meta mb-element-harquant-footer-meta flex mtop10">
                                        <span>Sep 23</span>
                                        <span class="mb-dot-before flex flex-align-center padleft10">5 phút</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-element-harquant flex">
                                <div class="mb-element-no mb-harquant-no">
                                    <strong>06</strong>
                                </div>
                                <div class="mb-element-ctn mb-element-harquant-ctn padleft10">
                                    <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center">
                                        <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Hà Vinh</strong>
                                        <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">Thể thao</a></strong>
                                    </div>
                                    <h3 class="mb-element-title mb-element-harquant-title mtop10"><a href="/post.html">Cuộc đua Top 4 Ngoại hạng Anh: Gọi tên MU, Arsenal, Tottenham hay West Ham?</a></h3>
                                    <div class="mb-element-footer-meta mb-element-harquant-footer-meta flex mtop10">
                                        <span>Sep 23</span>
                                        <span class="mb-dot-before flex flex-align-center padleft10">5 phút</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-featured-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><img src="/images/star-icon.svg" /> <strong class="padleft5 upper">được quan tâm</strong></h2>
                        <div class="mb-section-judges">
                            <div class="mb-judge-post mb-judge-large-post">
                                <h3 class="mb-post-title mb-judge-post-title">
                                    <a href="/post.html">Phải đi tàu qua những nơi này mới thấy Việt Nam đẹp như thế nào</a>
                                </h3>
                                <div class="mb-post-content mb-judge-post-content mtop10">
                                    Tuyến đường sắt Bắc Nam của Việt Nam từng lọt top 10 tuyến đường sắt đẹp nhất thế giới. Thật là thiếu sót nếu đi du lịch mà chưa được trải nghiệm những cung đường đẹp nhất Việt Nam mà tàu Bắc Nam đi qua.
                                </div>
                                <div class="mb-post-thumbnail mb-judge-post-thumbnail mtop10">
                                    <img src="/images/demo-article1.png" alt="" />
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đội tuyển Nhật Bản 'rò rỉ' đội hình ra sân trước trận gặp Việt Nam</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Báo chí Nhật Bản đã hé lộ đội hình ra sân của tuyển bóng đá nước này ở trận gặp Việt Nam
                                    </div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đội tuyển Nhật Bản 'rò rỉ' đội hình ra sân trước trận gặp Việt Nam</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Báo chí Nhật Bản đã hé lộ đội hình ra sân của tuyển bóng đá nước này ở trận gặp Việt Nam
                                    </div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đội tuyển Nhật Bản 'rò rỉ' đội hình ra sân trước trận gặp Việt Nam</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Báo chí Nhật Bản đã hé lộ đội hình ra sân của tuyển bóng đá nước này ở trận gặp Việt Nam
                                    </div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đội tuyển Nhật Bản 'rò rỉ' đội hình ra sân trước trận gặp Việt Nam</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Báo chí Nhật Bản đã hé lộ đội hình ra sân của tuyển bóng đá nước này ở trận gặp Việt Nam
                                    </div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đội tuyển Nhật Bản 'rò rỉ' đội hình ra sân trước trận gặp Việt Nam</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Báo chí Nhật Bản đã hé lộ đội hình ra sân của tuyển bóng đá nước này ở trận gặp Việt Nam
                                    </div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đội tuyển Nhật Bản 'rò rỉ' đội hình ra sân trước trận gặp Việt Nam</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Báo chí Nhật Bản đã hé lộ đội hình ra sân của tuyển bóng đá nước này ở trận gặp Việt Nam
                                    </div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đội tuyển Nhật Bản 'rò rỉ' đội hình ra sân trước trận gặp Việt Nam</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Báo chí Nhật Bản đã hé lộ đội hình ra sân của tuyển bóng đá nước này ở trận gặp Việt Nam
                                    </div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-recent-search-box">
                    <div class="container">
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">được tìm kiếm nhiều</strong></h2>
    
                        <h2 class="mb-section-scnt flex">
                            <a class="tag" href="/post.html">Phim</a>
                            <a class="tag" href="/post.html">Covid</a><a class="tag" href="/post.html">Hà Nội</a><a class="tag" href="/post.html">Đội tuyển Việt Nam</a><a class="tag" href="/post.html">Bóng đá</a><a class="tag" href="/post.html">Manchester United</a>
                            <a class="tag" href="/post.html">Real Madrid</a><a class="tag" href="/post.html">Tiktok</a><a class="tag" href="/post.html">Phim Việt Nam</a>
                        </h2>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-featured-box mb-sports-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">thể thao</strong></h2>
                        <div class="mb-section-judges">
                            <div class="mb-judge-post mb-judge-large-post">
                                <h3 class="mb-post-title mb-judge-post-title">
                                    <a href="/post.html">Paul Pogba đòi MU trả lương cao hơn Cristiano Ronaldo</a>
                                </h3>
                                <div class="mb-post-content mb-judge-post-content mtop10">Ngôi sao 28 tuổi sẽ chỉ đồng ý ở lại sân Old Trafford nếu vượt qua Cristiano Ronaldo để trở thành cầu thủ nhận lương cao nhất đội.</div>
                                <div class="mb-post-thumbnail mb-judge-post-thumbnail mtop10">
                                    <img src="/images/demo-article3.png" alt="" />
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Nguồn tin độc quyền của Daily Mail cho biết Dean sẽ cân nhắc ra đi vào cuối mùa giải, sau khi không được MU cho phép rời đội vào giữa mùa. Newcastle là một trong những lựa chọn.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Nguồn tin độc quyền của Daily Mail cho biết Dean sẽ cân nhắc ra đi vào cuối mùa giải, sau khi không được MU cho phép rời đội vào giữa mùa. Newcastle là một trong những lựa chọn.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Nguồn tin độc quyền của Daily Mail cho biết Dean sẽ cân nhắc ra đi vào cuối mùa giải, sau khi không được MU cho phép rời đội vào giữa mùa. Newcastle là một trong những lựa chọn.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Nguồn tin độc quyền của Daily Mail cho biết Dean sẽ cân nhắc ra đi vào cuối mùa giải, sau khi không được MU cho phép rời đội vào giữa mùa. Newcastle là một trong những lựa chọn.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">
                                        Nguồn tin độc quyền của Daily Mail cho biết Dean sẽ cân nhắc ra đi vào cuối mùa giải, sau khi không được MU cho phép rời đội vào giữa mùa. Newcastle là một trong những lựa chọn.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-ads-box">
                    <div class="container">
                        <a href="/post.html"><img src="/images/banner-ngang-gco-01.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-featured-box mb-films-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">phim</strong></h2>
                        <div class="mb-section-judges">
                            <div class="mb-judge-post mb-judge-large-post">
                                <div class="mb-post-thumbnail mb-judge-post-thumbnail">
                                    <img src="/images/demo-article3.png" alt="" />
                                </div>
    
                                <h3 class="mb-post-title mb-judge-post-title mtop10">
                                    <a href="/post.html">Poster phim mới của Yoo Seung Ho: Phim chưa lên sóng nhưng đã thấy một bầu trời “mặn mòi”</a>
                                </h3>
                                <div class="mb-post-content mb-judge-post-content mtop10">Nhìn vào biểu cảm hài hước của Hyeri trong poster phim “When Flowers Bloom, I Think of the Moon”, khán giả không khỏi bật cười.</div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đạo diễn "Squid Game" chính thức xác nhận phim sẽ có mùa 2</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">Khán giả đã đặt rất nhiều kỳ vọng và tình cảm cho mùa hai khiến tôi thấy khá áp lực</div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article4.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đạo diễn "Squid Game" chính thức xác nhận phim sẽ có mùa 2</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">Khán giả đã đặt rất nhiều kỳ vọng và tình cảm cho mùa hai khiến tôi thấy khá áp lực</div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article4.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đạo diễn "Squid Game" chính thức xác nhận phim sẽ có mùa 2</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">Khán giả đã đặt rất nhiều kỳ vọng và tình cảm cho mùa hai khiến tôi thấy khá áp lực</div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article4.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đạo diễn "Squid Game" chính thức xác nhận phim sẽ có mùa 2</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">Khán giả đã đặt rất nhiều kỳ vọng và tình cảm cho mùa hai khiến tôi thấy khá áp lực</div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article4.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đạo diễn "Squid Game" chính thức xác nhận phim sẽ có mùa 2</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">Khán giả đã đặt rất nhiều kỳ vọng và tình cảm cho mùa hai khiến tôi thấy khá áp lực</div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article4.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Đạo diễn "Squid Game" chính thức xác nhận phim sẽ có mùa 2</a>
                                    </h3>
    
                                    <div class="mb-post-content mb-judge-post-content mtop10">Khán giả đã đặt rất nhiều kỳ vọng và tình cảm cho mùa hai khiến tôi thấy khá áp lực</div>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article4.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-featured-box mb-films-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">sao</strong></h2>
                        <div class="mb-section-judges">
                            <div class="mb-judge-post mb-judge-large-post">
                                <h3 class="mb-post-title mb-judge-post-title mtop10">
                                    <a href="/post.html">Ngắm trọn bộ ảnh đẹp của Hải Tú: Visual vừa xinh như nàng thơ, vừa giống Sơn Tùng M-TP thế này?</a>
                                </h3>
                                <div class="mb-post-content mb-judge-post-content mtop10">Khuya muộn ngày 11/11, cõi mạng dậy sóng vì Hải Tú chính thức comeback sau hơn 9 tháng nổi ra lùm xùm tình ái với Sơn Tùng và Thiều Bảo Trâm.</div>
                                <div class="mb-post-thumbnail mb-judge-post-thumbnail mtop10">
                                    <img src="/images/demo-article3.png" alt="" />
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
                                </div>
                            </div>
    
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-wrapper">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Không thể cạnh tranh với De Gea, Dean Henderson có thể rời MU</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-ads-box">
                    <div class="container">
                        <a href="/post.html"><img src="/images/banner-ngang-gco-01.jpg" alt="" /></a>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-films-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">đẹp</strong></h2>
                        <div class="mb-section-judges">
                            <div class="mb-judge-post mb-judge-large-post">
                                <div class="mb-post-thumbnail mb-judge-post-thumbnail">
                                    <img src="/images/demo-article3.png" alt="" />
                                </div>
                                <h3 class="mb-post-title mb-judge-post-title mtop10">
                                    <a href="/post.html">Điểm danh top 5 sản phẩm bán chạy nhất của hãng mỹ phẩm sang chảnh đang 'on trend'</a>
                                </h3>
                                <div class="mb-post-content mb-judge-post-content mtop10">Obagi – thương hiệu skincare đang nhận được cơn mưa lời khen, tạo nên cơn sốt trong lĩnh vực làm đẹp và chăm sóc da. Hãy cùng nhau</div>
                            </div>
    
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Top 5 sản phẩm bán chạy nhất của COSRX, tín đồ mỹ phẩm nào cũng nên biết</a>
                                    </h3>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article5.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Top 5 sản phẩm bán chạy nhất của COSRX, tín đồ mỹ phẩm nào cũng nên biết</a>
                                    </h3>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article5.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Top 5 sản phẩm bán chạy nhất của COSRX, tín đồ mỹ phẩm nào cũng nên biết</a>
                                    </h3>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article5.png" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-judge-post mb-judge-normal-post flex">
                                <div class="mb-judge-post-leftswang">
                                    <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                        <a href="/post.html">Top 5 sản phẩm bán chạy nhất của COSRX, tín đồ mỹ phẩm nào cũng nên biết</a>
                                    </h3>
                                </div>
                                <div class="mb-judge-post-rightswang">
                                    <div class="mb-post-thumbnail thumbnail">
                                        <img src="/images/demo-article5.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-discovery-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">công nghệ</strong></h2>
                        <div class="mb-section-judges">
                            <div class="grid-snap-scroll">
                                <div class="post-row">
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-row">
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-discovery-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">điểm đến trẻ</strong></h2>
                        <div class="mb-section-judges">
                            <div class="grid-snap-scroll">
                                <div class="post-row">
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-row">
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-featured-box mb-discovery-box">
                    <div class="container">
                        <hr class="mb-hr-line" />
                        <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">đời sống</strong></h2>
                        <div class="mb-section-judges">
                            <div class="grid-snap-scroll">
                                <div class="post-row">
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-row">
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post mb-judge-normal-post flex">
                                        <div class="mb-judge-post-leftswang order2">
                                            <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                                <a href="/post.html">DownTik: App tải video TikTok phổ biến hàng đầu hiện nay</a>
                                            </h3>
                                        </div>
                                        <div class="mb-judge-post-rightswang order1">
                                            <div class="mb-post-thumbnail thumbnail">
                                                <img src="/images/demo-article5.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-hr-line __endprefix" />
                    </div>
                </div>
                <div class="fullwith-section mb-section mb-ads-box">
                    <div class="container">
                        <a href="/post.html"><img src="/images/banner-ngang-gco-01.jpg" alt="" /></a>
                    </div>
                </div>
            </main>
            <div data-include="/templates/footer.html"></div>
        </div>
    </div>
</body>
</html>