<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <title> ilike.com.vn </title>
    <link rel="icon" , href="images/icons/favicon-16x16.png" , type="image/x-icon" , sizes="16x16" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tool.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/pages/mobile/style.css" />
    <script type="text/javascript" src="js/scjs.js"></script>
</head>
<body>
    <div class="">
        <div data-include="/templates/header.html"></div>
        <div class="wrapper">
            <main id="main" class="main-mobile">
                <div class="main-mobile-page main-post-page">
                    <div class="container">
                        <div id="breadcrumbs" class="mb-breadcrumbs mb-breadcrumbs-pb">
                            <a href="#">Trang chủ</a>
                            <span class="fa fa-angle-right"></span>
                            <span class="current">điểm đến trẻ</span>
                        </div>
                        <h2 class="mb-post-page-heading mb-single-post-heading">Phải đi tàu qua những nơi này mới thấy Việt Nam đẹp như thế nào</h2>
                        <div class="mb-post-page-metadata mb-metadata mb-single-metadata mb-single-metadata-pb flex">
                            <div class="mb-single-shares mb-single-tools mb-navig-shares">
                                <a class="shareicons fbshares" href="#"><span class="fa fa-facebook"></span></a>
                                <a class="shareicons instshares" href="#"><span class="fa fa-linkedin"></span></a>
                                <a class="shareicons twshares" href="#"><span class="fa fa-twitter"></span></a>
                            </div>
                            <div class="mb-single-tools mb-navig-tools padleft5">
                                <a class="comments-count commentsbox-modal single-comments-count" href="#">
                                    <strong>10</strong>
                                </a>
                                <a class="post-bookmark single-bookmark" href="#"> </a>
                            </div>
                        </div>
                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center">
                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Hà Vinh</strong>
                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                        </div>
                        <div class="mb-post-page-cnt mb-post-page-cnt-fm">
                            <div class="detail__desc">
                                <p style="text-align: justify;">
                                    Không lâu sau thắng lợi tưng bừng 3-0 của Việt Nam trước Malaysia, trên mạng xã hội Malay lan truyền một đoạn clip ngắn ghi lại việc Quang Hải ngăn cản một cầu thủ Malaysia sút bóng vào chính người đồng đội của mình.
                                </p>
                                <p style="text-align: justify;"><img src="https://ilikestatic.s3.ap-southeast-1.amazonaws.com/news/articles/thumb/9VuyKcYkxAm4xFnY0mxotrmVK8FLOSM4Sofd0q2y.jpg" alt="" width="650" height="434" class="" /></p>
                                <p style="text-align: justify;">
                                    Trong clip được các cổ động viên Malay chia sẻ, một cầu thủ Malaysia đang nằm sân vì chấn thương. Tuy nhiên, không hiểu vì lý do gì mà một cầu thủ Malay khác bất ngờ đá quả bóng về phía người đồng đội của mình. Rất
                                    may, Quang Hải đã kịp thời đưa chân ngăn cản trước khi quả bóng đập vào người cầu thủ đang bị chấn thương.
                                </p>
                                <p style="text-align: justify;">Dưới clip, cổ động viên Malay để lại hàng loạt bình luận tán dương hành động nhỏ nhưng cực kỳ fair play của cầu thủ Việt Nam.</p>
                                <p style="text-align: justify;">"Đó là cầu thủ số 19 Nguyễn Quang Hải, một tài năng xuất sắc của bóng đá Việt Nam."</p>
                                <p style="text-align: justify;">"Tôn trọng."</p>
                                <p style="text-align: justify;">"Việt Nam xứng đáng chiến thắng, họ không chỉ thi đấu mạnh mẽ mà còn cư xử rất đúng mực."</p>
                                <p style="text-align: justify;">"Đây là sự khác biệt giữa cầu thủ nghiệp dư và chuyên nghiệp."</p>
                                <p style="text-align: justify;">"Ước gì có những cầu thủ như thế thi đấu ở Malaysia." - Người hâm mộ Malaysia nhận xét.</p>
                                <p style="text-align: right;"><strong>Mẫn Hi/TTVH</strong></p>
                            </div>
                        </div>
                        <div class="mb-section-scnt flex mtop20">
                            <a class="tag" href="/post.html">Du lịch</a>
                            <a class="tag" href="/post.html">Trải nghiệm</a><a class="tag" href="/post.html">Đà Lạt</a><a class="tag" href="/post.html">Việt Nam</a>
                        </div>
                        <div class="mb-post-page-metadata mb-metadata mb-single-metadata mb-single-metadata-pb flex">
                            <div class="mb-single-shares mb-single-tools mb-navig-shares">
                                <a class="shareicons fbshares" href="#"><span class="fa fa-facebook"></span></a>
                                <a class="shareicons instshares" href="#"><span class="fa fa-linkedin"></span></a>
                                <a class="shareicons twshares" href="#"><span class="fa fa-twitter"></span></a>
                            </div>
                            <div class="mb-single-tools mb-navig-tools padleft5">
                                <a class="comments-count commentsbox-modal single-comments-count" href="#">
                                    <strong>10</strong>
                                </a>
                                <a class="post-bookmark single-bookmark" href="#"> </a>
                            </div>
                        </div>
                        <div class="post-signup-form single-signup-form">
                            <h4 class="post-singup-heading">Đăng ký nhận thông báo bất kỳ khi nào có bài viết mới từ: Điểm đến trẻ</h4>
                            <div class="form-main mtop30">
                                <div class="field flex"><input type="text" class="mb-form-field mb-field-email" name="txtEmail" value="" placeholder="Email của bạn" /></div>
                                <div class="field flex mtop20">
                                    <a class="mb-button mb-green-button mb-5rounded mb-button-defpad mb-signup-button" href="#"> <span class="fa fa-envelope-o"></span> <span class="padleft5">Đăng ký ngay</span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="post-related mb-post-related-box">
                            <h2 class="mb-section-heading flex flex-align-center"><strong class="upper">có thể bạn quan tâm</strong></h2>
                            <div class="mb-judge-related-lists">
                                <div class="mb-judge-post mb-judge-normal-post flex">
                                    <div class="mb-judge-post-leftswang">
                                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                            <a href="/post.html">Alaska: Hoa nở trên những cánh đồng băng</a>
                                        </h3>
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center mtop10">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Phùng Loan</strong>
                                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post-rightswang">
                                        <div class="mb-post-thumbnail thumbnail">
                                            <img src="/images/demo-article4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-judge-post mb-judge-normal-post flex">
                                    <div class="mb-judge-post-leftswang">
                                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                            <a href="/post.html">Alaska: Hoa nở trên những cánh đồng băng</a>
                                        </h3>
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center mtop10">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Phùng Loan</strong>
                                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post-rightswang">
                                        <div class="mb-post-thumbnail thumbnail">
                                            <img src="/images/demo-article4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-judge-post mb-judge-normal-post flex">
                                    <div class="mb-judge-post-leftswang">
                                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                            <a href="/post.html">Alaska: Hoa nở trên những cánh đồng băng</a>
                                        </h3>
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center mtop10">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Phùng Loan</strong>
                                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post-rightswang">
                                        <div class="mb-post-thumbnail thumbnail">
                                            <img src="/images/demo-article4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-judge-post mb-judge-normal-post flex">
                                    <div class="mb-judge-post-leftswang">
                                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                            <a href="/post.html">Alaska: Hoa nở trên những cánh đồng băng</a>
                                        </h3>
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center mtop10">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Phùng Loan</strong>
                                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post-rightswang">
                                        <div class="mb-post-thumbnail thumbnail">
                                            <img src="/images/demo-article4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-judge-post mb-judge-normal-post flex">
                                    <div class="mb-judge-post-leftswang">
                                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                            <a href="/post.html">Alaska: Hoa nở trên những cánh đồng băng</a>
                                        </h3>
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center mtop10">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Phùng Loan</strong>
                                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post-rightswang">
                                        <div class="mb-post-thumbnail thumbnail">
                                            <img src="/images/demo-article4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-judge-post mb-judge-normal-post flex">
                                    <div class="mb-judge-post-leftswang">
                                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                            <a href="/post.html">Alaska: Hoa nở trên những cánh đồng băng</a>
                                        </h3>
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center mtop10">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Phùng Loan</strong>
                                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post-rightswang">
                                        <div class="mb-post-thumbnail thumbnail">
                                            <img src="/images/demo-article4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-judge-post mb-judge-normal-post flex">
                                    <div class="mb-judge-post-leftswang">
                                        <h3 class="mb-element-title mb-element-harquant-title mb-judge-normal-title">
                                            <a href="/post.html">Alaska: Hoa nở trên những cánh đồng băng</a>
                                        </h3>
                                        <div class="mb-element-metadata mb-element-harquant-metadata flex flex-align-center mtop10">
                                            <img class="mb-default-avatar" src="/images/user-icon.svg" alt="" /><strong class="mb-author-name padleft10">Phùng Loan</strong>
                                            <strong class="mb-post-category mb-dot-before flex flex-align-center padleft10"><a href="/post.html">23 Sep, 2021</a></strong>
                                        </div>
                                    </div>
                                    <div class="mb-judge-post-rightswang">
                                        <div class="mb-post-thumbnail thumbnail">
                                            <img src="/images/demo-article4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-include="/templates/post/comment-modal-not-login.html"></div>
                <div data-include="/templates/post/comment-modal-loggined.html"></div>
            </main>
            <div data-include="/templates/footer.html"></div>
        </div>
    </div>
</body>
</html>